<script>
	v = {
		q1a:'1',
		q1b:'0',
		q1c:'0',
		q1d:'1',
		q1e:'0',
		q1f:'1',
		q1g:'0',
		q1h:'0',
		q2a:'1',
		q2b:'2',
		q2c:'2',
		q2d:'1',
		q2e:'1',
		q3a:'1',
		q3b:'1',
		q3c:'2',
		q3d:'2',
		q3e:'1',
		q3f:'2',
		q3g:'1',
		q3h:'2',
		q3i:'2',
		q3j:'1',
		q4a:'Listen. That\'s the telephone. It could be John',
		q4b:'Could you open the door for me, please',
		q4c:['I shouldn\'t work so much on the computer','I don\'t work so much on the computer'],
		q4d:'They might go on holiday to Rome',
		q4e:'What should he do about it',
		q5a:'making a request',
		q5b:'giving advice',
		q5c:'talking about possibility',
		q5d:'talking about ability',
		q5e:'giving advice',
		q5f:'making a request',
		q5g:'talking about possibility',
		q5h:'talking about ability',
		q6a:'could/might',
		q6b:'could/might',
		q6c:'might',
		q6d:'might',
		q6e:'could/might',
		q6f:'might',
		q6g:'could/might',
		q6h:'could/might'
	}
</script>
<div id="t0">
<b class="u2tit">12. Street Styles</b>
<p>
<b class="u2"> Modal verbs </b>
<p>
</div>

<form id="t1">
<div class="co1">	
<b>1. Choose the grammatically correct sentence. </b>
<p>
<ol>
<li>  
<input type="radio" name="q1a" value=1 checked> Can you swim?<br>
<input type="radio" name="q1a" value=0> Do you can swim? <p> 
<li>  
<input type="radio" name="q1b" value=1 checked> She mights come and visit on the weekend.<br>
<input type="radio" name="q1b" value=0> She might come and visit on the weekend. <p> 
<li>  
<input type="radio" name="q1c" value=1 checked> I should to go to the doctor's.<br>
<input type="radio" name="q1c" value=0> I should go to the doctor's.<p>  
<li>
<input type="radio" name="q1d" value=1 checked> I might not see you tomorrow.<br>
<input type="radio" name="q1d" value=0> I don't might see you tomorrow.  <p>
<li>
<input type="radio" name="q1e" value=1 checked> She also can play the piano and the guitar.<br>
<input type="radio" name="q1e" value=0> She can also play the piano and the guitar. <p> 
<li>
<input type="radio" name="q1f" value=1 checked> Should I buy a new one?<br>
<input type="radio" name="q1f" value=0> Do I should buy a new one? <p> 
<li>
<input type="radio" name="q1g" value=1 checked> He might not to come.<br>
<input type="radio" name="q1g" value=0> He might not come.  <p>
<li>
<input type="radio" name="q1h" value=1 checked> You should always to take regular breaks during work.<br>
<input type="radio" name="q1h" value=0> You should always take regular breaks during work. <p> 

</ol>
</p>
</div>
<p>
<center>
<button class="eval" data-target="t1">Check Answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>Reading 2 for "Are You Sitting Comfortably?"</b>
</p>
<p>
RSI is a common problem now for many people. It can happen to musicians and people who play lots of sports, for example. 
If you do a lot of work on the computer you could have problems. 
</p>
<p>
RSI is caused by repeating the same movements many times. But it doesn't happen at once. 
Little aches and pains in the back, arms or wrist can be a sign that something is wrong. 
</p>
<p>
There are lots of things you can do to prevent RSI. 
You should take breaks in your work and organize your office and desk so that you are comfortable. 
If you have aches and pains that persist for long periods of time you should go and see a doctor.
</p>
<p>
<b>2. Are the following statements about modal verbs true or false?</b>
</p>
<p>
Tip: Look at the text on RSI again.
<br>
<ol>
<li>Modal verbs don't need an "s" when used in the third person. (he / she / it, for example.)    
<br>
<select name="q2a">
<option value="x">Choose Answer  
<option value="1">true
<option value="2">false
</select>
</p>
<p>  
<li>  As with other verbs, the auxiliary verb "do" is used to make a negative sentence with a modal verb.    
<br>
<select name="q2b">
<option value="x">Choose Answer  
<option value="1">true
<option value="2">false
</select>
</p>
<p>  
<li>  The auxiliary verb "do" is used to make a question with a modal verb.    
<br>
<select name="q2c">
<option value="x">Choose Answer  
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li>  Modal verbs are followed by the infinitive without "to".   
<br>
<select name="q2d">
<option value="x">Choose Answer  
<option value="1">true
<option value="2">false
</select>
</p>
<p>  
<li>  If an adverb like always or also is used it is placed directly after the modal verb.    
<br>
<select name="q2e">
<option value="x">Choose Answer  
<option value="1">true
<option value="2">false
</select>
</p>
<p>
</ol>
<center>
<button class="eval" data-target="t2">Check Answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Spot the errors. Which sentences are grammatically incorrect?</b>
</p>
<p>
<ol>
<li>  You should eat good food and go to bed early.    
  <br>
<select name="q3a">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>   
<li>She's only four but she can already read and write.    
  <br>
<select name="q3b">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p> 
<li>Listen. That's the telephone. It could to be John.    
<br>
<select name="q3c">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>   
<li>Do you could open the door for me, please?    
   <br>
<select name="q3d">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>   
<li>I'm really sorry but I think I might arrive late tomorrow.    
   <br>
<select name="q3e">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>  
<li>I don't should work too much on the computer.    
   <br>
<select name="q3f">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>  
<li>  Can you play a musical instrument?    
   <br>
<select name="q3g">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>   
<li>They might to go on vacation to Rome.    
   <br>
<select name="q3h">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p> 
<li>What does he should do about it?    
<br>
<select name="q3i">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</p>
<p>   
<li>He can also sing very well.    
   <br>
<select name="q3j">
<option value="x">Choose Answer  
<option value="1">correct
<option value="2">incorrect
</select>
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t3">Check Answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>4. Now correct the incorrect sentences from the last exercise.</b>
</p>
<p>
1. Listen. That's the telephone. It could to be John.    
<br><input size=47 name="q4a">.<p>    
2. Do you could open the door for me, please?    
<br><input size=47 name="q4b">?<p>    
3. I don't should work too much on the computer.    
<br><input size=47 name="q4c">.<p>    
4. They might to go on vacation to Rome.    
<br><input size=47 name="q4d">.<p>    
5. What does he should do about it?    
<br><input size=47 name="q4e">?
</p>
<p>
<center>
<button class="eval" data-target="t4">Check Answers</button>
</center>
</p>
</form>
<form id="t5">
<p>
<b>5. Match the functions in the box below with the sentences by selecting and dragging them onto the right line.</b>
</p>
<p>
<table cellpadding=0 cellspacing=5 width=600>

<tr><td>1. Can you give me some advice? </td><td><input size=40 name="q5a"></td></tr>
<tr><td>2. If the symptoms persist, you should see a doctor.</td><td><input size=40 name="q5b"></td></tr>
<tr><td>3. I'm worried that might not be very good for her.</td><td><input size=40 name="q5c"></td></tr>
<tr><td>4. Go as far as you can and hold the position.</td><td><input size=40 name="q5d"></td></tr>
<tr><td>5. You should always keep your wrists straight and flat.</td><td><input size=40 name="q5e"></td></tr>
<tr><td>6. Could you suggest any exercises for people like<br>myself who spend a lot of time working at the<br>computer?</td><td><input size=40 name="q5f"></td></tr>
<tr><td>7. You could be experiencing the first symptoms.</td><td><input size=40 name="q5g"></td></tr>
<tr><td>8. You can also find lots of books and websites.</td><td><input size=40 name="q5h"></td></tr>
</table>
<p>
<table cellpadding=0 cellspacing=5 width=600 bgcolor=#ffbc90>
<tr><td>giving advice</td><td>talking about ability</td><td>making a request</td></tr>
<tr><td>talking about possibility</td><td>giving advice</td><td>talking about ability</td></tr>
<tr><td>making a request</td><td>talking about possibility</td><td></td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t5">Check Answers</button>
</center>
</p>
</form>
<form id="t6">
<p>
<b>6.Talking about possibility&#151;<i>Might</i> and <i>could</i></b>
</p>
<p>
<span class="rojo">Might</span> and <span class="rojo">could</span> are both used to say that something is possible. 
</p>
<p>
<li><span class="rojo">This <b>might</b> not be good for her</span>. = it is possible that this isn't good for her. 
<li><span class="rojo">You <b>could</b> be experiencing the first symptoms.</span> = it is possible that you are experiencing the first symptoms 
</p>
<p>
With positive sentences we can use either <span class="rojo">might</span> or <span class="rojo">could</span>. For example:
</p>
<p>
<li><span class="rojo">You <b>could</b> be experiencing the first symptoms. </span>
</p>
<p>
or
</p>
<p>
<li><span class="rojo">You <b>might</b> be experiencing the first symptoms. </span>
</p>
<p>
But with negative sentences we need to use <span class="rojo">might</span>. For example:
</p>
<p>
<li><span class="rojo">This <b>might</b> not be good for her. </span>
</p>
<p>
not
</p>
<p>
<li><span class="rojo">This <b>couldn't</b> be good for her. </span>
</p>
<p>
<b>Look at the sentences below. Select and write <span class="rojo">could/might</span> or <span class="rojo">might</span> to complete them.</b> 
</p>
<p>
<ol>
<li>We <input size=7 name="q6a"> go to the beach on the weekend.
<li>They <input size=7 name="q6b"> be playing on the computer upstairs.
<li>I <input size=7 name="q6c"> not be there so leave a message for me.
<li>He's failed the test so many times. He <input size=7 name="q6d"> never pass!
<li>We <input size=7 name="q6e"> arrive a bit late so please wait for us.
<li>She <input size=7 name="q6f"> not want to see them.
<li>It <input size=7 name="q6g"> rain so take an umbrella with you.
<li>We <input size=7 name="q6h"> not get the tickets until Monday.
</ol>
</p>
<p>
<center>
<table cellpadding=0 cellspacing=7 width=500>
<tr><td>might</td><td>could/might</td></tr>
</table>
</p>
<button class="eval" data-target="t6">Check Answers</button>
</form>





</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>
 
<div id="z6">
</div>