<script>
	v = {
		q1a:'e',
		q1b:'d',
		q1c:'a',
		q1d:'c',
		q1e:'b',
		q1f:'g',
		q1g:'f',
		q2a:'d',
		q2b:'c',
		q2c:'f',
		q2d:'a',
		q2e:'e',
		q2f:'b',
		q3a:'multicultural',
		q3b:'population',
		q3c:'climate',
		q3d:'weather',
		q3e:'city',
		q3f:'outdoor',
		q3g:'beaches',
		q3h:'coast',
		q3i:'harbor',
		q3j:'spectacular',
		q3k:'building',
		q3l:'small',
		q3m:'enormous'
	}
</script>

<div id="t0">
<b class="u2tit">1. The Concrete Jungle</b>
<p>
<b class="u2"> Sydney: a city</b>
<p>
</div>

<form id="t1">
<b class="inst2">1. Match the words to the definitions.</b>
<p class="tablau2">
<table class="letra" cellpadding cellspacing=5>
<tr ><td>a) a capital</td><td>1. <input size=1 name="q1a" maxlength=1> the number of people who live in a place</td></tr>
<tr><td>b) a city</td><td>2. <input size=1 name="q1b" maxlength=1> part of a country</td></tr>  
<tr><td>c) a town</td><td>3. <input size=1 name="q1c" maxlength=1> the most important city, or government center</td></tr>  
<tr><td>d) a state</td><td>4. <input size=1 name="q1d" maxlength=1> a small city</td></tr>  
<tr><td>e) population</td><td>5. <input size=1 name="q1e" maxlength=1> a place where a lot of people live</td></tr>  
<tr><td>f) inhabitants</td><td>6. <input size=1 name="q1f" maxlength=1> people who live in a place and come from another country</td></tr>  
<tr><td>g) immigrants</td><td>7. <input size=1 name="q1g" maxlength=1> the people who live in a place</td></tr>  
</table>
</p>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Match these adjectives from the text to their definitions.</b>
</p>
<p> 
<table class="cuadro" cellpadding cellspacing=5>
<tr><td>a) exterior, not inside houses or buildings</td><td>1. <input size=1 name="q2a" maxlength=1> multicultural</td></tr>
<tr><td>b) very unusual and exciting</td><td>2. <input size=1 name="q2b" maxlength=1> well known</td></tr>
<tr><td>c) famous, every body knows it</td><td>3. <input size=1 name="q2c" maxlength=1> mixed</td></tr>
<tr><td>d) with different cultures</td><td>4. <input size=1 name="q2d" maxlength=1> outdoor</td></tr>
<tr><td>e) very big</td><td>5. <input size=1 name="q2e" maxlength=1> enormous</td></tr>
<tr><td>f) consisting of different things, not just one thing</td><td>6. <input size=1 name="q2f" maxlength=1> spectacular</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Now complete part of the text with the words in the box</b>
</p>
<p class="cuadro">
<p class="letra">	
In little more than two hundred years Sydney has grown to become the
most<sub class="ro">1</sub><input size=6 name="q3a"> city in Australia with a <sub class="ro">2</sub><input size=6 name="q3b"> of more than four
million. The <sub class="ro">3</sub><input size=6 name="q3c">, with almost eight months of good
<sub class="ro">4</sub><input size=6 name="q3d">, makes Sydney the perfect <sub class="ro">5</sub><input size=6 name="q3e"> for an
<sub class="ro">6</sub><input size=6 name="q3f"> life. What's more, the city has more than thirty
<sub class="ro">7</sub><input size=6 name="q3g"> along the sixty kilometers of it's <sub class="ro">8</sub><input size=6 name="q3h">. In Sydney
<sub class="ro">9</sub><input size=6 name="q3i">, one of the world's most <sub class="ro">10</sub><input size=6 name="q3j"> bays, you can find The
Sydney Opera House, Australia's most well known <sub class="ro">11</sub><input size=6 name="q3k">. Passing
by the Opera House is a constant parade of <sub class="ro">12</sub><input size=6 name="q3l"> boats, yachts,
ferries and <sub class="ro">13</sub><input size=6 name="q3m"> cruise ships.</p>
</p>
<p>
<table class="cuadro" cellpadding cellspacing=5 bgcolor=#ffbc90>	
<tr class="letra"><td>enormous</td><td>multicultural</td><td>weather</td><td>beaches</td><td>city</td></tr>  
<tr class="letra"><td>climate</td><td>population</td><td>building</td><td>outdoor</td></tr>
<tr class="letra"><td>small</td><td>coast</td><td>harbor</td><td>spectacular</td></tr>
</table>
</p>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</form>
<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>