<script>
	v = {
		q1a:'3',
		q2a:'a',
		q2b:'d',
		q2c:'b',
		q2d:'c',
		q3a:'2',
		q3b:'1',
		q3c:'2',
		q3d:'1',
		q3e:'1',
		q3f:'2',
		q3g:'2',
		q3h:'1',
		q3i:'2',
		q3j:'1',
		q3k:'2',
		q3l:'1',
		q3m:'2',
		q3n:'1',
		q3o:'1',
		q3p:'2',
		q4a:'happened',
		q4b:'was',
		q4c:'working',
		q4d:'went',
		q4e:'out',
		q4f:'wasn\'t',
		q4g:'working',
		q4h:'went',
		q4i:'went',
		q4j:'was',
		q4k:'throwing',
		q4l:'wrote',
		q4m:'read',
		q4n:'phoned',
		q5a:'d',
		q5b:'b',
		q5c:'e',
		q5d:'a',
		q5e:'f',
		q5f:'c'
	}
</script>

<div id="t0">
<b class="u2tit">2. Lives and Loves</b>
<p>
<b class="u2">Past Simple and Past Continuous  </b>
<p>
</div>

<form id="t1">
<b class="inst2">1. Past Simple and Past Continuous verb forms</b><br><br>
<p class="instrucciones"> 
For example:
</p><br>
<p class="letra">

<li class="letra"><span class="rojo">I worked on the weekend. = <b>worked</b></span> is a Past Simple form 
<li class="letra"><span class="rojo">I was working and the lights went out. =<b> was working</span></b> is a Past Continuous form 
</p>
<p>
<b class="instrucciones">How many Past Continuous forms can you find in this story?</b>
</p>
<p>
<center>
<input class="letra" type="radio" name="q1a" value=1> one <input class="letra" type="radio" name="q1a" value=2> two <input class="letra" type="radio" name="q1a" value=3> three <input class="letra" type="radio" name="q1a" value=4> four <input class="letra" type="radio" name="q1a" value=5> five
</p>
<p>
<table cellpadding=5 cellspacing=5 width=350>
<tr><td class="letra">Dear Lucy,<p class="letra">
I like my new job but last week something unexpected happened. 
I was working at night in my office on the tenth floor and suddenly the lights went out. 
The elevator wasn't working. I went to the fire escape door but it was locked. I went to the window. For three hours I was throwing pieces of paper out the window to people in the street. On the pieces of paper I wrote: Help! I can't get out! Call the police! Finally someone read a piece of paper and phoned the police. I was very tired and angry by then. The next day the people at work .....
</td></tr>
</table>
</center>
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Complete the rule.</b>
</p>
<p class="letra">
<center>
1. We use the Past Simple to describe:<br>
<input size=1 name="q2a" maxlength=1><br>
<input size=1 name="q2b" maxlength=1>
</p>
<p class="letra">
2. We use the Past Continuous to describe:<br>
<input size=1 name="q2c" maxlength=1><br>
<input size=1 name="q2d" maxlength=1>
</p>
<p>
<table cellpadding=5 cellspacing=5 width=400 bgcolor=#ffbc90>
<tr><td>
a) events or completed actions/what happened<br>
b) actions in progress/what was happening<br>
c) the situation/description of the scene<br>
d) past states
</td></tr>
</table>
</p>
<p>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Choose the correct form of the verb to complete the sentences.</b>
</p>
<p>
<table cellpadding=5 cellspacing=5 width=650 bgcolor=#ffbc90>
<tr><td class="cuadro">
<ol>


<li class="letra">
I
<select name="q3a">
<option value="x">Choose Answer
<option value="1">worked  
<option value="2">was working
</select> 

late and the lights 

<select name="q3b">
<option value="x">Choose Answer
<option value="1">went out  
<option value="2">were going out
</select>.
<br>
<li class="letra">
I 
<select name="q3c">
<option value="x">Choose Answer
<option value="1">ran
<option value="2">was running
</select>

for the bus and I

<select name="q3d">
<option value="x">Choose Answer
<option value="1">fell down
<option value="2">was falling down
</select>.
<br>
<li class="letra">
When the phone 
<select name="q3e">
<option value="x">Choose Answer
<option value="1">rang
<option value="2">was ringing
</select>

I

<select name="q3f">
<option value="x">Choose Answer
<option value="1">took
<option value="2">was taking
</select>
a shower.
<br>
<li class="letra">They
<select name="q3g">
<option value="x">Choose Answer
<option value="1">played
<option value="2">were playing
</select>

with a candle and the fire
<select name="q3h">
<option value="x">Choose Answer
<option value="1">started
<option value="2">was starting
</select>.
<br>
<li class="letra">He 
<select name="q3i">
<option value="x">Choose Answer
<option value="1">held
<option value="2">was holding
</select>

the baby when the ambulance 

<select name="q3j">
<option value="x">Choose Answer
<option value="1">arrived
<option value="2">was arriving
</select>.
<br>
<li class="letra">I
<select name="q3k">
<option value="x">Choose Answer
<option value="1">worked
<option value="2">was working
</select>

in a store when I

<select name="q3l">
<option value="x">Choose Answer
<option value="1">met
<option value="2">was meeting
</select>
 my wife.
<br>
<li class="letra">I
<select name="q3m">
<option value="x">Choose Answer
<option value="1">walked
<option value="2">was walking
</select>

in the park and I

<select name="q3n">
<option value="x">Choose Answer
<option value="1">saw
<option value="2">was seeing
</select>
an elephant.
<br>
<li class="letra">The computer 
<select name="q3o">
<option value="x">Choose Answer
<option value="1">crashed
<option value="2">was crashing
</select>
when I 

<select name="q3p">
<option value="x">Choose Answer
<option value="1">did
<option value="2">was doing
</select>
my homework.

</ol>
</td></tr>
</table> 
</p>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b class="instrucciones">4. Complete the story using the verbs below. Type the correct form of the verbs into the boxes.</b>
</p>
<p>
<table cellpadding=5 cellspacing=5 width=650>
<tr class="letra"><td>
I like my new job but last week something unexpected <input size=7 name="q4a">(1) . I 
<input size=7 name="q4b"> <input size=7 name="q4c">(2) at night in my office on the tenth floor and 
suddenly the lights <input size=7 name="q4d"> <input size=7 name="q4e">(3) . The elevator <input size=7 name="q4f">  
<input size=7 name="q4g">(4) . I <input size=7 name="q4h">(5) to the fire escape door but it was 
locked. I <input size=7 name="q4i">(6) to the window. For three hours I <input size=7 name="q4j">  
<input size=7 name="q4k"> (7) pieces of paper out the window to people in the street.
On the pieces of paper I <input size=7 name="q4l">(8) : "Help! I can't get out! Call the
police!" Finally someone <p class="letra">
<input size=7 name="q4m">(9) a piece of paper and <input size=7 name="q4n">(10) the police. 
I was very tired and angry by then. 
</td></tr>
</table>
</p>
<p>
<table class="cuadro" cellpadding=5 cellspacing=5 width=650 bgcolor=ffbc90>
<tr class="letra"><td>write</td><td> happen</td><td> go</td><td> go</td><td> go out</td></tr>
<tr class="letra"><td>read</td><td> not work</td><td> work</td><td> phone</td><td> throw</td></tr> 
</table>
</p>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</p>
</form>
<form id="t5">
<p>
<b class="instrucciones">5. Making questions 
</p>
<p class="letra">
Do you remember Story 2 in READING? Match the questions to the answers. 
</b>
</p><br>
<p>
<table cellpadding=5 cellspacing=5 width=600>
<tr class="letra"><td>a) Who was born in a car?</td><td class="letra">1 <input size=1 maxlength=1 name="q5a"> The father stopped the car.</td></tr>
<tr class="letra"><td>b) Who is the baby's mother?</td><td class="letra">2 <input size=1 maxlength=1 name="q5b"> Jean is the baby's mother.</td></tr>
<tr class="letra"><td>c) What was the father doing?</td><td class="letra">3 <input size=1 maxlength=1 name="q5c"> The father was holding the baby</td></tr>
<tr class="letra"><td>d) Who stopped the car?</td><td class="letra">4 <input size=1 maxlength=1 name="q5d"> Harry was born in a car.</td></tr>
<tr class="letra"><td>e) Who was holding the baby when the ambulance arrived?</td><td class="letra">5 <input size=1 maxlength=1 name="q5e"> He felt nervous and worried.</td></tr>
<tr class="letra"><td>f) How did the father feel?</td><td class="letra">6 <input size=1 maxlength=1 name="q5f"> He was driving through the downtown. </td></tr>
</table>
</p>
<button class="eval" data-target="t5">Check answers</button>
</form>





<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>
 
