<script>
	v = {
		q1a:'teacher',
		q1b:'pilot',
		q1c:'doctor',
		q1d:'secretary',
		q1e:'salesperson',
		q1f:'police officer',
		q1g:'taxi driver',
		q1h:'astronaut',
		q1i:'businessman',
		q1j:'waiter',
		q2a:'teacher',
		q2b:'doctor',
		q2c:'taxi driver',
		q2d:'salesperson',
		q2e:'pilot',
		q2f:'waiter',
		q3a:'2',
		q3b:'4',
		q4a:'2',
		q4a:'2',
		q4b:'3',
		q4b:'3',
		q4c:'2',
		q4c:'2',
		q4d:'3',
		q4d:'3',
		q4e:'3',
		q4e:'3',
		q4f:'2',
		q4f:'2',
		q4g:'2',
		q4g:'2',
		q4h:'3',
		q4h:'3'

		
	}
</script>
<div id="t0">
<b class="u2tit">3. Work it Out</b>
<p class="u2">
<b>Jobs</b>
</p>
</div>
<form id="t1">
<b class="inst2">1. What are these jobs? Put the letters in order.
</b>
<p>
<center>	
<img class="tablau2" src="img/u3a.jpg">
</center>
</p>
<p>	
<ol class="li">
<li> cheater<br>
<input size=8 name="q1a">
<li>tolip<br>
<input size=8 name="q1b">
<li>cordot<br>
<input size=8 name="q1c">
<li>creastery<br>
<input size=12 name="q1d">
<li>alseserpons<br>
<input size=12 name="q1e">
<li>licepo fofcrei<br>
<input size=12 name="q1f">
<li>taxi ridver<br>
<input size=12 name="q1g">
<li>nostrauta<br>
<input size=12 name="q1h">
<li>minusebssan<br>
<input size=12 name="q1i">
<li>tiewar<br>
<input size=12 name="q1j">
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Read the description. What is the job?
</b>
</p>
<p class="letra"> 	
<table class="cuadro" cellpadding=5 cellspacing=5 width=500 bgcolor=#ffbc90> 
<tr><td><b>Description</b></td><td><b>Your Answer</b></td></tr>
<tr><td>1. This person works in a school.</td><td><input size=12 name="q2a"></td></tr>
<tr><td>2. In this job you help people who are ill.</td><td><input size=12 name="q2b"></td></tr>
<tr><td>3. To do this job you need to have a car.</td><td><input size=12 name="q2c"></td></tr>
<tr><td>4. In this job you sell things to people.</td><td><input size=12 name="q2d"></td></tr>
<tr><td>5. If you do this job you spend a lot of time in a plane.</td><td><input size=12 name="q2e"></td></tr>
<tr><td>6. In this job you work in a cafe or restaurant.</td><td><input size=12 name="q2f"></td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Read the descriptions below of a typical day for two people. What jobs do they do? 
</b>
</p>
<p>
<table class="cuadro" cellpadding=5 cellspacing=5 width=500 bgcolor=#ffbc90>
<tr><td class="letra">
<b>description 1</b>
"I usually work during the day. I get up at about 8:00 a.m. and I leave the house at 8:30 a.m. 
I like my work because I'm outside all of the time and I meet lots of different people and I like talking to them. 
I only get bored or tired if the traffic is bad."
</p>
<center>
<p class="letra">
<select name="q3a">
<option value="x">Choose Answer
<option value="1">pilot
<option value="2">taxi driver
<option value="3">waiter
<option value="4">doctor
</center>	
</select>
</td>
<td class="letra">
<b>description 2</b>
"I work in London so I get up very early to catch the train. 
I usually get to work at 9:00 a.m. and finish at half past four in the afternoon. 
Most of the time I'm in the office, but I sometimes fly to Paris or Madrid for meetings. I really like that."
</p>
<center>
<p class="letra">
<select name="q3b">
<option value="x">Choose Answer
<option value="1">pilot
<option value="2">doctor
<option value="3">salesperson
<option value="4">businessman
</center>
</select>
</td></tr>
</table>
</p>
<button class="eval" data-target="t3">Check answers</button>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
