<script>
	v = {
		q1a:'b',
		q1b:'b',
		q1c:'c',
		q1d:'c',
		q1e:'a',
		q2a:'c',
		q2b:'c',
		q2c:'b',
		q2d:'a',
		q2e:'a',
		q3a:'1',
		q3b:'1',
		q3c:'1',
		q3d:'2',
		q3e:'1',
		q3f:'2',
		q3g:'1',
		q3h:'2',		
		q3i:'2',
		q3j:'2'
	}
</script>

<div id="t0">
<b class="u2tit">3. Work it Out</b>
<p>
<b class="u2">What are their jobs? </b>
<p>
</div>

<form id="t1">
<b class="inst2">1. Listen to three people talking about the work that they do.</b>
<p>
<center class="speaker">
<a href="snd/u3s1.mp3" target="_blank">Speaker 1<img border=0 src="img/listen.jpg"></a><br>
<a href="snd/u3s2.mp3" target="_blank">Speaker 2<img border=0 src="img/listen.jpg"></a><br>
<a href="snd/u3s3.mp3" target="_blank"> Speaker 3<img border=0 src="img/listen.jpg"></a>
</center>
</p>
<p>
<b>Now match each person below with the place where they do their work.</b>
</p>
<p>
<center>
<table cellpadding=5 cellspacing=5 width=300>
<tr><td class="letra">
<p>a) speaker 1<p>
b) speaker 2<p>
c) speaker 3<p>
</td>
<td class="letra">
<sub>1</sub><input size=1 maxlength=1 name="q1a"> in a school<br>
<sub>2</sub><input size=1 maxlength=1 name="q1b"> in a bank<br>
<sub>3</sub><input size=1 maxlength=1 name="q1c"> in a hospital<br>
<sub>4</sub><input size=1 maxlength=1 name="q1d"> at home<br>
<sub>5</sub><input size=1 maxlength=1 name="q1e"> in a shop<br>
</td>
</tr>
</table>
</center>
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. What are their jobs?</b>
</p>
<p>
<center>
<a href="snd/u3s1.mp3" target="_blank">Speaker 1<img border=0 src="img/listen.jpg"></a><br>
<a href="snd/u3s2.mp3" target="_blank">Speaker 2<img border=0 src="img/listen.jpg"></a><br>
<a href="snd/u3s3.mp3" target="_blank"> Speaker 3<img border=0 src="img/listen.jpg"></a>
</center>
</p>
<p>
<center>
<table cellpadding=5 cellspacing=1 width=350>
<tr><td class="letra">
<p>a) speaker 1<p>
b) speaker 2<p>
c) speaker 3
</td>
<td class="letra">
<sub>1</sub><input size=1 name="q2a"> nurse<br>
<sub>2</sub><input size=1 name="q2b"> student<br>
<sub>3</sub><input size=1 name="q2c"> teacher<br>
<sub>4</sub><input size=1 name="q2d"> waiter<br>
<sub>5</sub><input size=1 name="q2e"> salesperson<br>
</td>
</tr>
</table>
</center>
</p>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Listen again to speakers 1 and 2. Choose the correct answers.</b>
</p>
<p>
<a href="snd/u3s1.mp3" target="_blank">Speaker 1<img border=0 src="img/listen.jpg"></a><br>
</p>
<p>
<ol>
<li>He gets up at   <select name="q3a">
<option value="x">Choose Answer
<option value="1">7:00
<option value="2">7:30
</select> 
<li> He   <select name="q3b">
<option value="x">Choose Answer
<option value="1">doesn't have
<option value="2">has
</select> breakfast.  
<li> He   <select name="q3c">
<option value="x">Choose Answer
<option value="1">likes
<option value="2">doesn't like
</select> his job. 
<li> He finishes work at   <select name="q3d">
<option value="x">Choose Answer
<option value="1">5:00
<option value="2">5:30
</select>  
<li> In the evening he   <select name="q3e">
<option value="x">Choose Answer
<option value="1">usually watches TV.
<option value="2">usually listens to music
</select>
</ol>
</p>
<p>
<a href="snd/u3s2.mp3">Speaker 2<img border=0 src="img/listen.jpg"></a><br>
</p>
<p>
<ol>
<li>She gets up at   <select name="q3f">
<option value="x">Choose Answer
<option value="1">8:00
<option value="2">8:15
</select> 
<li> She   <select name="q3g">
<option value="x">Choose Answer
<option value="1">likes
<option value="2">doesn't like
</select> her job. 
<li> She   <select name="q3h">
<option value="x">Choose Answer
<option value="1">goes home
<option value="2">finishes work
</select> at 2:30 
<li> She often   <select name="q3i">
<option value="x">Choose Answer
<option value="1">watches TV.
<option value="2">goes to a restaurant
</select> in the evening. 
<li> She goes to bed at about  <select name="q3j">
<option value="x">Choose Answer
<option value="1">12:00
<option value="2">12:30
</select>
</ol>
</p>
<button class="eval" data-target="t3">Check answers</button>
</form>



<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


 
