<script>
   v = {
      q1a:'2',
      q1b:'1',
      q1c:'1',
      q1d:'2',
      q1e:'1',
      q1f:'2',
      q1g:'1',
      q1h:'1',
      q1i:'2',
      q1j:'1',
      q1k:'1',
      q1l:'1',
      q1m:'2',
      q1n:'1',
      q1o:'2',
      q2a:'2',
      q2b:'2',
      q2c:'1',
      q2d:'1',
      q2e:'2',
      q2f:'2',
      q2g:'1',
      q2h:'2',
      q3a:'1',
      q3b:'2',
      q3c:'1',
      q3d:'2',
      q3e:'1',
      q3f:'2',
      q3g:'1',
      q3h:'2',
      q4a:'2',
      q4b:'2',
      q4c:'3',
      q4d:'1',
      q4e:'3',
      q4f:'1',
      q4g:'3',
      q4h:'1'
   }
</script>

<div id="t0">
<b class="u2tit">4. Sportsmania</b>
<p>
<b class="u2"><i>Have to</i> and <i>can</i></b>
<p>
</div>
<form id="t1">
<div> 
<b class="inst2">1. <span class="rojo">Have to</span> for obligation</b>
</p>
<p class="letra">
We can use <span class="rojo">have to</span> and <span class="rojo">has to</span> + infinitive to talk about obligation:
</p>
<p>
<li><span class="rojo">To score a goal you <b>have to kick</b> the ball into the other team's goal. 
<li>The batter <b>has to hit</b> the ball and run around the bases. </span>
</p>
<p>
<b>Are these sentences true or false?</b>
</p>
</div>
<p>
<ol>
<li>Tennis players <b><b>have to</b></b> wear only white clothes. 
<br>
<select name="q1a">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p>    
<li>Soccer referees <b>have to</b> wear black clothes. 
<br>
<select name="q1b">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p>    
<li>  A good jockey has to be small and light. 
 <br>
<select name="q1c">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p>   
<li>  Baseball players <b>have to</b> wear a cap. 
 <br>
<select name="q1d">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p>   
<li>  In cricket, the umpire has to be a man. 
   <br>
<select name="q1e">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> A handball court has to have three walls. 
   <br>
<select name="q1f">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In golf, you <b>have to</b> get the ball in the hole. 
   <br>
<select name="q1g">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> Water polo players <b>have to</b> stay in the pool during the game. 
   <br>
<select name="q1h">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In rugby, players <b>have to</b> pass the ball forward. 
   <br>
<select name="q1i">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In basketball you <b>have to</b> bounce the ball when you run with it. 
   <br>
<select name="q1j">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> At the Olympic Games boxers <b>have to</b> wear protective headgear. 
   <br>
<select name="q1k">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> A cyclist <b>has to</b> be on a team to enter the Tour de France. 
   <br>
<select name="q1l">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In hockey the ball <b>has to</b> stay on the ground. 
   <br>
<select name="q1m">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In chess the person with the white pieces <b>has to</b> move first. 
   <br>
<select name="q1n">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</p>
<p> 
<li> In volleyball, three players <b>have to</b> touch the ball before it crosses the net. 
   <br>
<select name="q1o">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false
</select>
</ol>
</p>
<p> 
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Choose the correct form of <span id="m1">have to.</span></b>
</p>
<p>
<ol>
<li>Soccer referees  <select name="q2a">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> wear black. 
<li>In golf, you  <select name="q2b">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> get the ball in the hole. 
<li>In chess,the person with the white pieces  <select name="q2c">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> move first. 
<li>A good jockey  <select name="q2d">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> to be small and light. 
<li>In basketball you  <select name="q2e">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> bounce the ball when you run with it. 
<li>At the Olympic Games boxers  <select name="q2f">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> wear protective headgear. 
<li>A cyclist  <select name="q2g">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> be on a team to enter the Tour de France. 
<li>Water polo players  <select name="q2h">
<option value="x">Choose Answer
<option value="1">has to
<option value="2">have to
</select> stay in the pool during the game. 
</ol>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>   
</p>
</form>
<form id="t3">
<p>
<b>3. <span class="rojo">can</span> for permission and <span class="rojo">can't</span> for prohibition</b>
</p>
<p>
<li><span class="rojo">In tennis the ball <b>can</b> only bounce once. 
<li>Rugby players <b>can't</b> pass the ball forward.</span> 
</p>
<p>
<b>Choose the correct option to make true sentences about what you can and can't do in the United Kingdom.</b>
</p>
<p>
<ol>
<li>You  <select name="q3a">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> drive a car when you are 17. 
<li> You  <select name="q3b">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> buy a pet when you are 5. 
<li> You  <select name="q3c">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> have a part-time job when you are 13. 
<li> You  <select name="q3d">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> buy cigarettes when you are 15. 
<li> You  <select name="q3e">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> smoke when you are 15. 
<li> You  <select name="q3f">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> drink beer in a pub when you are 16. 
<li> A boy  <select name="q3g">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> join the army when he is 16. 
<li> A girl  <select name="q3h">
<option value="x">Choose Answer 
<option value="1">can 
<option value="2">can't
</select> join the army when she is 16. 
</ol>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>4. Complete the sentences with the verbs.</b>
</p>
<p>
<ol>
<li>In soccer you  <select name="q4a">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> catch the ball with your hands. 
<li> In water polo you  <select name="q4b">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> take the ball under the water. 
<li> In soccer, a player  <select name="q4c">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">has to
</select> leave the field if he gets a red card. 
<li> In soccer you  <select name="q4d">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> hit the ball with your head. 
<li> You  <select name="q4e">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> train a lot if you want to run a marathon. 
<li> In rugby you  <select name="q4f">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> run with the ball in your hands. 
<li> In England you  <select name="q4g">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> drive on the left. 
<li> If you are over 18, you  <select name="q4h">
<option value="x">Choose Answer 
<option value="1">can
<option value="2">can't
<option value="3">have to
</select> vote.  
</ol>
</p>
<button class="eval" data-target="t4">Check answers</button>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
