<script>
	v = {
		q1a:'10',
		q1b:'8',
		q1c:'5',
		q1d:'3',
		q1e:'12',
		q1f:'14',
		q1g:'11',
		q1h:'4',
		q1i:'9',
		q1j:'7',
		q1k:'6',
		q1l:'1',
		q1m:'3',
		q1n:'2',
		q2:{
			q2a:true,
			q2b:true,
			q2c:false,
			q2d:true,
			q2e:true,
			q2f:true,
			q2g:true,
			q2h:true,
			q2i:false,
			q2j:true,
			q2k:false,
			q2l:true,
			q2m:true,
			q2n:true,
			q2o:false,
			q2p:false
		}
	}
</script>

<div id="t0">
<b class="u2tit">5. In Transit</b>
<p>
<b class="u2">Equipment for a trip</b>
<p>
</div>

<form id="t1">
<b class="inst2">1. Equipment for a trip 
<p>
Read the text below and choose the number of each of the items of equipment according to the pictures.
</b>
</p>
<p>
<center>
<img id="imu5a" src="img/u5a.jpg">
</center>
</p>
<p>
<b>Going on a trip, what every traveler should know.</b> 
</p>
<p>
If you're traveling independently there are a number of things you're going to need. Here's a brief guide. 
</p>
<p>
Most important is a good tent  <sub>1</sub><select name="q1a">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> . You'll also need a sleeping bag  <sub>2</sub><select name="q1b">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select>&#151;it can get very cold at night and a carry mat  <sub>3</sub><select name="q1c">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> to put under the sleeping bag. Hot food and drink is another great way of keeping warm. For this you'll need a stove  <sub>4</sub><select name="q1d">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> for cooking and some pots and pans  <sub>5</sub><select name="q1e">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> for putting water and food in to heat . Don't forget to take <br>matches  <sub>6</sub><select name="q1f">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> to light the stove! 
</p>
<p>
If you're going to be walking a lot you'll certainly need a good pair of boots  <sub>7</sub><select name="q1g">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> . A waterproof jacket  <sub>8</sub><select name="q1h">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> will also be very useful when the weather is bad. 
</p>
<p>
What about emergencies? A first-aid kit  <sub>9</sub><select name="q1i">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> is very important for injuries or illnesses and a sewing kit  <sub>10</sub><select name="q1j">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> can be used to mend clothes. Many problems are caused by getting lost so take a map  <sub>11</sub><select name="q1k">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> and a compass  <sub>12</sub><select name="q1l">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> . If you do have problems you can use your whistle  <sub>13</sub><select name="q1m">
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select>&#151;the emergency signal is to blow it six times. 
</p>
<p>
And finally, a good backpack
<sub>14</sub><select name="q1n">  
<option value="x">?
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
<option value="6">6
<option value="7">7
<option value="8">8
<option value="9">9
<option value="10">10
<option value="11">11
<option value="12">12
<option value="13">13
<option value="14">14
</select> to carry all of this in! 
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2" class="list" data-list="q2">
<p>
2. Look at the list.  
</p>
<p>
See if you can find: 
</p>
<p>
<ol>
<li> two things to help you find your way.
<li> three things for emergencies.
<li> something made of wood.
<li> two things that you wear.
<li> two things that are important if you want a hot drink.
<li> something to put under under your sleeping bag.
</ol>
</b>
</p>
<p>
<table cellpadding=2 cellspacing=3 width=500>
<tr><td>
<br><input type="checkbox" name="q2a" value="1">MAP
<br><input type="checkbox" name="q2b" value="1">BOOTS
<br><input type="checkbox" name="q2c" value="1">LAMP
<br><input type="checkbox" name="q2d" value="1">FIRST AID KIT
<br><input type="checkbox" name="q2e" value="1">WHISTLE
<br><input type="checkbox" name="q2f" value="1">MATCHES
<br><input type="checkbox" name="q2g" value="1">SEWING KIT
<br><input type="checkbox" name="q2h" value="1">STOVE
</td><td>
<br><input type="checkbox" name="q2i" value="1">COAL
<br><input type="checkbox" name="q2j" value="1">MAT
<br><input type="checkbox" name="q2k" value="1">PILLOW
<br><input type="checkbox" name="q2l" value="1">JACKET
<br><input type="checkbox" name="q2m" value="1">COMPASS
<br><input type="checkbox" name="q2n" value="1">POTS
<br><input type="checkbox" name="q2o" value="1">MP3 PLAYER
<br><input type="checkbox" name="q2p" value="1">TOURIST GUIDE
</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2">Check Answers</button>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

