<script>
	v = {
		q1a:'g',
		q1b:'b',
		q1c:'f',
		q1d:'d',
		q1e:'c',
		q1f:'e',
		q1g:'a'
	}
</script>	

<div id="t0">
<b class="u2tit">6. Food to Go</b>
<p>
<b class="u2">Making chocolate   </b>
<p>
</div>

<form id="t1">
<div class="co1">
<b>1. These are stages in the process of making chocolate. What order do they happen?
<p>
<center>
<img src="img/u6a1.jpg">
</p>
<p>
Put in the correct order. Then read the article to check. 
</b>
</p>
<p>
<ol>
<li> <input size=1 maxlength=1 name="q1a">
<li> <input size=1 maxlength=1 name="q1b">
<li> <input size=1 maxlength=1 name="q1c">
<li> <input size=1 maxlength=1 name="q1d">
<li> <input size=1 maxlength=1 name="q1e">
<li> <input size=1 maxlength=1 name="q1f">
<li> <input size=1 maxlength=1 name="q1g">
</ol>
</center>
</p>
</div>
<p>	
<button class="eval" data-target="t1">Check Answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Now read the text to check the order.</b>
</p>
<p>
<center>
<table cellpadding=5 cellspacing=5 bgcolor=#bcbcff width=550>
<tr><td>
Chocolate is a natural product made from the bean of the cacao tree. Cacao probably originated in Brazil's Amazon basin,
 but it grows today in hot climates all over the world. Cacao beans are found in the fruit of the cacao trees;
 each fruit contains 20 to 50 beans. Trees begin producing when about eight years old and can be maintained for forty years. 
</p>
<p>
Once it is harvested, the fruit is opened. The beans are removed and fermented on the ground for several weeks. 
Then they are dried in the sun for about a week, to give them more flavor. 
The dried beans are sorted, then packed into sacks and shipped to manufacturers in Europe and the United States where they are cleaned,
 selected, mixed, roasted and ground. This process gives chocolate much of its final characteristics. 
</td></tr>
</table>
</p>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
