<script>
	v = {
		q1a:'c',
		q1b:'d',
		q1c:'f',
		q1d:'b',
		q1e:'e',
		q1f:'a',
		q1g:'f',
		q1h:'d',
		q1i:'g',
		q1j:'c',
		q1k:'b',
		q1l:'a',
		q1m:'e',
		q2a:'2',
		q2b:'2',
		q3a:'2',
		q3b:'1',
		q3c:'2',
		q3d:'1',
		q4a:'Combine all the ingredients in a saucepan and heat gently, stirring until the sauce is smooth',
		q4b:'Serve it with vanilla ice-cream or figs or pears'
	}
</script>


<div id="t0">
<b class="u2tit">6. Food to Go</b>
<p>
<b class="u2">Cooking with chocolate   </b>
<p>
</div>

<form id="t1">
<div class="co1">	
<b>1. Match the words to the pictures.</b>
<p>
<center>
<table cellpadding=5 cellpaspacing=2>
<tr><td><img src="img/u6c1.jpg"></td><td>1. a saucepan <input size=1 maxlength=1 name="q1a"><br>2. to stir <input size=1 maxlength=1 name="q1b"><br>3. to serve <input size=1 maxlength=1 name="q1c"><br>4. to heat <input size=1 maxlength=1 name="q1d"><br>5. a recipe <input size=1 maxlength=1 name="q1e"><br>6. a spoon<input size=1 maxlength=1 name="q1f"></td></tr>
<tr><td><img src="img/u6c1b.jpg"></td><td>1. sugar <input size=1 maxlength=1 name="q1g"><br> 2. grated chocolate <input size=1 maxlength=1 name="q1h"><br>3. cream <input size=1 maxlength=1 name="q1i"><br>4.  eggs <input size=1 maxlength=1 name="q1j"><br>5. milk <input size=1 maxlength=1 name="q1k"><br> 6. lemon juice <input size=1 maxlength=1 name="q1l"><br> 7. honey <input size=1 maxlength=1 name="q1m"><br></td></tr>
</table>
</center>
</p>
<p>
</div>	
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Now listen and repeat the words.<a href="snd/choc1.mp3" target="_blank"><img src="img/listen.jpg"></a></b>
</p>
<p>
<b>3. Listen to a radio cooking program and answer the questions.</b>
</p>
<p>
1 Today's recipe is for <br>
<input type="radio" name="q2a" value=1 checked> a chocolate ice cream<br> 
<input type="radio" name="q2a" value=2> fast chocolate sauce <br>
<input type="radio" name="q2a" value=3> a chocolate cake <br>
2 What is a sauce? <br>
<input type="radio" name="q2b" value=1 checked> a type of fruit <br>
<input type="radio" name="q2b" value=2> a liquid to put with other food<br> 
<input type="radio" name="q2b" value=3> a drink 
</p>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>4. Listen. Choose the correct quantity of each ingredient.<a href="snd/choc2.mp3" target="_blank"><img src="img/listen.jpg"></a> </b>
</p>
<p>
1 grated chocolate <br>
  <input type="radio" name="q3a" value=1 checked> 25 grams <input type="radio" name="q3a" value=2> 125 grams <input type="radio" name="q3a" value=3> 225 grams <p>
2 cream<br> </p>
   <input type="radio" name="q3b" value=1 checked> 1/2 a cup <input type="radio" name="q3b" value=2> a cup <input type="radio" name="q3b" value=3> three cups <p>
3 milk<br> </p>
   <input type="radio" name="q3c" value=1 checked> 1/4 of a cup <input type="radio" name="q3c" value=2> 1/2 cup <input type="radio" name="q3c" value=3> a cup <p>
4 honey <br> </p>
   <input type="radio" name="q3d" value=1 checked> a teaspoon  <input type="radio" name="q3d" value=2> a big spoon <input type="radio" name="q3d" value=3> three spoons 
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b>5. Listen again. Put the words in order to complete the cooking instructions.<a href="snd/choc2.mp3" target="_blank"><img src="img/listen.jpg"></a></b>
</p>
<p>
1. all smooth saucepan ingredients in gently, a the Combine sauce and the heat stirring until is.<br>
2. ice cream with pears it vanilla or Serve figs or.
</p>
<p>
<ol>
<li><input size=90 name="q4a">.
<li><input size=90 name="q4b">.
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</p>
<p>
Now you have the recipe, you can make the "Fast chocolate sauce!"
</p>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>
 
