<script>
	v = {
		q1a:'Oranges are grown in Spain',
		q1b:'The fruit is harvested in September',
		q1c:'The letters are delivered in the morning',
		q1d:'The paintings are painted by Japanese artists',
		q1e:'The compositions are corrected by a teacher',
		q1f:'The compositions are sent by e-mail',
		q2a:'The letters are delivered in the morning',
		q2b:'Chocolate is sold in stores',
		q2c:'Chocolate is made from cacao beans',
		q2d:'The fruit is harvested in September',
		q2e:'The compositions are corrected by a teacher',
		q2f:'The pictures are painted by the children',
		q2g:'The souvenirs are bought by tourists',
		q2h:'The stories are written by students'
	}
</script>
		

<div id="t0">
<b class="u2tit">7. Money Talk</b>
<p>
<b class="u2">Passive voice  </b>
<p>
</div>

<form id="t1">
<div class="co1">
<b>1. Put the words in order to make more passive sentences.</b>
<p>
<ol>
<li>grown Oranges are Spain in.
<br><input size=50 name="q1a">.<p>
<li>harvested is in fruit September The.
<br><input size=50 name="q1b">.<p>
<li>morning letters are The in the delivered.
<br><input size=50 name="q1c">.<p>
<li>by paintings are Japanese painted The artists.
<br><input size=50 name="q1d">.<p>
<li>compositions corrected teacher are The by a.
<br><input size=50 name="q1e">.<p>
<li>are by compositions e-mail The sent.
<br><input size=50 name="q1f">.<p>
</ol>
</p>
</div>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Now change these sentences from active to passive.</b> 
</p>
<p>
For example:
</p>
<p>
<span class="rojo">
<li>They grow oranges in Spain. 
<li><b>Oranges are grown in Spain. </b>
</p>
<p>
<li>Students write the stories. 
<li><b>The stories are written by students. </b>
</span>
</p>
<p>
<table cellpadding=5 cellspacing=5 width=700 bgcolor=#ffbc90>

<tr><td><b>Definition  </td><td><b>Your Answer</td></tr> 
<tr><td>1 They deliver the letters in the morning.</td><td><input size=52 name="q2a">.</td></tr>    
<tr><td>2 They sell chocolate in stores.    </td><td><input size=52 name="q2b">.</td></tr>
<tr><td>3 They make chocolate from cacao beans.    </td><td><input size=52 name="q2c">.</td></tr>
<tr><td>4 They harvest the fruit in September.    </td><td><input size=52 name="q2d">.</td></tr>
<tr><td>5 A teacher corrects the compositions.    </td><td><input size=52 name="q2e">.</td></tr>
<tr><td>6 The children paint the pictures.   </td><td><input size=52 name="q2f">.</td></tr> 
<tr><td>7 Tourists buy the souvenirs.    </td><td><input size=52 name="q2g">.</td></tr>
<tr><td>8 Students write the stories.    </td><td><input size=52 name="q2h">.</td></tr>
</table>
</p>
<button class="eval" data-target="t2">Check answers</button>
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

