<script>
	v = {
		q1a:'2',
		q1b:'2',
		q1c:'1',
		q1d:'1',
		q1e:'4',
		q1f:'1',
		q1g:'3',
		q1h:'1',
		q2a:'3'
	}
</script>

<div id="t0">
<b class="u2tit">8. Gossip</b>
<p>
<b class="u2"> Famous people </b>
<p>
</div>

<form id="t1">
<div class="co1">	
<b>1. Who are these people? Which fact about them is not true?</b>
<p>
<table cellpadding=5 cellspacing=5 width=550>
<tr><td><img src="img/u8a1.jpg">
<select name="q1a">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td><input type="radio" name="q1b" value=1 checked> He was an actor.<br> <input type="radio" name="q1b" value=2> He made eight films before he died.<br>  <input type="radio" name="q1b" value=3> He died in a car crash.<br>  <input type="radio" name="q1b" value=4> He was 24 when he died 
</td></tr>


<tr><td><img src="img/u8a2.jpg">
<select name="q1c">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td> <input type="radio" name="q1d" value=1 checked> She worked in a bank before she was an actress.<br>   <input type="radio" name="q1d" value=2> She married the baseball player Jo DiMaggio.<br>   <input type="radio" name="q1d" value=3> She married the writer Arthur Miller.<br> <input type="radio" name="q1d" value=4> She committed suicide. 
</td></tr>


<tr><td><img src="img/u8a3.jpg">
<select name="q1e">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td> <input type="radio" name="q1f" value=1 checked> He was American.<br> <input type="radio" name="q1f" value=2> He was born in 1940.<br>   <input type="radio" name="q1f" value=3> He died in New York in 1980.<br>   <input type="radio" name="q1f" value=4> He was one of the Beatles. 
</td></tr>


<tr><td><img src="img/u8a4.jpg">
<select name="q1g">
<option value="x">Choose Answer
<option value="1">Marilyn Monroe
<option value="2">James Dean
<option value="3">Buddy Holly
<option value="4">John Lennon
</select>
</td><td><input type="radio" name="q1h" value=1 checked> He was born in London in 1938.<br>   <input type="radio" name="q1h" value=2> His real name was Charles Hardin Holley.<br>  <input type="radio" name="q1h" value=3> His group was called "The Crickets".<br> <input type="radio" name="q1h" value=4> He died in a plane crash at the age of 22. 
</td></tr>
</table>
</p>
</div>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. What do the four people have in common?</b>
</p>
<p>
<ol>
<li><input type="radio" name="q2a" value=1 checked>They were singers. 
<li><input type="radio" name="q2a" value=2>They were actors. 
<li><input type="radio" name="q2a" value=3>They died in tragic circumstances. 
</p>
<p>
<button class="eval" data-target="t2">Check answers</button>
</form>



</div>

<div id="z1">
</div>

<div id="z2">
</div>

 
