<script>
	v = {
		q1a:'e',
		q1b:'d',
		q1c:'a',
		q1d:'b',
		q1e:'c',
		q2a:'2',
		q2b:'1',
		q2c:'2',
		q2d:'1',
		q2e:'2',
		q2f:'1',
		q2g:'2',
		q2h:'1',
		q2i:'1'
	}
</script>

<div id="t0">
<b class="u2tit">8. Gossip</b>
<p>
<b class="u2">A good luck story  </b>
<p>
</div>
<form id="t1">
<div class="co1">
<b>1. You are going to listen to a story. But first, check you know the meaning of these words</b>
<p>
<table cellpadding=5 cellspacing=5 width=550>
<tr><td>
<ol>
<li> flat tire 
<li> tire
<li> spare tire
<li> tools 
</td><td><img src="img/u8b1.jpg"></td></tr>
</table>
</p>
<p>
<b><a href="snd/u8b.mp3" target="_blank">2. Now listen to the story.<img src="img/listen.jpg" border=0></a> Then put the pictures in the right order.</b>
</p>
<p>
<center>
<img src="img/u8b2.jpg">
</p>
<p>
<ol>
<li><input size=1 maxlength=1 name="q1a">
<li><input size=1 maxlength=1 name="q1b">
<li><input size=1 maxlength=1 name="q1c">
<li><input size=1 maxlength=1 name="q1d">
<li><input size=1 maxlength=1 name="q1e">
</ol>
</center>
</p>
</div>	
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>3. Listen again and say if these sentences are true or false.</b>
</p>
<p>
<ol>
<li> The doctor didn't have a spare tire.
<br>
<select name="q2a">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The man stopped and helped him change the tire. 
<br>
<select name="q2b">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The man wanted money. 
 <br>
<select name="q2c">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The man took the doctor's tools and wine. 
<br>
<select name="q2d">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The man gave the doctor a lottery ticket. 
<br>
<select name="q2e">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The lottery ticket won first prize. 
<br>
<select name="q2f">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The doctor collected the money. 
<br>
<select name="q2g">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The man was sorry that he took the doctor's things. 
<br>
<select name="q2h">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
<p>
<li> The doctor told reporters "I am not a thief." 
<br>
<select name="q2i">
<option value="x">Choose Answer
<option value="1">true
<option value="2">false  
</select>
</p>
</ol>
<button class="eval" data-target="t2">Check answers</button>
</form>


<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
