<script>
	v = {
		q1a:'1',
		q1b:'2',
		q1c:'3',
		q1d:'1',
		q1e:'1',
		q2a:'4',
		q2b:'1',
		q2c:'3',
		q2d:'2',
		q2e:'2'
	}
</script>

<div id="t0">
<b class="u2tit">9. Hi-Tech</b>
<p>
<b class="u2">Computer words  </b>
<p>
</div>

<form id="t1">
<div class="co1">
<center>
<b>1. Prepositions. Choose the best word to complete these sentences. Click on the word in the drop down menu.</b>
<p>
<span class="rojo">click on the arrow and choose one of the answers from the drop down menu
</p>
<p>
when you have finished the exercise choose "Check Answers"
</span>
</center>
</p>
<p>
<ol>
<li>  You use the mouse to click  
<select name="q1a">
<option value="x">Choose Answer 
<option value="1">on 
<option value="2">in 
<option value="3">at 
</select>
the correct answer.  
<li>  You can download software  
<select name="q1b">
<option value="x">Choose Answer 
<option value="1">at 
<option value="2">from 
<option value="3">to 
</select>
the Internet. 
<li>  You need to be connected  
<select name="q1c">
<option value="x">Choose Answer 
<option value="1">in 
<option value="2">at 
<option value="3">to 
</select>
the Internet.  
<li>  You install software  
<select name="q1d">
<option value="x">Choose Answer 
<option value="1">on 
<option value="2">in 
<option value="3">at 
</select>
your computer.  
<li>  You can send a file  
<select name="q1e">
<option value="x">Choose Answer 
<option value="1">by 
<option value="2">with 
<option value="3">for 
</select>
e-mail.  
</ol>
</p>
</div>	
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Choose the best word to complete these sentences. Click on the correct word.</b>
</p>
<p>
<ol>
<li> I use a fast modem to _________ my computer to the Internet. 
<select name="q2a">
<option value="x">Choose Answer 
<option value="1">download
<option value="2"> click
<option value="3"> save
<option value="4"> connect 
</select>
<li> RealPlayer is computer _________ that you use to listen to music on the World Wide Web. 
<select name="q2b">
<option value="x">Choose Answer
<option value="1"> software
<option value="2"> hardware
<option value="3"> document
<option value="4"> download 
</select>
<li> I always _________ my documents on compact discs. 
<select name="q2c">
<option value="x">Choose Answer
<option value="1"> connect
<option value="2"> install
<option value="3"> save
<option value="4"> browse 
</select>
<li> _________ rooms are good way of meeting other people on the Internet.
<select name="q2d"> 
<option value="x">Choose Answer
<option value="1">software
<option value="2"> chat
<option value="3"> address
<option value="4"> document 
</select>
<li> A _________ is a sound your computer makes when there is an error.  
<select name="q2e"> 
<option value="x">Choose Answer
<option value="1"> click
<option value="2"> beep
<option value="3"> download
<option value="4"> user 
</select>
</p>
<button class="eval" data-target="t2">Check answers</button>
</form>


<div id="z1">
</div>

<div id="z2">
</div>

