html
  body
    #ir
      | A person&apos;s iris can tell you about his or her health
      br
      | Iridology can&apos;t diagnose specific diseases
      p
        | The iris is the colored part of the eye
        | Examples (imagine the iris to be the face of a clock): 
        ul
          li
            | a mark on the iris at 6 o&apos;clock = a problem with the kidneys
          li
            | a mark at 3 o&apos;clock = an inherited heart problem
          li
            | orange discoloration = a predisposition to diabetes
          li
            | a gray or white ring around the iris = problems with cholesterol
      p
        | Iridology is good at detecting problems earlyinformation about genetic weaknesses can help to prevent future problems
      p
        | Iridologists examine the iris using a microscope, looking for marks and discolorationany marks or discoloration
        | tell the iridologist about: (1) genetic strengths/weaknesses, and (2) the current state of health of the body and its organs
      p
        | Everyone&apos;s iris is unique to them
      p
        | Iridology is the study of the iris
      p
        | Iridology divides the iris into zoneseach zone represents a different part of the body
