div#U11B
	script.
		unitans.U11B = {
			q1a:'3',
			q2a:'1',
			q3a:'4',
			q4a:'1',
			q4b:'1',
			q4c:'3',
			q4d:'1',
			q4e:'2',
			q4f:'1',
			q4g:'3',
			q4h:'3',
			q5a:'2',
			q5b:'1',
			q5c:'3',
			q5d:'2',
			q5e:'1',
			q5f:'2',
			q5g:'1',
			q5h:'3',
			q6a:'0',
			q6b:'0',
			q6c:'1',
			q6d:'1',
			q6e:'1',
			q6f:'0',
			q6g:'0',
			q6h:'0'
		}
	#t0
		b.u3tit Icons
		p
			b.u3 CD reviews 
			br
	p
		form#t1
			b
				| 1. Read three CD reviews from on line Australian newspaper 
				i The Canberra Times
				|  and decide which section in a record shop you would find the CDs in.
	p
		b Duet
	p
		| Kristina Olsen and Peter Grayling (KOPGCD01)
	p
		| Singer/guitarist and cello duets are not the expected ingredients of a folk CD, but this combination of American singer Olsen and West Australian cellist Grayling proves to be a delightful combination. Olsen&apos;s voice and the cello exchange lines, matching tonalities, with the cello weaving a lower line, sometimes a harmony, sometimes a rhythmic counterpoint.
	p
		| Olsen&apos;s choice of songs seems a little more reflective than on previous releases, perhaps as a response to working with the sonorities of the cello. Her great strength as a songwriter is the ability to convey the sense of a broken heart, usually her own, in a direct yet humorous manner.
	p
		| The outstanding track on this CD is a song called &quot;Heart Hill&quot;, a very English-sounding song about a place glimpsed off an English highway, but the whole CD is a fine addition to her catalog along with the notable collaboration with Grayling.
	p
		center
			input(type='radio', name='q1a', value='1', checked='')
			| pop/rock&#x9; 
			input(type='radio', name='q1a', value='2')
			| jazz/blues&#x9; 
			input(type='radio', name='q1a', value='3')
			| folk/world music&#x9; 
			input(type='radio', name='q1a', value='4')
			| classical music
	p
		button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				i Flight Paths
				|  - The Paradise Motel (Mushroom)
		p
			| British music magazine 
			i New Musical Express
			|  may have been a little harsh when it said that The Paradise Motel&apos;s Merida Sussex&apos;s voice made Julie Cruise sound like Tina Turner. But it is a fairly accurate description of her haunting vocal style. While other bands use the voice to merely add on top of the noise, Sussex&apos;s vocals are arguably the most important component in the Motel&apos;s impressive musical machinery.
		p
			| The haunting legacy which began with 
			i Still Life
			|  (1996), continues on 
			i Flight Paths
			|  and the dark musical tapestry, created by Charles Bickford and enhanced by Victor van Vugt&apos;s rich production, has progressed with almost a hint of salvation (Derwent River Star, Daniel, Caravans, Hollywood Landmines) expressed in Sussex&apos;s uplifting vocals.
		p
			| So while The Paradise Motel will never be the latest teen fad, with more style than to bother with crowd-diving and noisy guitars, this dark, yet cathartic, musical masterpiece will have a more lasting influence on Australian musical history than we may yet acknowledge.
		p
			center
				input(type='radio', name='q2a', value='1', checked='')
				| pop/rock&#x9; 
				input(type='radio', name='q2a', value='2')
				| jazz/blues&#x9; 
				input(type='radio', name='q2a', value='3')
				| folk/world music&#x9; 
				input(type='radio', name='q2a', value='4')
				| classical music
		p
			button.eval(data-target='t2') Check answers
	form#t3
		p
			b Peter Sculthorpe: String Quartets
		p
			| Played by the Goldner String Quartet (Tall Poppies TPO90)
		p
			| The Goldner Quartet was formed by Musica Viva in 1995, and consists of four of this country&apos;s finest younger string players.
		p
			| This disc is the second volume of Sculthorpe&apos;s complete works for string quartets, recorded in the presence of the composer. Included is the String Quartet No 10, written in 1983 for the US-based Kronos Quartet and displaying musical influences &quot;from both sides of the Pacific.&quot; It is balanced by the String Quartet No 11 of 1990 which is distinctively Australian in feeling and with the subtitle Jabiru Dreaming is one of the composer&apos;s &quot;Kakadu&quot; works.
		p
			| Both are very approachable, and receive committed and finely shaped performances which capture effectively the essential elements of the music. With the composer&apos;s supervision the performances can be regarded as definitive.
		p
			| The disc also offers ten small pieces for string quartet, two of them miniatures called Hill-Songs, and the remainder drawn from unpublished or discarded works. With equally fine and carefully crafted performances, they provide, with the full-scale quartets, a constantly interesting survey of Sculthorpe&apos;s music for string quartet from 1945 to 1994.
		p
			center
				input(type='radio', name='q3a', value='1', checked='')
				| pop/rock&#x9; 
				input(type='radio', name='q3a', value='2')
				| jazz/blues&#x9; 
				input(type='radio', name='q3a', value='3')
				| folk/world music&#x9; 
				input(type='radio', name='q3a', value='4')
				| classical music
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			b 2. Decide whether these statements are true, false or not in the text.
		p
			table(cellpadding='5', cellspacing='5', with='700', bgcolor='#ffbc90')
				tr
					td
						b a) Duet 
				tr
					td 1.-The combination of Olsen and Grayling is a pleasant surprise.
					td
						input(type='radio', name='q4a', value='1', checked='')
						| True
					td
						input(type='radio', name='q4a', value='2')
						| False
					td
						input(type='radio', name='q4a', value='3')
						| Not in Text
				tr
					td 2.-Olsen&apos;s song-writing is often autobiographical.
					td
						input(type='radio', name='q4b', value='1', checked='')
						| True
					td
						input(type='radio', name='q4b', value='2')
						| False
					td
						input(type='radio', name='q4b', value='3')
						| Not in Text
				tr
					td 3.-This is one of Kristina Olsen&apos;s best works.
					td
						input(type='radio', name='q4c', value='1', checked='')
						| True
					td
						input(type='radio', name='q4c', value='2')
						|  False
					td
						input(type='radio', name='q4c', value='3')
						|  Not in Text
				tr
					td 4.-Heart Hill is the best song on the CD.
					td
						input(type='radio', name='q4d', value='1', checked='')
						| True
					td
						input(type='radio', name='q4d', value='2')
						|  False
					td
						input(type='radio', name='q4d', value='3')
						|  Not in Text
				tr
					td
						b b) Flight Paths
				tr
					td 5.-Merida Sussex sounds like Tina Turner when she sings.
					td
						input(type='radio', name='q4e', value='1', checked='')
						| True
					td
						input(type='radio', name='q4e', value='2')
						| False
					td
						input(type='radio', name='q4e', value='3')
						|  Not in Text
				tr
					td 6.-This is The Paradise Motel&apos;s second album.
					td
						input(type='radio', name='q4f', value='1', checked='')
						| True
					td
						input(type='radio', name='q4f', value='2')
						|  False
					td
						input(type='radio', name='q4f', value='3')
						|  Not in Text
				tr
					td 7.-The Paradise Motel are not interested in being popular with young people.
					td
						input(type='radio', name='q4g', value='1', checked='')
						|  True
					td
						input(type='radio', name='q4g', value='2')
						|  False
					td
						input(type='radio', name='q4g', value='3')
						|  Not in Text
				tr
					td
						b c) Peter Sculthorpe: String Quartets
				tr
					td 8.-It was was recorded in the US.
					td
						input(type='radio', name='q4h', value='1', checked='')
						| True
					td
						input(type='radio', name='q4h', value='2')
						|  False
					td
						input(type='radio', name='q4h', value='3')
						|  Not in Text
				tr
					td 9.-A better recording of String Quartets No 10 and 11 is unlikely to be made.
					td
						input(type='radio', name='q4i', value='1', checked='')
						| True
					td
						input(type='radio', name='q4i', value='2')
						|  False
					td
						input(type='radio', name='q4i', value='3')
						|  Not in Text
		p
			center
				button.eval(data-target='t4') Check answers
	form#t5
		p
			b 3. Choose the correct answer
		p
			ol
				li
					| Which disc gets the most enthusiastic review? 
					select(name='q5a')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| Which review is particularly positive about one track? &#x9; 
					select(name='q5b')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| On which disc do the musicians not play their own material? &#x9; 
					select(name='q5c')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| Which disc is most likely to be underrated, according to its critic? &#x9; 
					select(name='q5d')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| Which disc is most likely to make you laugh? &#x9; 
					select(name='q5e')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| Which musicians would probably find it hardest to give a concert without amplification? &#x9; 
					select(name='q5f')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| On which disc does the only non-Australian appear. &#x9; 
					select(name='q5g')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
					br
				li
					| Which disc doesn&apos;t include any new material? &#x9; 
					select(name='q5h')
						option(value='x')
							| Choose Answer
						option(value='1')
							| Duet
						option(value='2')
							| Flight Paths
						option(value='3')
							| String Quartets
		p
			center
				button.eval(data-target='t5') Check answers
	form#t6
		p
			b 4. Vocabulary in context 
		p
			| The following sentences are taken from the reading text. Choose the best synonym(s) for the words in bold. 
			br
		p
			ol
				li
					| ... this combination of American singer Olsen and West Australian cellist Grayling 
					strong proves to be
					|  a delightful combination.
					br
					br
					input.space-right(type='radio', name='q6a', value='1', checked='')
					| tries to be
					br
					input.space-right(type='radio', name='q6a', value='0')
					| shows itself to be
		p
			li
				| Her great strength as a songwriter is the ability to 
				strong convey
				|  the sense of a broken heart, usually her own, in a direct yet humorous manner.
				br
				br
				input.space-right(type='radio', name='q6b', value='1', checked='')
				| understand
				br
				input.space-right(type='radio', name='q6b', value='0')
				| express
		p
			li
				| ... a very English-sounding song about a place 
				strong glimpsed
				|  off an English highway, ...
				br
				br
				input.space-right(type='radio', name='q6c', value='1', checked='')
				| seen briefly
				br
				input.space-right(type='radio', name='q6c', value='0')
				| visited
		p
			li
				| British music magazine New Musical Express may have been 
				strong a bit harsh
				|  when it said that The Paradise Motel&apos;s Merida Sussex&apos;s voice made Julie Cruise sound like Tina Turner.
				br
				br
				input.space-right(type='radio', name='q6d', value='1', checked='')
				| severe in their criticism
				br
				input.space-right(type='radio', name='q6d', value='0')
				| generous in their criticism
		p
			li
				| ... almost a hint of salvation (Derwent River Star, Daniel, Caravans, Hollywood Landmines) expressed in Sussex&apos;s 
				strong uplifting
				|  vocals.
				br
				br
				input.space-right(type='radio', name='q6e', value='1', checked='')
				| that make you feel more positive
				br
				input.space-right(type='radio', name='q6e', value='0')
				| high-pitched
		p
			li
				| ... this dark, yet cathartic, musical masterpiece will have a more 
				strong lasting
				|  influence on Australian musical history than we may yet acknowledge.
				br
				br
				input.space-right(type='radio', name='q6f', value='1', checked='')
				| of short 
				strong duration
				br
				input.space-right(type='radio', name='q6f', value='0')
				| of long 
				strong duration
		p
			li
				| Both are very 
				strong approachable
				| , and receive committed and finely shaped performances ...
				br
				br
				input.space-right(type='radio', name='q6g', value='1', checked='')
				| similar
				br
				input.space-right(type='radio', name='q6g', value='0')
				| easy to listen to
		p
			li
				| ... the remainder drawn from unpublished or 
				strong discarded
				|  works.
				br
				br
				input.space-right(type='radio', name='q6h', value='1', checked='')
				| unpublished
				br
				input.space-right(type='radio', name='q6h', value='0')
				| considered unusable
		p
			center
				button.eval(data-target='t6') Check answers
	#z1
	#z1a
	#z1b
	#z1c
	#z2
	#z3
	#z4
