div#U1A
	script.
		unitans.U1A = {
			q1:'1',
			q2:'2',
			q3:'1',
			q4:'1',
			q5:'2',
			q6:'2',
			q7:'1',
			q8:'2',
			q9:'2',
			q10:'1',
			q11:'2',
		}
	#t0
		b.u3tit The Gender Gap
		p
			b.u3 Present Simple
	form#t1
		b 1. Choose the correct tense in this summary.
		p
			ol
				li
					| The 
					select(name='q1')
						option(value='0', selected='')
							| Choose answer
						option(value='1')
							| Present Simple
						option(value='2')
							| Present Continuous
					|  is used to talk about habits and facts - things that are permanent. 
					p
						li
							| The   
							select(name='q2')
								option(value='0', selected='')
									| Choose answer
								option(value='1')
									| Present Simple
								option(value='2')
									| Present Continuous
							|  is used to talk about changing situations and developments - things that are temporary.
		p
			center
				button.eval(data-target='t1') Check answers
	form#t2
		p
		p
			b
				| 2. Read the dialog. Put the verb in parentheses into either the Present Continuous or the  Present Simple.
		p
			table
				tr
					td(valign='top')
						| Jill:
					td
						| What languages 
						select(name='q3')
							option(value='0', selected='')
								| Choose answer
							option(value='1')
								| do you speak
							option(value='2')
								| are you speaking
						| ?
		p
			tr
				td(valign='top')
					| Simon:
				td
					| Well, I 
					select(name='q4')
						option(value='0')
							| Choose answer
						option(value='1')
							| speak
						option(value='2')
							| am speaking
					|    broken Russian. I studied it at school but I&apos;ve forgotten a lot of it.
		p
			tr
				td(valign='top')
					| Jill:
				td
					| You were lucky you had languages at school. I didn&apos;t. I 
					select(name='q5')
						option(value='0', selected='')
							| Choose answer
						option(value='1')
							| study
						option(value='2')
							| am studying
					|    Italian now at night school.
		p
			tr
				td(valign='top')
					| Simon:
				td
					| Why 
					select(name='q6')
						option(value='0')
							| Choose answer
						option(value='1')
							| do you study
						option(value='2')
							| are you studying
					|    Italian?
		p
			tr
				td(valign='top')
					| Jill:
				td
					| My sister  
					select(name='q7')
						option(value='0')
							| Choose answer
						option(value='1')
							| lives
						option(value='2')
							| is living
					|   there and I&apos;m going to visit her this summer. I want to get by in the language while I&apos;m there.
		p
			tr
				td(valign='top')
					| Simon:
				td
					| They say increasing numbers of people 
					select(name='q8')
						option(value='0')
							| Choose answer
						option(value='1')
							| study
						option(value='2')
							| are studying
					|  a foreign language these days so that they can communicate when they travel.
		p
			tr
				td(valign='top')
					| Jill:
				td
					| And I
					select(name='q9')
						option(value='0')
							| Choose answer
						option(value='1')
							| also learn
						option(value='2')
							| am also learning
					|     a little Gaelic from my grandmother. Of course, it&apos;s not for traveling, because everyone 
					select(name='q10')
						option(value='0')
							| Choose answer
						option(value='1')
							| speaks
						option(value='2')
							| is speaking
					|    English in Scotland. I want to learn more about the culture. Although these days the number of Gaelic speakers 
					select(name='q11')
						option(value='0')
							| Choose answer
						option(value='1')
							| falls
						option(value='2')
							| is falling
					|  fast.
		p
			center
				button.eval(data-target='t2') Check answers
	#z1
	#z2
