div#U1B
	script.
		unitans.U1B = {
			q1a:'1',
			q1b:'1',
			q1c:'1',
			q1d:'1',
			q1e:'1',
			q2a:'bought',
			q2b:'bought',
			q2c:'caught',
			q2d:'fell',
			q2e:'fallen',
			q2f:'feel',
			q2g:'felt',
			q2h:'forget',
			q2i:'forgotten',
			q2j:'found',
			q2k:'saw',
			q2k:'saw',
			q2l:'spoke',
			q2m:'spoken',
			q2n:'teach',
			q2o:'taught',
			q2p:'think',
			q2q:'thought',
			q3a:'7',
			q4a:'think',
			q4b:'fell',
			q4c:'forgotten',
			q4d:'thought',
			q4e:'felt',
			q4f:'seen',
			q4g:'taught'
		}
	#t0
		b.u3tit The Gender Gap
		p
			b.u3 Review of irregular past tense
	form#t1
		b 1. Review of irregular past tense.
		p
			| Try to find the past tenses of these verbs in the word soup. If you want to, you can mark them as you find them.
		p
			center
				img(src='img/gender2.jpg')
		p
			table(width='400', cellspacing='5', cellpadding='0', align='center')
				tr
					td
						input.space-right(type='checkbox', name='q1a', value='1')
						| buy
					td
						input.space-right(type='checkbox', name='q1a', value='2')
						| catch
					td
						input.space-right(type='checkbox', name='q1a', value='3')
						|  fall
					td
						input.space-right(type='checkbox', name='q1a', value='4')
						| feel
					td
						input.space-right(type='checkbox', name='q1a', value='5')
						| fight
				tr
					td
						input.space-right(type='checkbox', name='q1b', value='1')
						| find
					td
						input.space-right(type='checkbox', name='q1b', value='2')
						| speak
					td
						input.space-right(type='checkbox', name='q1b', value='3')
						| teach
					td
						input.space-right(type='checkbox', name='q1b', value='4')
						| think
		p
			center
				// <button class="eval" data-target="t1">Check answers</button>
	form#t2
		p
			b 2. Complete this chart by writing in the missing verbs.
		p
			table(width='350', border='1', cellspacing='1', bgcolor='#ffbc90', align='center')
				tr#tr1
					td INFINITIVE
					td SIMPLE PAST
					td PAST PARTICIPLE
				tr
					td buy  
					td
						sub 1
						input(name='q2a', size='6')
					td
						sub 2
						input(name='q2b', size='6')
				tr
					td catch
					td
						sub 3
						input(name='q2c', size='6')
					td caught
				tr
					td fall
					td
						sub 4
						input(name='q2d', size='6')
					td
						sub 5
						input(name='q2e', size='6')
				tr
					td
						sub 6
						input(name='q2f', size='6')
					td felt
					td
						sub 7
						input(name='q2g', size='6')
				tr
					td
						sub 8
						input(name='q2h', size='6')
					td forgot
					td
						sub 9
						input(name='q2i', size='6')
				tr
					td find
					td
						sub 10
						input(name='q2j', size='6')
					td found
				tr
					td see
					td
						sub 11
						input(name='q2k', size='6')
					td seen
				tr
					td speak
					td
						sub 12
						input(name='q2l', size='6')
					td
						sub 13
						input(name='q2m', size='6')
				tr
					td
						sub 14
						input(name='q2n', size='6')
					td taught
					td
						sub 15
						input(name='q2o', size='6')
				tr
					td
						sub 16
						input(name='q2p', size='6')
					td
						sub 17
						input(name='q2q', size='6')
					td thought
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
		p
			b 3. How many mistakes of spelling or form of the verbs can you find in this text?
		p
			span#m1(align='justify')
				| I didn&apos;t thought it would be difficult to find a part-time job so I bought a magazine and looked in the job section. I walked
				| along the street reading the magazine. I didn&apos;t see a hole in the street and felt in - the workers had forgot to put up a
				| barrier. I didn&apos;t hurt myself but I suddenly thaught how stupid I must have looked. I fell very embarrassed. I looked around
				| to see if anyone I knew had sawn me. Luckily I didn&apos;t see anyone. Anyway, it teached me an important lesson. I had
				| forgotten to look where I was going.
		p
			center
				select(name='q3a')
					option(value='ch', selected='')
						| Choose Answer
					option(value='1')
						| 1 mistake
					option(value='2')
						| 2 mistakes
					option(value='3')
						| 3 mistakes
					option(value='4')
						| 4 mistakes
					option(value='5')
						| 5 mistakes
					option(value='6')
						| 6 mistakes
					option(value='7')
						| 7 mistakes
					option(value='8')
						| 8 mistakes
					option(value='9')
						| 9 mistakes
				button.eval(data-target='t3') Check answers
	p
	form#t4
		p
			b 4. Now correct the text by writing in the missing verbs.
		p
			| I didn&apos;t 
			sub 1
			input(name='q4a', size='6')
			|  it would be difficult to find a part-time job so I bought a magazine and
			| looked in the job section. I walked along the street reading the magazine. I didn&apos;t see a hole in the 
			| street and 
			nobr
				sub 2
				input(name='q4b', size='6')
			|    in, the workers had 
			sub 3
			input(name='q4c', size='6')
			|  to put up a barrier. I didn&apos;t hurt 
			| myself but I suddenly 
			nobr
				sub 4
				input(name='q4d', size='6')
			|  how stupid I must have looked. I 
			sub 5
			input(name='q4e', size='6')
			|  very
			| embarrassed. I looked around to see if anyone I knew had 
			sub 6
			input(name='q4f', size='6')
			|  me. I didn&apos;t see
			| anyone. Anyway, it 
			sub 7
			input(name='q4g', size='6')
			|  me an important lesson. I had forgotten to look where I was going.
		center
			button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
