div#U1C
	script.
		unitans.U1C = {
			q1a:'When',
			q1b:'followed by',
			q1c:'After that',
			q1d:'When',
			q1e:'finally',
			q1f:'went on',
			q2a:'3',
			q2b:'2',
			q2c:'3',
			q2d:'1',
			q2e:'3',
			q2f:'2',
		}
	b.u3tit The Gender Gap
	p
		b.u3 Sequencers
		form#t1
			b 1. Linking events.
			p
				| Complete the text about Diane by clicking and dragging the words below to the correct place in the text.
			p
				| DIANE BAKER, is a private investigator. 
				sub 1
				input(type='text', name='q1a', size='12')
				|  she finished school she 
				| got a job as an office cleaner and left home. She moved through a series of 
				| part-time jobs, working as a gardener, waitress and bicycle courier, 
				sub 2
				input(type='text', name='q1b', size='12')
				| time working for a small construction company. 
				sub 3
				input(type='text', name='q1c', size='10')
				|  she decided to pack
				| her bags and travel around Europe. In Greece she worked for three months on a small 
				| fishing boat. 
				sub 4
				input(type='text', name='q1d', size='12')
				|  it nearly sank in a terrible storm she decided it was
				| time to return to New York. There she continued to work for a temp agency before
				sub 5
				input(type='text', name='q1e', size='12')
				|  ending  up in a market research company. Then a competitor
				| mysteriously started receiving the results of her company&apos;s surveys. Diane set up
				| an investigation agency, D.I.A, to find out how this had happened . The agency
				sub 6
				input(type='text', name='q1f', size='12')
				|  to be very successful and now employs fifteen people. Diane of course
				| is one of the directors and charges $45 an hour plus expenses.
				br
				br
				table(width='570', align='center', cellspacing='5', cellpadding='8', bgcolor='#ffbc90')
					tr
						td
							b  When
						td
							b When
						td
							b  finally
						td
							b  went on
						td
							b  After that
						td
							b followed by
			p
				center
					button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Different ways of saying after.
			p
				| Complete this second text by choosing the best option.
			p
				| My career started slowly, but improved
				sub 1
				select(name='q2a')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| after
					option(value='2')
						| later
					option(value='3')
						| later on
				| . I finished school and worked in a store that summer.
				sub 2
				select(name='q2b')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| After
					option(value='2')
						| After that
					option(value='3')
						| Afterwards
				| I studied in college. While I studied, I did some writing for magazines and newspapers.
				sub 3
				select(name='q2c')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| After
					option(value='2')
						| Later
					option(value='3')
						| Next
				| I got a job with a national newspaper. I enjoyed this work, but always thought that
				sub 4
				select(name='q2d')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| later
					option(value='2')
						| subsequently
					option(value='3')
						| next
				| I would like to write a book about something. I left my job but regretted it
				sub 5
				select(name='q2e')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| next
					option(value='2')
						| after
					option(value='3')
						| afterward
				| , as I had very little money. Maybe that was good though, I spent a lot of time writing. It took me years to publish my first book. I have
				sub 6
				select(name='q2f')
					option(value='0', selected='')
						| Choose Answer
					option(value='1')
						| after
					option(value='2')
						| subsequently
					option(value='3')
						| later on
				| published five more.
			center
				button.eval(data-target='t2') Check answers
		#z1
		#z2
