div#U1D
	script.
		unitans.U1D = {
			q1a:'take',
			q1b:'finish',
			q1c:'keep',
			q1d:'give',
			q1e:'make',
			q1f:'break',
			q1g:'fix',
			q1h:'grow',
			q1i:'set',
			q1j:'go',
			q2a:'d',
			q2b:'a',
			q2c:'c',
			q2d:'d',
			q2e:'b',
			q2f:'b',
			q2g:'a',
			q2h:'c',
			q2i:'a',
			q2j:'c',
			q3a:'make',
			q3b:'make up',
			q3c:'end up',
			q3d:'end',
			q3e:'grow',
			q3f:'grow up',
			q3g:'break',
			q3h:'break up',
			q3i:'stay up',
			q3j:'stay',
			q3k:'eat up',
			q3l:'eat',
			q3m:'keep',
			q3n:'keep up',
			q3o:'pay up',
			q3p:'pay'
		}
	#t0
		b.u3tit The Gender Gap
		p
			b.u3 Review of irregular past tense
	form#t1
		b 1. Phrasal verbs with up. Complete the sentences with the verbs below.
		ol.text
			li.space
				| I didn&apos;t 
				input(size='8', name='q1a')
				|  up jogging till I was 40, so it&apos;s never too late.
			li.space
				| Could you 
				input(size='8', name='q1b')
				|   up please, ladies and gentlemen? The bar will be closing in five minutes.
			li.space
				| Fashions change so quickly that it&apos;s hard to 
				input(size='8', name='q1c')
				|  up with what&apos;s new.
			li.space
				| His doctor told him to 
				input(size='8', name='q1d')
				|  up smoking immediately.
			li.space
				| She&apos;s such a liar. Are you sure she didn&apos;t 
				input(size='8', name='q1e')
				|  up the whole story?
			li.space
				| Have you heard? Sam and Robin have decided to 
				input(size='8', name='q1f')
				|  up! Sam&apos;s already found a new apartment.
			li.space
				| They&apos;ve bought an old Victorian house and they&apos;re going to 
				input(size='8', name='q1g')
				|   it up themselves.
			li.space
				| A growing number of 30-40 year-olds are refusing to 
				input(size='8', name='q1h')
				|  up and act like other people their age.
			li.space
				| They only 
				input(size='8', name='q1i')
				|  up the company ten years ago, but they already have fifty stores around the country.
			li.space
				| The govermment predicts that prices will 
				input(size='8', name='q1j')
				|  up by 5 percent over the next six months.
		table(cellspacing='0', cellpadding='0', bgcolor='#ffbc90')
			tr.box
				td keep
				td break
				td fix
				td make
				td take
			tr.box
				td grow
				td finish
				td set
				td go 
				td give
		p
			center
				button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. Some of the main meanings of 
				span#m1 up
		p
			b A - Move to a higher or vertical position
		p
			| The literal meaning of 
			span#m1 up
			|  when used as a preposition or adverb
			ul
				li
					span#m1 We walked up the stairs because the elevator was out of order. 
					|  (preposition)
				li
					span#m1 Stand up and let me see your new pants. 
					|  (adverb)
			b B - Increase or improve
		p
			| When a phrasal verb indicates that something increases or improves, up is close to its literal meaning. 
			ul
				li
					span#m1 Prices will go up 5% over the next six months. 
			b C - Finish or complete
		p
			| In some phrasal verbs 
			span#m1 up
			|  means completely, or indicates that something is completed. 
			ul
				li
					span#m1 I want to finish up this work before leaving. 
			b D - Come into existence
		p
			| In some phrasal verbs 
			span#m1 up
			|  can indicate that something now exists that did not exist before. 
			ul
				li
					span#m1 Something&apos;s come up at work, so I&apos;ll be late home tonight. 
			| Choose an option from the menu to show what 
			span#m1 up
			|  means.
		p
			ol
				| They only set up the company ten years ago but they already have fifty stores.
				li
					select(name='q2a')
						option(value='x')
							| Choose answer
						option(value='a')
							| a
						option(value='b')
							| b
						option(value='c')
							| c
						option(value='d')
							| d
		p
			li
				| Sit up straight. You&apos;ll get backache if you sit like that.  
				select(name='q2b')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| His doctor told him to give up smoking immediately.  
				select(name='q2c')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| The meeting was relaxed until someone brought up the question of overtime pay.  
				select(name='q2d')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| Would you mind turning the TV up? I can&apos;t hear the news.  
				select(name='q2e')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| I&apos;ll have to brush up my French before I go to Paris.  
				select(name='q2f')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| Could you bring the report up to my office when you&apos;ve finished it?  
				select(name='q2g')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| I used up all my change phoning the hotel. Do you have any change on you?  
				select(name='q2h')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| Come on, get up! It&apos;s nearly time to go!  
				select(name='q2i')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			li
				| I&apos;m afraid we&apos;re full up, but there&apos;s another hotel just down the road. 
				select(name='q2j')
					option(value='x')
						| Choose answer
					option(value='a')
						| a
					option(value='b')
						| b
					option(value='c')
						| c
					option(value='d')
						| d
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Complete each pair of sentences with the pairs of verbs below. 
		p
			| Example:
		p
			li.space
				| They didn&apos;t take up golf when she retired.
			li
				| They take golf very seriously.
		p
			| 1 a: You 
			input(size='10', name='q3a')
			|  your own furniture, don&apos;t you?
			br
			|    b: It took forever to
			input(size='10', name='q3b')
			|  the classes I missed when I was sick.
		p
			| 2 a: We fell asleep on the train and were lucky not to 
			input(size='10', name='q3c')
			| . in Paris!
			br
			br
			|    b: The Olympic Games always 
			input(size='10', name='q3d')
			|  on a Sunday.
		p
			| 3 a: Don&apos;t kids 
			input(size='10', name='q3e')
			|  quickly! Jane&apos;s nearly as tall as me now.
			br
			|    b: Stop crying and 
			input(size='10', name='q3f')
			|  a little! You&apos;re not a little boy anymore.
		p
			| 4 a: I don&apos;t have my keys! We&apos;ll have to 
			input(size='10', name='q3g')
			| .a window to get in.
			br
			br
			|    b: Tell the passengers to get in the lifeboats. The ship will 
			input(size='10', name='q3h')
			| if we hit those rocks.
		p
			table(cellspacing='0', cellpadding='0', bgcolor='#ffbc90')
				tr
					td grow 
					td make
					td break
					td end
				tr
					td grow up
					td make up
					td break up
					td end up
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			| 1a. I&apos;m really tiredI decided to 
			input(size='10', name='q3i')
			| late watching a movie last night.
		p
			| b. It was such a terrible movie that I left the theater. I didn&apos;t 
			input(size='10', name='q3j')
			| to see the end.
		p
			| 2a. Come on,
			input(size='10', name='q3k')
			| . We have to catch a bus in ten minutes.
		p
			| b. Don&apos;t...
			input(size='10', name='q3l')
			|  so fast, you&apos;ll get indigestion.
		p
			| 3a. If you
			input(size='10', name='q3m')
			|  improving like this you&apos;ll be ready to take the exam in December. 
			| 4a. I finished the job over two months ago. So stop making excuses and 
			input(size='10', name='q3o')
			| .!
		p
			| b. I&apos;ll 
			input(size='10', name='q3p')
			|  the check with my credit card and you can give me your part in cash.
		p
			| b. If you can&apos;t
			input(size='10', name='q3n')
			|  with this class, maybe you should go down a level.
		p
			| 4a. I finished the job over two months ago. So stop making excuses and
			input(size='10', name='q3o')
			| .!
		p
			| b. I&apos;ll
			input(size='10', name='q3p')
			| the check with my credit card and you can give me your part in cash.
		table(cellspacing='0', cellpadding='0', bgcolor='#ffbc90')
			tr
				td eat
				td stay
				td pay
				td keep
			tr
				td eat up
				td stay up
				td pay up
				td keep up
		center
			button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
