div#U2B
	script.
		unitans.U2B = {
			q1a:'2',
			q1b:'1',
			q1c:'3',
			q1d:'2',
			q1e:'3',
			q1f:'1',
			q1g:'2',
			q1h:'1',
			q2a:'take',
			q2b:'make',
			q2c:'do',
			q3a:'build on',
			q3b:'build up',
			q3c:'at home',
			q3d:'in ruins',
			q3e:'foundation',
			q3f:'go through the roof',
			q3g:'open doors',
			q3h:'key'
		}
	#t0
		b.u3tit Home Alone
		p
			b.u3 Houses
	p
		form#t1
			b 1. Collocations
	p
		| Complete these sentences using the following words:
	p
		ol
			li
				| I decided to stop work and  
				select(name='q1a')
					option(value='x')
						| Choose Answer
					option(value='1')
						| take
					option(value='2')
						| make
					option(value='3')
						| do
				| some coffee.
	p
		li
			| It&apos;s a big job, it will  
			select(name='q1b')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| them a long time to finish.
	p
		li
			| I never have time to  
			select(name='q1c')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| the housework.
	p
		li
			| Don&apos;t  
			select(name='q1d')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| a mess in the kitchen. I&apos;ve just cleaned it.
	p
		li
			| My brother wants to  
			select(name='q1e')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| the design of our new web page.
	p
		li
			| Excuse me. Can you  
			select(name='q1f')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| a picture of us in front of this statue?
	p
		li
			| They are going to  
			select(name='q1g')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| a garden in front of the house.
	p
		li
			| I&apos;d like to  
			select(name='q1h')
				option(value='x')
					| Choose Answer
				option(value='1')
					| take
				option(value='2')
					| make
				option(value='3')
					| do
			| advantage of the vacations to finish my studies.
	p
		center
			button.eval(data-target='t1') Check answers
		form#t2
	p
		b
			| 2. Now complete this table by typing the correct verb into the box: do, make, or take.
	p
		table(cellpadding='5', bgcolor='#ffbc90')
			tr
				td
					input(size='8', name='q2a')
					|  time, a picture, advantage of something
	p
		input(size='8', name='q2b')
		|  a cup of coffee, a mess, a garden/a physical object
	p
		input(size='8', name='q2c')
		|  work/housework, the design of something
	p
		center
			button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Metaphors related to houses.
		p
			| Use these house related words to complete the sentences by clicking and dragging them to the correct position.
		p
			ol
				li
					| Use your previous experience. 
					input(size='6', name='q3a')
					|  what you know. It&apos;s easier than starting from the beginning.
		p
			li
				| They started with nothing but have managed to 
				input(size='6', name='q3b')
				|  a succesful business.
		p
			li
				| I love working here. I really feel 
				input(size='6', name='q3c')
				|  in this job.
		p
			li
				| After the scandal his career was 
				input(size='6', name='q3d')
				| .
		p
			li
				| What we have done so far is an excellent 
				input(size='6', name='q3e')
				|  to build on in the future.
		p
			li
				| After the economic crisis they expect interest rates to 
				input(size='6', name='q3f')
				| .
		p
			li
				| Her reputation will  
				input(size='6', name='q3g')
				|  for her. I&apos;m sure she&apos;ll get a job quickly and easily.
		p
			li
				| I asked him for advice and he said that hard work was the 
				input(size='6', name='q3h')
				|  to success.
		p
			table(cellpadding='5', cellspacing='5', bgcolor='#ffbc90')
				tr
					td foundation
					td in ruins
					td build on
					td key
				tr
					td at home
					td build up
					td open doors
					td go through the roof
		p
			center
				button.eval(data-target='t3') Check answers
	#z1
	#z2
	#z3
	#z4
