div#U3D
	script.
		unitans.U3D = {
			q1a:'9',
			q1b:'3',
			q1c:'6',
			q1d:'2',
			q1e:'8',
			q1f:'4',
			q1g:'7',
			q1h:'5',
			q1i:'1',
			q2a:'7',
			q2b:'5',
			q2c:'8',
			q2d:'2',
			q2e:'1',
			q2f:'4',
			q2g:'6',
			q2h:'3',
			q3a:'crutches',
			q3b:'stitches',
			q3c:'joints',
			q3d:'pills',
			q3e:'blood',
			q3f:'spine',
			q3g:'brain',
			q3h:'band-aid',
			q3i:'injection',
			q3j:'sling',
			q3k:'veins',
			q3l:'ointment',
			q3m:'bones',
			q3n:'nerve',
			q4a:'blisters',
			q4b:'cut',
			q4c:'bruises',
			q4d:'sting',
			q4e:'fracture',
			q4f:'bite',
			q4g:'itch',
			q4h:'burn',
			q4i:'sprained',
		}
	b.u3tit Parts of the body
	p
		form#t1
			b 1.Here are some body parts. Can you match them with their definition?
	p
		ol
			li
				select(name='q1a')
					option(value='x')
						| Choose Answer
					option(value='1')
						| blood
					option(value='2')
						| joint
					option(value='3')
						| bones
					option(value='4')
						| nerve
					option(value='5')
						| spine
					option(value='6')
						| veins
					option(value='7')
						| brain
					option(value='8')
						| skull
					option(value='9')
						| skin
				| The natural covering of your body
	p
		li
			select(name='q1b')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The hard white parts inside your body that form your skeleton
	p
		li
			select(name='q1c')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The thin tubes in your body that carry blood to the heart
	p
		li
			select(name='q1d')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| A part of your body where two bones meet, like your elbow, or your knee, and that you can bend
	p
		li
			select(name='q1e')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The bony part of your head that is around your brain
	p
		li
			select(name='q1f')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| A long thin fiber which sends messages between your brain and other parts of the body
	p
		li
			select(name='q1g')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The large organ inside your head that you think with
	p
		li
			select(name='q1h')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The long line of bones down your back
	p
		li
			select(name='q1i')
				option(value='x')
					| Choose Answer
				option(value='1')
					| blood
				option(value='2')
					| joint
				option(value='3')
					| bones
				option(value='4')
					| nerve
				option(value='5')
					| spine
				option(value='6')
					| veins
				option(value='7')
					| brain
				option(value='8')
					| skull
				option(value='9')
					| skin
			| The red liquid inside your body that you can see if you cut yourself
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Here are some more words related to medicine. Match them with the picture.
		p
			table(cellspacing='5', cellpadding='5', width='450')
				tr
					td(colspan='4')
						img(src='img/u3b.jpg')
				tr
					td
						select(name='q2a')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2b')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2c')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2d')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
				tr
					td(colspan='4')
						img(src='img/u3c.jpg')
				tr
					td
						select(name='q2e')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2f')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2g')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
					td
						select(name='q2h')
							option(value='x')
								| Answer
							option(value='1')
								| medicine
							option(value='2')
								| injection
							option(value='3')
								| pill
							option(value='4')
								| ointment
							option(value='5')
								| band-aid
							option(value='6')
								| sling
							option(value='7')
								| stitches
							option(value='8')
								| crutches
		center
			button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Complete these sentences with words from exercises 1 and 2.
		p
			ol
				li
					| Because I broke my leg I had to walk on 
					sub c
					input(size='10', name='q3a')
					| .
		p
			li
				| James cut his hand badly on some glass, so he had to have 10 
				sub s
				input(size='10', name='q3b')
				| .
		p
			li
				| As people get older, they have more and more difficulty in moving their 
				sub j
				input(size='10', name='q3c')
				| .
		p
			li
				| The headache was so bad that I had to take 2 
				sub p
				input(size='10', name='q3d')
				| instead of one.
		p
			li
				| Because of the accident she lost liters of 
				sub b
				input(size='10', name='q3e')
				| .
		p
			li
				| If you have back problems, you should do some yoga. It helps straighten the 
				nobr
					sub s
					input(size='10', name='q3f')
				| .
		p
			li
				| Think before you answer the question! Use your 
				sub b
				input(size='10', name='q3g')
				| .
		p
			li
				| For small cuts, I usually cover them with a 
				sub b
				input(size='10', name='q3h')
				| .
		p
			li
				| The doctor used a long, dangerous-looking syringe to give him the 
				sub i
				input(size='10', name='q3i')
				| .
		p
			li
				| When I broke my arm I had to wear it in a 
				sub s
				input(size='10', name='q3j')
				| for 3 weeks.
		p
			li
				| Blood flows through the 
				sub v
				input(size='10', name='q3k')
				| .
		p
			li
				| The doctor gave her some special 
				sub o
				input(size='10', name='q3l')
				| in a tube for the burns.
		p
			li
				| Children should drink lots of milk, because the calcium will help them develop strong 
				nobr
					sub b
					input(size='10', name='q3m')
				| .
		p
			li
				| If you destroy a 
				sub n
				input(size='10', name='q3n')
				| in your body, you can&apos;t feel anything in that part.
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			b
				| 4. Here are some words and their definitions. Use the words to complete the sentences below.
		p
			table(cellspacing='5', cellpadding='5', width='480', bgcolor='#ffbc90')
				tr
					td blister (n and v)
					td
						| a painful swelling on the surface of the skin, often caused by the skin rubbing against a hard surface.
				tr
					td bruise (n and v)
					td a purple mark on the body, caused by something hitting hard against the body.
				tr
					td burn (n and v)
					td a red mark on the skin caused by something very hot, like a fire.
				tr
					td sprain (n and v)
					td
						| the injury caused by accidentally twisting a part of the body, like a wrist, ankle or hip.
				tr
					td fracture (n and v)
					td a light crack or break in a bone.
				tr
					td sting (n and v)
					td a sharp pain on your skin, caused by an insect, like a bee.
				tr
					td itch (n and v)
					td an unpleasant feeling on a part of the skin which makes you want to scratch.
				tr
					td bite (n and v)
					td a mark on your body caused by an animal or insect biting you.
				tr
					td cut (n and v)
					td an open line on your body caused by a sharp instrument, and which bleeds.
		p
			ol
				li
					| If your shoes are too tight this can lead to 
					input(size='5', name='q4a')
				li
					| The 
					input(size='5', name='q4b')
					|  on my knee needed ten stitches
				li
					| Because of the fall she was covered with 
					input(size='5', name='q4c')
				li
					| Watch out for the bee; it might 
					input(size='5', name='q4d')
					|  you!
				li
					| The 
					input(size='5', name='q4e')
					|  in her hip bone was caused by the fall.
				li
					| The dog 
					input(size='5', name='q4f')
					|  resulted in a nasty infection
				li
					| Wool sweaters always make my skin 
					input(size='5', name='q4g')
				li
					| This 
					input(size='5', name='q4h')
					|  on my hand was caused by ironing in a hurry.
				li
					| A fall while playing tennis can result in a 
					input(size='5', name='q4i')
					|  ankle.
		p
			center
				table(cellpadding='5', cellspacing='5', bgcolor='#ffbc90', width='300')
					tr
						td cut
						td itch
						td bruises
					tr
						td bite
						td sting
						td blisters
					tr
						td burn
						td sprained
						td fracture
				p
					button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
