div#U4A
	script.
		unitans.U4A = {
			q1a:'Gloria has lived in Australia since 1974',
			q1b:'Ruth has known her sister for a few months',
			q1c:'They have spoken a lot since Ruth found Ted',
			q1d:'The sisters haven\'t seen each other in over fifty years',
			q1e:'Gloria has visited Bristol six times since she started searching for her',
			q2a:'2',
			q3a:'1',
			q3b:'2',
			q3c:'1',
			q3d:'2',
			q3e:'2',
			q3f:'1',
			q3g:'2',
			q3h:'1',
			q4a:'think',
			q4b:'fell',
			q4c:'forgot',
			q4d:'though',
			q4e:'felt',
			q4f:'seen',
			q4g:'taught'
		}
	#t0
		b.u3tit Controversy
		p
			b.u3
				i For
				|  and 
				i Since
	p
		form#t1
			b 1.Put the words in order to make sentences.
	p
		ol
			li
				| has lived since 1974 Gloria in Australia.
				br
				input(size='50', name='q1a')
				| .
	p
		li
			| known Ruth for a has sister her months few.
			br
			input(size='50', name='q1b')
			| .
	p
		li
			| a lot They spoken have since Ted Ruth found
			br
			input(size='60', name='q1c')
			| .
	p
		li
			| each other in haven&apos;t The fifty sisters seen over years.
			br
			input(size='80', name='q1d')
			| .
	p
		li
			| since she Gloria has visited six Bristol started searching her for times.
			br
			input(size='80', name='q1e')
			| .
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. What is the difference between 
				i for
				|  and 
				i since
				| ? Choose the correct possibility below.
		p
			input(type='radio', name='q2a', value='1', checked='')
			|  Use for + recent actions. Use since + actions that happened a long time ago
		p
			input(type='radio', name='q2a', value='2')
			|  Use for + a period of time. Use since + a point in time when an action starts
		p
			input(type='radio', name='q2a', value='3')
			|  Use for + long actions. Use since + short actions
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Complete the following questions with either 
				i for
				|  or 
				i since
				| .
		p
			ol
				li
					| I haven&apos;t been to the movies  
					select(name='q3a')
						option(value='x')
							| Choose Answer
						option(value='1')
							| for
						option(value='2')
							| since
					| ages.
		p
			li
				| They&apos;ve lived in the same house  
				select(name='q3b')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| they got married.
		p
			li
				| We&apos;ve been students together  
				select(name='q3c')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| a couple of weeks.
		p
			li
				| He&apos;s had the same job  
				select(name='q3d')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| 1982.
		p
			li
				| I haven&apos;t been to that restaurant  
				select(name='q3e')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| the last time you were here.
		p
			li
				| I feel really tired. I&apos;ve been working  
				select(name='q3f')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| too long.
		p
			li
				| He&apos;s been in the meeting  
				select(name='q3g')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| 2:30 p.m.
		p
			li
				| They haven&apos;t seen each other  
				select(name='q3h')
					option(value='x')
						| Choose Answer
					option(value='1')
						| for
					option(value='2')
						| since
				| months.
		p
			center
				button.eval(data-target='t3') Check answers
	#z1
	#z2
	#z3
	#z4
