div#U4C
	script.
		unitans.U4C = {
			q1a:'1',
			q1b:'1',
			q1c:'1',
			q2a:'3',
			q3a:'d',
			q3b:'e',
			q3c:'a',
			q3d:'c',
			q3e:'b',
			q3f:'h',
			q3g:'g',
			q3h:'f',
			q4a:'think',
			q4b:'fell',
			q4c:'forgotten',
			q4d:'thought',
			q4e:'felt',
			q4f:'seen',
			q4g:'taught'
		}
	#t0
		b.u3tit Controversy
		p
			b.u3
				i Since
				| , 
				i then
				|  + Present Perfect
	p
		form#t1
			b
				| 1. Look at these examples of 
				i since, then.
				|  What does then refer to, in each case?
	p
		ol
			li (Tasmanian Tiger) Since then there have been many eyewitness reports
	input(type='radio', name='q1a', value='1', checked='')
	| early in the century
	br
	input(type='radio', name='q1a', value='2', checked='')
	| 65 million years ago
	br
	input(type='radio', name='q1a', value='3', checked='')
	| 1936
	p
		li (Pterosaurs) Since then there have been a surprising number of reports
	input(type='radio', name='q1b', value='1', checked='')
	| early in the century
	br
	input(type='radio', name='q1b', value='2', checked='')
	| 65 million years ago
	br
	input(type='radio', name='q1b', value='3', checked='')
	| 1936
	p
		li
			| (Mokele-mbembe) The Central African forest has remained relatively unchanged since then.
	input(type='radio', name='q1c', value='1', checked='')
	| early in the century
	br
	input(type='radio', name='q1c', value='2', checked='')
	| 65 million years ago
	br
	input(type='radio', name='q1c', value='3', checked='')
	| 1936
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. What is the tense of the verb in the sentences with 
				i since, then
				| ?
		p
			input(type='radio', name='q2a', value='1', checked='')
			|  Past Perfect
		p
			input(type='radio', name='q2a', value='2', checked='')
			|  Past Simple
		p
			input(type='radio', name='q2a', value='3', checked='')
			|  Present Perfect
		p
			input(type='radio', name='q2a', value='4', checked='')
			|  Present Simple
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Match the two halves of each sentence.
		table(cellpadding='', cellspacing='5')
			tr
				td
					| 1.I stopped smoking last year,
					br
					input(size='1', name='q3a')
				td a) since then we have been going out together.
			tr
				td
					| 2.I first went to London four years ago,
					br
					input(size='1', name='q3b')
				td b) since then I have seen it four times.
			tr
				td
					| 3.I met Brenda last summer,
					br
					input(size='1', name='q3c')
				td c) since then I have had no reply.
			tr
				td
					| 4.I wrote to you two months ago,
					br
					input(size='1', name='q3d')
				td d) since then I haven&apos;t smoked a single cigarette.
			tr
				td
					| 5.I first saw this movie in 1990,
					br
					input(size='1', name='q3e')
				td e) since then I have been three times.
			tr
				td
					| 6.I gave up meat when I was in my teens,
					br
					input(size='1', name='q3f')
				td f) since then I&apos;ve never been out of work
			tr
				td
					| 7.I wrote my first book 10 years ago,
					br
					input(size='1', name='q3g')
				td g) since then I have written two others.
			tr
				td
					| 8.I did a computer course 5 years ago,
					br
					input(size='1', name='q3h')
				td h) since then I have eaten fruit only.
		center
			button.eval(data-target='t3') Check answers
		p
	#z1
	#z2
	#z3
	#z4
