div#U5B
	script.
		unitans.U5B = {
			q1a:'1',
			q1b:'1',
			q1c:'1',
			q1d:'1',
			q1e:'1',
			q1f:'1',
			q1g:'1',
			q1h:'1',
			q2a:'1',
			q2b:'2',
			q2c:'1',
			q2d:'1',
			q2e:'1',
			q2f:'2',
			q2g:'2',
			q2h:'1',
			q3a:'Guests have to check out at 12:00',
			q3b:'Only staff members can use this elevator',
			q3c:'You mustn\'t feed the penguins',
			q3d:'Visitors are not allowed to stay later than 10:00 p.m.',
			q3e:'Children under 12 are not required to pay',
			q3f:'Students are not allowed to use dictionaries during the exam',
			q3g:'Americans don\'t have to carry identification',
			q3h:'You are not allowed to take pictures here'
		}
		//z4.innerHTML="Suggested Answers:<p>1 You are not allowed/permitted to light fires here.<br> You can't / musn't light fires here.<p>  2 You are not allowed/permitted to bring your dog here.<br>You can't / musn't bring your dog here.<p> 3 You are not allowed/permitted to ride bicycles here.<br>You can't / musn't ride bicycles here. <p>4 You are not allowed/permitted to drink the water here.<br>You can't / mustn't drink the water here. <p>5 You are not allowed/permitted to go horseback riding here.<br>You can't / mustn't go horseback riding here. <p>6 You are not allowed/permitted to park here.<br>You can't / musn't park here. <p>7 You are not allowed/permitted to camp here.<br>You can't / mustn't camp here. <p>8 You are not allowed/permitted to take photos here.<br>You can't / musn't take photos here.<p> "
	#t0
		b.u3tit Best Days of Your Life
		p
			b.u3 Obligation, permission, no obligation
	p
		form#t1
			b
				| 1. Decide which sentences in each pair is correct, according to the text &quot;The House from Hell&quot; (unit 2).
	p
		table(cellspacing='10', cellpadding='0', width='600')
			ol
				tr
					td
						| 1 
						input(type='radio', name='q1a', value='1', checked='')
						| Participants are required to stay in five nights a week.
					td
						input(type='radio', name='q1a', value='0')
						| Participants are allowed to stay in five nights a week.
				tr
					td
						| 2 
						input(type='radio', name='q1b', value='1', checked='')
						| Their loved ones are allowed to visit them.
					td
						input(type='radio', name='q1b', value='0')
						| Their loved ones have to visit them.
				tr
					td
						| 3 
						input(type='radio', name='q1c', value='1', checked='')
						| Their loved ones are allowed to stay the night.
					td
						input(type='radio', name='q1c', value='0')
						| Their loved ones have to stay the night.
				tr
					td
						| 4 
						input(type='radio', name='q1d', value='1', checked='')
						| The participants are required to bring five items with them.
					td
						input(type='radio', name='q1d', value='0')
						| The participants are permitted to bring five items with them.
				tr
					td
						| 5 
						input(type='radio', name='q1e', value='1', checked='')
						| They are not allowed to spend more than $400 a week.
					td
						input(type='radio', name='q1e', value='0')
						| They don&apos;t have to spend more than $400 a week.
				tr
					td
						| 6 
						input(type='radio', name='q1f', value='1', checked='')
						| They mustn&apos;t pay rent.
					td
						input(type='radio', name='q1f', value='0')
						| They don&apos;t have to pay rent.
				tr
					td
						| 7 
						input(type='radio', name='q1g', value='1', checked='')
						| They have to complete certain jobs.
					td
						input(type='radio', name='q1g', value='0')
						| They are allowed to complete certain jobs.
				tr
					td
						| 8 
						input(type='radio', name='q1h', value='1', checked='')
						| If they don&apos;t complete the jobs, they can pay a fine.
					td
						input(type='radio', name='q1h', value='0')
						| If they don&apos;t complete the jobs, they have to pay a fine.
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. Match the sentence on the left with the sentence on the right that is most similar in meaning.
			table(cellspacing='8', cellpadding='0', width='600')
				tr
					td 1&#x9;You don&apos;t have to pay.
					td
						input(type='radio', name='q2a', value='1', checked='')
						|  You mustn&apos;t pay.
						br
						input(type='radio', name='q2a', value='2', checked='')
						|   You are not required to pay.
						br
						input(type='radio', name='q2a', value='3', checked='')
						|   You are not allowed to pay.
				tr
				tr
					td 2&#x9;You mustn&apos;t talk.
					td
						input(type='radio', name='q2b', value='1', checked='')
						|   You don&apos;t have to talk.
						br
						input(type='radio', name='q2b', value='2', checked='')
						|  You are not allowed to talk.
						br
						input(type='radio', name='q2b', value='3', checked='')
						|  You don&apos;t need to talk.
				tr
					td 3&#x9;You are allowed to bring a friend.
					td
						input(type='radio', name='q2c', value='1', checked='')
						|  You can bring a friend.
						br
						input(type='radio', name='q2c', value='2', checked='')
						|  You have to bring a friend.
						br
						input(type='radio', name='q2c', value='3', checked='')
						|  You can&apos;t bring a friend.
				tr
					td 4&#x9;You are required to wear a tie.&#x9;
					td
						input(type='radio', name='q2d', value='1', checked='')
						|  You are permitted to wear a tie.
						br
						input(type='radio', name='q2d', value='2', checked='')
						|  You can wear a tie.
						br
						input(type='radio', name='q2d', value='3', checked='')
						|  You have to wear a tie.
				tr
					td 5&#x9;You can stay the night.&#x9;
					td
						input(type='radio', name='q2e', value='1', checked='')
						|  You are allowed to stay the night.
						br
						input(type='radio', name='q2e', value='2', checked='')
						|  You are required to stay the night.
						br
						input(type='radio', name='q2e', value='3', checked='')
						|  You have to stay the night.
				tr
					td 6&#x9;You can&apos;t smoke here.
					td
						input(type='radio', name='q2f', value='1', checked='')
						|  You aren&apos;t required to smoke here.
						br
						input(type='radio', name='q2f', value='2', checked='')
						|  You aren&apos;t allowed to smoke here.
						br
						input(type='radio', name='q2f', value='3', checked='')
						|  You don&apos;t have to smoke here.
				tr
					td 7&#x9;You don&apos;t have to write.
					td
						input(type='radio', name='q2g', value='1', checked='')
						|  You aren&apos;t allowed to write.
						br
						input(type='radio', name='q2g', value='2', checked='')
						|  You aren&apos;t required to write.
						br
						input(type='radio', name='q2g', value='3', checked='')
						|  You mustn&apos;t write.
				tr
					td 8&#x9;You aren&apos;t allowed to sing.
					td
						input(type='radio', name='q2h', value='1', checked='')
						|  You mustn&apos;t sing.
						br
						input(type='radio', name='q2h', value='2', checked='')
						|  You don&apos;t have to sing.
						br
						input(type='radio', name='q2h', value='3', checked='')
						|  You aren&apos;t required to sing.
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Rewrite each sentence using the word in (parentheses). The first one has been done for you as an example.
		p
			table(cellspacing='8', cellpadding='0', width='700')
				tr
					td  Original sentence
					td &#x9;Your Answer
				tr
					td
						span#m1 You can&apos;t smoke here. (allowed)
					td
						span#m1 You&apos;re not allowed to smoke here.
				tr
					td Guests are required to check out at 12:00. (have)
					td
						input(size='50', name='q3a')
						| .
				tr
					td Only staff members are permitted to use this elevator. (can)
					td
						input(size='50', name='q3b')
						| .
				tr
					td You are not allowed to feed the penguins. (must)
					td
						input(size='50', name='q3c')
						| .
				tr
					td Visitors cannot stay later than 10:00 p.m. (allowed)
					td
						input(size='50', name='q3d')
						| .
				tr
					td Children under 12 don&apos;t have to pay. (required)&#x9;
					td
						input(size='50', name='q3e')
						| .
				tr
					td Students must not use dictionaries during the exam. (allowed)
					td
						input(size='50', name='q3f')
						| .
				tr
					td Americans are not required to carry identification. (have)
					td
						input(size='50', name='q3g')
						| .
				tr
					td You are not permitted to take pictures here. (allowed)
					td
						input(size='50', name='q3h')
						| .
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4.generic(data-generic="Suggested Answers:<p>1 You are not allowed/permitted to light fires here.<br> You can't / musn't light fires here.<p>  2 You are not allowed/permitted to bring your dog here.<br>You can't / musn't bring your dog here.<p> 3 You are not allowed/permitted to ride bicycles here.<br>You can't / musn't ride bicycles here. <p>4 You are not allowed/permitted to drink the water here.<br>You can't / mustn't drink the water here. <p>5 You are not allowed/permitted to go horseback riding here.<br>You can't / mustn't go horseback riding here. <p>6 You are not allowed/permitted to park here.<br>You can't / musn't park here. <p>7 You are not allowed/permitted to camp here.<br>You can't / mustn't camp here. <p>8 You are not allowed/permitted to take photos here.<br>You can't / musn't take photos here.<p>")
		p
			b 4. Write one sentence for each of these signs.
		p
			center
				img(src='img/u5c.jpg')
		p
			| For example
		p
			span#m1
				| You&apos;re not allowed to smoke here. or 
				br
				li
					| You&apos;re not permitted to smoke here. or 
					br
				li You can&apos;t smoke here.
		p
			input(size='45', name='q4a')
			| .
			br
			input(size='45', name='q4b')
			| .
			br
			input(size='45', name='q4c')
			| .
			br
			input(size='45', name='q4d')
			| .
			br
			input(size='45', name='q4e')
			| .
			br
			input(size='45', name='q4f')
			| .
			br
			input(size='45', name='q4g')
			| .
			br
			input(size='45', name='q4h')
			| .
		p
			| Then look at some suggested answers.
		p
			center
				button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
