div#U6B
	script.
		unitans.U6B = {
			q1a:'d',
			q1b:'b',
			q1c:'a',
			q1d:'c',
			q1e:'e',
			q2a:'2',
			q2b:'4',
			q2c:'3',
			q2d:'1',
			q3a:'1',
			q3b:'0',
			q3c:'1',
			q3d:'0',
			q3e:'0',
			q3f:'1',
			q3g:'1',
			q3h:'0',
			q4a:'0',
			q4b:'1',
			q4c:'0',
			q4d:'1'
		}
	#t0
		b.u3tit Screen Test
		p
			b.u3 Movie related
			br
	p
		form#t1
			b
				| 1. This is a poster for a recent movie. Read the review quickly and complete the missing parts of the poster.
	p
		center
			img(src='img/u6b1.jpg')
			p.contenido
				| Based on the novel by 
				input(size='1', name='q1a')
				br
				| Directed by 
				input(size='1', name='q1b')
				br
				| Starring 
				input(size='1', name='q1c')
				|  as Frank&apos;s father. 
				br
				| and 
				input(size='1', name='q1d')
				|  as Frank&apos;s mother 
				br
				| Music by 
				input(size='1', name='q1e')
	center
		button.eval(data-target='t1') Check answers
	form#t2
		p
			b Angela&apos;s Ashes
		p
			| Based on the Pulitzer-prize winning novel by Frank McCourt, Angela&apos;s Ashes is the latest movie by director Alan Parker (Evita, Mississippi Burning). Set in Ireland in the 30&apos;s and 40&apos;s, the movie tells the story of Frank&apos;s childhood and adolescence in rural Ireland.
		p
			| The movie opens with Frank&apos;s family living in Brooklyn. When Frank&apos;s baby sister dies, the family decides to give up a poor and difficult life in America and return to Ireland.
		p
			| Parker&apos;s movie is faithful to the book, consisting of a series of episodes in Frank&apos;s life rather than a continuous narrative. Although it&apos;s a dramatic and moving story, it&apos;s told with humor and optimism. Robert Carlyle, who recently starred as the bad guy in the new James Bond movie, plays Frank&apos;s lovable but heavy-drinking father, and English actress Emily Watson plays his mother.
		p
			| Parker&apos;s movie is a classic &quot;rites of passage&quot; movie. In a key scene, Frank&apos;s father takes the boy to the pub for the first time, marking young Frank&apos;s acceptance into the adult world. The action is helped along by music from guitarist and composer John Williams.
		p
			| Angela&apos;s Ashes follows the recent trend of adapting successful novels for movies. But is it as good as the book? Parker wisely avoids the temptation to romanticize the family&apos;s difficult life, but he fails to recreate the atmosphere and spirit of McCourt&apos;s writing.
		p
			| Hollywood directors love successful novelists and pay millions to adapt their books for the screen. However, it can be extremely difficult to match the quality of prize-winning books like Frank McCourt&apos;s. Many people will enjoy Alan Parker&apos;s movie. But they would enjoy the book more.
		p
			b 2. Read the first part of the review again and put these events in order.
		p
			ul
				li
					| Frank&apos;s baby sister dies
					br
					input(size='2', name='q2a')
					p
						li
							| Frank goes to the pub with his father
							br
							input(size='2', name='q2b')
							p
								li
									| The family decides to go and live in Ireland
									br
									input(size='2', name='q2c')
									p
										li
											| Frank lives with his family in Brooklyn
											br
											input(size='2', name='q2d')
											p
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. True or false?
		p
			ol
				li
					| Frank McCourt&apos;s book won a prize.
					br
					input(type='radio', name='q3a', value='1', checked='')
					|  true  
					input(type='radio', name='q3a', value='0')
					| false
					p
						li
							| The movie is set in Brooklyn.
							br
					input(type='radio', name='q3b', value='1', checked='')
					| true  
					input(type='radio', name='q3b', value='0')
					| false
					p
						li
							| Frank goes to live in a town in Ireland.
							br
					input(type='radio', name='q3c', value='1', checked='')
					| true  
					input(type='radio', name='q3c', value='0')
					| false
					p
						li
							| The movie is very different from the book.
							br
					input(type='radio', name='q3d', value='1', checked='')
					| true  
					input(type='radio', name='q3d', value='0')
					| false
					p
						li
							| Robert Carlyle&apos;s last movie was in the role of James Bond.
							br
					input(type='radio', name='q3e', value='1', checked='')
					| true  
					input(type='radio', name='q3e', value='0')
					| false
					p
						li
							| Alan Parker&apos;s movie is a good example of a particular type of movie.
							br
					input(type='radio', name='q3f', value='1', checked='')
					| true  
					input(type='radio', name='q3f', value='0')
					| false 
					p
						li
							| In the soundtrack, John Williams plays the guitar.
							br
					input(type='radio', name='q3g', value='1', checked='')
					| true  
					input(type='radio', name='q3g', value='0')
					| false 
					p
						li
							| Many writers pay money for their books to be made into movie.
							br
					input(type='radio', name='q3h', value='1', checked='')
					| true  
					input(type='radio', name='q3h', value='0')
					| false 
					p
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			b 4. The critic&apos;s opinions.
		p
			ol
				li
					| The writer thinks that the movie is more romantic than the book.
					br
					input(type='radio', name='q4a', value='1', checked='')
					| true  
					input(type='radio', name='q4a', value='0')
					| false
					p
						li
							| The writer says that adapting novels for the movies is big business.
							br
					input(type='radio', name='q4b', value='1', checked='')
					| true  
					input(type='radio', name='q4b', value='0')
					| false
					p
						li
							| The writer thinks that it&apos;s easy to make a good book into a good movie.
							br
					input(type='radio', name='q4c', value='1', checked='')
					| true  
					input(type='radio', name='q4c', value='0')
					| false
					p
						li
							| The writer thinks that the book is better than the movie.
							br
					input(type='radio', name='q4d', value='1', checked='')
					| true  
					input(type='radio', name='q4d', value='0')
					| false
		p
			center
				button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
