div#U6C
	script.
		unitans.U6C = {
			q1a:'d',
			q1b:'a',
			q1c:'e',
			q1d:'j',
			q1e:'f',
			q1f:'b',
			q1g:'h',
			q1h:'c',
			q1i:'g',
			q1j:'i',
			q2a:'role',
			q2b:'review',
			q2c:'scene',
			q2d:'cast',
			q2e:'soundtrack',
			q2f:'performance',
			q2g:'screenplay',
			q2h:'plot',
			q2i:'director',
			q2j:'actress',
			q3a:'film',
			q3b:'director',
			q3c:'actor',
			q3d:'cast',
			q3e:'performance',
			q3f:'role',
			q3g:'screenplay',
			q3h:'soundtrack',
			q4a:'j',
			q4b:'h',
			q4c:'a',
			q4d:'b',
			q4e:'d',
			q4f:'c',
			q4g:'f',
			q4h:'e',
			q4i:'g',
			q4j:'i',
			q5a:'1',
			q5b:'6',
			q5c:'8',
			q5d:'5',
			q5e:'2',
			q5f:'3',
			q5g:'4',
			q5h:'7',
			q6a:'c',
			q6b:'f',
			q6c:'g',
			q6d:'e',
			q6e:'b',
			q6f:'h',
			q6g:'a',
			q6h:'d',
		}
	#t0
		b.u3tit Screen Test
		p
			b.u3 Movie related vocabulary
			br
	p
		form#t1
			b 1. Match the vocabulary to the definitions.
	p
		table(cellpadding='0', cellspacing='5')
			tr
				td a) scene
				td
					| 1 
					input(size='1', name='q1a')
					|  The music for a movie
			tr
				td b) cast
				td
					| 2 
					input(size='1', name='q1b')
					|  A series of actions in the same place
			tr
				td c) screenplay
				td
					| 3 
					input(size='1', name='q1c')
					|  The story of the movie
			tr
				td d) soundtrack
				td
					| 4 
					input(size='1', name='q1d')
					|  an article explaining a critic&apos;s opinion of the movie
			tr
				td e) plot
				td
					| 5 
					input(size='1', name='q1e')
					|  the part that someone plays in the movie
			tr
				td f) role
				td
					| 6 
					input(size='1', name='q1f')
					|  all of the people who act in the movie
			tr
				td g) director
				td
					| 7 
					input(size='1', name='q1g')
					|  a woman who acts in a movie
			tr
				td h) actress
				td
					| 8 
					input(size='1', name='q1h')
					|    the dialog for the movie
			tr
				td i) performance
				td
					| 9 
					input(size='1', name='q1i')
					|  the person who makes the movie
			tr
				td j) review
				td
					| 10 
					input(size='1', name='q1j')
					|  the acting of an actor in a movie
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2.Complete the sentences.
		p
			ol
				li
					| The movie stars Al Pacino in the 
					input(size='9', name='q2a')
					|  of a corrupt policeman.
				li
					| I read a good 
					input(size='9', name='q2b')
					|  of the new Stephen Spielberg movie yesterday.
				li
					| Did you like the part where she meets her sister for the first time - that&apos;s my favorite 
					input(size='9', name='q2c')
					| .
				li
					| There are lots and lots of really famous people in the movie - it&apos;s a great 
					input(size='9', name='q2d')
					| .
				li
					| I really liked the 
					input(size='9', name='q2e')
					| . In fact it was so good that after watching the movie I went out and bought the CD.
				li
					| She won an Oscar for her 
					input(size='9', name='q2f')
					|  as a musician who falls seriously ill.
				li
					| The 
					input(size='9', name='q2g')
					|  wasn&apos;t very good. Most of the time I knew what the characters were going to say before they said it.
				li
					| The ending of the movie really surprised me - it was a really clever 
					input(size='9', name='q2h')
					| .
				li
					| He isn&rsquo;t a very famous
					input(size='9', name='q2i')
					| but I like the movies he makes.
				li
					| My favorite actor is Dustin Hoffman and my favorite 
					input(size='9', name='q2j')
					|  is Uma Thurman.
		p
			center
				table(cellpadding='5', cellspacing='5', bgcolor='#ffbc90', width='400')
					tr
						td scene
						td review
						td director
						td screenplay
						td soundtrack
					tr
						td cast
						td role
						td actress
						td plot
						td performance
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Here&apos;s the review again from exercise 1. Type in the missing words. See the first letter of the missing words.
		p
			| &quot;Trainspotting&quot; is the new 
			sub f
			input(size='3', name='q3a')
			|  by 
			sub d
			input(size='7', name='q3b')
			|  Danny Boyle and stars Scottish
			sub a
			input(size='4', name='q3c')
			|  Ewan McGregor as Renton. Set in Edinburgh it tells the story of a group of 
			| young drug addicts. The  
			sub c
			input(size='3', name='q3d')
			|  also includes Robert Carlyle who gives a powerful
			sub p
			input(size='10', name='q3e')
			|  as Begbie, Renton&apos;s violent and aggressive friend. Newcomer Kelly 
			| Macdonald is also convincing in the  
			nobr
				sub r
				input(size='3', name='q3f')
			|  of Diane, Renton&apos;s girlfriend. The
			sub s
			input(size='11', name='q3g')
			|  is based on the novel by Irving Walsh. The  
			sub s
			input(size='9', name='q3h')
			|  includes songs by
			| a number of different groups, including Blur and New Order.
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			b 4. Types of movies
		p
			| Match the types of movies with the descriptions.
		p
			table(cellpadding='5', cellspacing='5')
				tr
					td a) a horror movie
					td
						| 1. 
						input(size='1', name='q4a')
						|  a movie with lots of action, usually watched by both adults and children
				tr
					td b) a western
					td
						| 2. 
						input(size='1', name='q4b')
						|  a movie with songs and dancing
				tr
					td c) a cartoon
					td
						| 3. 
						input(size='1', name='q4c')
						|  a movie that frightens people. A Dracula movie for example
				tr
					td d) a science fiction movie
					td
						| 4. 
						input(size='1', name='q4d')
						|  a movie , usually set in North America ,about cowboys and Indians
				tr
					td e) a period movie
					td
						| 5. 
						input(size='1', name='q4e')
						|  this type of movie is usually set in the future- it might be about computers or space exploration for example
				tr
					td f) a comedy
					td
						| 6. 
						input(size='1', name='q4f')
						|  a movie that uses drawings and pictures instead of real people and places
				tr
					td g) a romance
					td
						| 7. 
						input(size='1', name='q4g')
						|  a movie that makes you laugh
				tr
					td h) a musical
					td
						| 8. 
						input(size='1', name='q4h')
						|  this kind of movie is set in the past -the actors wear clothes typical of the period in which the movie takes place
				tr
					td i) a thriller
					td
						| 9. 
						input(size='1', name='q4i')
						|  a movie about relationships and love
				tr
					td j) an adventure movie
					td
						| 10. 
						input(size='1', name='q4j')
						|  a movie full of drama  , which usually has a complicated plot and a surprising ending
		p
			center
				button.eval(data-target='t4') Check answers
	form#t5
		p
			b 5. What type of movies have these people been to see?
		p
			ol
				li
					| &quot;The review I read said it was really scary but I wasn&apos;t very frightened. Apart from the bit where he goes into the cemetery.&quot;
					br
					select(name='q5a')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;I think it&apos;s the funniest movie this year - I didn&apos;t stop laughing.&quot;
					br
					select(name='q5b')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;The ending was incredible. When she tells him that she was the killer.&quot;
					br
					select(name='q5c')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;It was great. It felt like you were actually living in the time of Shakespeare.&quot;
					br
					select(name='q5d')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;It&apos;s different from most of them because the town sheriff is a woman.&quot;
					br
					select(name='q5e')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;I like the story but it was very slow because of all the songs. It&apos;d be better to see it in a theater.&quot;
					br
					select(name='q5f')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;It really made me think about what life might be like in 50 years time, especially if scientists keep finding out more about genetics.&quot;
					br
					select(name='q5g')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
				li
					| &quot;It&apos;s a great story. They lose touch with each other and most of the movie is about the different lives that they live. Then right at the end of the movie they meet again, and you imagine that they&apos;ll stay together this time.&quot;
					br
					select(name='q5h')
						option(value='x')
							| Choose Answer
						option(value='1')
							| a horror movie
						option(value='2')
							| a western
						option(value='3')
							| a musical
						option(value='4')
							| a science fiction movie
						option(value='5')
							| a period movie
						option(value='6')
							| a comedy
						option(value='7')
							| a romance
						option(value='8')
							| a thriller
		p
			center
				button.eval(data-target='t5') Check answers
	form#t6
		p
			b
				| 6. Prepositions
				br
				| Match the two parts of each sentence.
		p
			table(cellpadding='5', cellspacing='5')
				tr
					td a) It&apos;s based on
					td
						| 1. 
						input(size='1', name='q6a')
						|  in Ireland
				tr
					td b) The latest movie by
					td
						| 2. 
						input(size='1', name='q6b')
						|  of adapting books for movies
				tr
					td c) It&apos;s set
					td
						| 3. 
						input(size='1', name='q6c')
						|  as Frank&apos;s father
				tr
					td d) It tells the story
					td
						| 4. 
						input(size='1', name='q6d')
						|  Frank&apos;s family living in Brooklyn
				tr
					td e) The movie opens with
					td
						| 5. 
						input(size='1', name='q6e')
						|  director Alan Parker
				tr
					td f) Angela&apos;s Ashes follows the recent trend
					td
						| 6. 
						input(size='1', name='q6f')
						|  guitarist John Williams
				tr
					td g) Its stars Robert Carlyle
					td
						| 7. 
						input(size='1', name='q6g')
						|  the novel by Frank McCourt
				tr
					td h) The movie has music by
					td
						| 8. 
						input(size='1', name='q6h')
						|  of Frank&apos;s childhood
		p
			center
				button.eval(data-target='t6') Check answers
	#z1
	#z2
	#z3
	#z4
	#z5
	#z6
