div#U7A
	script.
		unitans.U7A = {
			q1a:'2',
			q1b:'3',
			q1c:'1',
			q1d:'3',
			q1e:'2',
			q1f:'3',
			q1g:'1',
			q1h:'3',
			q1i:'2',
			q3a:'q3g',
			q4a:'think',
			q4b:'fell',
			q4c:'forgotten',
			q4d:'thought',
			q4e:'felt',
			q4f:'seen',
			q4g:'taught'
		}
	#t0
		b.u3tit Crime Doesn&apos;t Pay
		p
			b.u3 Steal, rob and burglarize
			br
	p
		form#t1
			b 1. Steal, rob or burglarize?
	p
		span#m1 Rob, steal
		|  and 
		span#m1 burglarize
		|  are all criminal actions.
	p
		b Steal
		| If you 
		span#m1
			b steal
		|  something, you take it:
	p
		li
			span#m1
				| Thieves broke into my car and 
				b stole
				|  the radio.
	p
		b Rob
		br
		| You use 
		span#m1
			b rob
		|  to talk about 
		b people
		|  and 
		b banks.
		br
		| If you 
		span#m1
			b rob
		|  a bank , you go in and steal money from it.
		br
		| If you 
		span#m1
			b rob
		|  a person, you steal something from that person.
	p
		li
			span#m1
				| A masked man 
				b robbed
				|  the bank in the high street and stole $500,000.
				br
				li
					| Someone 
					b robbed
					|  me when I was coming out of the subway.
	p
		b burglarize
		br
		| You use 
		span#m1
			b burglarize
		|  to talk about 
		b houses
		|  and 
		b offices.
		br
		| If you 
		span#m1
			b burglarize
		|  a 
		b house
		|  or 
		b office
		| , you go in and steal something.
	p
		li
			span#m1
				| My house was 
				b burglarized
				|  when I was on vacation.
	p
		| Choose the correct word to complete each sentence.
	p
		ol
			li
				| Someone tried to 
				select(name='q1a')
					option(value='x')
						| Choose Answer
					option(value='1')
						| burglarize
					option(value='2')
						| rob
					option(value='3')
						| steal
				| me on the subway.
	p
		li
			| The person behind me tried to
			select(name='q1b')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarize
				option(value='2')
					| rob
				option(value='3')
					| steal
			| my wallet from my back pocket.
	p
		li
			| Our house was
			select(name='q1c')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stolen
			| while we were out at work.
	p
		li
			| The burglars
			select(name='q1d')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stole
			| everything they could possibly sell.
	p
		li
			| My mother was
			select(name='q1e')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stolen
			| twice in the same day in Washington.
	p
		li
			| Someone pushed her to the ground and
			select(name='q1f')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stole
			| her handbag.
	p
		li
			| The office was
			select(name='q1g')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stolen
			| on the weekend.
	p
		li
			| Some very important documents were
			select(name='q1h')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stolen
			| .
	p
		li
			| The bank downtown was
			select(name='q1i')
				option(value='x')
					| Choose Answer
				option(value='1')
					| burglarized
				option(value='2')
					| robbed
				option(value='3')
					| stolen
			| this morning.
	p
		center
			button.eval(data-target='t1') Check answers
	#z1
	#z2
	#z3
	#z4
