div#U7B
	script.
		unitans.U7B = {
			q1a:'robbers',
			q1b:'stole',
			q1c:'robbery',
			q1d:'theft',
			q1e:'thieves',
			q1f:'steal',
			q1g:'burglarized',
			q1h:'burglars',
			q1i:'steal',
			q1j:'burglary',
			q1k:'burglaries',
			q2a:'c',
			q2b:'a',
			q2c:'h',
			q2d:'e',
			q2e:'d',
			q2f:'b',
			q2g:'g',
			q2h:'f',
			q4a:'hijacking',
			q4b:'hijacker',
			q4c:'kidnapping',
			q4d:'kidnapper',
			q4e:'mugging',
			q4f:'mugger',
			q4g:'murder',
			q4h:'murderer',
			q4i:'smuggling',
			q4j:'smuggler',
			q4k:'shoplifting',
			q4l:'shoplifter',
			q4m:'vandalism',
			q4n:'vandal',
			q5a:'broke',
			q5b:'broke',
			q5c:'broke',
			q5d:'broke',
			q5e:'broke'
		}
	#t0
		b.u3tit Crime Doesn&apos;t Pay
		p
			b.u3 Crimes and criminals
			br
	p
		form#t1
			b 1. Crimes and criminals
	p
		table(cellspacing='5', cellpadding='0', width='550', bgcolor='#ffbc90')
			tr
				td
					b verb
				td
					b criminal
				td
					b crime
			tr
				td burglarize
				td &#x9;burglar
				td &#x9;burglary (pl: burglaries)
			tr
				td rob (a bank)
				td &#x9;robber
				td &#x9;robbery
			tr
				td rob (a person)
				td &#x9;thief (pl: thieves)
				td &#x9;theft
			tr
				td steal (a thing)
				td &#x9;thief (pl: thieves)
				td &#x9;theft
	p
		b Complete the paragraphs with the correct form of words from the table:
	p
		ol
			li
				| Two armed 
				sub r
				input(size='5', name='q1a')
				|   walked into the bank just before closing time and  
				sub s
				input(size='5', name='q1b')
				|  $500,000 in cash. It was the second bank 
				sub r
				input(size='5', name='q1c')
				|   in the area in the last week.
	p
		li
			| Police are looking into the 
			sub t
			input(size='5', name='q1d')
			|   of two paintings from a New York art gallery. Detectives believe that the 
			sub t
			input(size='5', name='q1e')
			|   had inside help because they were able to break into the building and 
			sub s
			input(size='5', name='q1f')
			|   the paintings without setting off the alarms.
	p
		li
			| Our neighbors were 
			sub b
			input(size='5', name='q1g')
			|   on the weekend. Apparently the 
			sub b
			input(size='5', name='q1h')
			|   saw cartons of milk on the front doorstep and knew they weren&apos;t at home. They didn&apos;t 
			sub s
			input(size='5', name='q1i')
			|   very much, though, because the family keeps everything of value in a safe. We&apos;ve decided to have a  
			sub b
			input(size='5', name='q1j')
			|  alarm installed because there have been a number of 
			sub b
			input(size='5', name='q1k')
			|   in the neighborhood recently.
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Complete the definitions using the best word.
		p
			table(cellpadding='5', cellspacing='5')
				tr
					td
						| 1. A 
						input(size='1', name='q2a')
						|  has killed another person.
					td a) blackmailer
				tr
					td
						| 2. A 
						input(size='1', name='q2b')
						|  asks for money in exchange for not revealing private information.
					td b) kidnapper
				tr
					td
						| 3. A 
						input(size='1', name='q2c')
						|  deliberately destroys public or private property.
					td c) murderer
				tr
					td
						| 4. A 
						input(size='1', name='q2d')
						|  forces the pilot of a plane to fly to a different destination
					td d) smuggler
				tr
					td
						| 5. A 
						input(size='1', name='q2e')
						|  brings things into a country illegally
					td e) hijacker
				tr
					td
						| 6. A 
						input(size='1', name='q2f')
						|  holds another person in captivity and asks for money to let them go free.
					td f) mugger
				tr
					td
						| 7. A 
						input(size='1', name='q2g')
						| steals things from stores.
					td g) shoplifter
				tr
					td
						| 8. A 
						input(size='1', name='q2h')
						|  attacks people in the street in order to rob them.
					td h) vandal
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Complete the table. Use the exercises above to help you.
		p
			table(cellspacing='5', cellpadding='0', width='400', bgcolor='#ffbc90')
				tr
					td crime
					td criminal
					td verb
				tr
					td blackmail
					td blackmailer
					td blackmail
				tr
					td
						| 1 
						input(size='10', name='q4a')
					td
						input(size='10', name='q4b')
					td hijack
				tr
					td
						| 2 
						input(size='10', name='q4c')
					td
						input(size='10', name='q4d')
					td kidnap 
				tr
					td
						| 3 
						input(size='10', name='q4e')
					td
						input(size='10', name='q4f')
					td mug
				tr
					td
						| 4 
						input(size='10', name='q4g')
					td
						input(size='10', name='q4h')
					td murder 
				tr
					td
						| 5 
						input(size='10', name='q4i')
					td
						input(size='10', name='q4j')
					td smuggle
				tr
					td
						| 6 
						input(size='10', name='q4k')
					td
						input(size='10', name='q4l')
					td shoplift
				tr
					td
						| 7 
						input(size='10', name='q4m')
					td
						input(size='10', name='q4n')
					td vandalize
		p
			center
				button.eval(data-target='t3') Check answers
	form#t4
		p
			b 4. Which ONE word can complete all the sentences?
		p
			| Thieves 
			input(size='7', name='q5a')
			|   into my house.
			br
			| Our car 
			input(size='7', name='q5b')
			|   down on the way to the airport.
			br
			| The couple 
			input(size='7', name='q5c')
			|   up five years after getting married.
			br
			| Two prisioners 
			input(size='7', name='q5d')
			|   out of the prison.
			br
			| An arm 
			input(size='7', name='q5e')
			|   off the statue when they were moving it.
		p
			center
				button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
	#z5
