div#U7C
	script.
		unitans.U7C = {
			q1a:'1',
			q1b:'1',
			q2a:'the',
			q2b:'train',
			q2c:'was',
			q2d:'very',
			q2e:'slow',
			q2f:'she',
			q2g:'had',
			q2h:'come',
			q2i:'a',
			q2j:'long',
			q2k:'way',
			q2l:'she',
			q2m:'was',
			q2n:'going',
			q2o:'to',
			q2p:'Turkey',
			q2q:'she',
			q2r:'had',
			q2s:'arrived',
			q2t:'in',
			q2v:'Turkey',
			q2w:'nobody',
			q2x:'had',
			q2y:'checked',
			q2z:'her',
			q2za:'passport',
			q2zb:'everybody',
			q2zc:'spoke',
			q2zd:'English',
			q2ze:'nobody',
			q2zf:'had',
			q2zg:'heard',
			q2zh:'of',
			q2zi:'the',
			q2zj:'hotel',
			q2zk:'she',
			q2zl:'was',
			q2zm:'lost',
			q2zn:'she',
			q2zo:'had',
			q2zp:'got',
			q2zq:'on',
			q2zr:'the',
			q2zs:'wrong',
			q2zt:'train',
			q2zv:'she',
			q2zw:'had',
			q2zx:'missed',
			q2zy:'the',
			q2zz:'flight',
			q3a:'3g',
			q4a:'think',
			q4b:'fell',
			q4c:'forgotten',
			q4d:'thought',
			q4e:'felt',
			q4f:'seen',
			q4g:'taught'
		}
	#t0
		b.u3tit Crime Doesn&apos;t Pay
		p
			b.u3 Reporting thoughts
			br
	p
		form#t1
			| 1. Without looking at the text, decide which sentence is better.
	p
		ol
			li
				input(type='radio', name='q1a', value='1', checked='')
				| When she got to Torquay, she thought she was in Turkey.
				br
				input(type='radio', name='q1a', value='0')
				| When she got to Torquay, she thought she had been in Turkey.
	p
		li
			input(type='radio', name='q1b', value='1', checked='')
			| She thought she traveled through the Channel Tunnel.
			br
			input(type='radio', name='q1b', value='0')
			| She thought she had traveled through the Channel Tunnel.
	p
		center
			button.eval(data-target='t1') Check answers
	form#t2
		p
			| 2. Change these actual thoughts into reported thoughts.
		p
			ol
				li
					| &quot;The train is very slow.&quot;
					br
					| She thought 
					sub t
					input(size='5', name='q2a')
					sub t
					input(size='5', name='q2b')
					sub w
					input(size='5', name='q2c')
					sub v
					input(size='5', name='q2d')
					sub s
					input(size='5', name='q2e')
					| .
		p
			li
				| &quot;I have come a long way.&quot; 
				br
				| She thought 
				sub s
				input(size='5', name='q2f')
				sub h
				input(size='5', name='q2g')
				sub c
				input(size='5', name='q2h')
				sub a
				input(size='5', name='q2i')
				sub l
				input(size='5', name='q2j')
				sub w
				input(size='5', name='q2k')
				| .
		p
			li
				| &quot;I am going to Turkey.&quot; 
				br
				| She thought 
				sub s
				input(size='5', name='q2l')
				sub w
				input(size='5', name='q2m')
				sub g
				input(size='5', name='q2n')
				sub t
				input(size='5', name='q2o')
				sub T
				input(size='5', name='q2p')
				| .
		p
			li
				| &quot;I have arrived in Turkey.&quot; 
				br
				| She thought 
				sub s
				input(size='5', name='q2q')
				sub h
				input(size='5', name='q2r')
				sub a
				input(size='5', name='q2s')
				sub i
				input(size='5', name='q2t')
				sub T
				input(size='5', name='q2v')
				| .
		p
			li
				| &quot;Nobody has checked my passport.&quot; 
				br
				| She was surprised 
				sub n
				input(size='5', name='q2w')
				sub h
				input(size='5', name='q2x')
				sub c
				input(size='5', name='q2y')
				sub h
				input(size='5', name='q2z')
				sub p
				input(size='5', name='q2za')
				| .
		p
			li
				| &quot;Everybody speaks English.&quot;
				br
				|  She was surprised 
				sub e
				input(size='5', name='q2zb')
				sub s
				input(size='5', name='q2zc')
				sub E
				input(size='5', name='q2zd')
				| .
		p
			li
				| &quot;Nobody has heard of the hotel.&quot; 
				br
				| She was surprised 
				sub n
				input(size='5', name='q2ze')
				sub h
				input(size='5', name='q2zf')
				sub h
				input(size='5', name='q2zg')
				sub o
				input(size='5', name='q2zh')
				sub t
				input(size='5', name='q2zi')
				sub h
				input(size='5', name='q2zj')
				| .
		p
			li
				| &quot;I am lost.&quot;
				br
				| She realized 
				sub s
				input(size='5', name='q2zk')
				sub w
				input(size='5', name='q2zl')
				sub l
				input(size='5', name='q2zm')
				| .
		p
			li
				| &quot;I got on the wrong train.&quot;
				br
				| She realized 
				sub s
				input(size='5', name='q2zn')
				sub h
				input(size='5', name='q2zo')
				sub g
				input(size='5', name='q2zp')
				sub o
				input(size='5', name='q2zq')
				sub t
				input(size='5', name='q2zr')
				sub w
				input(size='5', name='q2zs')
				sub t
				input(size='5', name='q2zt')
				| .
		p
			li
				| &quot;I missed the flight to Turkey.&quot; 
				br
				| She realized 
				sub s
				input(size='5', name='q2zv')
				sub h
				input(size='5', name='q2zw')
				sub m
				input(size='5', name='q2zx')
				sub t
				input(size='5', name='q2zy')
				sub f
				input(size='5', name='q2zz')
				sub t
				input(size='5', name='q2zza')
				sub T
				input(size='5', name='q2zzb')
				| .
		p
			center
				button.eval(data-target='t2') Check answers
	#z1
	#z2
	#z3
	#z4
