table
	+td_input("Where John lives?")
	+td_input("What do she have for breakfast?	")
	+td_input("Do you can swim?")
	+td_input("How does he gets to work?")
	+td_input("Do Anna live in Singapore??")