img(src='')
p Jobs and occupations
p(class='boldita') 1. What are these jobs? Put the letters in order
img(src="")
+choose_answer(["Doctor","Teacher"],"","")
img(src="")
+choose_answer(["Pilot", "Police officer"],"","")
+choose_answer(["Doctor","Salesperson"],"","")
img(src="")
+choose_answer(["Doctor", "Secretary"],"","")
+choose_answer(["Secretary","Salesperson"],"","")
img(src="")
+choose_answer(["Taxi driver", "Police officer"],"","")
+choose_answer(["Taxi driver","Businessman"],"","")
img(src="")
+choose_answer(["Doctor", "Astronaut"],"","")
+choose_answer(["Astronaut","Businessman"],"","")
img(src="")
+choose_answer(["Waiter", "Taxi driver"],"","")
	button Check answers
p(class='boldita') 2. Read the description. What is the job?
table
	+td_input("1. This person works in a school.")
	+td_input("2. In this job you help people who are ill.")
	+td_input("3. To do this job you need to have a car.")
	+td_input("4. In this job you sell things to people.")
	+td_input("5. If you do this job you spend a lot of time on a plane.")
	+td_input("6. In this job you work in a cafe or restaurant.")
	button Check answers