img(src='')
p A job description
p(class='boldita') 1. What job does the text below describe?
p "I don't get up very early because in my job I often work in the afternoon and evening. I suppose I usually get up about 9:30 a.m. or sometimes even 10:00 a.m. and usually arrive about half an hour later at about 12:30 p.m. Lunch is free-that's one of the good things about my work! I have luch at about 2:00 p.m. with some of the other people who work there.
My work starts in the middle of the afternoon, when it's usually very quiet. The place starts to get busy at about 7:30 a.m. and that's when I do most of my work. I finish work very late-at about 11:30 p.m. on a normal day. I'm always hungry then so I have dinner at work. There's always some food that hasn't been sold that we can eat. I go home at about 12:00 a.m. I don't like to go to bed immediately so I watch TV for half an hour, so it's usually about 1:00 a.m. before I fall asleep."
+choose_answer(answers,"salesperson","waiter","secretary")button Check answers
p(class='boldita') 1. Answers the questions about the person in excercise 1 true or false.
p 1. She doesn't get up very early.
+radius(["true","False"])
p 2. She has breakfast at home.
+radius(["true","False"])
p 3. She  has lunch before she goes to work.
+radius(["true","False"])
p 4. She has luch at about 2:30 p.m. 
+radius(["true","False"])
p 5. She has dinner at work.
+radius(["true","False"])
p 6. She goes home after dinner. 
+radius(["true","False"])
p 7. She doesn't watch TV when she arrives home. 
+radius(["true","False"])
p 8. She goes to bed late.
+radius(["true","False"])
button Check answers
p(class='boldita') 3. Here is the text from exercise 1 again. Complete the text with the correct expressions.
p " I don't 1<input type='text'> 2<input type='text'> (1) very early because in my job I often work in the afternoon and evening. I suppose I usually 3<input type='text'> 4<input type='text'> (2) about 9:30 a.m. or sometimes even 10:00 a.m. I 5<input type='text'> 6<input type='text'> (3) an get ready for work. I 7<input type='text'> 8<input type='text'> 9<input type='text'> (4) at about 12:00 and I usually arrive about half an hour later at about 12:300 p.m. Lunch is free-that's one of the good things about my work! I 10<input type='text'> 11 <input type='text'> (5) at aboput 2:00 p.m. with some of the other people who work there.
p My work starts in the middle of the afternoon, when it's usually very quiet. The place starts to get busy at about 7:30 a.m. and that's when I do most of my work. I 12<input type='text'> 13<input type='text'> (6) very late-at about 11:30 p.m. on a normal day. I'm always hungry then so I 14<input type='text'> 15<input type='text'> (7) at work. There's always some food that hasn't been sold that we can eat. I 16<input type='text'> 17<input type='text'> (8) at about 12:00 a.m. I don't like to 18<input type='text'> 19<input type='text'> 20<input type='text'> (9) immediately so I 21<input type='text'> 22<input type='text'> (10) half an hour, so it's usually about 1:00 a.m. before I fall asleep."
button Check answers

