img(src='')
p Family members
p(class='boldita') 1.look at part of the family tree of this famous family. Can you guess the familiy's last name?
img(src="")
p (m=married to)
p Clue 1. It's a famous American famlily
	+text_input("Family's last name:") 
	button Check answers
p(class='boldita') 2.Family Relations. Use the information in the family tree in excercise 1 to complete the following sentences.
table
	+td_input("Edward is Robert's")
	+td_input("Tatiana is Caroline's")
	+td_input("Joseph is John's")
	+td_input("Jacqueline is Kara's")
	+td_input("Virginia is Max's")
	+td_input("Jacqueline is John's")
	+td_input("Grace is Tatiana's")
	+td_input("Kara is John's")
	+td_input("Robert is Virginia's")
	+td_input("Edward is Michael's")
	+td_input("Joseph is Max's")
	+td_input("Grace is Joseph's")
	button Check answers
p(class='boldita') 1. Look the groups of words below. wich one is different in each question and why?
	+radius(["aunt","sister-in-law","husband","niece"])
	+radius(["grandmother","brother","wife","father"])
	+radius(["uncle","brother","aunt","grandson"])
	+radius(["newphew","cousin","brother","mother"])
	+radius(["father-in-law","stepbrother","father","husband"])
	+radius(["grandfather","son","mother","uncle"])
	button Check answers