img(src='')
p Rooms and furniture
p(class='boldita') 1. How much do you know? Write down different rooms and items of furniture in a house.
img(src='')
p(class='boldita') Compare your list with some suggested answers. How many of these words do you have in your list?
a (href="#") see answers
p(class='boldita') 2. Can you label these pictures of a house? For each picture, write the words to the correct place number.
 

