table
	+td_input("because it's relaxing than the bus,")
	+td_input("but the bus is more fast.")
	+td_input("The most fast is the subway.")
	+td_input("the metro is cheaper that the bus")
	+td_input("the view is gooder from the bus.")
	+td_input("it's most dangerous transportation.")
	+td_input("it's safest than the bicycle")
	+td_input("but it's also the most slow way")