section
	+choose_answer_inline(,'"Slow down! You"','"very fast."')
	+choose_answer_inline(,"How many languages","?")
	+choose_answer_inline(,'"Please be quiet! I "','"for an exam for tomorrow."')
	+choose_answer_inline(,"How much","every day?")
	+choose_answer_inline(,"We are","a great time on vacation here in Brazil.")
	+choose_answer_inline(,'"We can't play tennis—it"','""')
	+choose_answer_inline(,"We","to the beach on vacation.")
	+choose_answer_inline(,"I","to you from a café in the National Gallery.")
	+choose_answer_inline(,"Can you see John? He is","over there next to the window.")
	+choose_answer_inline(,'"What do you do?" "I'm a secretary. I"','"in an office."')
	+choose_answer_inline(,"What do you do?","")
	+choose_answer_inline(,"What are you doing?","")
	+choose_answer_inline(,"Does he use the computer?","")
	+choose_answer_inline(,"Is he using the computer?","")
	+choose_answer_inline(,"What does she wear?","")
	+choose_answer_inline(,"What is she wearing?","")
	+choose_answer_inline(,"Who smokes?","")
	+choose_answer_inline(,"Who's smoking?","")
	+choose_answer_inline(,"Does it rain?","")
	+choose_answer_inline(,"Is it raining?","")