<script>
	v = {
		q1a:2,
		q1b:1,
		q1c:2,
		q1d:1,
		q1e:3,
		q1f:3,
		q1g:1,
		q1h:2
	}
</script>
<form id="t1">
	<img class="logo" src="img/t-u1.jpg">
	<p class="u1tit"><span>Question words</span></p>
	<p id="read"><strong>1. Read the questions and answers. Choose the correct question word to complete the questions. </strong></p>
	<div id="tabla">
		<table cellpadding=0 cellspacing=10>
			<tr class="preg">
				<td>
					1<select class="q" name="q1a">
						<option value=0>Choose Answer</option>
						<option value=1>Who</option>
						<option value=2> What</option>
						<option value=3>How</option>
					</select>
					do you do?
				</td>
				<td class="resp"> I'm a teacher.</td>
			</tr>
			<tr class="preg">
				<td>
					2<select class="q" name="q1b">
						<option value=0>Choose Answer</option>
						<option value=1>Where</option>
						<option value=2>When</option>
						<option value=3>What</option>
					</select>
					does she live?
				</td>
				<td class="resp"> In an apartment in San Francisco.</td>
			</tr>
			<tr class="preg">
				<td>
					3<select class="q" name="q1c">
						<option value=0>Choose Answer</option>
						<option value=1>What</option>
						<option value=2>When</option>
						<option value=3>How</option>
					</select>
					is your birthday?
				</td>
				<td class="resp">It's on June 11th.</td>
			</tr>
			<tr class="preg">
				<td>
					4<select class="q" name="q1d">
						<option value=0>Choose Answer</option>
						<option value=1>How</option>
						<option value=2>When</option>
						<option value=3>Why</option>
					</select>
					do you go to work?
				</td>
				<td class="resp"> I go by bus.</td>
			</tr>
			<tr class="preg">
				<td>
					5<select class="q" name="q1e">
						<option value=0>Choose Answer
						<option value=1>Where
						<option value=2>How
						<option value=3>Who
					</select>
					is that man?
				</td>
				<td class="resp">I think it's John's brother.</td>
			</tr>
			<tr class="preg">
				<td>
					6<select class="q" name="q1f">
						<option value=0>Choose Answer</option>
						<option value=1>Who</option>
						<option value=2>Where</option>
						<option value=3>How</option>
					</select>
					are you?
				</td>
				<td class="resp">Fine, thanks.</td>
			</tr>
			<tr class="preg">
				<td>
					7<select class="q" name="q1g">
						<option value=0>Choose Answer</option>
						<option value=1>Why</option>
						<option value=2>Where</option>
						<option value=3>How</option>
					</select>
					do you live in Chicago?
				</td>
				<td class="resp">Because I work there.</td>
			</tr>
			<tr class="preg">
				<td>
					8<select class="q" name="q1h">
						<option value=0>Choose Answer</option>
						<option value=1>Who</option>
						<option value=2>What</option>
						<option value=3>How</option>
					</select>
					is your name?
				</td>
				<td class="resp"> Kate.</td>
			</tr>
		</table>
	<!--</form> --> 
	</div>
<button data-target="t1" data-draw="z1" class="eval">Check answers</button>
<div id="z1"></div>