<script>
	v = {
		q1a:'Australian',
		q1b:'Brazilian',
		q1c:'American',
		q1d:'Europe',
		q1e:'Canada',
		q1f:'Italian',
		q1g:'Korean',
		q1h:'African',
		q1i:'Russia',
		q1j:'British',
		q1k:'Ireland',
		q1l:'Scotland',
		q1m:'Polish',
		q1n:'Denmark',
		q1o:'Chinese',
		q1p:'Vietnam',
		q1q:'Greek',
		q1r:'France',
		q1s:'Germany',
		q2a:2,
		q2b:1,
		q2c:1,
		q2d:2,
		q2e:1,
		q2f:2,
		q2g:2,
		q2h:2,
		q2i:2,
		q2j:2,
		q2k:2,
		q2l:1,
		q2m:1,
		q2n:1,
		q2o:2,
		q2p:2,
		q2q:1,
		q2r:1
	}
</script>
<form id="t1">
	<img class="logo" src="img/t-u1.jpg">
	<p id="lang"><span>Languages /Adjectives of Place</span></p>
	<p id="adje"><strong>1. Adjectives of Place</strong></p>
	<p id="mexican">
		<span>
		Mexican food is on the menu.<br>
		Mexican = from Mexico 
		</span>
	</p>
	<p id="there">There are different types of Adjectives of Place;</p>
	<p id="ones">
	ones that end with <span class="r1">-<b>an</b> Mexican (from Mexico)</span><br>
	ones that end with <span class="r1">-<b>ish</b> Spanish (from Spain)</span><br>
	ones that end with <span class="r1">-<b>ese</b> Japanese (from Japan)</span><br>
	irregular <span class="r1">ones Thai (from Thailand)</span>
	</p>
	<p id="comp">Complete the table of <strong>Place</strong> and <strong>Adjective</strong>.</p>
	<p>
		<center id="place">
			<table cellpadding=3 cellspacing=0 border=0>
			<tr><td bgcolor="#ffcc00" align="center">Place</td><td bgcolor="#ffcc00" align="center">Adjective</td></tr>
			<tr><td bgcolor="#ffffcc" align="center">Mexico</td><td bgcolor="#ffffcc" align="center">Mexican</td></tr>
			<tr><td align="center">Australia</td><td><sub>1</sub><input type="text" name="q1a" size=12></td></tr>
			<tr><td align="center">Brazil</td><td><sub>2</sub><input type="text" name="q1b" size=12></td></tr>
			<tr><td align="center">America</td><td><sub>3</sub><input type="text" name="q1c"  size=12></td></tr>
			<tr><td><sub>4</sub><input type="text" name="q1d" size=12></td><td align="center">European</td></tr>
			<tr><td><sub>5</sub><input type="text" name="q1e" size=12></td><td align="center">Canadian</td></tr>
			<tr><td align="center">Italy</td><td><sub>6</sub><input type="text" name="q1f" size=12></td></tr>
			<tr><td align="center">Korea</td><td><sub>7</sub><input type="text" name="q1g" size=12></td></tr>
			<tr><td align="center">Africa</td><td><sub>8</sub><input type="text" name="q1h" size=12></td></tr>
			<tr><td><sub>9</sub><input type="text" name="q1i" size=12></td><td align="center">Russian</td></tr>
			<tr><td bgcolor="#ffffcc" align="center">Spain</td><td bgcolor="#ffffcc" align="center">Spanish</td></tr>
			<tr><td align="center">Britain</td><td><sub>10</sub><input type="text" name="q1j" size=12></td></tr>
			<tr><td><sub>11</sub><input type="text" name="q1k" size=12></td><td align="center">Irish</td></tr>
			<tr><td><sub>12</sub><input type="text" name="q1l" size=12></td><td align="center">Scottish</td></tr>
			<tr><td align="center">Poland</td><td><sub>13</sub><input type="text" name="q1m" size=12></td></tr>
			<tr><td><sub>14</sub><input type="text" name="q1n" size=12></td><td align="center">Danish</td></tr>
			<tr><td bgcolor="#ffffcc" align="center">Japan</td><td bgcolor="#ffffcc" align="center">Japanese</td></tr>
			<tr><td align="center">China</td><td><sub>15</sub><input type="text" name="q1o" size=12></td></tr>
			<tr><td><sub>16</sub><input type="text" name="q1p" size=12></td><td align="center">Vietnamese</td></tr>
			<tr><td bgcolor="#ffffcc" align="center">Thailand</td><td bgcolor="#ffffcc" align="center">Thai</td></tr>
			<tr><td align="center">Greece</td><td><sub>17</sub><input type="text" name="q1q" size=12></td></tr>
			<tr><td><sub>18</sub><input type="text" name="q1r" size=12></td><td align="center">French</td></tr>
			<tr><td><sub>19</sub><input type="text" name="q1s" size=12></td><td align="center">German</td></tr>
			</table>
		</center>
	</p>
	<button data-target="t1" data-draw="z1" class="eval">Check answers</button>
</form>
<form id="t2">
	<p><strong>2. Now read these words. Are they places or adjectives?</strong></p> 
	<p>
		<table class="cuadro" cellpadding=3 cellspacing=0 border=0>
		<tr>
			<td bgcolor="#ffffcc">1. Brazilian</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2a" value=1 checked> adjective <input type="radio" name="q2a" value=2></td>
			<td bgcolor="#ffffcc">10. Germany</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2b" value=1 checked> adjective <input type="radio" name="q2b" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">2. Italy</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2c" value=1 checked> adjective <input type="radio" name="q2c" value=2></td>
			<td bgcolor="#ffffcc">11. French</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2d" value=1 checked> adjective <input type="radio" name="q2d" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">3. Australia</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2e" value=1 checked> adjective <input type="radio" name="q2e" value=2></td>
			<td bgcolor="#ffffcc">12. European</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2f" value=1 checked> adjective <input type="radio" name="q2f" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">4. Italian</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2g" value=1 checked> adjective <input type="radio" name="q2g" value=2></td>
			<td bgcolor="#ffffcc">13. British</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2h" value=1 checked> adjective <input type="radio" name="q2h" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">5. Irish</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2i" value=1 checked> adjective <input type="radio" name="q2i" value=2></td>
			<td bgcolor="#ffffcc">14. Canadian</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2j" value=1 checked> adjective <input type="radio" name="q2j" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">6. Japanese</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2k" value=1 checked> adjective <input type="radio" name="q2k" value=2></td>
			<td bgcolor="#ffffcc">15. China</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2l" value=1 checked> adjective <input type="radio" name="q2l" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">7. Scotland</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2m" value=1 checked> adjective <input type="radio" name="q2m" value=2></td>
			<td bgcolor="#ffffcc">16. Greece</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2n" value=1 checked> adjective <input type="radio" name="q2n" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">8. German</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2o" value=1 checked> adjective <input type="radio" name="q2o" value=2></td>
			<td bgcolor="#ffffcc">17. Greek</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2p" value=1 checked> adjective <input type="radio" name="q2p" value=2></td>
		</tr>
		<tr>
			<td bgcolor="#ffffcc">9. France</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2q" value=1 checked> adjective <input type="radio" name="q2q" value=2></td>
			<td bgcolor="#ffffcc">18. Europe</td>
			<td bgcolor="#ffcc99" align="center">place <input type="radio" name="q2r" value=1 checked> adjective <input type="radio" name="q2r" value=2></td>
		</tr>
		</table>
	</p>
	<button data-target="t2" data-draw="z2" class="eval">Check answers</button>
</form>
<div id="z1"></div>
<div id="z2"></div>