<script>
	v = {
		q1a:'1',
		q1b:'0',
		q1c:'1',
		q1d:'0',
		q1e:'1',
		q1f:'0',
		q1g:'1',
		q1h:'0',
		q1i:'1',
		q1j:'0',
		q2a:'Where does John live',
		q2b:'What does she have for breakfast',
		q2c:'Can you swim',
		q2d:'How does he get to work',
		q2e:'Does Anna live in Singapore',
		q3a:'3',
		q3b:'1',
		q3c:'1',
		q3d:'3',
		q3e:'2',
		q3f:'3',
		q3g:'1',
		q3h:'1',
		q4a:'2',
		q4b:'1',
		q4c:'3',
		q4d:'2',
		q4e:'1',
		q4f:'2',
		q4g:'2',
		q4h:'2'
	}
</script>
<form id="t1">
<img class="logo1" src="img/t-u10.jpg">
<p class="titulo">
<span>Questions</span>
</p>
<b class="instrucciones">1. Are the questions below grammatically correct?</b>
<p>
<table class="cuadro" cellpadding=0 cellspacing=4>	
<tr><td></td><td></td><td width=50></td><td class="letra">Grammatically... </td></tr>
<tr><td width=20>1</td><td class="letra"> Where do you come from?</td><td></td><td class="letra"><input type="radio" name="q1a" value=1 checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1a" value=0>... incorrect</td></tr>
<tr><td class="letra">2</td><td class="letra"> Where John lives?</td><td></td><td class="letra"><input type="radio" name="q1b" value=1 checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1b" value=0>... incorrect</td></tr>
<tr><td class="letra">3</td><td class="letra"> What is your name?</td><td></td><td class="letra"><input type="radio" name="q1c" value=1 checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1c" value=0>... incorrect</td></tr>
<tr><td class="letra">4</td><td class="letra"> What do she have for breakfast?</td><td></td><td class="letra"><input type="radio" name="q1d" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1d" value=0>... incorrect</td></tr>
<tr><td class="letra">5</td><td class="letra"> Do you like London?</td><td></td><td class="letra"><input type="radio" name="q1e" value=1 checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1e" value=0>... incorrect</td></tr>
<tr><td class="letra">6</td><td class="letra"> Do you can swim?</td><td></td><td class="letra"><input type="radio" name="q1f" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1f" value=0>... incorrect</td></tr>
<tr><td class="letra">7</td><td class="letra"> How do you travel to work?</td><td></td><td class="letra"><input type="radio" name="q1g" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1g" value=0>... incorrect</td></tr>
<tr><td class="letra">8</td><td class="letra"> How does he gets to work?</td><td></td><td class="letra"><input type="radio" name="q1h" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1h" value=0>... incorrect</td></tr>
<tr><td class="letra">9</td><td class="letra"> What can you see in space?</td><td></td><td class="letra"><input type="radio" name="q1i" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1i" value=0>... incorrect</td></tr>
<tr><td class="letra">10</td><td class="letra"> Do Anna live in Singapore?</td><td></td><td class="letra"><input type="radio" name="q1j" value=1  checked> ... correct&#160; &#160; &#160; &#160; &#160; &#160;<input type="radio" name="q1j" value=0>... incorrect</td></tr>
</table>
</p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Now correct the incorrect sentences from exercise 1.</b>
</p>
<table class="cuadro" cellpadding=0 cellspacing=0>
<tr><td bgcolor="#ffcc99" width=15>&#160;</td><td bgcolor="#ffcc99">&#160;</td><td width=80 bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td class="letra" bgcolor="#ffcc99">Where John lives?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2a" size=33></td><td class="letra" bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td class="letra" bgcolor="#ffcc99">What do she have for breakfast?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2b" size=33></td><td class="letra" bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td class="letra" bgcolor="#ffcc99">Do you can swim?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2c" size=33></td><td class="letra" bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td class="letra" bgcolor="#ffcc99">How does he gets to work?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2d" size=33></td><td class="letra" bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td class="letra" bgcolor="#ffcc99">Do Anna live in Singapore?</td><td bgcolor="#ffcc99"></td><td bgcolor="#ffcc99"><input type="text" name="q2e" size=33></td><td class="letra" bgcolor="#ffcc99">?</td></tr>
<tr><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td width=80 bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td><td bgcolor="#ffcc99">&#160;</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Choose the correct answer to the list</b>
</p>
<table class="letra" cellpadding=0 cellspacing=10>
<tr><td>
1. What do <select name="q3a">
<option value=0>Choose Answer
<option value=1>do
<option value=2>drink 
<option value=3>you
</select>
do in the evening?</td></tr>
<tr><td>
2. How many hours <select name="q3b">
<option value=0>Choose Answer
<option value=1>do
<option value=2>you 
<option value=3>move
</select>
you sleep?</td></tr>
<tr><td>
3. How do you <select name="q3c">
<option value=0>Choose Answer
<option value=1>move
<option value=2>you 
<option value=3>speak
</select>
in the space craft.</td></tr>
<tr><td>
4. Can you <select name="q3d">
<option value=0>Choose Answer
<option value=1>start
<option value=2>to 
<option value=3>drink
</select>
alcohol?</td></tr>
<tr><td>
5. When do you return <select name="q3e">
<option value=0>Choose Answer
<option value=1>you
<option value=2>to 
<option value=3>speak
</select>
Earth?</td></tr>
<tr><td>
6. Where does space <select name="q3f">
<option value=0>Choose Answer
<option value=1>speak
<option value=2>you 
<option value=3>start
</select>
?</td></tr>
<tr><td>
7. Do <select name="q3g">
<option value=0>Choose Answer
<option value=1>you
<option value=2>to 
<option value=3>do
</select>
listen to the radio?</td></tr>
<tr><td>
8. Can you <select name="q3h">
<option value=0>Choose Answer
<option value=1>speak
<option value=2>star 
<option value=3>move
</select>
to your family?</td></tr>
</table>
<center>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</center>
</p>
</form>
<form id="t4">
<p>
<b class="instrucciones">4. Match the questions in exercise 6 to the correct answers.</b>
</p>
<table class="letra" cellpadding=0 cellspacing=6>
<tr><td colspan=2>What do you do in the evening?</td></tr>
<tr><td width=30</td><td><input type="radio" name="q4a" value=1>In two weeks.</td></tr>
<tr><td></td><td><input type="radio" name="q4a" value=2>We talk and look out of the windows at the stars.</td></tr>
<tr><td></td><td><input type="radio" name="q4a" value=3>No, but they can send messages to us.</td></tr>
<tr><td colspan=2>How many hours do you sleep?</td></tr>
<tr><td></td><td><input type="radio" name="q4b" value=1>About six. Generally people sleep less in space.</td></tr>
<tr><td></td><td><input type="radio" name="q4b" value=2>No, we can't.</td></tr>
<tr><td></td><td><input type="radio" name="q4b" value=3>About five miles high.</td></tr>
<tr><td colspan=2>How do you move arround in space?</td></tr>
<tr><td></td><td><input type="radio" name="q4c" value=1>No, but they can send messages to us.</td></tr>
<tr><td></td><td><input type="radio" name="q4c" value=2>No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td></td><td><input type="radio" name="q4c" value=3>We float from one place to another.</td></tr>
<tr><td colspan=2>Can you drink alcohol?</td></tr>
<tr><td></td><td><input type="radio" name="q4d" value=1>About six. Generally people sleep less in space.</td></tr>
<tr><td></td><td><input type="radio" name="q4d" value=2>No, we can't.</td></tr>
<tr><td></td><td><input type="radio" name="q4d" value=3>In two weeks.</td></tr>
<tr><td colspan=2>When do you return to Earth?</td></tr>
<tr><td></td><td><input type="radio" name="q4e" value=1>In two weeks.</td></tr>
<tr><td></td><td><input type="radio" name="q4e" value=2>About five miles high.</td></tr>
<tr><td></td><td><input type="radio" name="q4e" value=3>No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td colspan=2>Where does space start?</td></tr>
<tr><td></td><td><input type="radio" name="q4f" value=1>We float from one place to another.</td></tr>
<tr><td></td><td><input type="radio" name="q4f" value=2>About five miles high.</td></tr>
<tr><td></td><td><input type="radio" name="q4f" value=3>In two weeks.</td></tr>
<tr><td colspan=2>Do you listen to the radio?</td></tr>
<tr><td></td><td><input type="radio" name="q4g" value=1>No, we can't.</td></tr>
<tr><td></td><td><input type="radio" name="q4g" value=2>No, but we can listen to cassettes on a Walkman.</td></tr>
<tr><td></td><td><input type="radio" name="q4g" value=3>About five miles high.</td></tr>
<tr><td colspan=2>Can you speak to your family?</td></tr>
<tr><td></td><td><input type="radio" name="q4h" value=1>About five miles high.</td></tr>
<tr><td></td><td><input type="radio" name="q4h" value=2>No, but they can send messages to us.</td></tr>
<tr><td></td><td><input type="radio" name="q4h" value=3>We float from one place to another.</td></tr>
</table>
<button class="eval" data-target="t4" data-draw="z4">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>