<script>
	v = {
		q1a:'2',
		q2a:'3',
		q3a:'1',
		q3b:'1',
		q3c:'0',
		q3d:'0',
		q3e:'1',
		q3f:'1',
		q3g:'1',
		q3h:'0'
	}
</script>
<form id="t1" class="letra">
<img class="logo" src="img/t-u10.jpg">
<p class="titulo">
<span>Reading: Sydney</span>
</p>
<b class="instrucciones">1. Read the description of Sydney. Then choose the best poster of Sydney.</b>
<p>
<center>
<table class="letra"cellpadding=0 cellspacing=0>
<tr><td class="enca"><span>Sydney - Waves and immigrants</span></td><td>
</table>
</center>
</p>
<b class="letra">Introduction</b><br>
Sydney is Australia's most famous city and although many people think it is the capital of Australia, it is only the capital of the state 
of New South Wales. It is, however, the biggest and oldest city in Australia. 
<p class="letra">
<b>History</b><br>
In little more than two hundred years Sydney has grown to become the most multicultural city in Australia with a population of more 
than four million. The first <a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">wave</a> of 
<a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">immigrants</a> came to Australia from 
Europe, then in the <a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">seventies </a>
immigration was mostly from Asia. Now Australia has a mixed culture with one thing in common: its children are all one hundred 
percent Australian. Sydney has absorbed this mixture of cultures and Thai, Japanese, Korean, Chinese, Greek, Italian or Mexican 
food is on the menu. 
</p>
<b class="letra">Lifestyle</b><br>
The climate, with almost eight months of good weather, makes Sydney the perfect city for an 
<a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">outdoor</a> life. What's more, the city 
has more than thirty beaches along the sixty kilometers of its coast. In Sydney 
<a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">harbor</a>, one of the world's most 
spectacular <a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">bays</a>, you can find 
The Sydney Opera House, Australia's most 
<a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">well known</a> building. Passing by the 
Opera House is a constant <a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">parade</a> 
of small boats, <a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">yachts</a>, 
<a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">ferries</a> and enormous cruise ships.
<p class="letra">
<a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">Shorts</a> and sandals are the most 
popular clothes to wear for Sydney's <a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">
inhabitants</a>, and beer, of course, is the most popular drink. Christmas is celebrated in the sun, with a swim and a 
<a href="#" onclick="window.open('templates/U10B-T1.html','_blank','width=400,height=530');">barbecue</a>. In Sydney a Californian 
lifestyle has been combined with European influences in its cafés, movie theaters, theaters and concerts. 
</p>
<b class="letra">Future</b><br>
In a short time Sydney has come a long way. The 2000 Olympic Games has put Sydney even more in the 
<a href="#" onclick="window.open('templates/U10B-T2.html','_blank','width=400,height=530');">spotlight</a>. Sydney is a city 
looking toward the future.
<p><br>
<b lass="letra">Now choose the best poster of Sydney.</b>
</p>
<table class="cuadro" cellpadding=2 cellspacing=0>
<tr><td align="center"><input type="radio" name="q1a" value=1> <b>this one</b></td><td align="center"><input type="radio" name="q1a" value=2> <b>this one</b></td><td align="center"><input type="radio" name="q1a" value=3> <b>this one</b></td></tr>
<tr><td><img src="img/u10-a.jpg"></td><td><img src="img/u10-b.jpg"></td><td><img src="img/u10-c.jpg"></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<b class="instrucciones">2. Where did the description in the text come from?</b>
<p>
<table class="cuadro" cellpadding=2 cellspacing=0>
<tr><td width=50></td><td><input type="radio" name="q2a" value=1></td><td>an encyclopeadia</td></tr>
<tr><td></td><td><input type="radio" name="q2a" value=2></td><td>a scientific magazine</td></tr>
<tr><td></td><td><input type="radio" name="q2a" value=3></td><td>a travel guide</td></tr>
<tr><td></td><td><input type="radio" name="q2a" value=4></td><td>a news report</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3" class="letra"> 
<b class="instrucciones">3. Are these sentences true or false? </b>
<p>
<table cellpadding=2 cellspacing=0>
<tr><td>1</td><td>Sydney is a state capital but not the national capital.</td></tr>
<tr><td></td><td><input type="radio" name="q3a" value=1> true <input type="radio" name="q3a" value=0> false</td></tr>
<tr><td>2</td><td>Sydney is the oldest city in Australia.</td></tr>
<tr><td></td><td><input type="radio" name="q3b" value=1> true <input type="radio" name="q3b" value=0> false</td></tr>
<tr><td>3</td><td>Canberra, the national capital, is bigger than Sydney.</td></tr>
<tr><td></td><td><input type="radio" name="q3c" value=1> true <input type="radio" name="q3c" value=0> false</td></tr>
<tr><td>4</td><td>There are exactly four million people living in Sydney.</td></tr>
<tr><td></td><td><input type="radio" name="q3d" value=1> true <input type="radio" name="q3d" value=0> false</td></tr>
<tr><td>5</td><td>Sydney is on the coast.</td></tr>
<tr><td></td><td><input type="radio" name="q3e" value=1> true <input type="radio" name="q3e" value=0> false</td></tr>
<tr><td>6</td><td>Sydney has a warm climate.</td></tr>
<tr><td></td><td><input type="radio" name="q3f" value=1> true <input type="radio" name="q3f" value=0> false</td></tr>
<tr><td>7</td><td>At Christmas it is hot in Sydney.</td></tr>
<tr><td></td><td><input type="radio" name="q3g" value=1> true <input type="radio" name="q3g" value=0> false</td></tr>
<tr><td>8</td><td>The lifestyle in Sydney is Californian, not European.</td></tr>
<tr><td></td><td><input type="radio" name="q3h" value=1> true <input type="radio" name="q3h" value=0> false</td></tr>
</table>
</p>
<center>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>

