
<div id="t1">
<span id="txt1">Word List for "Blue Jeans"</span>
<p>
<b>'oldies' (n)</b><br>
a colloquial word for old people
<p>
<b>patterned (adj)</b><br>
a patterned piece of clothing has designs with the same shape repeated at regular intervals
<p>
<b>plain (adj)</b><br>
a plain piece of clothing has no pattern or design on it
<p>
<b>shrinking (adj)</b><br>
getting smaller
<p>
<b>staying power (n)</b><br>
a product has staying power if it remains popular for a long time
<p>
<b>striped (adj)</b><br>
a striped piece of clothing has parallel lines on it
<p>
<b>survivor (n)</b><br>
something which is still present from an earlier period, while other things from that period have disappeared.
<p>
<b>tight (adj)</b><br>
clothes that are small and fit closely to your body
<p>
<b>tough (adj)</b><br>
strong
<p>
<b>'stylish' (adj)</b><br>
a colloquial word for fashionable and modern
<p>
<b>youngster (n)</b><br>
a young person
<p>
</div>