<script>
	v = {
		q1a:'9',
		q1b:'4',
		q1c:'7',
		q1d:'1',
		q1e:'5',
		q1f:'2',
		q1g:'8',
		q1h:'6',
		q1i:'3',
		q2a:'1',
		q2b:'0',
		q2c:'1',
		q2d:'1',
		q2e:'0',
		q2f:'1',
		q2g:'0',
		q2h:'0',
		q2i:'0'
	}
	/*
	if(tt<=3){s2a="<b>Score 0-3</b><p> You're not stylish at all - and you probably don't care that you're not stylish. You generally wear conservative clothes, and you don't worry about what other people think of what you wear. "}
	if(tt>3&tt<=7){s2a="<b>Score 4-7</b><p> You are conscious about what you wear, but you don't spend too much time on clothes and appearance. You feel happy with the way you look and the clothes you wear. "}
	if(tt>7){s2a="<b>Score 8-10</b><p> You are very interested in clothes and your appearance, and you spend time and money on it. You know about what's stylish and what's not stylish."}
		*/
</script>
<form id="t1">
<img class="logo1" src="img/t-u11.jpg">
<p>
<span class="titdorado">Clothes</span>
</p>
<b class="instrucciones">1. Vocabulary review. Match the words with the pictures by choosing the correct number.</b> 
<p>
<center>
<table cellpadding=0 cellspacing=4>
<tr><td><img src="img/u11-a1.jpg"></td><td><img src="img/u11-a2.jpg"></td><td><img src="img/u11-a3.jpg"></td><td><img src="img/u11-a4.jpg"></td><td><img src="img/u11-a5.jpg"></td></tr>
</center>
<center>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td><img src="img/u11-a6.jpg"></td><td><img src="img/u11-a7.jpg"></td><td><img src="img/u11-a8.jpg"></td><td><img src="img/u11-a9.jpg"></td></tr>
</table>
</center>
</p>
<center>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td>
1 jeans 
</td><td width=50></td><td>
<select name="q1a">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
2 sneakers
</td><td></td><td>
<select name="q1b">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
3 a suit 
</td><td></td><td>
<select name="q1c">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
4 a warm-up suit
</td><td></td><td>
<select name="q1d">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
5 a tie 
</td><td></td><td>
<select name="q1e">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
6 a shirt 
</td><td></td><td>
<select name="q1f">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
7 a T-shirt 
</td><td></td><td>
<select name="q1g">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
8 a sweatshirt 
</td><td></td><td>
<select name="q1h">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
<tr><td>
9 a dress 
</td><td></td><td>
<select name="q1i">
<option value=0>Choose Answer
<option value=1>1
<option value=2>2
<option value=3>3
<option value=4>4
<option value=5>5
<option value=6>6
<option value=7>7
<option value=8>8
<option value=9>9
</select>
</td></tr>
</table>
</center>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<b clasa="instrucciones">2. Here is a quiz to find out how <a href="#" onclick="window.open('u11b-t3.htm','_blank','width=400,height=530');"><b>stylish</b></a> you are. Click on an answer, then find out your score. </b> 
<p class="instrucciones">
1 What are Levis?
</p>
<input type="radio" name="q2a" value=1> a <a href="#" onclick="window.open('u11b-t1.htm','_blank','width=400,height=530');"><b>brand name</b></a> for jeans
<input type="radio" name="q2a" value=0> a brand name for sneakers
<p class="instrucciones">
2 What clothes do you normally wear? 
</p>
<input type="radio" name="q2b" value=1> a suit and tie
<input type="radio" name="q2b" value=0> <a href="#" onclick="window.open('u11b-t1.htm','_blank','width=400,height=530');"><b>casual</b></a> clothes
 <p class="instrucciones">
3 How often do you buy new clothes? 
</p>
<input type="radio" name="q2c" value=1> more than twice a year
<input type="radio" name="q2c" value=0> less than twice a year
 <p class="instrucciones">
4 Where do you normally buy your clothes? 
</p>
<input type="radio" name="q2d" value=1> in a clothing store
<input type="radio" name="q2d" value=0> in a big supermarket
 <p class="instrucciones">
5 What is or are Raybans? 
</p>
<input type="radio" name="q2e" value=1> sunscreen
<input type="radio" name="q2e" value=0> sunglasses
 <p class="instrucciones">
6 Do you ever buy fashion magazines? 
</p>
<input type="radio" name="q2f" value=1> No
<input type="radio" name="q2f" value=0>  Yes
 <p class="instrucciones">
7 A colleague at work starts to wear the same clothes as you. What's your reaction? 
</p>
<input type="radio" name="q2g" value=1> You're pleased 
<input type="radio" name="q2g" value=0>  You think your colleague is little strange.
 <p class="instrucciones">
8 What do Christian Dior and Coco Chanel have in common? 
</p>
<input type="radio" name="q2h" value=1> they are both models
<input type="radio" name="q2h" value=0> they are both clothes designers
 <p class="instrucciones">
9 What kind of clothing do the brands Nike and Adidas make? 
</p>
<input type="radio" name="q2i" value=1> <a href="#" onclick="window.open('u11b-t1.htm','_blank','width=400,height=530');"><b>demin</b></a> jeans 
<input type="radio" name="q2i" value=0> sports clothing
 <p class="instrucciones">
10 Which of these two things would you prefer to wear? 
</p>
<input type="radio" name="q2j" value=1> a big T-shirt
<input type="radio" name="q2j" value=0> a pair of jeans 
 <p>
</table>
</p>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</form>

<div id="z1">
</div>

<div id="z2">
</div>