
<div id="t1">
<span id="txt1">Word List for "Are You Lost, Little Lady?"</span>
<p>
<b>agree (v)</b><br>
if you agree with someone, you have the same opinion<p>
<b>alias (n)</b><br>
a false name<p>
<b>alone (adj)</b><br>
with no other people or things near you; all alone means completely alone<p>
<b>circumstances (n)</b><br>
the conditions and the actions connected with a particular situation <p>
<b>couple (n)</b><br>
two people who live together and/or have an intimate relationship<p>
<b>disagree (v)</b><br>
if you disagree with someone, you have a different opinion<p>
<b>evidence (n)</b><br>
evidence is something that demonstrates that another another thing is true<p>
<b>fact (n)</b><br>
a piece of information that is true<p>
<b>get back together (v)</b><br>
to be a couple again after separating for some time<p>
<b>get divorced (v)</b><br>
to legally finish a married relationship<p>
<b>get married (v)</b><br>
to sign a legal contract and become husband and wife
</div>