<script>
	v = {
		q2a:'f',
		q2b:'g',
		q2c:'a',
		q2d:'i',
		q2e:'b',
		q2f:'c',
		q2g:'m',
		q2h:'e',
		q2i:'j',
		q2j:'k',
		q2k:'d',
		q2l:'h',
		q3a:'was born',
		q3b:'left',
		q3c:'got married to',
		q3d:'was born',
		q3e:'met',
		q3f:'got divorced',
		q3g:'got married to',
		q3h:'separated from',
		q3i:'was born',
		q3j:'died'
	}
</script>
<form id="t2">
<img class="logo1" src="img/t-u12.jpg">
<p class="titulo">
<span>A biography of John Lennon</span>
</p>
<p>
<b>1. Giving biographical information.</b>
</p> 
<p>
Read this biography of John Lennon, and answer the question:<br>
How old was he when he died? <img src="img/pin.jpg">
</p>
<p>
<center>
<img src="img/u12-a1.jpg">
</center>
</p>
<p>
John Lennon was born on October 9, 1940. He left school when he was 16 and went to Liverpool Art College. 
At art college he formed a group called The Quarrymen. This group later became The Beatles. In 1962 he 
got married to Cynthia Powell, who was in his class at art school. Their son, Julian, was born in 1963. In 1966 
John met Yoko Ono at an art gallery in 1966 and in 1968 John and Cynthia got divorced. John got married to 
Yoko Ono on March 20, 1969 and they went to live in New York in 1971. John separated from Yoko Ono in 1974, 
but the couple got back together again in 1975. Their son, Sean, was born on October 9 1976. John Lennon died on 
December 9, 1980. Someone shot him in front of his apartment.
</p>
<p>
<b>How old was he when he died?</b> <img src="img/pin.jpg">
</p>
<p>
<span id="rd"><b>Answer: He was 40 when he died.</b></span>
</p>
<p>
<b>2. Giving biographical information.</b>
</p> 
<p>
<table cellpadding=2 cellspacing=1>
<tr><td width=15>1940:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2a" size=3></td><td>a. He got married to Cynthia Powell.</td></tr>
<tr><td width=15>1956:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2b" size=3></td><td>b. He met Yoko Ono.</td></tr>
<tr><td width=15>1962:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2c" size=3></td><td>c. John and Cynthia got divorced.</td></tr>
<tr><td width=15>1963:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2d" size=3></td><td>d. His second son, Sean was born.</td></tr>
<tr><td width=15>1966:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2e" size=3></td><td>e. John and Yoko went to live in New York.</td></tr>
<tr><td width=15>1968:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2f" size=3></td><td>f. John Lennon was born.</td></tr>
<tr><td width=15>1969:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2g" size=3></td><td>g. He left school and went to art college.</td></tr>
<tr><td width=15>1971:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2h" size=3></td><td>h. He died.</td></tr>
<tr><td width=15>1974:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2i" size=3></td><td>i. His first son, Julian, was born.</td></tr>
<tr><td width=15>1975:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2j" size=3></td><td>j. John separated from Yoko Ono.</td></tr>
<tr><td width=15>1976:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2k" size=3></td><td>k. John and Yoko got back together.</td></tr>
<tr><td width=15>1980:</td><td valign="bottom"><img src="img/ln.jpg" width=180 height=1></td><td><input type="text" name="q2l" size=3></td><td>m. He got married to Yoko Ono.</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Complete the biography with these phrases. Write the phrases.</b>
</p>
<p>
<table cellpadding=0 cellspacing=0 width=500>
<tr><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td></tr>
<tr><td bgcolor=#d9edc3 align="center">was born</td><td bgcolor=#d9edc3 align="center">died</td><td bgcolor=#d9edc3 align="center">got divorced</td><td bgcolor=#d9edc3 align="center">was born</td><td bgcolor=#d9edc3 align="center">met</td></tr>
<tr><td bgcolor=#d9edc3 align="center">got married to</td><td bgcolor=#d9edc3 align="center">was born</td><td bgcolor=#d9edc3 align="center">got married to</td><td bgcolor=#d9edc3 align="center">separated from</td><td bgcolor=#d9edc3 align="center">left</td></tr>
<tr><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td><td bgcolor=#d9edc3 align="center">&#160;</td></tr>
</table>
</p>
<p>
John Lennon <input type="text" name="q3a" size=15> on October 9, 1940. He <input type="text" name="q3b" size=15> school when he
was 16 and went to Liverpool Art College. At art college he formed a group called
The Quarrymen. This group later became The Beatles. In 1962 he <input type="text" name="q3c" size=15>
Cynthia Powell, who was in his class at art school. Their son, Julian, <input type="text" name="q3d" size=15>
in 1963. In 1966 John <input type="text" name="q3e" size=15> Yoko Ono at an art gallery in 1966 and in 1968
John and Cynthia <input type="text" name="q3f" size=15>. John <input type="text" name="q3g" size=15> Yoko Ono on March 20, 1969
and they went to live in New York in 1971. John <input type="text" name="q3h" size=15> Yoko Ono in 1974,
but the couple got back together again in 1975. Their son, Sean, <input type="text" name="q3i" size=15> on
October 9 1976. John Lennon <input type="text" name="q3j" size=15> on December 9, 1980. Someone shot
him in front of his apartment.
</p>
<p>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>