
<div id="t1">
<span id="txt1">Word List for "Are You Lost, Little Lady?"</span>
<p>
<b>go back (v)</b><br>
to return<p>
<b>guess (v)</b><br>
to suggest a possible answer to a question when you don't know the answer<p>
<b>leave (v)</b><br>
(past simple=left) to go from or abandon a person or place<p>
<b>look like (v)</b><br>
to resemble, be phyisically very similar to (another person)<p>
<b>lost (adj)</b><br>
if you are lost, you don't know where you are<p>
<b>might (v)</b><br>
an auxiliary verb you use with an infinitive to express possibility: Elvis might be alive=it's possible that Elvis is alive<p>
<b>meet (v)</b><br>
(past simple=met) to see and talk to someone for the first time<p>
<b>performance (n)</b><br>
when an actor, singer, etc., presents their work in front of other people, this is called a performance <p>
<b>reach (v)</b><br>
to arrive at<p>
<b>realise (v)</b><br>
to see or understand something after you first have contact with it
<p>
</div>