
<div id="t1">
<span id="txt1">Word List for "Are You Lost, Little Lady?"</span>
<p>
<b>seat (n)</b><br>
a thing that you can sit on (a more general word for chair)<p>
<b>separate (n)</b><br>
to finish an intimate relationship<p>
<b>shoot (v)</b><br>
(past simple=shot) to fire a gun at a person; to kill a person with a gun<p>
<b>sighting (n)</b><br>
when you see someone or something that people don't usually see, this is a sighting of that person or thing <p>
<b>speculate (v)</b><br>
to suggest possible answers to a question when you don't know the answer<p>
<b>surround (v)</b><br>
to be around or near <p>
<b>suspicious (adj)</b><br>
if something is suspicious, you have the feeling that there is something wrong with it that you don't know about <p>
<b>tragic (adj)</b><br>
shocking or very sad<p>
<p>
</div>