<script>
	v = {
		q1a:'coffee table',
		q1b:'rug',
		q1c:'ashtray',
		q1d:['cushions','sofa'],
		q1e:'rocking chair',
		q1f:'mantelpiece',
		q1g:['bookshelves','bookshelf'],
		q1h:'floor lamp',
		q1i:'overhead light',
		q1j:'painting',
		q1k:'electric heater',
		q1l:'fireplace'
		
	}
</script>

<form id="t1">
<img class="logo1" src="img/t-u3.jpg">
<p class="titdorado">
<span>A room of my own</span>
</p>
<p>
<b class="instrucciones">1. Read the text below and look at the picture.</b> 
</p>
<p>
<table class="cuadro" cellpadding=4 cellspacing=0 border=0>
<tr><td bgcolor="#ffffcc" colspan=2><b>A room of my own</b></td></tr>
<tr><td class="tx1" bgcolor="#ffffcc">This is my living room. It's where I spend most of my free time when I'm at home and where I sit with friends when they visit. In the middle of the room there's a coffee table and on it there's an ashtray&#151;I don't smoke but some of my friends do!</td><td bgcolor="#ffffcc"><img id="recamara" src="img/u3-e.jpg"></td></tr>
<tr><td class="tx1" bgcolor="#ffffcc" colspan=2>Under the coffee table there's a really beautiful rug that I bought when I was on vacation in India a couple of years ago. Next to the rug, on the left you can see the sofa and on it there are some cushions&#151;they have the same pattern as the sofa. I don't sit on the sofa much, I prefer the rocking chair which is on the right next to the window.</td></tr>
<tr><td class="tx1" bgcolor="#ffffcc" colspan=2>I like to have lots of light in the living room so there are two lights&#151;there's the floor lamp next to the sofa and hanging from the ceiling in the middle of the room is the overhead light. I also have a choice of heating. In the middle of the far wall there is a nice fireplace that is great in winter. When I'm feeling lazy and don't want to go and get the  wood, I use the electric heater which is next to the fireplace.</td></tr>
<tr><td class="tx1" bgcolor="#ffffcc" colspan=2>Above the fireplace on the mantelpiece, there's a vase of flowers and a postcard from my brother, and on the wall there's a painting of a mountain. My living room is also my favorite place for reading so next to the painting there are some bookshelves where I keep all my favorite books. </td></tr>
</table>
</p>
<p>
<b class="instrucciones">2. Now use the description and the picture to write the names of the numbered objects below.</b> 
</p>
<p>
<center>
<table class="cuadro" cellpadding=2 cellspacing=0 border=2 bordercolor="009999">
<tr><td bgcolor="#ffcc99" width=20 align="center"><b>Picture</b></td><td bgcolor="#ffcc99" align="center"><b>Name</b></td></tr>
<tr><td bgcolor="#ffcc99" align="center">1</td><td bgcolor="#ffcc99" width=160 align="center"><input type="text" name="q1a" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">2</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1b" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">3</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1c" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">4</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1d" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">5</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1e" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">6</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1f" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">7</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1g" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">8</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1h" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">9</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1i" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">10</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1j" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">11</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1k" size=12></td></tr>
<tr><td bgcolor="#ffcc99" align="center">12</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q1l" size=12></td></tr>
</table>
</center>
</p>
</form>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>

<div id="z1">
</div>