<script>
	v = {
		q1a:'1',
		q2a:'was',
		q2b:'go',
		q2c:'went out',
		q2d:'write',
		q2e:'read',
		q2f:'fall',
		q2g:'come',
		q2h:'have',
		q2i:'throw'
	}
</script>



<form id="t1">
<img class="logo" src="img/t-u6.jpg">
<p>
<span class="titulo">Past Simple</span>
</p>
<p>
<b class="instrucciones">1. Past tense, regular and irregular verbs</b> 
</p>
<p class="letra">
For example: 
</p>
<p>
<table id="verb" cellpadding=4 cellspacing=0>
<tr class="letra"><td width=10 align="center"><img src="img/bullet.gif"></td><td><span class="rojo"> I <b>liked</b> the movie.</span></td></tr>
<tr class="letra"><td></td><td>VERB: <span class="rojo" >like</span> PAST TENSE: <span class="rojo">liked</span> = Regular verb</td></tr>
<tr class="letra"><td align="center"><img src="img/bullet.gif"></td><td><span class="rojo"> I <b>saw</b> the movie last night.</span></td></tr>
<tr class="letra"><td></td><td>VERB: <span class="rojo">see</span> PAST TENSE: <span class="rojo">saw</span> = Irregular verb</td></tr>
</table>
</p>
<p>
<b class="instrucciones">Which story below has only regular past tense verbs in it?</b>
</p>
<p>
<center>
<table class="cuadro" cellpadding=2 cellspacing=0>
<tr class="letra"><td><input type="radio" name="q1a" value=1 checked> story 1</td></tr>
<tr class="letra"><td><input type="radio" name="q1a" value=2> story 2</td></tr>
</table>
</center>
</p>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answer</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">story 1</b>
</p>
<p>
<table class="cuadro" cellpadding=2 cellspacing=0 border=1 width=430>
<tr><td>This happened a long time ago. We were playing in a field near my house. We were cooking a pumpkin over a candle. My friend accidentally knocked the candle onto the ground and the grass started to burn. A short time later, the fire department arrived.</td></tr>
</table>
</p>
<p>
<b class="instrucciones">story 3</b>
</p>
<p>
<table class="cuadro" cellpadding=2 cellspacing=0 border=1 width=430>
<tr><td>Dear Lucy,<p>I like my new job but last week something unexpected happened. I was working at night in my office on the tenth floor, and suddenly the lights went out. The elevator wasn't working. I went to the fire escape door but it was locked. I went to the window. For three hours I was throwing pieces of paper out the window to people in the street. On the pieces of paper I wrote: Help! I can't get out! Call the Police! Finally someone read a piece of paper and phoned the police. I was very tired and angry by then. The next day the people at work .....</td></tr>
</table>
</p>
<p>
<b class="instrucciones">2. Complete the chart of irregular verbs and their past tenses.</b>
</p>
<p>
<center>
<table class="cuadro" cellpadding=2 cellspacing=1>
<tr class="letra"><td bgcolor="#cc9966" align="center"><b>verb</b></td><td bgcolor="#cc9966" align="center"><b>past tense</b></td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center">(be) am/is</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2a" size=8></td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center">(be) are</td><td bgcolor="#ffcc99" align="center">were</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2b" size=8></td><td bgcolor="#ffcc99" align="center">went</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center">go out</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2c" size=8></td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2d" size=8></td><td bgcolor="#ffcc99" align="center">wrote</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center">read</td><td bgcolor="#ffcc99" align="center"><input type="text" name="q2e" size=8></td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2f" size=8></td><td bgcolor="#ffcc99" align="center">fell</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center">feel</td><td bgcolor="#ffcc99" align="center">felt</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2g" size=8></td><td bgcolor="#ffcc99" align="center">came</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2h" size=8></td><td bgcolor="#ffcc99" align="center">had</td></tr>
<tr class="letra"><td bgcolor="#ffcc99" align="center"><input type="text" name="q2i" size=8></td><td bgcolor="#ffcc99" align="center">threw</td></tr>
</table>
</center>
</p>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answer</button>
</center>
</p>
</form>
	
<div id="z1">
</div>
<div id="z2">
</div>