<script>
	v = {
		q1a:'4',
		q1b:'2',
		q1c:'1',
		q1d:'3',
		q2a:'2',
		q3a:'1',
		q3b:'3',
		q3c:'2',
		q3d:'1',
		q3e:'3',
		q3f:'1',
		q3g:'2',
		q3h:'1'
	}
</script>
<form id="t1">
<img class="logo" src="img/t-u7.jpg">
<p class="titdorado">
<span>Adverbs of frequency</span>
</p>
<p>
<b class="instrucciones">1. Look at these two sentences.</b> 
</p>
<p>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr><td width=30></td><td><!--<img src="img/bullet.gif">--></td><td><span class="rojo">We <b>usually</b class="letra"> wear loose, casual clothes like T-shirts and shorts.</span></td></tr>
<tr><td width=30></td><td><!--<img src="img/bullet.gif"></td>--><td><span class="rojo">We <b>never</b class="letra"> take a shower because there isn't a shower on the space craft.</span></td></tr>
</table>
</p>
<p class="letra">
<span class="rojo">Usually</span> and <span class="rojo">never</span> are adverbs of frequency. They tell us how often an action happens.
</p>
<p class="letra">
Click and choose the adverbs of frequency to the correct place on the line below. <span class="rojo">Never</span> and <span class="rojo">usually</span> have been done for you as examples.
</p>
<p>
<center>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr><td>0%<img src="img/ln.jpg" width=250 height=1>100%</td></tr>
</table>
</center>
</p>
<p>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr class="letra
"><td>
<span id="bl">never <select name="q1a"><option value=0>Choose<option value=1>often<option value=2>sometimes<option value=3>always<option value=4>hardly ever</select></td><td> <select name="q1b"><option value=0>Choose<option value=1>often<option value=2>sometimes<option value=3>always<option value=4>hardly ever</select></td><td><select name="q1c"><option value=0>Choose<option value=1>often<option value=2>sometimes<option value=3>always<option value=4>hardly ever</select></td><td> usually <select name="q1d"><option value=0>Choose<option value=1>often<option value=2>sometimes<option value=3>always<option value=4>hardly ever</select>
</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Where do we usually put adverbs of frequency? Choose the correct explanation.</b>
</p>
<p>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr><td><input type="radio" name="q2a" value=1></td><td>after the verb in the sentence</td></tr>
<tr><td><input type="radio" name="q2a" value=2></td><td>between the subject and the verb</td></tr>
<tr><td><input type="radio" name="q2a" value=3></td><td>at the start of the sentence</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Choose the correct adverb of frequency to make the sentences correct.</b>
</p>
<p>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">1. It <select name="q3a"><option class="letra" value=0>Choose answers<option value=1>hardly ever<option value=2>sometimes<option value=3>often</select></td><td class="letra"> rains in the Sahara desert.</td></tr>
</table>
<table class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">2. It <select name="q3b"><option class="letra" value=0>Choose answers<option value=1>hardly ever<option value=2>sometimes<option value=3>always</select></td><td class="letra"> gets cold in the Antarctic.</td></tr>
</table>
<table class="cuadro "cellpadding=0 cellspacing=4>
<tr><td class="letra">3. Police <select name="q3c"><option value=0>Choose answers<option value=1>sometimes<option value=2>usually<option value=3>hardly ever</select></td><td class="letra"> wear a uniform.</td></tr>
</table>
<table  class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">4. It <select name="q3d"><option value=0>Choose answers<option value=1>often<option value=2>never<option value=3>hardly ever</select></td><td class="letra"> rains in England in the summer.</td></tr>
</table>
<table  class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">5. The sun <select name="q3e"><option value=0>Choose answers<option value=1>usually<option value=2>never<option value=3>always</select></td><td class="letra"> rises in the east.</td></tr>
</table>
<table  class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">6. People <select name="q3f"><option value=0>Choose answers<option value=1>usually<option value=2>always<option value=3>sometimes</select></td><td class="letra"> take a vacation in the summer.</td></tr>
</table>
<table class="cuadro"  cellpadding=0 cellspacing=4>
<tr><td class="letra">7. Strict vegetarians <select name="q3g"><option value=0>Choose answers<option value=1>hardly ever<option value=2>never<option value=3>sometimes</select></td><td class="letra"> eat meat.</td></tr>
</table>
<table  class="cuadro" cellpadding=0 cellspacing=4>
<tr><td class="letra">8. In England people <select name="q3h"><option value=0>Choose answers<option value=1>always<option value=2>never<option value=3>often</select></td><td class="letra"> drive on the left.</td></tr>
</table>
</p>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>