<script>
	v = {
		q1a:'2',
		q1b:'1',
		q1c:'2',
		q1d:'1',
		q1e:'2',
		q1f:'1',
		q1g:'1',
		q1h:'2',
		q1i:'2',
		q1j:'1',
		q2a:'1',
		q2b:'2',
		q2c:'2',
		q2d:'1',
		q2e:'3',
		q2f:'3',
		q2g:'1',
		q2h:'2',
		q2i:'1',
		q2j:'3',
		q3a:'Does',
		q3b:'he',
		q3c:'use',
		q3d:'the',
		q3e:'computer',
		q3f:'What',
		q3g:'is',
		q3h:'she',
		q3i:'wearing',
		q3k:'Who\'s',
		q3l:'smoking',
		q3m:'Does',
		q3n:'it',
		q3o:'rain',
		q3p:'What',
		q3q:'are',
		q3r:'you',
		q3s:'doing',
		q3t:'Is',
		q3v:'he',
		q3w:'using',
		q3x:'the',
		q3y:'computer',
		q3z:'What',
		q3aa:'does',
		q3ab:'she',
		q3ac:'wear',
		q3ad:'Who',
		q3ae:'smokes',
		q3af:'Is',
		q3ag:'it',
		q3ah:'raining'
	}
</script>
<form id="t1">
<img class="logo" src="img/t-u7.jpg">
<p class="titdorado">
<span>Present Simple and Present Continuous </span>
</p>
<p>
<b class="instrucciones">1. Present Continuous v Present Simple</b> 
</p>
<p>
<b class="letra">Choose the correct alternative for the sentences below.</b>
</p>
<p>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">1 "Slow down! You <select name="q1a"><option value=0>Choose Answer<option value=1>drive<option value=2>are driving</select> very fast."</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">2 How many languages <select name="q1b"><option value=0>Choose Answer<option value=1>do you speak<option value=2>are you speaking</select>?</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">3 "Please be quiet! I <select name="q1c"><option value=0>Choose Answer<option value=1>study<option value=2>´m studying</select> for an exam for tomorrow."</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">4 How much <select name="q1d"><option value=0>Choose Answer<option value=1>do you smoke<option value=2>are you smoking</select> every day?</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra" >5 We are<select name="q1e"><option value=0>Choose Answer<option value=1>have 're<option value=2>having</select> a great time on vacation here in Brazil.</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">6 "We can't play tennis" it <select name="q1f"><option value=0>Choose Answer<option value=1>rains<option value=2>is raining</select>."</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">7 We <select name="q1g"><option value=0>Choose Answer<option value=1>usually go<option value=2>'re usually going</select> to the beach on vacation.</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">8 I<select name="q1h"><option value=0>Choose Answer<option value=1>write<option value=2>'m writing</select> to you from a cafe in the National Gallery.</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">9 Can you see John? He is <select name="q1i"><option value=0>Choose Answer<option value=1>sits 's<option value=2>sitting</select> over there next to the window.</td></tr>
</table>
<table cellpadding=0 cellspacing=4>
<tr><td class="letra">10 "What do you do?" "I'm a secretary. I <select name="q1j"><option value=0>Choose Answer<option value=1>work<option value=2>working</select> in an office."</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b class="instrucciones">2. Match the questions and the answers.</b> 
</p>
<p class="letra">
<table cellpadding=0 cellspacing=4>
<tr><td>1 What do you do? <select name="q2a"><option value=0>Choose Answer<option value=1>I'm a writer<option value=2>I'm a writing<option value=3>I are a writer</select>.</td></tr>
<tr><td>2 What are you doing? <select name="q2b"><option value=0>Choose Answer<option value=1>Plane my summer vacation<option value=2>Planning my summer vacation<option value=3>Planning summer vacation</select>.</td></tr>
<tr><td>3 Does he use the computer? <select name="q2c"><option value=0>Choose Answer<option value=1>No, she doesn't like them<option value=2>No, he doesn't like them<option value=3>No, doesn't like them</select>.</td></tr>
<tr><td>4 Is he using the computer? <select name="q2d"><option value=0>Choose Answer<option value=1>Yes, but you can use it when he finishes<option value=2>Yes, but can use it when he finishes<option value=3>Yes, use it when he finishes</select>.</td></tr>
<tr><td>5 What does she wear? <select name="q2e"><option value=0>Choose Answer<option value=1>Jeans and T-shirt usually<option value=2>Jeans and a T-shirt usefull<option value=3>Jeans and a T-shirt usually</select>.</td></tr>
<tr><td>6 What is she wearing? <select name="q2f"><option value=0>Choose Answer<option value=1>I not know - I can't see her<option value=2>I don't know - can't see her<option value=3>I don't know - I can't see her</select>.</td></tr>
<tr><td>7 Who smokes? <select name="q2g"><option value=0>Choose Answer<option value=1>No thanks, I stopped last year<option value=2>No thanks, I stop last year<option value=3>No thanks, stopped last year</select>.</td></tr>
<tr><td>8 Who's smoking? <select name="q2h"><option value=0>Choose Answer<option value=1>The man that table - ask him to stop<option value=2>The man at that table - ask him to stop<option value=3>The man at that table - ask to stop</select>.</td></tr>
<tr><td>9 Does it rain? <select name="q2i"><option value=0>Choose Answer<option value=1>No, at that time of year it's very sunny and hot<option value=2>No, at this time of year it's very sunny and hot<option value=3>No, at that time of year it's very sunny hot</select>.</td></tr>
<tr><td>10 Is it raining? <select name="q2j"><option value=0>Choose Answer<option value=1>Yes, take an umbrella you<option value=2>Yes, take a umbrella with you<option value=3>Yes, take an umbrella with you</select>.</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t2" data-draw="z2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b class="instrucciones">3. Now, use the prompts in the first column to complete the questions.</b>
</p>
<p class="letra">
The first one has been done for you as an example. Remember to use the correct form - Simple Present  or Present Continuous.
</p>
<p>
<table cellpadding=0 cellspacing=4>
<tr><td width=120><span class="rojo">1 do</span></td><td> <span class="rojo">What do you do?</span></td></tr>
<tr><td></td><td><span class="rojo"> I m a writer.</span></td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td><b>2</b></td><td>use/</td><td><sub>1</sub><input type="text" name="q3a" size=8></td><td><sub>2</sub><input type="text" name="q3b" size=8></td><td><sub>3</sub><input type="text" name="q3c" size=8></td></tr>
<tr><td></td><td>computer </td><td><sub>4</sub><input type="text" name="q3d" size=8></td><td><sub>5</sub><input type="text" name="q3e" size=8></td><td>?</td></tr>
<tr><td colspan=5>No, he doesn't like them.</td></tr>
<tr><td><b>3</b></td><td>she/</td><td><sub>6</sub><input type="text" name="q3f" size=8></td><td><sub>7</sub><input type="text" name="q3g" size=8></td><td><sub>8</sub><input type="text" name="q3h" size=8></td></tr>
<tr><td></td><td>wear </td><td><sub>9</sub><input type="text" name="q3i" size=8></td><td>?</td><td></td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=4>I don't know&#151;I can't see her.</td></tr>
<tr><td><b>4</b></td><td>who/smoke</td><td><sub>10</sub><input type="text" name="q3k" size=8></td><td><sub>11</sub><input type="text" name="q3l" size=8>?</td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=5>The man at that table&#151;ask him to stop.</td></tr>
<tr><td><b>5</b></td><td>it/rain</td><td><sub>12</sub><input type="text" name="q3m" size=8></td><td><sub>13</sub><input type="text" name="q3n" size=8></td><td><sub>14</sub><input type="text" name="q3o" size=8>?</td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=5>No, at that time of the year it's very hot and sunny.</td></tr>
<tr><td><b>6</b></td><td>what/</td><td><sub>15</sub><input type="text" name="q3p" size=8></td><td><sub>16</sub><input type="text" name="q3q" size=8></td><td><sub>17</sub><input type="text" name="q3r" size=8></td></tr>
<tr><td></td><td>do</td><td><sub>18</sub><input type="text" name="q3s" size=8></td><td>?</td><td></td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=5>Planning my summer vacation.</td></tr>
<tr><td><b>7</b></td><td>use/</td><td><sub>19</sub><input type="text" name="q3t" size=8></td><td><sub>20</sub><input type="text" name="q3v" size=8></td><td><sub>21</sub><input type="text" name="q3w" size=8></td></tr>
<tr><td></td><td>computer</td><td><sub>22</sub><input type="text" name="q3x" size=8></td><td><sub>23</sub><input type="text" name="q3y" size=8></td><td>?</td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=5>Yes, but you can use it when he finishes.</td></tr>
<tr><td><b>8</b></td><td>she/</td><td><sub>24</sub><input type="text" name="q3z" size=8></td><td><sub>25</sub><input type="text" name="q3aa" size=8></td><td><sub>26</sub><input type="text" name="q3ab" size=8></td></tr>
<tr><td></td><td>wear</td><td><sub>27</sub><input type="text" name="q3ac" size=8></td><td>?</td><td></td></tr>
</table>
<table class="letra" cellpadding=0 cellspacing=4>
<tr><td colspan=5>Jeans and a T-shirt usually.</td></tr>
<tr><td><b>9</b></td><td>who/smoke</td><td><sub>28</sub><input type="text" name="q3ad" size=8></td><td><sub>29</sub><input type="text" name="q3ae" size=8></td><td>?</td></tr>
</table>
<table class="letra"vcellpadding=0 cellspacing=4>
<tr><td colspan=5>No thanks, I stopped last year.</td></tr>
<tr><td><b>10</b></td><td>it/rain</td><td><sub>30</sub><input type="text" name="q3af" size=8></td><td><sub>31</sub><input type="text" name="q3ag" size=8></td><td><sub>32</sub><input type="text" name="q3ah" size=8>?</td></tr>
<tr><td colspan=5>Yes, take an umbrella with you.</td></tr>
</table>
</p>
<button class="eval" data-target="t3" data-draw="z3">Check answers</button>
</form> 

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>