<script>
	v = {
		q1a:'D',
		q1b:'C',
		q1c:'G',
		q1d:'M',
		q1e:'F',
		q1f:'H',
		q1g:'J',
		q1h:'L',
		q1i:'E',
		q1j:'I',
		q1k:'K',
		q1l:'B'
	}
</script>
<form id="t1">
<img class="logo1" src="img/t-u8.jpg">
<p class="titulo">
<span>Prepositions of place</span>
</p>
<p>
<b class="instrucciones">1. Prepositions of place. Look at the pictures and match them to the prepositions below. Where is the red object?</b> 
</p>
<p>
<img class="cuadro" src="img/u8-a1.jpg">
</p>
<p>
<table class="cuadro" cellpadding=2 cellspacing=0>
<tr class="letra"><td></td><td width=40></td><td></td><td width=40></td><td rowspan=13><img src="img/u8-a2.jpg"></td></tr>
<tr class="letra"><td>across from</td><td></td><td><input type="text" name="q1a" size=3></td><td></td></tr>
<tr class="letra"><td>under</td><td></td><td><input type="text" name="q1b" size=3></td><td></td></tr>
<tr class="letra"><td>in</td><td></td><td><input type="text" name="q1c" size=3></td><td></td></tr>
<tr class="letra"><td>above</td><td></td><td><input type="text" name="q1d" size=3></td><td></td></tr>
<tr class="letra"><td>next to</td><td></td><td><input type="text" name="q1e" size=3></td><td></td></tr>
<tr class="letra"><td>in front of</td><td></td><td><input type="text" name="q1f" size=3></td><td></td></tr>
<tr class="letra"><td>on the left</td><td></td><td><input type="text" name="q1g" size=3></td><td></td></tr>
<tr class="letra"><td>on</td><td></td><td><input type="text" name="q1h" size=3></td><td></td></tr>
<tr class="letra"><td>in the middle</td><td></td><td><input type="text" name="q1i" size=3></td><td></td></tr>
<tr class="letra"><td>between</td><td></td><td><input type="text" name="q1j" size=3></td><td></td></tr>
<tr class="letra"><td>behind</td><td></td><td><input type="text" name="q1k" size=3></td><td></td></tr>
<tr class="letra"><td>on the right</td><td></td><td><input type="text" name="q1l" size=3></td><td></td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t1" data-draw="z1">Check answers</button>
</center>
</p>
</form>
<!--
<form id="t2">
<p>
<b class="instrucciones">2. Moving. The Johnson family is moving.</b>
</p>
<p>
<b class="letra">Mrs. Johnson wrote a note to the movers that explains where to put all the furniture.</b>
</p>
<p>
<b class="letra">Read the note and, following Mrs. Johnson's instructions, then click and drag the furniture to the right place in the plan below.</b>
</p>
<p>
<table class="cuadro"ccellpadding=0 cellspacing=0 border=1>
<tr class="letra"><td>
Dear movers, 
</p>
<p class="letra">
Here's a little note to help you put all the furniture in the house&#151;it should be very easy really. First the living room&#151;this is the room next to the kitchen. The bookcase and the sofa go in here. Just leave them in the middle of the room. 
</p>
<p class="letra">
The cupboard goes in the kitchen. So does the electric heater. Put them in the middle of the room&#151;I'll sort them out later. 
</p>
<p class="letra">
The mirror and the shelves go in the bathroom. Put them on the floor for the time being. 
</p>
<p class="letra">
The bedroom is next to the bathroom. The table, closet and bunkbeds go here. Leave them in the middle of the room. 
</p>
<p class="letra">
One thing I forgot&#151;the plant goes in the bathroom. Oh, and the rocking chair! Put that in the living room. 
</p>
<p class="letra">
I think that's everything. 
</p>
<p class="letra">
Thanks very much, 
</p>
<class="letra" >
Alison Johnson
</td></tr>
</table>
</p>
<embed class="cuadro" src="u8-a.swf" width=520 height=340>
</form>
-->
<div id="z1">
</div>
<div id="z2">
</div>