div#U10B
		script.
				unitans.U10B = {
					q1a:'1',
					q1b:'4',
					q1c:'2',
					q1d:'3',
					q1e:'4',
					q1f:'4',
					q1g:'2',
					q1h:'2',
					q1i:'3',
					q1j:'4',
					q1k:'2',
					q1l:'1',
					q1m:'1',
					q1n:'1',
					q2a:'unexpectedly',
					q2b:'clearly',
					q2c:'predictably',
					q2d:'arguably',
					q2e:'supposedly',
					q2f:'remarkably',
					q2g:'undoubtedly',
					q2h:'apparently',
					q3a:'unexpectedly',
					q3b:'clearly',
					q3c:'predictably',
					q3d:'arguably',
					q3e:'apparently',
					q3f:'remarkably',
					q3g:'undoubtedly',
					q3h:'supposedly'
				}
		form#t1
			b.inst5 Stance markers
			p
				b.tablau2 1. Adverbs that express attitude.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td(width='60')
							td
								img(src='img/ob/b1.jpg')
							td
								span.rojo
									| Sussex's vocals are
									b arguably
									| the most important component in the
						tr
							td
							td
							td
								span(iclass='rojo') Motel's impressive musical machinery.
					p
						span.rojo Arguably
						| tells us the writer's attitude to what s/he is saying.
						p
							b Put the adverbs into the boxes to show what attitude they express.
							p
								center
									img(src='img/u10b-1.jpg')
								p
									table(cellpadding='0', cellspacing='10')
										tr
											td obviously	
											td
												select(name='q1a')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td remarkably
											td
												select(name='q1b')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td possibly
											td
												select(name='q1c')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td apparently
											td
												select(name='q1d')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td surprisingly
											td
												select(name='q1e')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td predictably
											td
												select(name='q1f')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td probably
											td
												select(name='q1g')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td arguably
											td
												select(name='q1h')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td supposedly
											td
												select(name='q1i')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td unexpectedly
											td
												select(name='q1j')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td perhaps
											td
												select(name='q1k')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td definitely
											td
												select(name='q1l')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td undoubtedly
											td
												select(name='q1m')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
										tr
											td clearly
											td
												select(name='q1n')
													option(value='0')
														| Choose answer
														option(value='1')
															| Page 1
															option(value='2')
																| Page 2
																option(value='3')
																	| Page 3
																	option(value='4') Page 4
									p
										center
											button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. Click and drag the adverbs from the box into the sentences to show the writer's attitude (in parentheses).
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='100', align='center') obviously
								td(width='100', align='center') apparently
								td(width='100', align='center') probably
								td(width='100', align='center') unexpectedly
								td(width='100', align='center') perhaps
							tr
								td(align='center') remarkably
								td(align='center') surprisingly
								td(align='center') arguably
								td(align='center') undoubtedly
								td(align='center') clearly
							tr
								td(align='center') possibly
								td(align='center') predictably
								td(align='center') supposedly
								td(align='center') definitely
								td(align='center')  
					p
						table(cellpadding='0', cellspacing='10', width='700')
							tr
								td
									| 1. Peter Sculthorpe's work is
									input(type='text', name='q2a', size='20')
									| good. (I didn't expect this.)
							tr
								td
									| 2. Oasis have
									input(type='text', name='q2b', size='20')
									| been influenced by the Beatles. (It's very clear.)
							tr
								td
									| 3.The new Backstreet Boys album has
									input(type='text', name='q2c', size='20')
									| syrupy lyrics. (It is no surprise to me.)
							tr
								td
									| 4. Miles Davis was
									input(type='text', name='q2d', size='20')
									| the best jazz trumpeter of all time. (I think this is true although some people might argue with me.)
							tr
								td
									| 5. Janis Joplin
									input(type='text', name='q2e', size='20')
									| drank half a bottle of whiskey before going on stage. (I've heard this said.)
							tr
								td
									| 6. Country singer Garth Brooks is
									input(type='text', name='q2f', size='20')
									| popular. (it's remarkable just how popular he is.)
							tr
								td
									| 7. Irish music is
									input(type='text', name='q2g', size='20')
									| the most popular folk music outside its own country. (There's no doubt about this.)
							tr
								td
									| 8. Led Zeppelin are
									input(type='text', name='q2h', size='20')
									| going to organize a comeback tour. (I read this somewhere.)
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 3. How good is your memory? Put the adverb on the left in the correct place in the sentence.
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='100', align='center') unexpectedly
								td(width='100', align='center') undoubtedly
								td(width='100', align='center') apparently
								td(width='100', align='center') predictably
							tr
								td(align='center') supposedly
								td(align='center') arguably
								td(align='center') remarkably
								td(align='center') clearly
						br
					p
						table(cellpadding='0', cellspacing='10', width='700')
							tr
								td
									| 1. Peter Sculthorpe's work is
									input(type='text', name='q3a', size='20')
									| good.
							tr
								td
									| 2. Oasis have
									input(type='text', name='q3b', size='20')
									| been influenced by the Beatles
							tr
								td
									| 3. The new Backstreet Boys album has
									input(type='text', name='q3c', size='20')
									| syrupy lyrics.
							tr
								td
									| 4. Miles Davis was
									input(type='text', name='q3d', size='20')
									| the best jazz trumpeter of all time.
							tr
								td
									| 5. Janis Joplin
									input(type='text', name='q3e', size='20')
									| drank half a bottle of whiskey before going on stage.
							tr
								td
									| 6. Country singer Garth Brooks is
									input(type='text', name='q3f', size='20')
									| popular.
							tr
								td
									| 7. Irish music is
									input(type='text', name='q3g', size='20')
									| the most popular folk music outside its own country.
							tr
								td
									| 8. Led Zeppelin are
									input(type='text', name='q3h', size='20')
									| going to organize a comeback tour.
						p
							center
								button.eval(data-target='t3') Check answers
		p
			#z1
			#z2
			#z3
