div#U10C
		script.
				unitans.U10C = {
					q1a:'3',
					q2a:'3',
					q2b:'2',
					q2c:'3',
					q2d:'2',
					q2e:'1',
					q2f:'1',
					q2g:'2',
					q2h:'3',
					q2i:'3',
					q2j:'1',
					q2k:'1',
					q2l:'1',
					q3a:'It\'s a musical set in London in the 1960s',
					q3b:'The music, composed by Ennio Morricone, contributed to the movie\'s success',
					q3c:'The CD has George Martin\'s favorite Beatles tracks reinterpreted by other artists',
					q3d:'These recordings, wich show her in her very best form were considered lost until last year.',
					q3e:'This is free jazz taken to its logical, and unlistenable, conclusion',
					q3f:'The album, banned when it first came out, is now considered a punk classic',
					q3g:'Their comeback tour, planned to coincide with the release of a new album, was a disaster',
					q3h:'It\'s a collection of short piano pieces inspired by the composer\'s stay in Donegal',
					q4a:'4',
					q4b:'1',
					q4c:'2',
					q4d:'3',
					q4e:'3',
					q4f:'1',
					q4g:'2',
					q4h:'4',
					q5a:'3',
					q5b:'2',
					q5c:'3',
					q5d:'3',
					q5e:'2',
					q5f:'3',
					q5g:'1',
					q5h:'3',
					q6a:'The work, featuring Dennis Cahill on guitar, is a must for all Martin Hayes fans',
					q6b:'The CD contains all of their catchy hits, including their latest number-one single',
					q6c:'The two saxophonists, playing together for the first time on this album, are an electrifying combination',
					q6d:'The vocalist, sounding like Bob Dylan with a cold, is the worst thing about this CD',
					q6e:'Her voice, being both cruel and vulnerable at the same time, is ideally suited to the lyrical content of her songs',
					q6f:'They have used a string quartet on the title track, making it sound like a Beatles song',
					q6g:'The piano player, featured on some tracks and accompaning on others, makes the music swing delightfully',
					q6h:'The soloists can take off in any direction, knowing that the rhythm section, led by the double bass, will be there when they get back',
					q7a:'recorded',
					q7b:'recording',
					q7c:'based',
					q7d:'basing',
					q7e:'featuring',
					q7f:'featured',
					q7g:'making',
					q7h:'made',
					q7i:'mixing',
					q7j:'mixed',
					q7k:'released',
					q7l:'releasing'
				}
		form#t1
			b.inst5 Participles
			p
				b.tablau2 1. How many past participles can you find in this review?
				p
					center
						table(cellpadding='0', cellspacing='10')
							tr
								td
									input(type='radio', name='q1a', value='1', checked='checked')
									| 10
									input(type='radio', name='q1a', value='2')
									| 11
									input(type='radio', name='q1a', value='3')
									| 12
									input(type='radio', name='q1a', value='4')
									| 13
									input(type='radio', name='q1a', value='5')
									| 14
					p
						center
							table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
								tr
									td
										| This disc is the second volume of Sculthorpe's complete works for string quartets, recorded in the presence of the composer. Included is the String Quartet No 10, written in 1983 for the Kronos Quartet and displaying musical influences "from both sides of the Pacific." It is balanced by the String Quartet No 11 of 1990 which is distinctively Australian in feeling and, with the sub-title "Jabiru Dreaming," is one of the composer's "Kakadu" works.
										p
											| Both are very approachable, and receive committed and finely-shaped performances which capture effectively the essential elements of the music. With the composer's supervision the performances can be regarded as definitive.
											p
												| The disc also offers ten small pieces for string quartet, two of them miniatures called Hill-Songs, and the remainder drawn from unpublished or discarded works. With equally fine and carefully crafted performances, they provide, with the full-scale quartets, a constantly interesting survey of Sculthorpe's music for string quartet from 1945 to 1994.
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b Now look at the complete list of past participles.
				p
					p
						center
							a(href='#', onclick='window.open(\'templates/TU10C1.html\',\'_blank\',\'width=275,height=300\');')
								b see past participles
						p
							b
								| 2. Choose the correct box to the past participles from the text into one of the three boxes.
							p
								center
									img(src='img/u10c-1.jpg')
								p
									table(cellpadding='0', cellspacing='10')
										tr
											td recorded
											td
												select(name='q2a')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td included
											td
												select(name='q2b')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td written
											td
												select(name='q2c')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td balanced
											td
												select(name='q2d')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td commited
											td
												select(name='q2e')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td shaped
											td
												select(name='q2f')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td regarded
											td
												select(name='q2g')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td called
											td
												select(name='q2h')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td drawn
											td
												select(name='q2i')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td unpublished
											td
												select(name='q2j')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td discarded
											td
												select(name='q2k')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
										tr
											td crafted
											td
												select(name='q2l')
													option(value='0')
														| Choose answer
														option(value='1')
															| Notebook 1
															option(value='2')
																| Notebook 2
																option(value='3') Notebook 3
									p
										center
											button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Write the two sentences as one using a past participle clause.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								span.rojo Included is the String Quartet No 10. It was written for the Kronos Quartet.
						tr
							td
								img(src='img/ob/fl-1.jpg')
								span#rd
									| Included is the String Quartet No 10,
									b written
									| for the Kronos Quartet.
					p
						table(cellpadding='0', cellspacing='10', width='700')
							tr
								td 1 It's a musical. It's set in London in the 1960s.
							tr
								td
									input(type='text', name='q3a', size='80')
									| .
							tr
								td
									| 2 The music contributed to the movie's success. The music was composed by Ennio Morricone.
							tr
								td
									input(type='text', name='q3b', size='80')
									| .
							tr
								td
									| 3 The CD has George Martin's favorite Beatles tracks. They are reinterpreted by other artists.
							tr
								td
									input(type='text', name='q3c', size='80')
									| .
							tr
								td
									| 4 These recordings show her in her very best form. They were considered lost until last year.
							tr
								td
									input(type='text', name='q3d', size='80')
									| .
							tr
								td 5 This is free jazz. It's taken to its logical, and unlistenable, conclusion.
							tr
								td
									input(type='text', name='q3e', size='80')
									| .
							tr
								td
									| 6 The album is now considered a punk classic. It was banned when it first came out.
							tr
								td
									input(type='text', name='q3f', size='80')
									| .
							tr
								td
									| 7 Their comeback tour was a disaster. It was planned to coincide with the release of a new album.
							tr
								td
									input(type='text', name='q3g', size='80')
									| .
							tr
								td
									| 8 It's a collection of short piano pieces. They were inspired by the composer's stay in Donegal.
							tr
								td
									input(type='text', name='q3h', size='80')
									| .
						p
							center
								button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. Using the present participle.
				p
					table(width='100%', cellpadding='0', cellspacing='10')
						tr
							td Here are four ways in which the present participle can be used:
						tr
							td
								b A
								| As part of a
								b verb phrase
								| .
						tr
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| Her voice is
									b improving
									| all the time.
						tr
							td
								b B
								| Before a noun as an
								b adjective
								| .
						tr
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| It's a fairly accurate description of her
									b haunting
									| vocal style.
						tr
							td
								b C
								| After a
								b noun
								| to introduce more information about that noun.
						tr
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| Olsen's voice and the cello exchange lines, with the cello
									b weaving
									| a lower line....
						tr
							td
								b D
								| After a
								b clause
								| to introduce more information about that clause.
						tr
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| The group uses the sitar on most tracks,
									b giving
									| their music an Eastern feeling.
						tr
							td
								| Decide which use of the
								b present participle
								| is illustrated in these sentences.
					p
						b Decide which use of the present participle is illustrated in these sentences.
						p
							table(cellpadding='0', cellspacing='10', width='100%')
								tr
									td
										| 1. There is more risk-taking on this album, revealing a new maturity in their playing.
									td
										select(name='q4a')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 2. They are fast becoming one of the best live acts around.
									td
										select(name='q4b')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 3. They provide a constantly interesting survey of Sculthorpe's music.
									td
										select(name='q4c')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 4. The musicians performing the Quartet come from Australia.
									td
										select(name='q4d')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 5. The track includes birds singing in the background.
									td
										select(name='q4e')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 6. Her career seemed to be going nowhere until she released this album.
									td
										select(name='q4f')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td 7. The outstanding track on this album is a song called "Heart Hill".
									td
										select(name='q4g')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
								tr
									td
										| 8. The songs have been arranged in a subtle, delicate manner, bringing out the best in her voice.
									td
										select(name='q4h')
											option(value='0')
												| Choose answer
												option(value='1')
													| Verb phrase
													option(value='2')
														| Adjective
														option(value='3')
															| After a noun
															option(value='4') After a clause
							p
								center
									button.eval(data-target='t4') Check answers
		form#t5
			p
				b
					| 5. Decide if these sentences are complete or if they need auxiliary verbs . Choose the auxiliary from the menu.
				p
					table(cellpadding='0', cellspacing='10', width='770')
						tr
							td
								| 1. The musicians
								select(name='q5a')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| performing the Quartet come from Australia.
						tr
							td
								| 2. The musicians
								select(name='q5b')
									option(value='0')
										| Choose answer
										option(value='1')
											| are
											option(value='2')
												| were
												option(value='3') no auxiliary
								| performing the Quartet in Australia.
						tr
							td
								| 3. The song
								select(name='q5c')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| playing on the radio was one of my favorites.
						tr
							td
								| 4. I bought a CD of Shirley Bassey
								select(name='q5d')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| singing Elton John hits.
						tr
							td
								| 5. Did you know that Cold Play
								select(name='q5e')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| recording a new album?
						tr
							td
								| 6. Someone told me that the pianist
								select(name='q5f')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| accompanying Bartoli is her brother.
						tr
							td
								| 7. There's nothing better than when a big choir
								select(name='q5g')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| singing the Hallelujah Chorus.
						tr
							td
								| 8. There's nothing better than a big choir
								select(name='q5h')
									option(value='0')
										| Choose answer
										option(value='1')
											| is
											option(value='2')
												| was
												option(value='3') no auxiliary
								| singing the Hallelujah Chorus.
					p
						center
							button.eval(data-target='t5') Check answers
		form#t6
			p
				b 6. In questions 1-6 join the sentences using a present participle clause. 
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								span.rojo Olsen's voice and the cello exchange lines. They match tonalities.
						tr
							td
								img(src='img/ob/fl-1.jpg')
								span.rojo
									| Olsen's voice and the cello exchange lines,
									b matching
									| tonalities.
					p
						table(cellpadding='0', cellspacing='10', width='620')
							tr
								td
									b 1
									| The work is a must for all Martin Hayes fans. It features Dennis Cahill on guitar.
							tr
								td
									input(type='text', name='q6a', size='90')
									| .
							tr
								td
									b 2
									| The CD contains all of their catchy hits. These include their latest number-one single.
							tr
								td
									input(type='text', name='q6b', size='90')
									| .
							tr
								td
									b 3
									| The two saxophonists are an electrifying combination. They play together for the first time on this album.
							tr
								td
									input(type='text', name='q6c', size='90')
									| .
							tr
								td
									b 4
									| The vocalist is the worst thing about the CD. He sounds like Bob Dylan with a cold.
							tr
								td
									input(type='text', name='q6d', size='90')
									| .
							tr
								td
									b 5
									| Her voice is ideally suited to the lyrical content of her songs. It is both cruel and vulnerable at the same time.
							tr
								td
									input(type='text', name='q6e', size='100')
									| .
							tr
								td
									b 6
									| They have used a string quartet on the title track. This makes it sound like a Beatles song.
							tr
								td
									input(type='text', name='q6f', size='90')
									| .
							tr
								td
									b
										| In questions 7 and 8 join the sentences using present and past participle clauses.
							tr
								td
									b 7
									| The piano player makes the music swing delightfully. The piano player is featured on some tracks. And he accompaning on others.
							tr
								td
									input(type='text', name='q6g', size='100')
							tr
								td
									b 8
									| The soloists can take off in any direction. They know that the rhythm section will be there when they get back. The rhythm section is led by the double bass.
							tr
								td
									input(type='text', name='q6h', size='100')
						p
							center
								button.eval(data-target='t6') Check answers
		form#t7
			p
				b
					| 7. Complete the pairs of sentences with either a past or a present participle of the verb given. The first one has been done for you as an example.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td(width='15')
							td
								span.eval
									| eg
									b write
						tr
							td(width='15')
							td
								span.rojo
									| a The songs,
									b written
									| when she was touring Australia, are some of her best yet.
						tr
							td(width='15')
							td
								span.rojo
									| b She travels a lot,
									b writing
									| songs about what she sees on the way.
					p
						table(cellpadding='0', cellspacing='10', width='800')
							tr
								td
									| 1
									b record
							tr
								td
									| a Their first CD was a live album
									input(type='text', name='q7a', size='20')
									| at the Edinburgh festival.
							tr
								td
									| b They are a very prolific group,
									input(type='text', name='q7b', size='20')
									| at least two CDs a year since then.
							tr
								td
									| 2
									b base
							tr
								td
									| a The song,
									input(type='text', name='q7c', size='20')
									| on a Rachmaninov piano theme, is one of his best loved.
							tr
								td
									| b She is taking a new direction on this CD,
									input(type='text', name='q7d', size='20')
									| her lyrics on experience rather than fictitious events.
							tr
								td
									| 3
									b feature
							tr
								td
									| a The disc has a very unoriginal cover
									input(type='text', name='q7e', size='20')
									| a photo of the group.
							tr
								td
									| b The group,
									input(type='text', name='q7f', size='20')
									| on the CD cover, look too old to be in this business.
							tr
								td
									| 4
									b make
							tr
								td
									| a His last CD sold over a million copies,
									input(type='text', name='q7g', size='20')
									| him the most successful African artist outside Africa.
							tr
								td
									| b His latest CD,
									input(type='text', name='q7h', size='20')
									| this time in France, is already number one in the French charts.
							tr
								td
									| 5
									b mix
							tr
								td
									| a They draw on Indian and English influences,
									input(type='text', name='q7i', size='20')
									| them to perfection.
							tr
								td
									| b For an album
									input(type='text', name='q7j', size='20')
									| at home, the quality is surprisingly good.
							tr
								td
									| 6
									b release
							tr
								td
									| a It's a greatest-hits CD
									input(type='text', name='q7k', size='20')
									| to cash in on the Christmas market.
							tr
								td
									| b They made an unsuccessful comeback attempt last year,
									input(type='text', name='q7l', size='20')
									| their first work in over a decade.
						p
							center
								button.eval(data-target='t7') Check answers
		p
			#z1
			#z2
			#z3
			#z4
			#z5
			#z6
			#z7
