div#U1B
		script.
				unitans.U1B = {
					q1a:'5',
					q1b:'2',
					q2a:'0',
					q2b:'1',
					q2c:'0',
					q2d:'0',
					q2e:'1',
					q2f:'0',
					q2g:'0',
					q2h:'1',
					q2i:'1',
					q2j:'0',
					q3a:'1',
					q3b:'1',
					q3c:'0',
					q3d:'1',
					q3e:'0',
					q3f:'0',
					q3g:'0',
					q3h:'0',
					q4a:'2',
					q4b:'1',
					q4c:'2',
					q4d:'1',
					q4e:'1',
					q4f:'2',
					q4g:'2',
					q4h:'1',
					q4i:'2',
					q4j:'2',
					q5a:'0',
					q5b:'1',
					q5c:'1',
					q5d:'0',
					q5e:'1',
					q5f:'0',
					q5g:'0',
					q5h:'1',
					q6a:'0',
					q6b:'1',
					q6c:'1',
					q6d:'0',
					q6e:'1',
					q6f:'1',
					q6g:'0',
					q6h:'0',
					q7a:'0',
					q7b:'1',
					q7c:'0',
					q7d:'1',
					q7e:'1',
					q7f:'1',
					q7g:'0',
					q7h:'0',
					q7i:'1',
					q7j:'1'
				}
		form#t1
			b.inst5 Attitudes toward smoking
			p
				b.tablau2 1. Listen to these two conversations.
				p
					center
						a(href='snd/u1b-1.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td
									| In the first conversation, who is talking to whom?
									select(name='q1a')
										option(value='0')
											| Choose Answer
											option(value='1')
												| husband and wife
												option(value='2')
													| parent and child
													option(value='3')
														| sister and brother
														option(value='4')
															| girlfriend and boyfriend
															option(value='5') work colleagues
							tr
								td
									| In the second conversation, who is talking to whom?
									select(name='q1b')
										option(value='0')
											| Choose Answer
											option(value='1')
												| husband and wife
												option(value='2')
													| parent and child
													option(value='3')
														| sister and brother
														option(value='4')
															| girlfriend and boyfriend
															option(value='5') work colleagues
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Listen again and answer these questions about the first conversation.
				p
					center
						a(href='snd/u1b-2.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					p
						| Which arguments does the man use to justify smoking?
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td 1 The room was originally a smoking room.
									td
										input(type='radio', name='q2a', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2a', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 2 Most people who work in the morning are smokers.
									td
										input(type='radio', name='q2b', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2b', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 3 He only smokes a little.
									td
										input(type='radio', name='q2c', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2c', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 4 The window is open.
									td
										input(type='radio', name='q2d', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2d', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 5 He's not the first person to smoke there this morning.
									td
										input(type='radio', name='q2e', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2e', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 6 There's nowhere else to smoke in the building.
									td
										input(type='radio', name='q2f', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2f', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 7 It's raining outside.
									td
										input(type='radio', name='q2g', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2g', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 8 The woman is normally never there in the morning.
									td
										input(type='radio', name='q2h', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2h', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 9 The arguments about passive smoking may not be true.
									td
										input(type='radio', name='q2i', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2i', value='0')
										img(src='img/ob/mal.jpg')
								tr
									td 10 Nobody agreed that the room would be a non-smoking room.
									td
										input(type='radio', name='q2j', value='1', checked='checked')
										img(src='img/ob/bien.jpg')
										input(type='radio', name='q2j', value='0')
										img(src='img/ob/mal.jpg')
							p
								center
									button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Which arguments does the woman use to justify NOT smoking?
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td 1 It was voted that the room should be a non-smoking room.
							td
								input(type='radio', name='q3a', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3a', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 2 She doesn't smoke.
							td
								input(type='radio', name='q3b', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3b', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 3 Smoke gets in her eyes.
							td
								input(type='radio', name='q3c', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3c', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 4 Passive smoking is bad for you.
							td
								input(type='radio', name='q3d', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3d', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 5 Nobody else smokes in that room.
							td
								input(type='radio', name='q3e', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3e', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 6 There are plenty of other places to smoke.
							td
								input(type='radio', name='q3f', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3f', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 7 Smokers make the place messy.
							td
								input(type='radio', name='q3g', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3g', value='0')
								img(src='img/ob/mal.jpg')
						tr
							td 8 He can smoke outside when it's not raining.
							td
								input(type='radio', name='q3h', value='1', checked='checked')
								img(src='img/ob/bien.jpg')
								input(type='radio', name='q3h', value='0')
								img(src='img/ob/mal.jpg')
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. Listen to the first conversation again. 
				p
					center
						a(href='snd/u1b-2.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					p
						| Who says:
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| 1 "Excuse me"
										select(name='q4a')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 2 "I'm sorry"
										select(name='q4b')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 3 "If you don't mind"
										select(name='q4c')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 4 "I can't see what the problem is"
										select(name='q4d')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 5 "Frankly"
										select(name='q4e')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 6 "Yeah exactly"
										select(name='q4f')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 7 That's the point"
										select(name='q4g')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 8 "But anyway"
										select(name='q4h')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 9 "I don't think that's really the point"
										select(name='q4i')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
								tr
									td
										| 10 "That's not my problem"
										select(name='q4j')
											option(value='0')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2') Woman
							p
								| Look at the transcript of the first conversation and check your answers.
								p
									center
										a(href='#', onclick='window.open(\'templates/TU1B1.html\',\'_blank\',\'width=600,height=400\');')
											b view transcript
									p
										center
											button.eval(data-target='t4') Check answers
		form#t5
			p
				b 5. Listen to the second conversation again. What arguments does the father use? 
				p
					center
						a(href='snd/u1b-3.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td 1 It smells bad.
								td
									input(type='radio', name='q5a', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5a', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 2 As an ex-smoker he knows that it's dangerous.
								td
									input(type='radio', name='q5b', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5b', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 3 As an ex-smoker he knows how addictive it is.
								td
									input(type='radio', name='q5c', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5c', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 4 It's bad for your health.
								td
									input(type='radio', name='q5d', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5d', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 5 Even one or two a day can lead to an addiction.
								td
									input(type='radio', name='q5e', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5e', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 6 Cigarettes are worse than cigars.
								td
									input(type='radio', name='q5f', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5f', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 7 The house may catch fire.
								td
									input(type='radio', name='q5g', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5g', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 8 They've had this argument before.
								td
									input(type='radio', name='q5h', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q5h', value='0')
									img(src='img/ob/mal.jpg')
						p
							center
								button.eval(data-target='t5') Check answers
		form#t6
			p
				b 6. Listen to the second conversation again. What argument does the daughter use?
				p
					center
						a(href='snd/u1b-3.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td 1 It doesn't smell bad.
								td
									input(type='radio', name='q6a', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6a', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 2 Her father was a smoker.
								td
									input(type='radio', name='q6b', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6b', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 3 She's not addicted.
								td
									input(type='radio', name='q6c', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6c', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 4 She's old enough to smoke.
								td
									input(type='radio', name='q6d', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6d', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 5 All her friends smoke.
								td
									input(type='radio', name='q6e', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6e', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 6 Her father still smokes.
								td
									input(type='radio', name='q6f', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6f', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 7 She only smokes outside.
								td
									input(type='radio', name='q6g', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6g', value='0')
									img(src='img/ob/mal.jpg')
							tr
								td 8 It's not bad for you.
								td
									input(type='radio', name='q6h', value='1', checked='checked')
									img(src='img/ob/bien.jpg')
									input(type='radio', name='q6h', value='0')
									img(src='img/ob/mal.jpg')
						p
							center
								button.eval(data-target='t6') Check answers
		form#t7
			p
				b 7. Who says:
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td 1 What do you mean?
							td
								input(type='radio', name='q7a', value='1', checked='checked')
								| Father
								input(type='radio', name='q7a', value='0')
								| Daughter
						tr
							td 2 Don't try and hide the fact.
							td
								input(type='radio', name='q7b', value='1', checked='checked')
								| Father
								input(type='radio', name='q7b', value='0')
								| Daughter
						tr
							td 3 So what?
							td
								input(type='radio', name='q7c', value='1', checked='checked')
								| Father
								input(type='radio', name='q7c', value='0')
								| Daughter
						tr
							td 4 We've talked about this before.
							td
								input(type='radio', name='q7d', value='1', checked='checked')
								| Father
								input(type='radio', name='q7d', value='0')
								| Daughter
						tr
							td 5 That's not the point.
							td
								input(type='radio', name='q7e', value='1', checked='checked')
								| Father
								input(type='radio', name='q7e', value='0')
								| Daughter
						tr
							td 6 Believe me.
							td
								input(type='radio', name='q7f', value='1', checked='checked')
								| Father
								input(type='radio', name='q7f', value='0')
								| Daughter
						tr
							td 7 That's rubbish and you know...
							td
								input(type='radio', name='q7g', value='1', checked='checked')
								| Father
								input(type='radio', name='q7g', value='0')
								| Daughter
						tr
							td 8 Anyway...
							td
								input(type='radio', name='q7h', value='1', checked='checked')
								| Father
								input(type='radio', name='q7h', value='0')
								| Daughter
						tr
							td 9 I'm not going to discuss this.
							td
								input(type='radio', name='q7i', value='1', checked='checked')
								| Father
								input(type='radio', name='q7i', value='0')
								| Daughter
						tr
							td 10 We've been through this before.
							td
								input(type='radio', name='q7j', value='1', checked='checked')
								| Father
								input(type='radio', name='q7j', value='0')
								| Daughter
					p
						center
							button.eval(data-target='t7') Check answers
		form#id(t8='t8')
			| "
			p
				| Look at a transcript of the second conversation and check your answers.
				p
					center
						a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=600,height=500\');')
							b view transcript
					p
		#z1
		#z2
		#z3
		#z4
		#z5
		#z6
		#z7
