div#U2A
		script.
				unitans.U2A = {
					q1a:'4',
					q1b:'5',
					q1c:'1',
					q1d:'7',
					q1e:'3',
					q1f:'8',
					q1g:'2',
					q1h:'6',
					q2a:'growth',
					q2b:'increase',
					q2c:'increasing',
					q2d:'rise',
					q2e:'rising',
					q2f:'decrease',
					q2g:'decreasing',
					q2h:'drop',
					q2i:'fall',
					q2j:'falling',
					q3a:'increase',
					q3b:'has doubled',
					q3c:'decreasing',
					q3d:'rise',
					q3e:'is a drop',
					q3f:'More people',
					q3g:'a fall',
					q3h:'have gone up',
					q4a:'1',
					q4b:'2',
					q4c:'1',
					q4d:'2',
					q4e:'1',
					q4f:'2',
					q4g:'2',
					q4h:'2'
				}
		form#t1
			b.inst5 Describing graphs and trends
			p
				b.tablau2 1. Match the sentences with the graphs.
				p
					center
						img(src='img/u2a-1.jpg')
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td
									| 1 Unemployment went up
									a(href='#', onclick='window.open(\'templates/TU2A1.html\',\'_blank\',\'width=275,height=140\');') steadily
									| over the year, going down slightly only over the summer months.
								td
									select(name='q1a')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 2 Share prices rose slowly in April, but dropped dramatically in the first week of May.
								td
									select(name='q1b')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 3 Car sales, which had decreased over the last three years, have trippled this year.
								td
									select(name='q1c')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 4 Although cigarettes have become more and more expensive, the number of smokers has fallen very slowly over the last 10 years.
								td
									select(name='q1d')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 5 Figures for the last 10 years show that fewer and fewer people are working on the land.
								td
									select(name='q1e')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 6 There was a fall in the number of people getting married at the beginning of the decade, but numbers have grown steadily since then. The number of people getting divorced has doubled over the same period.
								td
									select(name='q1f')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 7 The increasing number of cars in our cities has created an alarming growth in the number of people being treated for respiratory disorders.
								td
									select(name='q1g')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
							tr
								td
									| 8 Experts believe that the falling birth rate, coupled with the growing number of retirees and rising unemployment will lead to a crisis in the social security in about 20 years from now.
								td
									select(name='q1h')
										option(value='0')
											| ?
											option(value='1')
												| A
												option(value='2')
													| B
													option(value='3')
														| C
														option(value='4')
															| D
															option(value='5')
																| E
																option(value='6')
																	| F
																	option(value='7')
																		| G
																		option(value='8') H
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Complete the tables.
				p
					table(cellpadding='5', cellspacing='0', border='1', bordercolor='#000000')
						tr
							td(align='center', width='140') verb
							td(align='center', width='140') noun
							td(align='center', width='140') adjective/participle
						tr
							td(align='center') double, tripple
							td(align='center') ---
							td(align='center') ---
						tr
							td(align='center') go up
							td(align='center') ---
							td(align='center') ---
						tr
							td(align='center') grow
							td(align='center')
								input(type='text', name='q2a', size='15')
							td(align='center') growing
						tr
							td(align='center') increase
							td(align='center')
								input(type='text', name='q2b', size='15')
							td(align='center')
								input(type='text', name='q2c', size='15')
						tr
							td(align='center') rise
							td(align='center')
								input(type='text', name='q2d', size='15')
							td(align='center')
								input(type='text', name='q2e', size='15')
					p
						table(cellpadding='5', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(align='center', width='140') verb
								td(align='center', width='140') noun
								td(align='center', width='140') adjective/participle
							tr
								td(align='center') decrease
								td(align='center')
									input(type='text', name='q2f', size='15')
								td(align='center')
									input(type='text', name='q2g', size='15')
							tr
								td(align='center') drop
								td(align='center')
									input(type='text', name='q2h', size='15')
								td(align='center') ---
							tr
								td(align='center') fall
								td(align='center')
									input(type='text', name='q2i', size='15')
								td(align='center')
									input(type='text', name='q2j', size='15')
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 3. Rewrite the sentences using the correct form (verb, noun or adjective) of the word given in parentheses. The first one has been done as an example.
				p
					span#rd
						| The number of people who shop via the Internet is growing.
						b (increase)
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td
									img(src='img/ob/fl-1.jpg')
									span#rd
										| An
										b increasing number of people
										| shop via the Internet.
							tr
								td
									| Sales have risen this month.
									b (increase)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| There has been an
									input(type='text', name='q3a', size='15')
									| in sales this month.
							tr
								td
									| The number of visitors has gone up by 50% this year.
									b (double)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| The number of visitors
									input(type='text', name='q3b', size='15')
									| this year.
							tr
								td
									| Fewer and fewer people are wearing suits to work.
									b (decrease)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| A
									input(type='text', name='q3c', size='15')
									| number of people are wearing suits to work.
							tr
								td
									| Global temperatures are rising due to the greenhouse effect.
									b (rise)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| The
									input(type='text', name='q3d', size='15')
									| in global temperatures is due to the greenhouse effect.
							tr
								td
									| The number of people out of work falls in the summer.
									b (drop)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| There
									input(type='text', name='q3e', size='15')
									| in the number of people out of work in the summer.
							tr
								td
									| An increasing number of people are working from home.
									b (more)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									input(type='text', name='q3f', size='15')
									| are working from home.
							tr
								td
									| The program finished because viewer ratings dropped.
									b (fall)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| The program finished because of
									input(type='text', name='q3g', size='15')
									| in viewer ratings.
							tr
								td
									| There has been a steady rise in house prices over the last decade.
									b (go up)
							tr
								td
									img(src='img/ob/fl-1.jpg')
									| House prices
									input(type='text', name='q3h', size='15')
									| steadily over the last decade.
						p
							center
								button.eval(data-target='t3') Check answers
		form#t4
			p
				b
					| 4. Adverbs and adjectives can be used to say how much and how fast things change.
				p
					table(cellpadding='0', cellspacing='5')
						tr
							td(width='15')
							td
								img(src='img/ob/b1.jpg')
							td
								span#rd
									| Unemployment went up
									b steadily
									| over the year.
									b (adverb)
						tr
							td
							td
								img(src='img/ob/b1.jpg')
							td
								span#rd
									| There has been a
									b steady
									| rise in unemployment over the last year.
									b (adjective)
					p
						| Choose an option from each box to show what degree of change is indicated by the adverbs and adjectives.
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td 1. steady / steadily
									td(width='30')
									td
										select(name='q4a')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 2. sharp / sharply
									td
									td
										select(name='q4b')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 3. slight / slightly
									td
									td
										select(name='q4c')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 4. dramatic / dramatically
									td
									td
										select(name='q4d')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 5. slow / slowly
									td
									td
										select(name='q4e')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 6. spectacular
									td
									td
										select(name='q4f')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 7. major
									td
									td
										select(name='q4g')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
								tr
									td 8. substantial / substantially
									td
									td
										select(name='q4h')
											option(value='0')
												| Choose Answer
												option(value='1')
													| The changes are small or regular
													option(value='2') The changes are large or sudden
							p
								center
									button.eval(data-target='t4') Check answers
								p
		#z1
		#z2
		#z3
		#z4
