div#U3A
		script.
				unitans.U3A = {
					q1a:'3',
					q1b:'2',
					q1c:'1',
					q2a:'3',
					q2b:'2',
					q2c:'1',
					q2d:'1',
					q2e:'2',
					q2f:'3',
					q2g:'3',
					q2h:'2',
					q2i:'1',
					q2j:'1',
					q3a:'got',
					q3b:'got',
					q3c:'get',
					q3d:'getting dark',
					q3e:'getting better',
					q3f:'get older',
					q3g:'get',
					q3h:'get up',
					q3i:'get over',
					q3j:'getting shorter',
					q3k:'get off',
					q4a:'rose',
					q4b:'bought',
					q4c:'caught',
					q4d:'boarding',
					q4e:'arrived at',
					q4f:'improving',
					q4g:'recovering from',
					q4h:'grow',
					q4i:'earn',
					q4j:'manage'
				}
		form#t1
			b.inst5 Uses of get
			p
				b.tablau2 1. get.
				p
					span.rojo
						| Roger, who is a 19-year-old student in Bristol, admits that he seldom (1)
						b gets
						| to lectures, and that he is (2)
						b getting
						| low grades. When he is not online he (3)
						b gets
						| restless and irritable.
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td(valign='top') 1.
								td  Which example of get in the above text can you replace with become?
								td
									select(name='q1a')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3') 3
							tr
								td(valign='top') 2.
								td
									| Which example of get in the above text has the general meaning of receive or obtain?
								td
									select(name='q1b')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3') 3
							tr
								td(valign='top') 3.
								td
									| Which example of get in the above text has the general meaning of move or change position?
								td
									select(name='q1c')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3') 3
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Decide which meaning of get is represented in the following examples:
				p
					span.rojo
						| 1. become, change state
						br
						| 2. receive/obtain
						br
						| 3. move, change position
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td 1.
								td What time do you normally get home in the evening?
								td
									select(name='q2a')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 2.
								td I got a present from Terry yesterday.
								td
									select(name='q2b')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 3.
								td I'd better go. It is getting dark.
								td
									select(name='q2c')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 4.
								td I hope you get better soon.
								td
									select(name='q2d')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 5.
								td What grade did you get for your essay?
								td
									select(name='q2e')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 6.
								td The taxi stopped and a tall woman got out.
								td
									select(name='q2f')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 7.
								td I tried to grab the horse, but it got away.
								td
									select(name='q2g')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 8.
								td When you are at the post office, get me some stamps.
								td
									select(name='q2h')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 9.
								td Have you noticed how old he's gotten?
								td
									select(name='q2i')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
							tr
								td 10.
								td Eggs are getting very expensive.
								td
									select(name='q2j')
										option(value='0')
											| Choose Answer
											option(value='1')
												| become, change state
												option(value='2')
													| receive/obtain
													option(value='3') move change position
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Replace the words in parentheses with an expression using get.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								| 1. He
								b (became)
								input(type='text', name='q3a', size='15')
								| very angry when I stood on his foot.
						tr
							td
								| 2. W.B.Yeats
								b (received)
								input(type='text', name='q3b', size='15')
								| the Nobel Prize for Literature.
						tr
							td
								| 3. Phone me when you
								b (arrive)
								input(type='text', name='q3c', size='15')
								| home.
						tr
							td
								| 4. It was
								b (darkening)
								input(type='text', name='q3d', size='15')
								| as we neared the town.
						tr
							td
								| 5. Your golf is
								b (improving)
								input(type='text', name='q3e', size='15')
								| I see.
						tr
							td
								| 6. As people
								b (age)
								input(type='text', name='q3f', size='15')
								| they
								b (become)
								input(type='text', name='q3g', size='15')
								| set in their ways.
						tr
							td
								| 7. I like to
								b (rise)
								input(type='text', name='q3h', size='15')
								| early and have a light breakfast.
						tr
							td
								| 8. She will never
								b (recover from)
								input(type='text', name='q3i', size='15')
								| the accident.
						tr
							td
								| 9. The days are
								b (shrinking)
								input(type='text', name='q3j', size='15')
								| as winter approaches.
						tr
							td
								| 10. The train terminates here. All passengers should
								b (alight)
								input(type='text', name='q3k', size='15')
								| .
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b
					| 4. Rewrite the following passage, replacing the bold expressions with verbs from the box. Change the verbs to the correct tense.
				p
					center
						img.i51(src='img/u3a-1.jpg')
					p
						| I
						b got up
						| early and went and
						b got
						| the paper. I
						b got
						| the bus to work,
						b getting on
						| at the stop nearest my house. I
						b got to
						| work
						| early. I didn't use to like my job, but things are
						b getting better
						| . The company is
						b getting over
						| the recession of the last few
						| years and it is starting to
						b get bigger
						| . I
						b get
						| a good salary now. And my boss says he couldn't
						b get on
						| without me
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| I
										input(type='text', name='q4a', size='15')
										sub (1)
										| early and went and
										input(type='text', name='q4b', size='15')
										sub (2)
										| the paper. I
										input(type='text', name='q4c', size='15')
										sub (3)
										| the bus to work,
										input(type='text', name='q4d', size='15')
										sub (4)
										| at the stop nearest my house.
										| I
										input(type='text', name='q4e', size='15')
										sub (5)
										| work early. I didn't use to like my job, but things are
										input(type='text', name='q4f', size='15')
										sub (6)
										| . The company is
										input(type='text', name='q4g', size='15')
										sub (7)
										| the recession of
										| the last few years and it is starting to
										input(type='text', name='q4h', size='15')
										sub (8)
										| . I
										input(type='text', name='q4i', size='15')
										sub (9)
										| a good salary now. And my boss says he couldn't
										input(type='text', name='q4j', size='15')
										sub (10)
										| without me
							p
								center
									button.eval(data-target='t4') Check answers
								p
		#z1
		#z2
		#z3
		#z4
