div#U3B
		script.
				unitans.U3B = {
					q1a:'disappearance',
					q1b:'suspicious',
					q1c:'proof',
					q1d:'evidence',
					q1e:'indicate',
					q1f:'violence',
					q1g:'frustrating',
					q1h:'inquiry',
					q2a:'graduation',
					q2b:'gandhi\'s death',
					q2c:'their divorce',
					q2d:'retiring',
					q2e:'the discovery',
					q2f:'the invention of airbags',
					q2g:'their separation',
					q2h:'the performance',
					q2i:'his success',
					q2j:'of our late arrival',
					q3a:'publication',
					q3b:'assurance',
					q3c:'claim',
					q3d:'finding',
					q3e:'warning',
					q3f:'explosion',
					q3g:'production',
					q3h:'belief',
					q4a:'assured',
					q4b:'assurance',
					q4c:'produce',
					q4d:'production',
					q4e:'claims',
					q4f:'claim',
					q4g:'publication',
					q4h:'publish',
					q4i:'found',
					q4j:'finding',
					q4k:'believe',
					q4l:'suspicion',
					q4m:'warn',
					q4n:'warnings',
					q4o:'explode',
					q4p:'explosion'
				}
		form#t1
			b.inst5 Word building
			p
				b.tablau2
					| 1. Complete these sentences using the correct form of the word in bold. The first one has been done for you as an example.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								span#rd
									b indicate
							td
								span#rd There was no _______ that the woman had been kidnapped.
						tr
							td
							td
								span#rd
									| There was no
									b indication
									| that the woman had been kidnapped.
						tr
							td
								| 1.
								b disappear
							td
								| Her husband was working at the time of her
								input(type='text', name='q1a', size='15')
								| .
						tr
							td
								| 2.
								b suspect
							td
								| The neighbors noticed nothing
								input(type='text', name='q1b', size='15')
								| that morning.
						tr
							td
								| 3.
								b prove
							td
								| There is no
								input(type='text', name='q1c', size='15')
								| that her husband was involved.
						tr
							td
								| 4.
								b evident
							td
								| Police found no
								input(type='text', name='q1d', size='15')
								| of anything unusual.
						tr
							td
								| 5.
								b indication
							td
								| They found nothing that might
								input(type='text', name='q1e', size='15')
								| where she had been.
						tr
							td
								| 6.
								b violent
							td
								| There were no signs of
								input(type='text', name='q1f', size='15')
								| .
						tr
							td
								| 7.
								b frustration
							td
								| It is the most
								input(type='text', name='q1g', size='15')
								| case the inspector can remember.
						tr
							td
								| 8.
								b inquire
							td
								| They say they have no lines of
								input(type='text', name='q1h', size='15')
								| left.
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Using nouns instead of verbs.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								span#rd
									| Since
									b she disappeared
									| no money has been withdrawn.
						tr
							td \=
						tr
							td
								span#rd
									| Since
									b her disappearance
									| no money has been withdrawn.
						tr
							td
								b Complete these sentences using nouns.
					p
						table(cellpadding='0', cellspacing='8')
							tr
								td 1.
								td After I graduated, I got a job.
							tr
								td
								td
									| After my
									input(type='text', name='q2a', size='15')
									| , I got a job.
							tr
								td 2.
								td After Gandhi died, the world mourned.
							tr
								td
								td
									| After
									input(type='text', name='q2b', size='15')
									| , the world mourned.
							tr
								td 3.
								td Since they divorced, they have lived apart.
							tr
								td
								td
									| Since
									input(type='text', name='q2c', size='15')
									| , they have lived apart.
							tr
								td 4.
								td Before I retired, I worked in a bank.
							tr
								td
								td
									| Before
									input(type='text', name='q2d', size='15')
									| , I worked in a bank.
							tr
								td 5.
								td Before penicillin was discovered, many diseases were incurable.
							tr
								td
								td
									| Before
									input(type='text', name='q2e', size='15')
									| of penicillin, many diseases were incurable.
							tr
								td 6.
								td There have been fewer car accidents since airbags were invented.
							tr
								td
								td
									| There have been fewer car accidents since
									input(type='text', name='q2f', size='15')
									| .
							tr
								td 7.
								td Before they separated, they endured a stormy marriage.
							tr
								td
								td
									| Before
									input(type='text', name='q2g', size='15')
									| , they endured a stormy marriage.
							tr
								td 8.
								td While the singer performed, some people left.
							tr
								td
								td
									| During
									input(type='text', name='q2h', size='15')
									| , some people left.
							tr
								td 9.
								td Because he succeeded, he won a medal.
							tr
								td
								td
									| Because of
									input(type='text', name='q2i', size='15')
									| , he won a medal.
							tr
								td 10.
								td Because we arrived late, we missed the beginning.
							tr
								td
								td
									| Because
									input(type='text', name='q2j', size='15')
									| , we missed the beginning.
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Write the noun form of these verbs.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td(align='center')
								b verb
							td(width='70')
							td(align='center')
								b noun
						tr
							td publish
							td
							td
								input(type='text', name='q3a', size='15')
						tr
							td assure
							td
							td
								input(type='text', name='q3b', size='15')
						tr
							td claim
							td
							td
								input(type='text', name='q3c', size='15')
						tr
							td find
							td
							td
								input(type='text', name='q3d', size='15')
						tr
							td warn
							td
							td
								input(type='text', name='q3e', size='15')
						tr
							td explode
							td
							td
								input(type='text', name='q3f', size='15')
						tr
							td produce
							td
							td
								input(type='text', name='q3g', size='15')
						tr
							td believe
							td
							td
								input(type='text', name='q3h', size='15')
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b
					| 4. Complete the sentences by writing the noun or verb form of the words in exercise 3. Be careful to use the correct from of the verbs.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								| 1. The management
								input(type='text', name='q4a', size='15')
								| the workforce that no jobs would be lost, but their
								input(type='text', name='q4b', size='15')
								| did not convince anyone.
						tr
							td
								| 2. The countries that
								input(type='text', name='q4c', size='15')
								| most carbon monoxide are precisely those which object most to reducing their
								input(type='text', name='q4d', size='15')
								| .
						tr
							td
								| 3. He
								input(type='text', name='q4e', size='15')
								| that he is innocent but has no proof to support his
								input(type='text', name='q4f', size='15')
								| .
						tr
							td
								| 4. The newspaper was told that the
								input(type='text', name='q4g', size='15')
								| of the story would lead to legal action, but they are going to
								input(type='text', name='q4h', size='15')
								| the story anyway.
						tr
							td
								| 5. Investigators
								input(type='text', name='q4i', size='15')
								| high levels of radioactivity in the area, and sent their
								input(type='text', name='q4j', size='15')
								| s to a national science magazine.
						tr
							td
								| 6. I
								input(type='text', name='q4k', size='15')
								| there is other life in the universe, a
								input(type='text', name='q4l', size='15')
								| that is shared by many other scientists.
						tr
							td
								| 7. Cigarette packs
								input(type='text', name='q4m', size='15')
								| people about the dangers of smoking, but nobody seems to take these
								input(type='text', name='q4n', size='15')
								| s very seriously.
						tr
							td
								| 8. If the bomb does
								input(type='text', name='q4o', size='15')
								| , the
								input(type='text', name='q4p', size='15')
								| will destroy most of the city centre.
					p
						center
							button.eval(data-target='t4') Check answers
						p
		#z1
		#z2
		#z3
		#z4
