div#U3C
		script.
				unitans.U3C = {
					q2a:'1',
					q2b:'2',
					q2c:'1',
					q2d:'2',
					q2e:'1',
					q2f:'2',
					q2g:'1',
					q2h:'2',
					q3a:'stubborn',
					q3b:'uncooperative',
					q3c:'hassle',
					q3d:'wind me up',
					q3e:'tee you off',
					q3f:'storming-out',
					q3g:'door-slamming',
					q4a:'3',
					q4b:'1',
					q4c:'2',
					q4d:'3',
					q4e:'2',
					q4f:'3',
					q4g:'2',
					q4h:'1',
					q4i:'1'
				}
		form#t1.score
			b.inst5 Anger and annoyance expressions 
			p
				b.tablau2
					| 1. Are you a
					a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') hot head
					| ? Do this questionnaire and then check your answers to see how
					a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') argumentative
					| you are.
				p
					| 1 You're in your car, waiting at a red light, and there's a car in front of you. When the light turns green, and the car in front doesn't move,
					br
					| do you
					select(name='q1a')
						option(value='1')
							| wait patiently until it moves?
							option(value='2')
								| beep your horn once or twice?
								option(value='3')
									| lean on your horn insistently?
					p
						| 2 You're in the same situation as 1, except this time you're in the car in front and the driver of the car behind blasts you with his horn.
						br
						select(name='q1b')
							option(value='1')
								| Do you make and apologetic gesture and set off at a fast pace?
								option(value='2')
									| make a rude gesture in the mirror?
									option(value='3')
										| get out of the car and walk up to the other driver menacingly?
						p
							| 3 You're standing in a line at the post office. Somebody cuts in.
							br
							| Do you
							select(name='q1c')
								option(value='1')
									| shrug your shoulders?
									option(value='2')
										| make obvious angry muttering noises?
										option(value='3')
											| go up to the person who cut in and insist that they go to the end of the line?
							p
								| 4 In a dinner party conversation, someone takes a political position opposite to your own.
								br
								select(name='q1d')
									option(value='1')
										| Do you ignore it?
										option(value='2')
											| try to gently reason with the person?
											option(value='3')
												| argue vehemently for your own position?
								p
									| 5 You are playing tennis with a friend, and your friend says your ball was out of the court, despite the fact that it was clearly in.
									br
									| Do you
									select(name='q1e')
										option(value='1')
											| tell yourself "it's only a game" and continue playing?
											option(value='2')
												| argue your case reasonably but firmly?
												option(value='3')
													| throw down your racket and storm off?
									p
										| 6 You are in a restaurant and have ordered the bill. After half an hour of waiting it still hasn't come.
										br
										| Do you
										select(name='q1f')
											option(value='1')
												| politely remind the waiter how long you have been waiting?
												option(value='2')
													| stand up impatiently and make as if to leave?
													option(value='3')
														| bawl out the waiter and threaten never to come back?
										p
											center
												button.eval(data-target='t1') Get your score
		form#t2
			p
				b Now check your score against the key below. Do you agree with what it says?
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td Score 6-9
							td
								| You are amazingly cool and
								a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') unruffled
								| perhaps to the point of being kind
						tr
							td
							td of a wimp! Have you considered assertiveness training?
						tr
							td Score 10-12
							td You have a strong sense of your rights, but at the same time you are not
						tr
							td
							td
								| easily
								a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') provoked
								| . You know how to curb your temper, but you are not
						tr
							td
							td afraid to show it from time to time.
						tr
							td Score 13-18
							td
								| You tend to
								a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') fly off the handle
								| at any excuse. This could get you into
						tr
							td
							td
								| troubleloved ones. Have you thought about
								a(href='#', onclick='window.open(\'templates/TU3C1.html\',\'_blank\',\'width=600,scrollbars=1\');') yoga
								| ?
					p
						b 2. Put these words into two groups.
						p
							center
								table(cellpadding='0', cellspacing='10')
									tr
										td
											img(src='img/u3c-1.jpg')
										td
											img(src='img/u3c-2.jpg')
									tr
										td(align='center') argument
										td(align='center')
											select(name='q2a')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') discussion
										td(align='center')
											select(name='q2b')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') disagreement
										td(align='center')
											select(name='q2c')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') conversation
										td(align='center')
											select(name='q2d')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') quarrel
										td(align='center')
											select(name='q2e')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') debate
										td(align='center')
											select(name='q2f')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') row
										td(align='center')
											select(name='q2g')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
									tr
										td(align='center') chat
										td(align='center')
											select(name='q2h')
												option(value='0')
													| Choose Answer
													option(value='1')
														| Group 1
														option(value='2') Group 2
							p
								center
									button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Find words or expressions in the text to fill the spaces.
				p
					center
						a(href='#', onclick='window.open(\'templates/TU3C2.html\',\'_blank\',\'width=600,scrollbars=1\');')
							b view text
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td 1 synonyms for "argumentative": 
								td
									input(type='text', name='q3a', size='15')
							tr
								td
								td
									input(type='text', name='q3b', size='15')
							tr
								td 2. synonyms for "annoy (me/you)":
								td
									input(type='text', name='q3c', size='15')
							tr
								td
								td
									input(type='text', name='q3d', size='15')
							tr
								td
								td
									input(type='text', name='q3e', size='15')
							tr
								td 3. violent actions typical of arguments:
								td
									input(type='text', name='q3f', size='15')
							tr
								td
								td
									input(type='text', name='q3g', size='15')
						p
							center
								button.eval(data-target='t3') Check answers
		form#t4
			p
				b
					| 4. Here are some more words and expressions for the categories in exercise 3. Choose the correct option.
				p
					center
						table(cellpadding='0', cellspacing='10', width='100%')
							tr.i51
								td
									img(src='img/u3c-3.jpg')
								td
									img(src='img/u3c-4.jpg')
								td
									img(src='img/u3c-5.jpg')
						br
						table(cellpadding='0', cellspacing='10')
							tr
								td come to blows
								td(width='30')
								td
									select(name='q4a')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td quick-tempered 
								td
								td
									select(name='q4b')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td get on someone's nerves
								td
								td
									select(name='q4c')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td lose your temper
								td
								td
									select(name='q4d')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td bug
								td
								td
									select(name='q4e')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td fly off the handle
								td
								td
									select(name='q4f')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td pester
								td
								td
									select(name='q4g')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td prickly
								td
								td
									select(name='q4h')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
							tr
								td short-tempered
								td
								td
									select(name='q4i')
										option(value='0')
											| Choose Answer
											option(value='1')
												| argumentative
												option(value='2')
													| annoy someone
													option(value='3') behave angrily
					p
						center
							button.eval(data-target='t4') Check answers
						p
		#z1
		#z2
		#z3
		#z4
