div#U3D
		script.
				unitans.U3D = {
					q1a:'3',
					q1b:'1',
					q1c:'2',
					q1d:'4'
				}
		form#t1
			b.inst5 Avoiding an argument
			p
				b.tablau2 1. Listen to four short conversations and match each one with a picture.
				p
					center
						a(href='snd/u3d-1.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td(width='80')  
									td
										select(name='q1a')
											option(value='0')
												| ?
												option(value='1')
													| 1
													option(value='2')
														| 2
														option(value='3')
															| 3
															option(value='4') 4
									td(width='80')
									td
										img(src='img/u3d-1.jpg')
								tr
									td
									td
										select(name='q1b')
											option(value='0')
												| ?
												option(value='1')
													| 1
													option(value='2')
														| 2
														option(value='3')
															| 3
															option(value='4') 4
									td
									td
										img(src='img/u3d-2.jpg')
								tr
									td
									td
										select(name='q1c')
											option(value='0')
												| ?
												option(value='1')
													| 1
													option(value='2')
														| 2
														option(value='3')
															| 3
															option(value='4') 4
									td
									td
										img(src='img/u3d-3.jpg')
								tr
									td
									td
										select(name='q1d')
											option(value='0')
												| ?
												option(value='1')
													| 1
													option(value='2')
														| 2
														option(value='3')
															| 3
															option(value='4') 4
									td
									td
										img(src='img/u3d-4.jpg')
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Listen to the conversations again and write the last line of each one.
				p
					center
						a(href='snd/u3d-1.mp3', target='_blank')
							img(src='img/ob/s-1.jpg', border='0')
					br
					p
						b Now look at the transcript to check your answers.
						p
							center
								a(href='#', onclick='window.open(\'templates/TU3D1.html\',\'_blank\',\'width=600,height=600,scrollbars=1\');')
									b view transcript
							p
		#z1
