div#U3E
		script.
				unitans.U3E = {
					q1a:'I did say something',
					q1b:'if you do fail',
					q1c:'if I do have it',
					q1d:'if we do go',
					q1e:'if you do like it',
					q1f:'if you had met',
					q1g:'but she did study',
					q1h:'but he does eat'
				}
		form#t1
			b.inst5 Adding emphasis
			p
				b.tablau2 1. Using do for contrastive emphasis.
				p
					.co1
						span.rojo
							b Do
						| is also used in this way when we want to imagine the consequences of an impossible or very unlikely situation:
						p
							span.rojo
								| If the asteroid
								b did
								| collide with Earth it would do so at more than 17,000 mph.
							p
								span.rojo
									b Do
								| is not necessary when there is already an auxiliary verb:
								p
									span.rojo
										| If the asteroid
										b was
										| on a collision course with Earth, a way to alter its orbit would have to be found.
										br
										| He's not my type of person, but you're right, he is very charming.
									p
										| To emphasize an auxiliary verb, decontract it and stress it:
										p
											span.rojo
												| He's not very charming.
												br
												| On the contrary, I think he
												b
													i is
												| very charming.
											p
												b
													| Make the phrases in bold more emphatic by using do and by expanding contractions where necessary.
												p
													span.rojo
														| I'm not surprised I failed the exam,
														b but I'm annoyed
														| about it.
														br
														img(src='img/ob/fl-1.jpg')
														| but I
														b am
														| annoyed
													p
														table(cellpadding='0', cellspacing='10')
															tr
																td
																	| -Why didn't you say something?
																	br
															tr
																td
																	b -I said something.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1a', size='25')
															tr
																td
																	| You're not going to fail the exam, but
																	b if you fail
																	| it you can take it again.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1b', size='25')
															tr
																td
																	| I don't think I have her new number, but
																	b if I have it
																	| I'll phone you.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1c', size='25')
															tr
																td
																	| We probably won't go shopping today, but
																	b if we go
																	| we'll get the paper for you.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1d', size='25')
															tr
																td
																	| I'm not sure you'll like it, but
																	b if you like it
																	| I'll cook it again next week.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1e', size='25')
															tr
																td
																	| I don't think you've met him, because
																	b if you'd met
																	| him you'd know who I was talking about.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1f', size='25')
															tr
																td
																	| She doesn't speak any foreign languages,
																	b but she studied
																	| French when she was at school.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1g', size='25')
															tr
																td
																	| He doesn't generally eat meat,
																	b but he eats
																	| chicken from time to time.
															tr
																td
																	img(src='img/ob/fl-1.jpg')
																	input(type='text', name='q1h', size='25')
					p
						center
							button.eval(data-target='t1') Check answers
						p
		#z1
