div#U4A
	script.
		unitans.U4A = {
			q1a:'4',
			q1b:'3',
			q1c:'1',
			q1d:'2',
			q1e:'5',
			q1f:'3',
			q1g:'5',
			q1h:'4',
			q1i:'1',
			q1j:'2',
			q2a:'They didn\'t have lunch on the plane',
			q2b:'We didn\'t have to get a visa',
			q2c:'She hadn\'t been waiting for a long time',
			q2d:'I would have enjoyed the trip more if I hadn\'t rented a car',
			q2e:'He didn\'t have to spend the night at the airport',
			q2f:'We didn\'t have a lot of time to get to the station',
			q2g:'Life would be easier if I didn\'t have brothers and sisters',
			q2h:'He now wishes he had traveled more',
			q3a:'hadn\'t traveled',
			q3b:'didn\'t have to',
			q3c:'hadn\'t left',
			q3d:'wish I had',
			q3e:'had just hung',
			q3f:'I had enough',
			q3g:'had been to',
			q3h:'wished she hadn\'t gone'
		}
	form#t1
		b.inst5 Uses of had
		p
			b.tablau2 1. Uses of had.
			p
				b
					| The verb
					span.rojo had
					| has five uses:
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								b A.
							td
								| The
								b past form
								| or
								b past participle
								| of the verb
								span.rojo
									b have
									| .
						tr
							td
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| When I was a student I
									b had
									| plenty of time to travel. I've never
									b had
									| much time to travel since then.
						tr
							td
								b B.
							td
								| The
								b past form
								| of
								span.rojo
									b have to
								| , used with the infinitive to talk about obligation in the past.
						tr
							td
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| We
									b had
									| to get a permit to go hiking in Nepal.
						tr
							td
								b C.
							td
								| An
								b auxiliary
								| used to form the
								b past perfect
								| to talk about the "past before the past" in a narrative.
						tr
							td
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| When I got to the station I realized I
									b had
									| left the plane ticket at the hotel.
						tr
							td
								b D.
							td
								| An
								b auxiliary
								| used to form the
								b past perfect
								| to talk about a hypothetical situation in the past.
						tr
							td
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| If I
									b had
									| taken more money with me I would have stayed in America for another month.
						tr
							td
								b E.
							td
								| The
								b past form
								| of
								span.rojo
									b have
								| and
								span.rojo
									b have to
								| refer to a hypothetical situation in the present or future.
						tr
							td
							td
								img(src='img/ob/b1.jpg')
								span.rojo
									| I wish I
									b had
									| a better sleeping bagI was really cold last night.
					p
						b
							| Match the example of
							span.rojo had in each sentence to its use.
						p
							table(cellpadding='0', cellspacing='10', width='660')
								tr
									td 1
									td
										| If we had known what was in store for us, we would have stayed with our friends in the north.
								tr
									td
									td
										input(type='radio', name='q1a', value='1', checked='checked')
										| A
										input(type='radio', name='q1a', value='2', checked='checked')
										| B
										input(type='radio', name='q1a', value='3', checked='checked')
										| C
										input(type='radio', name='q1a', value='4', checked='checked')
										| D
										input(type='radio', name='q1a', value='5', checked='checked')
										| E
								tr
									td 2
									td
										| When we arrived at the cottage the blue skies of the north had changed to cloud and drizzle.
								tr
									td
									td
										input(type='radio', name='q1b', value='1', checked='checked')
										| A
										input(type='radio', name='q1b', value='2', checked='checked')
										| B
										input(type='radio', name='q1b', value='3', checked='checked')
										| C
										input(type='radio', name='q1b', value='4', checked='checked')
										| D
										input(type='radio', name='q1b', value='5', checked='checked')
										| E
								tr
									td 3
									td Our car needed a new battery, which, fortunately, the breakdown service had.
								tr
									td
									td
										input(type='radio', name='q1c', value='1', checked='checked')
										| A
										input(type='radio', name='q1c', value='2', checked='checked')
										| B
										input(type='radio', name='q1c', value='3', checked='checked')
										| C
										input(type='radio', name='q1c', value='4', checked='checked')
										| D
										input(type='radio', name='q1c', value='5', checked='checked')
										| E
								tr
									td 4
									td We then had to follow him to his garage to pay by credit card.
								tr
									td
									td
										input(type='radio', name='q1d', value='1', checked='checked')
										| A
										input(type='radio', name='q1d', value='2', checked='checked')
										| B
										input(type='radio', name='q1d', value='3', checked='checked')
										| C
										input(type='radio', name='q1d', value='4', checked='checked')
										| D
										input(type='radio', name='q1d', value='5', checked='checked')
										| E
								tr
									td 5
									td If I had more vacation time I'd go somewhere more exotic in the summer.
								tr
									td
									td
										input(type='radio', name='q1e', value='1', checked='checked')
										| A
										input(type='radio', name='q1e', value='2', checked='checked')
										| B
										input(type='radio', name='q1e', value='3', checked='checked')
										| C
										input(type='radio', name='q1e', value='4', checked='checked')
										| D
										input(type='radio', name='q1e', value='5', checked='checked')
										| E
								tr
									td 6
									td
										| We visited the beach, returning after two hours to find the car had been broken into.
								tr
									td
									td
										input(type='radio', name='q1f', value='1', checked='checked')
										| A
										input(type='radio', name='q1f', value='2', checked='checked')
										| B
										input(type='radio', name='q1f', value='3', checked='checked')
										| C
										input(type='radio', name='q1f', value='4', checked='checked')
										| D
										input(type='radio', name='q1f', value='5', checked='checked')
										| E
								tr
									td 7
									td They ended up wishing they had a more reliable car.
								tr
									td
									td
										input(type='radio', name='q1g', value='1', checked='checked')
										| A
										input(type='radio', name='q1g', value='2', checked='checked')
										| B
										input(type='radio', name='q1g', value='3', checked='checked')
										| C
										input(type='radio', name='q1g', value='4', checked='checked')
										| D
										input(type='radio', name='q1g', value='5', checked='checked')
										| E
								tr
									td 8
									td We wouldn't have had so many problems if we'd bought that new car.
								tr
									td
									td
										input(type='radio', name='q1h', value='1', checked='checked')
										| A
										input(type='radio', name='q1h', value='2', checked='checked')
										| B
										input(type='radio', name='q1h', value='3', checked='checked')
										| C
										input(type='radio', name='q1h', value='4', checked='checked')
										| D
										input(type='radio', name='q1h', value='5', checked='checked')
										| E
								tr
									td 9
									td We only had one CD and she insisted we played it all the time.
								tr
									td
									td
										input(type='radio', name='q1i', value='1', checked='checked')
										| A
										input(type='radio', name='q1i', value='2', checked='checked')
										| B
										input(type='radio', name='q1i', value='3', checked='checked')
										| C
										input(type='radio', name='q1i', value='4', checked='checked')
										| D
										input(type='radio', name='q1i', value='5', checked='checked')
										| E
								tr
									td 10
									td They had to bicycle to the next village to pick up the rented car.
								tr
									td
									td
										input(type='radio', name='q1j', value='1', checked='checked')
										| A
										input(type='radio', name='q1j', value='2', checked='checked')
										| B
										input(type='radio', name='q1j', value='3', checked='checked')
										| C
										input(type='radio', name='q1j', value='4', checked='checked')
										| D
										input(type='radio', name='q1j', value='5', checked='checked')
										| E
							p
								center
									button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. Make the phrases in bold in the following sentences negative. The first two have been done as examples.
			p
				table(cellpadding='0', cellspacing='10')
					tr
						td
							span.rojo
								| I
								b had to
								| see the doctor.
					tr
						td
							span.rojo
								img(src='img/ob/fl-1.jpg')
								| I didn't have to see the doctor.
					tr
						td
							span.rojo
								| We
								b had forgotten
								| our passports.
					tr
						td
							span.rojo
								img(src='img/ob/fl-1.jpg')
								| We hadn't forgotten our passports.
				table(cellpadding='0', cellspacing='10')
					tr
						td 1.
						td 1 They had lunch on the plane.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2a', size='40')
							| .
					tr
						td 2.
						td 2 We had to get a visa.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2b', size='40')
							| .
					tr
						td 3.
						td 3 She'd been waiting for a long time.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2c', size='40')
							| .
					tr
						td 4.
						td 4 I would have enjoyed the trip more if I'd rented a car.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2d', size='40')
							| .
					tr
						td 5.
						td 5 He had to spend the night at the airport.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2e', size='40')
							| .
					tr
						td 6.
						td 6 We had a lot of time to get to the station.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2f', size='40')
							| .
					tr
						td 7.
						td 7 Life would be easier if I had brothers and sisters.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2g', size='40')
							| .
					tr
						td 8.
						td 8 He now wishes he hadn't traveled more.
					tr
						td
						td
							img(src='img/ob/fl-1.jpg')
							input(type='text', name='q2h', size='40')
							| .
				p
					center
						button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Use the word in bold to complete the second sentence so that it is similar in meaning to the first sentence. For example:
			p
				span(iclass='rojo')
					| There was an excellent view from their hotel room.
					b they
					| ______ an excellent view from their hotel room.
					p
						| They had an excellent view from their hotel room.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								| It was the first time she'd traveled by herself and she was feeling a little nervous.
								b (traveled)
							td
								| She
								input(type='text', name='q3a', size='20')
								| by herself before and she was feeling a little nervous.
						tr
							td
								| They didn't make us open our bags when we passed through customs.
								b (have)
							td
								| We
								input(type='text', name='q3b', size='20')
								| open our bags when we passed through customs.
						tr
							td
								| The video camera was stolen because they left it in the car.
								b (left)
							td
								| If they
								input(type='text', name='q3c', size='20')
								| the video camera in the car it wouldn't have got stolen.
						tr
							td
								| I'd love to have more time to travel.
								b (wish)
							td
								| I
								input(type='text', name='q3d', size='20')
								| more time to travel.
						tr
							td
								| We hung the washing on the line and five minutes later it started raining.
								b (just)
							td
								| We
								input(type='text', name='q3e', size='20')
								| the washing on the line when it started raining.
						tr
							td
								| The only thing that's stopping me going abroad this year is money.
								b (enough)
							td
								| If
								input(type='text', name='q3f', size='20')
								| money I'd go abroad this year.
						tr
							td
								| It was Ben's second trip to Prague, but Betty had never visited the city.
								b (been)
							td
								| Ben
								input(type='text', name='q3g', size='20')
								| Prague once before, but Betty had never visited the city.
						tr
							td
								| She regretted her decision to go on a package tour to Greece.
								b (wished)
							td
								| She
								input(type='text', name='q3h', size='20')
								| on a package tour to Greece.
					p
						center
							button.eval(data-target='t3') Check answers
						p
	#z1
	#z2
	#z3
