div#U4C
		script.
				unitans.U4C = {
					q1a:'for',
					q1b:'out',
					q1c:'together',
					q1d:'without',
					q1e:'up',
					q1f:'down',
					q1g:'up',
					q1h:'down',
					q2a:'soak up',
					q2b:'liven up',
					q2c:'do without',
					q2d:'hold together',
					q2e:'go for',
					q2f:'turn out',
					q2g:'wash down',
					q2h:'slim down',
					q3a:'liven up',
					q3b:'turn out',
					q3c:'soak up',
					q3d:'slim down',
					q3e:'wash down',
					q3f:'hold together',
					q3g:'go for',
					q3h:'do without'
				}
		form#t1
			b.inst5 Food phrasal verbs
			p
				b.tablau2 1. Phrasal verbs in context.
				p
					b
						| Put the particles (the preposition or adverb) back into the sentences. Choose the correct word of the options and write in the boxes.
					p
						center
							table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
								tr
									td(width='80', align='center') together
									td(width='80', align='center') out
									td(width='80', align='center') for
									td(width='80', align='center') down
								tr
									td(align='center') down
									td(align='center') up
									td(align='center') up
									td(align='center') without
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| 1. Sadly, going
										input(type='text', name='q1a', size='15')
										| a healthy option takes a conscious effort.
								tr
									td
										| 2. Junk food turns
										input(type='text', name='q1b', size='15')
										| to be better for you than it's generally thought to be.
								tr
									td
										| 3. Hamburgers, made from beef, lettuce and tomato held
										input(type='text', name='q1c', size='15')
										| in a sesame seed bun, are surprisingly healthy.
								tr
									td
										| 4. Double cheeseburgers supply over 900 calories, which I'm sure you could do
										input(type='text', name='q1d', size='15')
										| .
								tr
									td
										| 5. You can liven a kebab
										input(type='text', name='q1e', size='15')
										| a little with some chilli sauce.
								tr
									td
										| 6. To slim
										input(type='text', name='q1f', size='15')
										| pizzas, ask for less or no cheese.
								tr
									td
										| 7. The thicker fries soak
										input(type='text', name='q1g', size='15')
										| less fat during cooking.
								tr
									td
										| 8. A carbonated drink is what most people choose to wash
										input(type='text', name='q1h', size='15')
										| their meal.
							p
								center
									button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Here are the phrasal verbs from exercise 1. Match each one with a definition.
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='80', align='center') go for
								td(width='80', align='center') wash down
								td(width='120', align='center') hold together
								td(width='80', align='center') slim down
							tr
								td(align='center') soak up
								td(align='center') turn out
								td(align='center') do without
								td(align='center') liven up
					p
						table(cellpadding='0', cellspacing='10', width='650')
							tr
								td
									input(type='text', name='q2a', size='20')
									| to absorb
							tr
								td
									input(type='text', name='q2b', size='20')
									| to make more intense or lively
							tr
								td
									input(type='text', name='q2c', size='20')
									| to not need or not want something, usually something bad or annoying
							tr
								td
									input(type='text', name='q2d', size='20')
									| to keep in one piece
							tr
								td
									input(type='text', name='q2e', size='20')
									| to choose
							tr
								td
									input(type='text', name='q2f', size='20')
									| to be or become something that you were not expecting
							tr
								td
									input(type='text', name='q2g', size='20')
									| to drink something with or after (what you are eathing)
							tr
								td
									input(type='text', name='q2h', size='20')
									| to make or become less fatty
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 3. Use the phrasal verbs from exercises 1 and 2 to complete the following sentences.
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='80', align='center') go for
								td(width='80', align='center') wash down
								td(width='80', align='center') do without
								td(width='120', align='center') hold together
							tr
								td(align='center') soak up
								td(align='center') turn out
								td(align='center') slim down
								td(align='center') liven up
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td
									| 1. Why don't we put on some salsa music to
									input(type='text', name='q3a', size='15')
									| this party a little.
							tr
								td
									| 2. I hated my colleagues at first, but now I know them better they
									input(type='text', name='q3b', size='15')
									| to be very nice.
							tr
								td
									| 3. I'm going for a walk around the port to
									input(type='text', name='q3c', size='15')
									| the atmosphere.
							tr
								td
									| 4. I think you should eat less and try to
									input(type='text', name='q3d', size='15')
									| a little.
							tr
								td
									| 5. Do you want a glass of water to
									input(type='text', name='q3e', size='15')
									| that aspirin?
							tr
								td
									| 6. They don't love each other. It's the children who
									input(type='text', name='q3f', size='15')
									| the family.
							tr
								td
									| 7. If you're buying a new car, don't
									input(type='text', name='q3g', size='15')
									| a white onethey show the dirt.
							tr
								td
									| 8. It's a well paid job, but I could
									input(type='text', name='q3h', size='15')
									| having to get up at five o'clock every morning.
						p
							center
								button.eval(data-target='t3') Check answers
							p
		#z1
		#z2
		#z3
