div#U4F
		script.
				unitans.U4F = {
					q2a:'2',
					q2b:'2',
					q2c:'2',
					q2d:'1',
					q2e:'2',
					q3a:'8',
					q3b:'1',
					q3c:'10',
					q3d:'7',
					q3e:'4',
					q3f:'9',
					q3g:'2',
					q3h:'5',
					q3i:'3',
					q3j:'6'
				}
		form#t1
			b.inst5 Reading: Dolphins
			p
				b.tablau2
					| 1. Read this newspaper article. You can look the highlighted words up in the dictionary.
				p
					center
						img(src='img/u4f-1.jpg')
					br
					p
						b 2. Which is the best summary of the article? 
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| 1 A boy who wasn't allowed to swim until he could speak, has learned to speak thanks to a dolphin.
									td
										select(name='q2a')
											option(value='0')
												| ?
												option(value='1')
													| Yes
													option(value='2') No
								tr
									td
										| 2 A boy who hasn't been able to speak since birth has learned to speak again after swimming with dolphins at a therapy center in Florida.
									td
										select(name='q2b')
											option(value='0')
												| ?
												option(value='1')
													| Yes
													option(value='2') No
								tr
									td
										| 3 A boy who has never been able to swim has learned to swim after swimming with dolphins at a therapy center in Hollywood.
									td
										select(name='q2c')
											option(value='0')
												| ?
												option(value='1')
													| Yes
													option(value='2') No
								tr
									td
										| 4 A boy who hasn't been able to speak since birth was able to speak for the first time after swimming with dolphins at a therapy center in Florida.
									td
										select(name='q2d')
											option(value='0')
												| ?
												option(value='1')
													| Yes
													option(value='2') No
								tr
									td
										| 5 A boy who has always been able to speak has learned to use his vocal cords after listening to the sounds that dolphins make underwater.
									td
										select(name='q2e')
											option(value='0')
												| ?
												option(value='1')
													| Yes
													option(value='2') No
							p
								center
									button.eval(data-target='t1') Check answers
		form#t2
			p
				b 3. Put these events in the order that they occurred.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								select(name='q3a')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td Nikki said "in."
						tr
							td
								select(name='q3b')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td Nikki didn't have enough oxygen when he was born.
						tr
							td
								select(name='q3c')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td Nikki said "please."
						tr
							td
								select(name='q3d')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td He pointed at the water.
						tr
							td
								select(name='q3e')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td His parents took him to Miami.
						tr
							td
								select(name='q3f')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td He got back into the tank.
						tr
							td
								select(name='q3g')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td His parents tried different therapies.
						tr
							td
								select(name='q3h')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td He went swimming with the dolphins.
						tr
							td
								select(name='q3i')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td His parents raised the money.
						tr
							td
								select(name='q3j')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8')
																		| 8
																		option(value='9')
																			| 9
																			option(value='10') 10
							td He was told to get out of the tank.
					p
						center
							button.eval(data-target='t2') Check answers
						p
		#z2
		#z3
