div#U5B
		script.
				unitans.U5B = {
					q1a:'2',
					q1b:'1',
					q1c:'1',
					q1d:'1',
					q1e:'2',
					q1f:'1',
					q1g:'2',
					q1h:'1',
					q2a:'1',
					q2b:'2',
					q2c:'2',
					q2d:'1',
					q2e:'2',
					q2f:'2',
					q2g:'1',
					q2h:'2',
					q2i:'2',
					q2j:'1',
					q2k:'1',
					q2l:'1'
				}
		form#t1
			b.inst5 Reading: Travel
			p
				b.tablau2
					| 1. The following account is from a column in the Travel section of the on-line Independent newspaper called "Your Vacation Disaster". It tells the story of a family's trip through France.
				p
					b Read the account and find out why it is called "Hakuna Matata".
					p
						b Hakuna Matata
						p
							| We left London early in the evening and headed for Portsmouth, where we were going to get the overnight ferry to Le Havre. We reached Portsmouth before 8:30, and made our way towards the ferry terminal. When we got there we were informed that our ferry had been delayed. It eventually left at one in the morning, but we didn't mind because we were finally on the way to France. We arrived in Le Havre shortly before 7 a.m. the following morning and drove southwest towards Nantes, where we were going to spend the night with friends. We made it to Nantes late in the afternoon, and after an enjoyable evening, we made an early night of it. We set off early the next morning.
							p
								| We said good-bye to our friends in Nantes and
								a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=275,height=140\');') headed
								| down the west coast. It was meant to be a quiet vacation in the pine forests south of Bordeaux, with the bonus of long golden beaches nearby. If we had known what was
								a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=275,height=140\')') in store
								| for us down south, we would have accepted our friends' invitation to spend the week with them.
								p
									| When we arrived at the cottage the blue skies of the north had changed to clouds and
									a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=275,height=140\')') drizzle
									| . It rained all night, and continued the next day, so the day after we decided to visit a town further down the coast. But when we
									a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=275,height=140\')') pulled into
									| the seafront parking lot the car broke down. The man from the Green Flag service, responded to our phone call after two hours. We didn't need the tow track, but did need a new battery which, fortunately, he had. We then had to follow him to his garage, an hour away, to pay by credit card.
									p
										| The following day the skies cleared and we visited the beach, returning after an enjoyable two hours to find the car had been broken into, the video camera stolen and the windshield smashed. It was going to take two days and cost at least $200 to get it fixed. As our ferry was in three days, we decided to rent a car. That was when we discovered the credit card had been left at the garage where we bought the battery.
										p
											| In the morning, in the rain, we cycled 12 miles to the next village to pick up the rented car. We then drove two hours to the first garage to pick up the credit card, then back to the cottage to take the washing in out of the rain. A car pulled up, its passengers suspiciously eyeing our cottage. It turned out to be the next occupants, who had arrived a day earlier than expected. We didn't feel we could send them to a hotel, so we re-arranged the cottage to accommodate an extra couple and two (separate) elderly parents.
											p
												| Finally, having taken the rented car back and picked up our own, we left, driving for seven hours in
												a(href='#', onclick='window.open(\'templates/TU1B2.html\',\'_blank\',\'width=275,height=140\')') scorching
												| heat to our friends in the north where the weather had been glorious for the whole week. During all that time our daughter would only let us play two CDs, one of which was the Lion King. From it we learned the very valuable philosophy of "Hakuna Matata," i.e., "no worries" or "when bad things happenthere is nothing you can do about it!"
												p
													b
														| 2. The phrases below describe the events in "Hakuna Matata." Put them in their correct place on the diary page by choosing answer.
													p
														table(cellpadding='0', cellspacing='10')
															tr
																td
																	b Monday
															tr
																td
																	select(name='q2a')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	b Tuesday
															tr
																td rained all day
															tr
																td
																	b Wednesday
															tr
																td
																	select(name='q2b')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	select(name='q2c')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	b Thursday
															tr
																td went to beach
															tr
																td
																	select(name='q2d')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	select(name='q2e')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td had left credit card in garage!
															tr
																td
																	b Friday
															tr
																td went to pick up credit card
															tr
																td
																	select(name='q2f')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	select(name='q2g')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td
																	b Saturday
															tr
																td
																	select(name='q2h')
																		option(value='0')
																			| Choose answer
																			option(value='1')
																				| returned the rented car
																				option(value='2')
																					| went to pick up the rented car
																					option(value='3')
																						| visited town down coast
																						option(value='4')
																							| decided to rent a car
																							option(value='5')
																								| arrived at cottage - raining!
																								option(value='6')
																									| car broken into
																									option(value='7')
																										| next guests arrived a day early
																										option(value='8')
																											| car broke down - needed battery
															tr
																td seven hour drive to Nantes
															tr
																td stayed overnight with friends
															tr
																td
																	b Sunday
															tr
																td took ferry at 11 a.m.
														p
															center
																button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 3. Which of these maps best represents the family's journey to and from Bordeaux? Choose one.
				p
					center
						table(cellpadding='0', cellspacing='10')
							tr
								td
									img(src='img/u5b-1.jpg')
						table(cellpadding='0', cellspacing='10')
							tr
								td(width='40')
								td
									input(type='radio', name='q3a', value='1', checked='checked')
									| Map 1
								td(width='120')
								td
									input(type='radio', name='q3a', value='1', checked='checked')
									| Map 2
								td(width='90')
								td
									input(type='radio', name='q3a', value='1', checked='checked')
									| Map 3
					p
						center
							button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 4. Put these events in order by clicking and dragging. Try to do this without referring back to the text if you can.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								select(name='q4a')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| the next guest arrived a day early
						tr
							td
								select(name='q4b')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| they hired another car
						tr
							td
								select(name='q4c')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| they left their credit card at the garage
						tr
							td
								select(name='q4d')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| their car broke down
						tr
							td
								select(name='q4e')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| their car windshield was smashed
						tr
							td
								select(name='q4f')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| they went to the beach
						tr
							td
								select(name='q4g')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| they visited a town further down the coast
						tr
							td
								select(name='q4h')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7')
																	| 7
																	option(value='8') 8
								| they went to pick up the credit card
					p
						center
							button.eval(data-target='t3') Check answers
						p
		#z2
		#z3
		#z4
