div#U5C
		script.
				unitans.U5C = {
					q1a:'2',
					q1b:'1',
					q1c:'1',
					q1d:'1',
					q1e:'2',
					q1f:'1',
					q1g:'2',
					q1h:'1',
					q2a:'1',
					q2b:'2',
					q2c:'2',
					q2d:'1',
					q2e:'2',
					q2f:'2',
					q2g:'1',
					q2h:'2',
					q2i:'2',
					q2j:'1',
					q2k:'1',
					q2l:'1'
				}
		form#t1
			b.inst5 Describing things with like/as
			p
				b.tablau2 1. Like versus as.
			center
				span.rojo Like
				| and
				span#rd as
				| can both be used to say that things are similar.
				p
					span#rd Like
					| is a preposition:
					span.rojo
						b like
					b + noun/pronoun
					p
						table(cellpadding='0', cellspacing='0')
							tr
								td(width='50')
								td
									span#rd
										| She sings
										b like
										| a bird.
							tr
								td
								td
									span#rd
										| He looks
										b like
										| me.
						p
							span.rojo As
							| is a conjunction:
							span.rojo as
							b + subject + verb
							p
								table(cellpadding='0', cellspacing='0')
									tr
										td(width='50')
										td
											span#rd
												| Nobody sing
												b as
												| I do.
								p
									| or
									span.rojo as
									b + a prepositional phrase
									p
										table(cellpadding='0', cellspacing='0')
											tr
												td(width='50')
												td
													span.rojo
														| In summer,
														b as
														| in winter, we go to the mountains.
										br
			p
				| Complete the sentences with
				span#rd like
				| or
				span#rd as
				| .
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								| 1 In Barcelona,
								select(name='q1a')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| in Brisbane, the summers are humid.
						tr
							td
								| 2 Her hair is
								select(name='q1b')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| silk.
						tr
							td
								| 3 He plays
								select(name='q1c')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| he works: hard.
						tr
							td
								| 4 My mother is just
								select(name='q1d')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| me.
						tr
							td
								| 5
								select(name='q1e')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| you can see, you've broken it.
						tr
							td
								| 6 You're fast
								select(name='q1f')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| me.
						tr
							td
								| 7
								select(name='q1g')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| I said, I don't like this situation.
						tr
							td
								| 8 Your laugh is
								select(name='q1h')
									option(value='0')
										| Choose answer
										option(value='1')
											| like
											option(value='2') as
								| music to my ears.
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				| Note: In informal speech
				span.rojo like
				| is often used as a conjunction, too. For example:
				p
					center
						table(cellpadding='0', cellspacing='0')
							tr
								td(width='50')
								td
									span.rojo
										b Like
										| I said, I don't enjoy this.
							tr
								td
								td
									span.rojo
										| Nobody loves you
										b like
										| I do.
						br
					p
						b 2. Complete the sentences with like or as.
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| 1 The interview was
										select(name='q2a')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| a nightmare.
								tr
									td
										| 2 I made a living
										select(name='q2b')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| a writer.
								tr
									td
										| 3 She uses the spare room
										select(name='q2c')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| an office.
								tr
									td
										| 4 He's sleeping
										select(name='q2d')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| a baby.
								tr
									td
										| 5
										select(name='q2e')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| I said, I'm leaving.
								tr
									td
										| 6 I traveled to New York
										select(name='q2f')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| her representative.
								tr
									td
										| 7 This soup tastes
										select(name='q2g')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| dishwater.
								tr
									td
										| 8 Let's say we're married,
										select(name='q2h')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| a joke.
								tr
									td
										| 9
										select(name='q2i')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| you know, I have a lot of experience.
								tr
									td
										| 10 Jim speaks
										select(name='q2j')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| he writes, humorously.
								tr
									td
										| 11 She paints
										select(name='q2k')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| a genius.
								tr
									td
										| 12 He's tall and thin,
										select(name='q2l')
											option(value='0')
												| Choose answer
												option(value='1')
													| like
													option(value='2') as
										| his father.
							p
								center
									button.eval(data-target='t2') Check answers
								p
		#z1
		#z2
