div#U7A
		script.
				unitans.U7A = {
					q1a:'heat',
					q1b:'warm',
					q1c:'hot',
					q1d:'cool',
					q1e:'heatedly',
					q1f:'heated',
					q1g:'warmth',
					q1h:'cool',
					q2a:'spark',
					q2b:'blazing',
					q2c:'smolder',
					q2d:'flames',
					q2e:'fiery',
					q2f:'burned up',
					q2g:'flare',
					q2h:'burning',
					q3a:'spark',
					q3b:'blazing',
					q3c:'burning',
					q3d:'fiery',
					q3e:'smolder',
					q3f:'flare',
					q3g:'flames',
					q3h:'burned-out'
				}
		form#t1
			b.inst5 Hot and cold metaphors
			p
				b.tablau2 1. Heat and cold metaphors.
				p
					b Temperature words are often associated with particular emotions. For example:
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td(width='30')
								td
									img(src='img/ob/b1.jpg')
								td
									| strong and negative emotions
									img(src='img/ob/fl-2.jpg')
									span.rojo
										b  heat, hot, heatedly, heated
							tr
								td
								td
									img(src='img/ob/b1.jpg')
								td
									| friendly, caring behavior
									img(src='img/ob/fl-2.jpg')
									span.rojo
										b  warm, warmth
							tr
								td
								td
									img(src='img/ob/b1.jpg')
								td
									| unfriendly behavior
									img(src='img/ob/fl-2.jpg')
									span.rojo
										b  cold, coldly, cool, coolly
						p
							b Complete these sentences writing the appropriate word into the space.
							p
								center
									table(cellpadding='0', cellspacing='0', border='2', bordercolor='#000000')
										tr
											td(width='80', align='center') cool
											td(width='80', align='center') heated
											td(width='80', align='center') heat
											td(width='80', align='center') warm
										tr
											td(align='center') heatedly
											td(align='center') hot
											td(align='center') cool
											td(align='center') warmth
								p
									table(cellpadding='0', cellspacing='10')
										tr
											td
												| 1. In the
												input(type='text', name='q1a', size='20')
												| of the argument she threw a can of tomatoes at him.
										tr
											td
												| 2. He is a very
												input(type='text', name='q1b', size='20')
												| and caring individual.
										tr
											td
												| 3. Jenny worries that Janet's
												input(type='text', name='q1c', size='20')
												| temper will lead to violence.
										tr
											td
												| 4. You should go ahead and separate, but once emotions
												input(type='text', name='q1d', size='20')
												| down, see if you can remain just friends.
										tr
											td
												| 5. The issue of the right to carry guns is being
												input(type='text', name='q1e', size='20')
												| debated in several Western countries.
										tr
											td
												| 6. A very
												input(type='text', name='q1f', size='20')
												| argument resulted, and they had to be separated.
										tr
											td
												| 7. This children have never had
												input(type='text', name='q1g', size='20')
												| and love and someone to hug them.
										tr
											td
												| 8. The audience gave the speech a
												input(type='text', name='q1h', size='20')
												| reception, and there were even some whistles.
									p
										center
											button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Fire metaphors. Match the words to their definitions.
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='80', align='center') flames
								td(width='80', align='center') flare
								td(width='80', align='center') fiery
								td(width='80', align='center') burned up
							tr
								td(align='center') burning
								td(align='center') spark
								td(align='center') smolder
								td(align='center') blazing
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td a small bit of burning material that is thrown out by a fire (also a verb)
								td(width='30')
								td
									input(type='text', name='q2a', size='20')
							tr
								td burning brightly and strongly
								td(width='30')
								td
									input(type='text', name='q2b', size='20')
							tr
								td to burn slowly, producing smoke but not flames
								td(width='30')
								td
									input(type='text', name='q2c', size='20')
							tr
								td tongues of burning gas produced by a fire
								td(width='30')
								td
									input(type='text', name='q2d', size='20')
							tr
								td very hot, like a fire
								td(width='30')
								td
									input(type='text', name='q2e', size='20')
							tr
								td badly damaged by fire
								td(width='30')
								td
									input(type='text', name='q2f', size='20')
							tr
								td to burn brightly and briefly (also a noun)
								td(width='30')
								td
									input(type='text', name='q2g', size='20')
							tr
								td producing a sensation of heat
								td(width='30')
								td
									input(type='text', name='q2h', size='20')
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Below are the fire words from exercise 2 again.
				p
					b
						| Note that they can all be used metaphorically. Complete the following sentences by dragging words into the spaces.
					p
						center
							table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
								tr
									td(width='80', align='center') fiery
									td(width='80', align='center') blazing
									td(width='80', align='center') spark
									td(width='80', align='center') flare
								tr
									td(align='center') flames
									td(align='center') smolder
									td(align='center') burned-out
									td(align='center') burning
						p
							table(cellpadding='0', cellspacing='10')
								tr
									td
										| 1. Don't mention the bad working conditions or this might
										input(type='text', name='q3a', size='20')
										| a fight with the boss.
								tr
									td
										| 2. They had a
										input(type='text', name='q3b', size='20')
										| argument. during which she threw ten plates and the coffee pot at him.
								tr
									td
										| 3. I have a
										input(type='text', name='q3c', size='20')
										| desire to visit Venice before i die.
								tr
									td
										| 4. Danny has a
										input(type='text', name='q3d', size='20')
										| temper so don't say anything to upset him.
								tr
									td
										| 5. The argument between the two trade unions continued to
										input(type='text', name='q3e', size='20')
										| for several years, without ever being resolved.
								tr
									td
										| 6. The police intervention caused tempers to
										input(type='text', name='q3f', size='20')
										| up and a fight started.
								tr
									td
										| 7. The police were accused of fanning the
										input(type='text', name='q3g', size='20')
										| of violence.
								tr
									td
										| 8. Life at the top leaves many executives feeling
										input(type='text', name='q3h', size='20')
										| and exhausted.
							p
								center
									button.eval(data-target='t3') Check answers
		p
			#z1
			#z2
			#z3
