div#U7C
		script.
				unitans.U7C = {
					q1a:'It\'s stupid and dangerous to play here',
					q1b:'The elevators worry the people living here',
					q1c:'It\'s actually horrifying to think that some children are riding on top of them',
					q1d:'It\'s a matter of time before a child is seriously injured or killed',
					q1e:'It\'s incredible to think that children are risking their lives',
					q2a:'3',
					q2b:'4',
					q2c:'3',
					q2d:'1',
					q2e:'2',
					q2f:'3',
					q3a:'2',
					q3b:'4',
					q3c:'1',
					q3d:'3',
					q3e:'6',
					q3f:'5',
					q4a:'It\'s',
					q4b:'shocking',
					q4c:'to',
					q4d:'think',
					q4e:'It\'s',
					q4f:'stupid',
					q4g:'is',
					q4h:'a',
					q4i:'real',
					q4j:'worry',
					q4k:'It\'s',
					q4l:'only',
					q4m:'a',
					q4n:'matter',
					q4o:'of',
					q4p:'time',
					q4q:'It\'s',
					q4r:'incredible',
					q4s:'to',
					q4t:'think',
					q4u:'It\'s',
					q4v:'dangerous'
				}
		form#t1
			b.inst5 Expressing surprise and shock
			p
				b.tablau2 1. Expressing surprise and shock.
				p
					b Can you put the words in the correct order?
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td 1.
								td to It's stupid play dangerous here and.
							tr
								td
								td
									input(type='text', name='q1a', size='75')
									| .
							tr
								td 2.
								td worry elevators The living are people for real a here.
							tr
								td
								td
									input(type='text', name='q1b', size='75')
									| .
							tr
								td 3.
								td It's actually are some to that them children on horrifying riding think top of.
							tr
								td
								td
									input(type='text', name='q1c', size='75')
									| .
							tr
								td 4.
								td time only of injured a killed before child is It's matter or some seriously.
							tr
								td
								td
									input(type='text', name='q1d', size='75')
									| .
							tr
								td 5.
								td children It's think are that risking to lives incredible their.
							tr
								td
								td
									input(type='text', name='q1e', size='75')
									| .
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Choose the correct ending for the following sentences.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td 1. It's shocking to think
							td(width='30')
							td
								select(name='q2a')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
						tr
							td 2. It's stupid and dangerous
							td(width='30')
							td
								select(name='q2b')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
						tr
							td 3. It's horrifying to think
							td(width='30')
							td
								select(name='q2c')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
						tr
							td 4. Teenage elevator-surfing
							td(width='30')
							td
								select(name='q2d')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
						tr
							td 5. It's only a matter of time
							td(width='30')
							td
								select(name='q2e')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
						tr
							td 6. It's incredible to think
							td(width='30')
							td
								select(name='q2f')
									option(value='0')
										| Choose answer
										option(value='1')
											| is a real worry for parents.
											option(value='2')
												| …before the police arrest a child.
												option(value='3')
													| …that children could die on the elevator.
													option(value='4') …to risk your life.
					p
						center
							button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Choose the best ending for each sentence.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td 1. It's shocking to think...
							td(width='30')
							td
								select(name='q3a')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...to leave all the lights on.
						tr
							td 2. It's stupid...
							td(width='30')
							td
								select(name='q3b')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...before someone gets hurt.
						tr
							td 3. Drunk driving...
							td(width='30')
							td
								select(name='q3c')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...that handguns are legal.
						tr
							td 4. It's only a matter of time...
							td(width='30')
							td
								select(name='q3d')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...is a real worry.
						tr
							td 5. It's incredible to think...
							td(width='30')
							td
								select(name='q3e')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...to drink and drive.
						tr
							td 6. It's dangerous...
							td(width='30')
							td
								select(name='q3f')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6') 6
								| ...that computers can play chess.
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. How good is your memory? Complete the sentences in exercise 3. 
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td
								| 1.
								input(type='text', name='q4a', size='20')
								input(type='text', name='q4b', size='20')
								input(type='text', name='q4c', size='20')
								input(type='text', name='q4d', size='20')
								| that handguns are legal.
						tr
							td
								| 2.
								input(type='text', name='q4e', size='20')
								input(type='text', name='q4f', size='20')
								| to leave the lights on.
						tr
							td
								| 3. Drunk driving
								input(type='text', name='q4g', size='20')
								input(type='text', name='q4h', size='20')
								input(type='text', name='q4i', size='20')
								input(type='text', name='q4j', size='20')
								| .
						tr
							td
								| 4.
								input(type='text', name='q4k', size='20')
								input(type='text', name='q4l', size='20')
								input(type='text', name='q4m', size='20')
								input(type='text', name='q4n', size='20')
								input(type='text', name='q4o', size='20')
								input(type='text', name='q4p', size='20')
								| before someone gets hurt.
						tr
							td
								| 5.
								input(type='text', name='q4q', size='20')
								input(type='text', name='q4r', size='20')
								input(type='text', name='q4s', size='20')
								input(type='text', name='q4t', size='20')
								| that computers can play chess.
						tr
							td
								| 6.
								input(type='text', name='q4u', size='20')
								input(type='text', name='q4v', size='20')
								| to drink and drive.
					p
						center
							button.eval(data-target='t4') Check answers
		p
			p
				#z1
				#z2
				#z3
				#z4
