div#U8A
		script.
				unitans.U8A = {
					q1a:'3',
					q1b:'4',
					q1c:'6',
					q1d:'2',
					q1e:'7',
					q1f:'3',
					q1g:'5',
					q1h:'6',
					q2a:'getaway',
					q2c:'makeup',
					q2d:'turnout',
					q2e:'takeover',
					q2f:'walkout',
					q2g:'takeoff',
					q3b:'takeoff',
					q3c:'getaway',
					q3d:'workout',
					q3e:'turnout',
					q3f:'walkout',
					q3g:'makeup',
					q3h:'takeover',
					q4a:'7',
					q4b:'5',
					q4c:'8',
					q4d:'6',
					q4e:'2',
					q4f:'1',
					q4g:'4',
					q4h:'3',
					q5a:'getaway',
					q5b:'breakdown',
					q5c:'makeup',
					q5d:'takeover',
					q5e:'turnout',
					q5f:'workout',
					q5g:'breakout',
					q5h:'cutbacks'
				}
		form#t1
			b.inst5 Word building: Compounds
			p
				b.tablau2 1. Nouns formed from the combination verb + adverb.
				p
					| Many phrasal verbs (verb + adverb) can form nouns.
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td(width='30')
								td
									span.rojo
										| The meal that you
										b take away
										| from a Chinese
										b takeout
										| (restaurant) is called a Chinese
										b takeout
										| .
						br
						p
							| Match the verbs and their defintions.
							p
								table(cellpadding='0', cellspacing='10', width='100%')
									tr
										td 1. You work out
										td
										td
											select(name='q1a')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td(width='15')
										td
											sub 1
											| when it leaves the ground and starts flying.
									tr
										td 2. You get away
										td
										td
											select(name='q1b')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 2
											| when you put on makeup.
									tr
										td 3. You call in to a program
										td
										td
											select(name='q1c')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 3
											| when you do an exercise session at the gym.
									tr
										td 4. You make yourself up
										td
										td
											select(name='q1d')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 4
											| when you escape.
									tr
										td 5. People turn out somewhere
										td
										td
											select(name='q1e')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 5
											| when you leave it as a form of protest.
									tr
										td 6. A company takes over another company
										td
										td
											select(name='q1f')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 6
											| when your voice is heard live on the program.
									tr
										td 7. You walk out on a situation
										td
										td
											select(name='q1g')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 7
											| when they attend a public event.
									tr
										td 8. A plane takes off
										td
										td
											select(name='q1h')
												option(value='0')
													| ?
													option(value='1')
														| 1
														option(value='2')
															| 2
															option(value='3')
																| 3
																option(value='4')
																	| 4
																	option(value='5')
																		| 5
																		option(value='6')
																			| 6
																			option(value='7')
																				| 7
																				option(value='8') 8
										td
										td
											sub 8
											| when it takes control of that company.
								p
									center
										button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. Form nouns from the phrasal verbs in exercise 1. The first one has been done as an example.
				p
					center
						table(cellpadding='0', cellspacing='10', width='350')
							tr
								td(align='center') Verb
								td(align='center') Noun
							tr
								td(align='center')
									span#rd work out
								td(align='center') workout
							tr
								td(align='center') get away
								td(align='center')
									input(type='text', name='q2a', size='20')
							tr
								td(align='center') make up
								td(align='center')
									input(type='text', name='q2c', size='20')
							tr
								td(align='center') turn out
								td(align='center')
									input(type='text', name='q2d', size='20')
							tr
								td(align='center') take over
								td(align='center')
									input(type='text', name='q2e', size='20')
							tr
								td(align='center') walk out
								td(align='center')
									input(type='text', name='q2f', size='20')
							tr
								td(align='center') take off
								td(align='center')
									input(type='text', name='q2g', size='20')
					p
						center
							button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Use the nouns in exercise 2 to complete these sentences.
				p
					table(cellpadding='0', cellspacing='3')
						tr
							td
								| 1. Before
								input(type='text', name='q3b', size='20')
								| the cabin crew always take passengers through the safety procedures.
						tr
							td
								| 2. The robbers told the cashier to hand over the money, then made a quick
								input(type='text', name='q3c', size='20')
								| .
						tr
							td
								| 3. I'm feeling pretty tired today. I went to the gym yesterday evening for a two-hour
								input(type='text', name='q3d', size='20')
								| .
						tr
							td
								| 4. It was a rainy night, but there was a good
								input(type='text', name='q3e', size='20')
								| to see the concert.
						tr
							td
								| 5. When pay negotiations broke down, the workers staged a
								input(type='text', name='q3f', size='20')
								| in protest.
						tr
							td
								| 6. Her first job at the theater was to help with the
								input(type='text', name='q3g', size='20')
								| .
						tr
							td
								| 7. The factory owners hoped that the
								input(type='text', name='q3h', size='20')
								| by a big multinational would improve business.
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. More nouns formed from the combination verb + adverb.
				p
					b Match the beginnings and endings below to form sentences.
					p
						table(cellpadding='0', cellspacing='10', width='700')
							tr
								td 1. He suffered a mild break
								td
								td
									select(name='q4a')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td(width='15')
								td
									sub 1
									| up of the USSR.
							tr
								td 2. Her low sales figures were a set
								td
								td
									select(name='q4b')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 2
									| break of epidemics at the scene of the disaster.
							tr
								td 3. Three prisioners escaped in a break
								td
								td
									select(name='q4c')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 3
									| ins in the summer when they go on vacation.
							tr
								td 4. The teacher said that without more in
								td
								td
									select(name='q4d')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 4
									| backs in public spending.
							tr
								td 5. Rescue workers are worried about the out
								td
								td
									select(name='q4e')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 5
									| back in her ambition to run the department.
							tr
								td 6. Gorbachev was instrumental in the break
								td
								td
									select(name='q4f')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 6
									| put from students, the course would be worthless.
							tr
								td 7. The govermment has announced cut
								td
								td
									select(name='q4g')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 7
									| down and had to go to the hospital.
							tr
								td 8. Many households suffer break-
								td
								td
									select(name='q4h')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6')
																	| 6
																	option(value='7')
																		| 7
																		option(value='8') 8
								td
								td
									sub 8
									| out from the local jail.
						p
							center
								button.eval(data-target='t4') Check answers
		form#t5
			p
				b 5. Use the nouns in the list to complete the collocations below.
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
							tr
								td(width='100', align='center') callout
								td(width='100', align='center') takeover
								td(width='100', align='center') getaway
								td(width='100', align='center') breakdown
							tr
								td(align='center') takeoff
								td(align='center') breakdown
								td(align='center') turnout
								td(align='center') input
							tr
								td(align='center') walkout
								td(align='center') break-in
								td(align='center') makeup
								td(align='center') breakout
							tr
								td(align='center') workout
								td(align='center') cutbacks
								td(align='center') setback
								td(align='center') outbreak
					p
						table(cellpadding='0', cellspacing='10')
							tr
								td
									| 1. a
									input(type='text', name='q5a', size='20')
									| car
								td(width='50')
								td
									| 5. a large
									input(type='text', name='q5e', size='20')
							tr
								td
									| 2. a nervous
									input(type='text', name='q5b', size='20')
								td
								td
									| 6. total
									input(type='text', name='q5f', size='20')
							tr
								td
									| 3. a
									input(type='text', name='q5c', size='20')
									| artist
								td
								td
									| 7. a prison
									input(type='text', name='q5g', size='20')
							tr
								td
									| 4. a
									input(type='text', name='q5d', size='20')
									| bid
								td
								td
									| 8. government
									input(type='text', name='q5h', size='20')
						p
							center
								button.eval(data-target='t5') Check answers
		p
			#z1
			#z2
			#z3
			#z4
			#z5
