div#U9C
		script.
				unitans.U9C = {
					q1a:'out',
					q2a:'work out',
					q2b:'make out',
					q2c:'put out',
					q2d:'read out',
					q2e:'hand out',
					q2f:'write out',
					q2g:'fade out',
					q2h:'call out',
					q2i:'ran out',
					q2j:'sort out',
					q3a:'1',
					q3b:'1',
					q3c:'2',
					q3d:'1',
					q3e:'2',
					q3f:'1',
					q3g:'2',
					q3h:'1',
					q3i:'2',
					q3j:'1',
					q3k:'1',
					q3l:'2',
					q3m:'1',
					q3n:'2'
				}
		form#t1
			b.inst5 Phrasal Verbs
			p
				b.tablau2 1. Which word can be used to complete all the sentences?
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td NASA's research was carried ___ after the IAU's announcement.
						tr
							td An asteroid could hit Earth, wiping ___ our civilization as we know it.
						tr
							td A life-threatening collision could not be ruled ___ .
						tr
							td The nuclear winter effect after impact would blot ___ the sun.
					p
						center
							table(cellpadding='0', cellspacing='10')
								tr
									td
										b Missing word:
										input(type='text', name='q1a', size='20')
						p
							center
								button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Word focus: phrasal verbs with out.
				p
					| The adverb
					b out
					| has two main meanings when used as part of a phrasal verb.
					p
						center
							img(src='img/u9c-1.jpg')
						br
						| s
						p
							b Complete the sentences with the verbs below.
							p
								center
									table(cellpadding='0', cellspacing='0', border='1', bordercolor='#000000')
										tr
											td(width='80', align='center') hand out
											td(width='80', align='center') put out
											td(width='80', align='center') sort out
											td(width='80', align='center') write out
											td(width='80', align='center') make out
										tr
											td(align='center') ran out
											td(align='center') call out
											td(align='center') work out
											td(align='center') read out
											td(align='center') fade out
								p
									table(cellpadding='0', cellspacing='10', width='700')
										tr
											td
												| 1. Scientists used computers to
												input(type='text', name='q2a', size='20')
												| the orbit more precisely.
										tr
											td
												| 2. The writing was too small for her to
												input(type='text', name='q2b', size='20')
												| without her glasses.
										tr
											td
												| 3. Would you
												input(type='text', name='q2c', size='20')
												| that cigarrette? This is a non-smoking compartment.
										tr
											td
												| 4. We listened while the lawyer
												input(type='text', name='q2d', size='20')
												| loud the terms of my uncle's will.
										tr
											td
												| 5. Could you
												input(type='text', name='q2e', size='20')
												| these leaflets to all the people in the department, please?
										tr
											td
												| 6. The teacher made him
												input(type='text', name='q2f', size='20')
												| a chapter of the textbook as a punishment.
										tr
											td
												| 7. The music will
												input(type='text', name='q2g', size='20')
												| , and when it does, you start talking.
										tr
											td
												| 8. They all heard the old man
												input(type='text', name='q2h', size='20')
												| for help but just watched him getting robbed.
										tr
											td
												| 9. Oh no, the gas
												input(type='text', name='q2i', size='20')
												| ! We'll have to call the gas company.
										tr
											td
												| 10. Could you
												input(type='text', name='q2j', size='20')
												| the travel arrangements for this trip today?
									p
										center
											button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Now put the verbs from exercise 2 in correct order.
				p
					center
						img(src='img/u9c-2.jpg')
					p
						center
							table(cellpadding='0', cellspacing='10')
								tr
									td hand out
									td(width='20')
									td
										select(name='q3a')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td make out
									td
									td
										select(name='q3b')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td wipe out
									td
									td
										select(name='q3c')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td work out
									td
									td
										select(name='q3d')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td rule out
									td
									td
										select(name='q3e')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td write out
									td
									td
										select(name='q3f')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td blot out
									td
									td
										select(name='q3g')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td read out loud
									td
									td
										select(name='q3h')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td run out
									td
									td
										select(name='q3i')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td cry out
									td
									td
										select(name='q3j')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td carry out
									td
									td
										select(name='q3k')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td put out
									td
									td
										select(name='q3l')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td sort out
									td
									td
										select(name='q3m')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
								tr
									td fade out
									td
									td
										select(name='q3n')
											option(value='0')
												| Choose answer
												option(value='1')
													| Notebook 1
													option(value='2') Notebook 2
						p
							center
								button.eval(data-target='t3') Check answers
		p
			#z1
			#z2
			#z3
