div#U9D
		script.
				unitans.U9D = {
					q1a:'4',
					q1b:'2',
					q1c:'1',
					q1d:'5',
					q1e:'3',
					q1f:'6',
					q2b:'square',
					q2c:'circular',
					q2d:'rectangular',
					q2e:'oval',
					q2f:'cylindrical',
					q3a:'star-shaped',
					q3b:'kidney-shaped',
					q3c:'egg-shaped',
					q3d:'pyramid-shaped',
					q4a:'5',
					q4b:'1',
					q4c:'7',
					q4d:'6',
					q4e:'3',
					q4f:'2',
					q4g:'4'
				}
		form#t1
			b.inst5 Describing shapes
			p
				b.tablau2 1. Choose the names for these shapes.
				p
					center
						table(cellpadding='0', cellspacing='10')
							tr
								td 1. rectangle
								td(width='30')
								td
									select(name='q1a')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td(width='100')
								td
									img(src='img/u9d-1a.jpg')
							tr
								td 2. square
								td
								td
									select(name='q1b')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td
								td
									img(src='img/u9d-1b.jpg')
							tr
								td 3. triangle
								td
								td
									select(name='q1c')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td
								td
									img(src='img/u9d-1c.jpg')
							tr
								td 4. oval
								td
								td
									select(name='q1d')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td
								td
									img(src='img/u9d-1d.jpg')
							tr
								td 5. circle
								td
								td
									select(name='q1e')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td
								td
									img(src='img/u9d-1e.jpg')
							tr
								td 6. cylinder
								td
								td
									select(name='q1f')
										option(value='0')
											| ?
											option(value='1')
												| 1
												option(value='2')
													| 2
													option(value='3')
														| 3
														option(value='4')
															| 4
															option(value='5')
																| 5
																option(value='6') 6
								td
								td
									img(src='img/u9d-1f.jpg')
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. What are the adjective forms for the above nouns? The first one has been done for you as an example.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td(align='center')
								b Noun
							td(align='center')
								b Adjective
						tr
							td triangle
							td triangular
						tr
							td square
							td
								input(type='text', name='q2b', size='20')
						tr
							td circle
							td
								input(type='text', name='q2c', size='20')
						tr
							td rectangle
							td
								input(type='text', name='q2d', size='20')
						tr
							td oval
							td
								input(type='text', name='q2e', size='20')
						tr
							td cylinder
							td
								input(type='text', name='q2f', size='20')
					p
						center
							button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. If something is shaped like a heart, it is "heart-shaped" (adjective).
				p
					center
						table(cellpadding='0', cellspacing='0', border='1', bordercolor='#ffffff')
							tr
								td(align='center', bordercolor='#000000', width='80') pyramid
								td(align='center', bordercolor='#000000', width='80')
									td(align='center', bordercolor='#000000', width='80') table
									tr
										tr
											td(align='center', bordercolor='#000000') L
											td(align='center', bordercolor='#000000')
												td(align='center', bordercolor='#000000') house
												tr
													tr
														td(align='center', bordercolor='#000000') egg
														td(align='center', bordercolor='#000000')
															| -shaped
															td(align='center', bordercolor='#000000') cake
															tr
																tr
																	td(align='center', bordercolor='#000000')
																		a(href='#', onclick='window.open(\'t-u9d-1.htm\',\'_blank\',\'width=275,height=140\');') kidney
																	td(align='center', bordercolor='#000000')
																		td(align='center', bordercolor='#000000') pool
																		tr
																			tr
																				td(align='center', bordercolor='#000000') star
																				td(align='center', bordercolor='#000000')
																					td(align='center', bordercolor='#000000') room
																					tr
						br
					p
						b Make words from the table to describe these things:
						p
							center
								img(src='img/u9d-2a.jpg')
							p
								center
									table(cellpadding='0', cellspacing='10')
										tr
											td(align='center')
												img(src='img/u9d-2b.jpg')
											td(align='center')
												img(src='img/u9d-2c.jpg')
										tr
											td
												| 1.
												input(type='text', name='q3a', size='30')
											td
												| 2.
												input(type='text', name='q3b', size='30')
										tr
											td
												img(src='img/u9d-2d.jpg')
											td
												img(src='img/u9d-2e.jpg')
										tr
											td
												| 3.
												input(type='text', name='q3c', size='30')
											td
												| 4.
												input(type='text', name='q3d', size='30')
								p
									center
										button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. Match the adjective with the line.
				p
					table(cellpadding='0', cellspacing='10')
						tr
							td 1. straight
							td(width='30')
							td
								select(name='q4a')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td(width='100')
							td
								img(src='img	/u9d-3a.jpg')
						tr
							td 2. wavy
							td
							td
								select(name='q4b')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3b.jpg')
						tr
							td 3. zigzag
							td
							td
								select(name='q4c')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3c.jpg')
						tr
							td 4. broken
							td
							td
								select(name='q4d')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3d.jpg')
						tr
							td 5. thick
							td
							td
								select(name='q4e')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3e.jpg')
						tr
							td 6. dotted
							td
							td
								select(name='q4f')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3f.jpg')
						tr
							td 7. criss-cross
							td
							td
								select(name='q4g')
									option(value='0')
										| ?
										option(value='1')
											| 1
											option(value='2')
												| 2
												option(value='3')
													| 3
													option(value='4')
														| 4
														option(value='5')
															| 5
															option(value='6')
																| 6
																option(value='7') 7
							td
							td
								img(src='img/u9d-3g.jpg')
					p
						center
							button.eval(data-target='t4') Check answers
		p
			#z1
			#z2
			#z3
			#z4
