div#U10B
	script.
		unitans.U10B = {
			q1a:'3',
			q2a:'2',
			q2b:'1',
			q2c:'2',
			q2d:'2',
			q2e:'1',
			q2f:'1',
			q2g:'2',
			q2h:'1',
			q2i:'2',
			q2j:'1'
		}
	#t0
		b.u2tit 10. Global Chat
		p
			b.u2 Gaelic in crisis
			p
	form#t1
		.co1
			b
				| 1. Read this text about the Gaelic language and decide which is the best title for the text:
			p
				ol
					li
						input(type='radio', name='q1a', value='1', checked='checked')
						| Gaelic on the Rise
						li
							input(type='radio', name='q1a', value='2')
							| Gaelic Is "Cool"
							li
								input(type='radio', name='q1a', value='3')
								| Gaelic in Crisis
								li
									input(type='radio', name='q1a', value='4')
									| Girls Make Better Language Learners
			p
				center
					table(cellpadding='5', cellspacing='5', width='450', bgcolor='#ffbc90')
						tr
							td
								| Gaelic is going through a crisis in secondary schools in Scotland. The
								| number of students studying the language at school is falling sharply, and
								| most of the students who are now studying it are girls. It is unclear why
								| Gaelic is becoming "girl talk".
			p
				| Research suggests that girls may use Gaelic more often than boys at home with the family.
				| Also, girls work harder than boys at secondary school level, and they show more interest
				| in languages. In addition, psychologists say that girls may be more
				| interested in jobs that use the Gaelic language, such as teaching, the
				| media and administration.
			p
				| Boys, on the other hand, prefer employment in
				| traditional male roles, and perhaps see no point in having an academic
				| qualification in Gaelic. Increasing numbers of teenage girls speak to each
				| other in Gaelic, then change to English to speak to boys. This is
				| considered "cool" at the moment in Scotland, but fashions change fast.
				| Things could be different in ten years' time. Who knows?
			p
				| Adapted from
				i The Scotsman
				| 25/6/98
		p
			button.eval(data-target='t1') Check Answers
	form#t2
		p
			b 2. Are the following sentences about the text true or false?
		p
			ol
				li
					| There are more students studying Gaelic now at school than there were a few years ago.
		p
			select(name='q2a')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Girls now study Gaelic at school more than boys.
		p
			select(name='q2b')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| There are very clear reasons why more and more girls are speaking Gaelic.
		p
			select(name='q2c')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Girls speak less Gaelic in the home environment than boys.
		p
			select(name='q2d')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Language is a school subject which boys are not usually as interested in as girls.
		p
			select(name='q2e')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Boys usually want jobs in which Gaelic is not important.
		p
			select(name='q2f')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Boys often think that Gaelic will be a useful language for them in the future.
		p
			select(name='q2g')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| It is fashionable for girls to speak to each other in Gaelic.
		p
			select(name='q2h')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| Girls normally speak to boys in Gaelic.
		p
			select(name='q2i')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		p
			li
				| The future of the Gaelic language as "girl talk" is unsure.
		p
			select(name='q2j')
				option(value='x')
					| Choose Answer
					option(value='1')
						| true
						option(value='2')
							| false
		button.eval(data-target='t2') Check Answers
	#z1
	#z2
