div#U10C
	script.
		unitans.U10C = {
			q1a:'2',
			q1b:'4',
			q1c:'3',
			q1d:'1',
			q2a:'How do you pronounce that, please',
			q2b:'My last name is Broughton',
			q2c:'Could you spell that, please',
			q2d:'That\'s five dollars sixteen, please',
			q2e:'I\'m sorry. Was that five dollars sixteen or five dollars sixty',
			q2f:'I\'m sorry. I didn\'t quite catch that',
			q3a:'I\'m sorry. I didn\'t quite catch that.',
			q3b:'Could you spell that, please?',
			q3c:'How do you pronounce that, please?',
			q3d:'I\'m sorry, was that Mr. or Mrs.?'
		}
	#t0
		b.u2tit 10. Global Chat
		p.u2
			b  Asking about English  
			p
	form#t1
		.co1
			b 1. Asking about language. Match these dialogs to the pictures. 
			p
				center
					img(src='img/u10c1.jpg')
			p
				ol
					li
						| A: How do you pronounce that, please?
						br
						| B: Tough.
						br
						select(name='q1a')
							option(value='x')
								| Choose Answer
								option(value='1')
									| Picture 1
									option(value='2')
										| Picture 2
										option(value='3')
											| Picture 3
											option(value='4')
												| Picture 4
			p
				li
					| A: My last name is Broughton.
					br
					| B: Could you spell that for me, please?
					br
					select(name='q1b')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Picture 1
								option(value='2')
									| Picture 2
									option(value='3')
										| Picture 3
										option(value='4')
											| Picture 4
			p
				li
					| A: That's five dollars sixteen, please.
					br
					| B: I'm sorry. Was that five dollars sixteen or five dollars sixty?
					br
					select(name='q1c')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Picture 1
								option(value='2')
									| Picture 2
									option(value='3')
										| Picture 3
										option(value='4')
											| Picture 4
			p
				li
					| A: We...company...five...
					br
					| B: I'm sorry. I didn't quite catch that.
					br
					select(name='q1d')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Picture 1
								option(value='2')
									| Picture 2
									option(value='3')
										| Picture 3
										option(value='4')
											| Picture 4
		p
			center
				button.eval(data-target='t1') Check Answers
	form#t2
		p
			b 2. Put the words in each dialog in order.
		p
			ol
				li
					| , you do please How that pronounce?
					br
					input(size='50', name='q2a')
					| ?
					p
						li
							| is last name My Broughton.
							br
							input(size='50', name='q2b')
							| .
							p
								li
									| spell that you please Could , ?
									br
									input(size='50', name='q2c')
									| ?
									p
										li
											| dollars please , That's five sixteen.
											br
											input(size='50', name='q2d')
											| .
											p
												li
													| dollars Was sorry. dollars sixteen that I'm five five or sixty?
													br
													input(size='50', name='q2e')
													| ?
													p
														li
															| quite I sorry. I'm catch that didn't.
															br
															input(size='50', name='q2f')
															| .
															p
		p
			center
				button.eval(data-target='t2') Check Answers
	form#t3
		p
			b 3. Select and drag the expressions in the correct place in the conversation. 
		p
			| Hello, I want to reserve a room for my boss for Friday night.
			br
			| Certainly. What's the name?
			br
			| Patel.
			br
			input(size='35', name='q3a')
			br
			| Patel.
			br
			input(size='35', name='q3b')
			br
			| P-A-T-E-L
			br
			| Thank you very much. Initial?
			br
			| V.
			br
			| V for...?
			br
			| V-I-J-A-Y
			br
			input(size='35', name='q3c')
			br
			| Vijay.
			br
			| Ah, Vijay Patel. Good
			input(size='35', name='q3d')
			br
			| It's Doctor Patel, actually.
			br
			| Doctor Patel. good. Now is that for one night or two...?
		p
			center
				table(cellpadding='5', cellspacing='2', width='550', bgcolor='#ffbc90')
					tr
						td How do you pronounce that, please?
						td I'm sorry, was that Mr. or Mrs.?
					tr
						td Could you spell that, please?
						td I'm sorry. I didn't quite catch that.
		button.eval(data-target='t3') Check Answers
	#z1
	#z2
	#z3
