div#U11B
	script.
		unitans.U11B = {
			q1a:'baggy',
			q1b:'plain',
			q1c:'striped',
			q1d:'bright',
			q1e:'faded',
			q1f:'tight',
			q1g:'checkered',
			q1h:'patterned',
			q2a:'1',
			q2b:'2',
			q2c:'2',
			q2d:'1',
			q2e:'1',
			q2f:'2',
			q2g:'2',
			q2h:'1',
			q3a:'2',
			q3b:'4',
			q3c:'3',
			q3d:'1'
		}
	#t0
		b.u2tit 11. Street Styles
		p
			b.u2 Describing clothes  
			p
	form#t1
		.co1
			b
				| 1. Describing clothes.
				p
					| Look at these two people. Read the description then put the words in the right places.
			p
				center
					img(src='img/u11b1.jpg')
			p
				table(cellpadding='5', cellspacing='4', width='500')
					tr
						td(colspan='4')
							| 1. The man is wearing
							sub 1
							input(size='8', name='q1a')
							| pants, a
							sub 2
							input(size='8', name='q1b')
							| shirt, a
							br
							sub 3
							input(size='8', name='q1c')
							| tie, and
							sub 4
							input(size='8', name='q1d')
							| red shoes.
			p
				| 2. The woman is wearing
				sub 5
				input(size='8', name='q1e')
				| jeans, a
				sub 6
				input(size='8', name='q1f')
				| T-shirt,
				br
				sub 7
				input(size='8', name='q1g')
				| hat, and
				sub 8
				input(size='8', name='q1h')
				| shoes.
			p
				tr
					td baggy
					td striped
					td patterned
					td faded
				tr
					td tight
					td checkered
					td plain
					td bright
			p
				center
					button.eval(data-target='t1') Check Answers
	form#t2
		p
			| 2. Who do you think says each of these things - the man or the woman in exercise 1?
		p
			ol
				li
					| "I usually wear a suit and tie to work."
					select(name='q2a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Man
								option(value='2')
									| Woman
					li
						| "I like wearing dresses in the summer."
						select(name='q2b')
							option(value='x')
								| Choose Answer
								option(value='1')
									| Man
									option(value='2')
										| Woman
						li
							| "I always carry a handbag to put my keys and things in."
							select(name='q2c')
								option(value='x')
									| Choose Answer
									option(value='1')
										| Man
										option(value='2')
											| Woman
							li
								| "I carry an umbrella when the weather is bad."
								select(name='q2d')
									option(value='x')
										| Choose Answer
										option(value='1')
											| Man
											option(value='2')
												| Woman
								li
									| "Before I get dressed every morning I shave."
									select(name='q2e')
										option(value='x')
											| Choose Answer
											option(value='1')
												| Man
												option(value='2')
													| Woman
									li
										| "Before I get dressed every morning I put on my makeup."
										select(name='q2f')
											option(value='x')
												| Choose Answer
												option(value='1')
													| Man
													option(value='2')
														| Woman
										li
											| "I still remember the first time I put on platform shoesthey were very uncomfortable."
											select(name='q2g')
												option(value='x')
													| Choose Answer
													option(value='1')
														| Man
														option(value='2')
															| Woman
											li
												| "I prefer to put on a tie in front of the mirror."
												select(name='q2h')
													option(value='x')
														| Choose Answer
														option(value='1')
															| Man
															option(value='2')
																| Woman
			center
				button.eval(data-target='t2') Check Answers
	form#t3
		p
			b 3. Which words from exercise 2 mean: 
		p
			ol
				li
					| To take something in your hands from one place to another.
					select(name='q3a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| get dressed
								option(value='2')
									| carry
									option(value='3')
										| wear
										option(value='4')
											| put on
					li
						| To place something on your body in order to wear it.
						select(name='q3b')
							option(value='x')
								| Choose Answer
								option(value='1')
									| get dressed
									option(value='2')
										| carry
										option(value='3')
											| wear
											option(value='4')
												| put on
						li
							| To have something (e.g., clothes, glasses) on your body for a period of time.
							select(name='q3c')
								option(value='x')
									| Choose Answer
									option(value='1')
										| get dressed
										option(value='2')
											| carry
											option(value='3')
												| wear
												option(value='4')
													| put on
							li
								| To place all your clothes on your body, for example when you get up in the morning.
								select(name='q3d')
									option(value='x')
										| Choose Answer
										option(value='1')
											| get dressed
											option(value='2')
												| carry
												option(value='3')
													| wear
													option(value='4')
														| put on
		button.eval(data-target='t3') Check Answers
	#z1
	#z2
	#z3
