div#U1A
	script.
		unitans.U1A = {
			q1a:'e',
			q1b:'d',
			q1c:'a',
			q1d:'c',
			q1e:'b',
			q1f:'g',
			q1g:'f',
			q2a:'d',
			q2b:'c',
			q2c:'f',
			q2d:'a',
			q2e:'e',
			q2f:'b',
			q3a:'multicultural',
			q3b:'population',
			q3c:'climate',
			q3d:'weather',
			q3e:'city',
			q3f:'outdoor',
			q3g:'beaches',
			q3h:'coast',
			q3i:'harbor',
			q3j:'spectacular',
			q3k:'building',
			q3l:'small',
			q3m:'enormous'
		}
	#t0
		b.u2tit 1. The Concrete Jungle
		p
			b.u2  Sydney: a city
			p
	form#t1
		b.inst2 1. Match the words to the definitions.
		p.tablau2
			table.letra(cellpadding='cellpadding', cellspacing='5')
				tr
					td a) a capital
					td
						| 1.
						input(size='1', name='q1a', maxlength='1')
						| the number of people who live in a place
				tr
					td b) a city
					td
						| 2.
						input(size='1', name='q1b', maxlength='1')
						| part of a country
				tr
					td c) a town
					td
						| 3.
						input(size='1', name='q1c', maxlength='1')
						| the most important city, or government center
				tr
					td d) a state
					td
						| 4.
						input(size='1', name='q1d', maxlength='1')
						| a small city
				tr
					td e) population
					td
						| 5.
						input(size='1', name='q1e', maxlength='1')
						| a place where a lot of people live
				tr
					td f) inhabitants
					td
						| 6.
						input(size='1', name='q1f', maxlength='1')
						| people who live in a place and come from another country
				tr
					td g) immigrants
					td
						| 7.
						input(size='1', name='q1g', maxlength='1')
						| the people who live in a place
		p
			center
				button.eval(data-target='t1', data-draw='z1') Check answers
	form#t2
		p
			b.instrucciones 2. Match these adjectives from the text to their definitions.
		p
			table.cuadro(cellpadding='cellpadding', cellspacing='5')
				tr
					td a) exterior, not inside houses or buildings
					td
						| 1.
						input(size='1', name='q2a', maxlength='1')
						| multicultural
				tr
					td b) very unusual and exciting
					td
						| 2.
						input(size='1', name='q2b', maxlength='1')
						| well known
				tr
					td c) famous, every body knows it
					td
						| 3.
						input(size='1', name='q2c', maxlength='1')
						| mixed
				tr
					td d) with different cultures
					td
						| 4.
						input(size='1', name='q2d', maxlength='1')
						| outdoor
				tr
					td e) very big
					td
						| 5.
						input(size='1', name='q2e', maxlength='1')
						| enormous
				tr
					td f) consisting of different things, not just one thing
					td
						| 6.
						input(size='1', name='q2f', maxlength='1')
						| spectacular
		p
			center
				button.eval(data-target='t2', data-draw='z2') Check answers
	form#t3
		p
			b.instrucciones 3. Now complete part of the text with the words in the box
		p.cuadro
			p.letra
				| In little more than two hundred years Sydney has grown to become the
				| most
				sub.ro 1
				input(size='6', name='q3a')
				| city in Australia with a
				sub.ro 2
				input(size='6', name='q3b')
				| of more than four
				| million. The
				sub.ro 3
				input(size='6', name='q3c')
				| , with almost eight months of good
				sub.ro 4
				input(size='6', name='q3d')
				| , makes Sydney the perfect
				sub.ro 5
				input(size='6', name='q3e')
				| for an
				sub.ro 6
				input(size='6', name='q3f')
				| life. What's more, the city has more than thirty
				sub.ro 7
				input(size='6', name='q3g')
				| along the sixty kilometers of it's
				sub.ro 8
				input(size='6', name='q3h')
				| . In Sydney
				sub.ro 9
				input(size='6', name='q3i')
				| , one of the world's most
				sub.ro 10
				input(size='6', name='q3j')
				| bays, you can find The
				| Sydney Opera House, Australia's most well known
				sub.ro 11
				input(size='6', name='q3k')
				| . Passing
				| by the Opera House is a constant parade of
				sub.ro 12
				input(size='6', name='q3l')
				| boats, yachts,
				| ferries and
				sub.ro 13
				input(size='6', name='q3m')
				| cruise ships.
		p
			table.cuadro(cellpadding='cellpadding', cellspacing='5', bgcolor='#ffbc90')
				tr.letra
					td enormous
					td multicultural
					td weather
					td beaches
					td city
				tr.letra
					td climate
					td population
					td building
					td outdoor
				tr.letra
					td small
					td coast
					td harbor
					td spectacular
		button.eval(data-target='t3', data-draw='z3') Check answers
	#z1
	#z2
	#z3
