div#U6B
	script.
		unitans.U6B = {
			q1a:'3',
			q1b:'1',
			q1c:'1',
			q1d:'2',
			q1e:'3',
			q1f:'1',
			q1g:'1',
			q1h:'2',
			q2a:'1',
			q2b:'1',
			q2c:'2',
			q2d:'1',
			q2e:'2',
			q2f:'1',
			q2g:'1',
			q2h:'2',
			q3a:'more',
			q3b:'than',
			q3c:'most',
			q3d:'is',
			q3e:'the',
			q3f:'than',
			q3g:'happier',
			q3h:'best',
			q4a:'Rabbits are smaller than dogs',
			q4b:'Whales are the biggest animals in the world',
			q4c:'Sydney is bigger than Moon Rock',
			q4d:'Sydney is the most modern city',
			q4e:'Travel is more expensive in the summer',
			q4f:'Saturday is the best day of the week',
			q4g:'Planes are faster than buses',
			q4h:'This is the most expensive restaurant in the city',
			q5a:'biggest',
			q5b:'hotter',
			q5c:'smaller',
			q5d:'cheap',
			q5e:'cheapest',
			q5f:'happiest',
			q5g:'dirtier',
			q5h:'healthy',
			q5i:'healthiest',
			q5j:'most modern',
			q5k:'more expensive',
			q5l:'dangerous',
			q5m:'the most dangerous',
			q5n:'best',
			q5o:'bad',
			q6a:'2',
			q6b:'1',
			q6c:'2',
			q6d:'2',
			q6e:'1',
			q6f:'1',
			q6g:'2',
			q6h:'1',
			q7a:'relaxing',
			q7b:'more fast',
			q7c:'most fastest',
			q7d:'that',
			q7e:'gooder',
			q7f:'most dangerous',
			q7g:'safest',
			q7h:'most slow',
			q8a:'more relaxing',
			q8b:'faster',
			q8c:'fastest',
			q8d:'than',
			q8e:'better',
			q8f:'the most dangerous',
			q8g:'safer',
			q8h:'slowest',
			q9a:'Pittsville is smaller than Sydney',
			q9b:'Pittsville is bigger than Moon Rock',
			q9c:'Moon Rock is more beautiful than Pittsville',
			q9d:'Sydney is the most beautiful city',
			q9e:'Sydney is a better city for a vacation than Pittsville',
			q9f:'Sydney is the best city for a vacation'
		}
	#t0
		b.u2tit 6. Food to Go
		p
			b.u2 Comparatives and superlatives  
			p
	form#t1
		.co1
			b 1. Look at the information on three cities. 
			p
				center
					img(src='img/u6b.jpg')
		p
			b Then choose the correct option to complete the sentences. 
		p
			ol
				li
					select(name='q1a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Sydney
								option(value='2')
									| Pittsville
									option(value='3')
										| Moon Rock
					| is the smallest city.
					li
						select(name='q1b')
							option(value='x')
								| Choose Answer
								option(value='1')
									| Sydney
									option(value='2')
										| Pittsville
										option(value='3')
											| Moon Rock
						| is the biggest city.
						li
							select(name='q1c')
								option(value='x')
									| Choose Answer
									option(value='1')
										| Moon Rock
										option(value='2')
											| Sydney
							| is smaller than Pittsville.
							li
								select(name='q1d')
									option(value='x')
										| Choose Answer
										option(value='1')
											| Moon Rock
											option(value='2')
												| Sydney
								| is bigger than Pittsville.
								li
									select(name='q1e')
										option(value='x')
											| Choose Answer
											option(value='1')
												| Sydney
												option(value='2')
													| Pittsville
													option(value='3')
														| Moon Rock
									| is the most beautiful city.
									li
										select(name='q1f')
											option(value='x')
												| Choose Answer
												option(value='1')
													| Moon Rock
													option(value='2')
														| Sydney
										| is more beautiful than Sydney.
										li
											select(name='q1g')
												option(value='x')
													| Choose Answer
													option(value='1')
														| Sydney
														option(value='2')
															| Pittsville
															option(value='3')
																| Moon Rock
											| is the best city for a vacation.
											li
												| Moon Rock is a better city for a vacation than
												select(name='q1h')
													option(value='x')
														| Choose Answer
														option(value='1')
															| Sydney
															option(value='2')
																| Pittsville
		p
			center
				button.eval(data-target='t1') Check Answers
	form#t2
		p
			b 2. Comparative and superlative sentences
		p
			| Comparative sentences compare 2 things;
		p
			li
				span.rojo
					| Moon Rock is
					b smaller than
					| Pittsville.
		p
			| Superlative sentences compare more than 2 things;
		p
			li
				span.rojo
					| Sydney is
					b the biggest
					| city. = (of
					b all
					| the other cities)
		p
			b Are these comparative or superlative sentences?
		p
			ol
				li
					| Moon Rock is more beautiful than Sydney.
					br
					select(name='q2a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| Comparative
								option(value='2')
									| Superlative
		p
			li
				| Sydney is hotter than Moon Rock.
				br
				select(name='q2b')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| Sydney is the most modern city.
				br
				select(name='q2c')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| The train is better than the bus.
				br
				select(name='q2d')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| Ana is the tallest in the class.
				br
				select(name='q2e')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| Jill is prettier than Ana.
				br
				select(name='q2f')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| Michael is happier than he was last year.
				br
				select(name='q2g')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			li
				| This is the best meal I have ever eaten.
				br
				select(name='q2h')
					option(value='x')
						| Choose Answer
						option(value='1')
							| Comparative
							option(value='2')
								| Superlative
		p
			center
				button.eval(data-target='t2') Check Answers
	form#t3
		p
			b
				| 3. Can you remember the sentences from the last exercise? Type in the word to complete the sentences.
		p
			ol
				li
					| Moon Rock is
					input(size='5', name='q3a')
					| beautiful than Sydney.
					li
						| Sydney is hotter
						input(size='5', name='q3b')
						| Moon Rock.
						li
							| Sydney is the
							input(size='5', name='q3c')
							| modern city.
							li
								| The train
								input(size='5', name='q3d')
								| better than the bus.
								li
									| Ana is
									input(size='5', name='q3e')
									| tallest in the class.
									li
										| Jill is prettier
										input(size='5', name='q3f')
										| Ana.
										li
											| Michael is
											input(size='5', name='q3g')
											| than he was last year.
											li
												| This is the
												input(size='5', name='q3h')
												| meal I have ever eaten.
		p
			center
				button.eval(data-target='t3') Check Answers
	form#t4
		p
			b 4. Put the words in order to make more sentences.
		p
			ol
				li
					| smaller Rabbits are dogs than.
					br
					input(size='40', name='q4a')
					| .
					p
						li
							| are the animals biggest world in Whales the.
							br
							input(size='40', name='q4b')
							| .
							p
								li
									| bigger is Sydney than Moon Rock.
									br
									input(size='40', name='q4c')
									| .
									p
										li
											| city most the Sydney is modern.
											br
											input(size='40', name='q4d')
											| .
											p
												li
													| is in more summer expensive the Travel.
													br
													input(size='40', name='q4e')
													| .
													p
														li
															| the Saturday of is the day week best.
															br
															input(size='40', name='q4f')
															| .
															p
																li
																	| Planes than are buses faster.
																	br
																	input(size='40', name='q4g')
																	| .
																	p
																		li
																			| This expensive most city restaurant in is the the.
																			br
																			input(size='40', name='q4h')
																			| .
		p
			center
				button.eval(data-target='t4') Check Answers
	form#t5
		p
			b
				| 5. Complete this chart of adjective, comparative and superlative forms. There are 4 different types.
		p
			table(cellpadding='4', cellspacing='2', width='500')
				tr
					td(colspan='3')
						b Short Adjectives (1 syllable)
				tr
					td
						b
							b adjective
					td
						b comparative
					td
						b superlative 
				tr
					td big
					td                bigger than
					td
						| the
						input(size='7', name='q5a')
						| (1)
				tr
					td hot
					td
						input(size='7', name='q5b')
						| (2) than
					td              the hottest 
				tr
					td small
					td
						input(size='7', name='q5c')
						| (3) than
					td              the smallest 
				tr
					td
						input(size='7', name='q5d')
						| (4)
					td                cheaper than
					td
						| the
						input(size='7', name='q5e')
						| (5)
				tr
					td(colspan='3')
						b 2 Syllable Adjectives that end with "y" 
				tr
					td
						b adjective
					td
						b comparative
					td
						b superlative 
				tr
					td pretty
					td             prettier than
					td         the prettiest 
				tr
					td happy
					td              happier than
					td
						| the
						input(size='7', name='q5f')
						| (6)
				tr
					td dirty
					td
						input(size='7', name='q5g')
						| (7) than
					td              the dirtiest 
				tr
					td
						input(size='7', name='q5h')
						| (8)
					td               healthier than
					td
						| the
						input(size='7', name='q5i')
						| (9)
				tr
					td(colspan='3')
						b Long Adjectives (2 syllables or more) 
				tr
					td
						b adjective
					td
						b comparative
					td
						b superlative 
				tr
					td beautiful
					td          more beautiful than
					td   the most beautiful 
				tr
					td modern
					td             more modern than
					td
						| the
						input(size='7', name='q5j')
						| (10)
				tr
					td expensive
					td
						input(size='7', name='q5k')
						| (11) than
					td             the most expensive 
				tr
					td
						input(size='7', name='q5l')
						| (12)
					td              more dangerous than
					td
						input(size='15', name='q5m')
						| (13)
				tr
					td(colspan='3')
						b Irregular Adjectives 
				tr
					td
						b adjective
					td
						b comparative
					td
						b superlative 
				tr
					td good
					td               better than
					td
						| the
						input(size='7', name='q5n')
						| (14)
				tr
					td
						input(size='7', name='q5o')
						| (15)
					td              worse than
					td            the worst 
				tr
					td far
					td                farther than
					td          the farthest 
		p
			center
				button.eval(data-target='t5') Check Answers
	form#t6
		p
			b 6. Choose the correct option to complete the sentences.
		p
			ol
				li
					| In Spain August is
					select(name='q6a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| more hot
								option(value='2')
									| hotter
					| than September.
					p
						li
							| Speaking is
							select(name='q6b')
								option(value='x')
									| Choose Answer
									option(value='1')
										| more difficult
										option(value='2')
											| difficulter
							| than reading.
							p
								li
									| The weather is
									select(name='q6c')
										option(value='x')
											| Choose Answer
											option(value='1')
												| more bad
												option(value='2')
													| worse
									| than it was yesterday.
									p
										li
											| Pittsville is
											select(name='q6d')
												option(value='x')
													| Choose Answer
													option(value='1')
														| more near
														option(value='2')
															| nearer
											| to the coast than Moon Rock.
											p
												li
													| Dogs can be more
													select(name='q6e')
														option(value='x')
															| Choose Answer
															option(value='1')
																| more dangerous
																option(value='2')
																	| dangerouser
													| than cats.
													p
														li
															| Agnes is
															select(name='q6f')
																option(value='x')
																	| Choose Answer
																	option(value='1')
																		| happyer
																		option(value='2')
																			| happier
															| than Clara.
															p
																li
																	| Friday is
																	select(name='q6g')
																		option(value='x')
																			| Choose Answer
																			option(value='1')
																				| more good
																				option(value='2')
																					| better
																	| than Monday.
																	p
																		li
																			| Australia is
																			select(name='q6h')
																				option(value='x')
																					| Choose Answer
																					option(value='1')
																						| bigger
																						option(value='2')
																							| biger
																			| than Spain.
																			p
		p
			center
				button.eval(data-target='t6') Check Answers
	form#t7
		p
			b
				| 7. Identify the mistakes of comparative and superlative forms in this text. There are 8.
		p
			| I usually travel by bicycle because it's relaxing than the bus, but the bus
			br
			| is more fast. The most fastest is the metro and also the metro is
			br
			| cheaper that the bus but you can't see anything. I mean, the views is
			br
			| gooder from the bus. The problem with traveling by bicycle is that it's
			br
			| most dangerous form of transportation. The best way of all to travel is on foot,
			br
			| walking, it's safest than the bicycle but it's also the most slow way to go.
		p
			b Now write the mistake in order
		p
			ol
				li
					input(size='9', name='q7a')
					p
						li
							input(size='9', name='q7b')
							p
								li
									input(size='9', name='q7c')
									p
										li
											input(size='9', name='q7d')
											p
												li
													input(size='9', name='q7e')
													p
														li
															input(size='9', name='q7f')
															p
																li
																	input(size='9', name='q7g')
																	p
																		li
																			input(size='9', name='q7h')
																			p
		p
			center
				button.eval(data-target='t7') Check Answers
	form#t8
		p
			b 8. Here are the 8 mistakes. Type the correct form in the box.
		p
			center
				table(cellpadding='5', cellspacing='5', bgcolor='#ffbc90', width='550')
					tr
						td
							ol
								li
									| ... because it's
									span#m1 relaxing
									| than the bus, ...
									input(size='7', name='q8a')
									li
										| ... but the bus is
										span#m1 more fast
										| .
										input(size='7', name='q8b')
										li
											| The
											span#m1 most fast
											| is the metro .....
											input(size='7', name='q8c')
											li
												| ... the subway is cheaper
												span#m1 that
												| the bus ...
												input(size='7', name='q8d')
												li
													| ... the view is
													span#m1 gooder
													| from the bus.
													input(size='7', name='q8e')
													li
														| ... it's
														span#m1 most dangerous
														| form of transportation.
														input(size='7', name='q8f')
														li
															| ... it's
															span#m1 safest
															| than the bicycle ...
															input(size='7', name='q8g')
															li
																| ... but it's also the
																span#m1 most slow
																| way ...
																input(size='7', name='q8h')
		p
			center
				button.eval(data-target='t8') Check Answers
	form#t9
		p
			b 9. Look at the information from exercise 1 again. 
		p
			center
				img(src='img/u6b.jpg')
		p
			b Write down sentences comparing the cities. 
		p
			| Use the words given. You will have to use the correct form of the adjective. For example
		p
			li
				| Moon Rock/Sydney (beautiful) =
				span#m1 Moon Rock is more beautiful than Sydney.
				li
					| Sydney/Pittsville/Moon Rock (small) =
					span#m1 Moon Rock is the smallest city. 
		p
			ol
				li
					| Pittsville/Sydney (small)
					li
						| Pittsville/Moon Rock (big)
						li
							| Moon Rock/Pittsville (beautiful)
							li
								| Sydney/Pittsville/Moon Rock (beautiful city)
								li
									| Sydney/Pittsville (good city for a vacation)
									li
										| Sydney/Pittsville/Moon Rock (good city for a vacation)
		p
			ol
				li
					input(size='49', name='q9a')
					| .
					li
						input(size='49', name='q9b')
						| .
						li
							input(size='49', name='q9c')
							| .
							li
								input(size='49', name='q9d')
								| .
								li
									input(size='49', name='q9e')
									| .
									li
										input(size='49', name='q9f')
										| .
		center
			button.eval(data-target='t9') Check Answers
	#z1
	#z2
	#z3
	#z4
	#z5
	#z6
	#z7
	#z8
	#z9
