div#U7A
	script.
		unitans.U7A = {
			q1a:'c',
			q1b:'e',
			q1c:'a',
			q1d:'f',
			q1e:'d',
			q1f:'b',
			q2a:'lend',
			q2b:'borrow',
			q2c:'lend',
			q2d:'borrow',
			q2e:'lend',
			q2f:'Lend',
			q2g:'borrow',
			q2h:'borrow',
			q2i:'lend',
			q2j:'borrow',
			q3a:'earn',
			q3b:'make',
			q3c:'waste',
			q3d:'save',
			q3e:'borrow',
			q3f:'lend'
		}
	#t0
		b.u2tit 7. Money Talk
		p
			b.u2 Money collocations  
			p
	form#t1
		.co1
			b
				| 1. verb + money
				p
					| Match the verbs to the definitions.
			p
				table(cellpadding='0', cellspacing='3')
					tr
						td a. save money
						td
							| 1.
							input(size='1', maxlength='1', name='q1a')
							| to get money by working
					tr
						td b. make money
						td
							| 2.
							input(size='1', maxlength='1', name='q1b')
							| to take money from a friend for a short time, and then return it
					tr
						td c. earn money
						td
							| 3.
							input(size='1', maxlength='1', name='q1c')
							| to not spend money, to put it in the bank
					tr
						td d. waste money
						td
							| 4.
							input(size='1', maxlength='1', name='q1d')
							| to give money to a friend for a short time, and the they return it
					tr
						td e. borrow money
						td
							| 5.
							input(size='1', maxlength='1', name='q1e')
							| to spend too much money on unnecessary things
					tr
						td f. lend money
						td
							| 6.
							input(size='1', maxlength='1', name='q1f')
							| to get money by working, selling something, investing, etc.
		p
			center
				button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. borrow and lend
		p
			span.rojo
				| I
				b borrow
				| money from my brother.
				br
				b borrow
			| + something (from someone)
		p
			span.rojo
				| My brother
				b lends
				| me money.
				br
				b lend
			| + someone + something
		p
			| or
		p
			span.rojo
				| My brother
				b lends
				| money to me.
				br
				b lend
			| + something +
			span.rojo to
			| + someone
		p
			b
				| Complete the sentences with
				span.rojo borrow
				| or
				span.rojo lend
				| .
		p
			ol
				li
					| Can you
					input(size='7', name='q2a')
					| me some money for the bus?
					li
						| Can I
						input(size='7', name='q2b')
						| your bicycle for the weekend?
						li
							| I always
							input(size='7', name='q2c')
							| her money when she asks me.
							li
								| I will
								input(size='7', name='q2d')
								| the money from bank and pay it back next year.
								li
									| Don't
									input(size='7', name='q2e')
									| him the car, doesn't have a driver's license!
									li
										input(size='7', name='q2f')
										| me your pencil for a minute.
										li
											| We could
											input(size='7', name='q2g')
											| your father's visa card and go shopping.
											li
												| Did you
												input(size='7', name='q2h')
												| that jacket, or did Gavin give it to you?
												li
													| When I
													input(size='7', name='q2i')
													| money to my brother he never pays me back.
													li
														| Would you like to
														input(size='7', name='q2j')
														| my car?
		p
			button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Type in the verbs to complete this text. All the verbs come from the previous two exercises.
		p
			center
				table(cellpadding='5', cellspacing='5', bgcolor='#ffbc90', width='500')
					tr
						td
							| "Money and Me"
							| I don't
							input(size='7', name='q3a')
							| (1)  very much money in my job, so I
							input(size='7', name='q3b')
							| (2)  some
							| extra money every month by selling my paintings in a craft
							| market. I try not to
							input(size='7', name='q3c')
							| (3)  money on unnecessary things, but
							| love going to a cafes, sitting down and having a coffee and a big
							| sweet cake, which is a little expensive sometimes. I also try to
							input(size='7', name='q3d')
							| (4)
							| a little money each month and put it in the bank. But this is
							| not always possible, and sometimes I have to
							input(size='7', name='q3e')
							| (5)  money
							| from my brothers. They always
							input(size='7', name='q3f')
							| (6)  me money when I ask,
							| and I return it as soon as I can.
		button.eval(data-target='t3') Check answers
	#z1
	#z2
	#z3
