div#U9A
	script.
		unitans.U9A = {
			q1a:'2',
			q1b:'2',
			q1c:'1',
			q1d:'1',
			q1e:'1',
			q1f:'2',
			q1g:'1',
			q1h:'3',
			q1i:'1',
			q2a:'1',
			q2b:'2',
			q2c:'1',
			q2d:'3',
			q2e:'3',
			q3a:'waste',
			q3b:'waste',
			q3c:'waste',
			q3d:'waste',
			q3e:'waste',
			q3f:'waste',
			q4a:'put',
			q4b:'the',
			q4c:'piano',
			q4d:'in',
			q4e:'the',
			q4f:'middle',
			q4g:'of',
			q4h:'the',
			q4i:'room',
			q4j:'bother',
			q4k:'wrapping',
			q4l:'it',
			q4m:'try',
			q4n:'denying',
			q4o:'it',
			q4p:'don\'t',
			q4q:'recommend',
			q4r:'the',
			q4s:'History',
			q4t:'Museum',
			q4v:'bother',
			q4w:'buying',
			q4x:'their',
			q4y:'latest',
			q4z:'CD'
		}
	#t0
		b.u2tit 9. Hi-Tech
		p
			b.u2 Time verbs  
			p
	form#t1
		.co1
			b 1. Choose the best word to complete each sentence.
			p
				ol
					li
						| Men
						select(name='q1a')
							option(value='x')
								| Choose Answer
								option(value='1')
									| lose
									option(value='2')
										| waste
										option(value='3')
											| spend
						| more time than women.
						li
							| Britons
							select(name='q1b')
								option(value='x')
									| Choose Answer
									option(value='1')
										| lose
										option(value='2')
											| waste
											option(value='3')
												| pass
							| one hour a day doing nothing.
							li
								| We
								select(name='q1c')
									option(value='x')
										| Choose Answer
										option(value='1')
											| lose
											option(value='2')
												| waste
												option(value='3')
													| spend
								| valuable working time stuck in traffic jams.
								li
									| Hurry up! You are
									select(name='q1d')
										option(value='x')
											| Choose Answer
											option(value='1')
												| wasting
												option(value='2')
													| spending
													option(value='3')
														| losing
									| time!
									li
										| I like to
										select(name='q1e')
											option(value='x')
												| Choose Answer
												option(value='1')
													| spend
													option(value='2')
														| pass
														option(value='3')
															| waste
										| my vacations learning a foreign language.
										li
											| To
											select(name='q1f')
												option(value='x')
													| Choose Answer
													option(value='1')
														| spend
														option(value='2')
															| pass
															option(value='3')
																| lose
											| the time, I read a book.
											li
												| When the clocks change to summer time, we
												select(name='q1g')
													option(value='x')
														| Choose Answer
														option(value='1')
															| lose
															option(value='2')
																| spend
																option(value='3')
																	| waste
												| one hour.
												li
													| I'm not very good at the guitar, but it helps to
													select(name='q1h')
														option(value='x')
															| Choose Answer
															option(value='1')
																| spend
																option(value='2')
																	| waste
																	option(value='3')
																		| pass
													| the time.
													li
														| We usually
														select(name='q1i')
															option(value='x')
																| Choose Answer
																option(value='1')
																	| spend
																	option(value='2')
																		| pass
																		option(value='3')
																			| waste
														| our vacations in the south of France.
		p
			center
				button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Now, complete the rules.
		p
			ol
				li
					| You
					select(name='q2a')
						option(value='x')
							| Choose Answer
							option(value='1')
								| spend
								option(value='2')
									| waste
									option(value='3')
										| lose
					| time doing something, either useful or useless.
		p
			li.espa-abajo
				| You
				select(name='q2b')
					option(value='x')
						| Choose Answer
						option(value='1')
							| spend
							option(value='2')
								| waste
								option(value='3')
									| lose
				| time doing something useless.
				li
					| You
					select(name='q2c')
						option(value='x')
							| Choose Answer
							option(value='1')
								| spend
								option(value='2')
									| pass
									option(value='3')
										| waste
					| a period of time (e.g., a day, an evening, a vacation) doing something when you do it from the beginning to the end of that period.
		p
			li
				| You
				select(name='q2d')
					option(value='x')
						| Choose Answer
						option(value='1')
							| spend
							option(value='2')
								| waste
								option(value='3')
									| pass
				| the time when you do something to stop being bored.
		p
			li
				| You
				select(name='q2e')
					option(value='x')
						| Choose Answer
						option(value='1')
							| pass
							option(value='2')
								| spend
								option(value='3')
									| lose
				| time, when what you are doing takes time away from something else.
		p
			center
				button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. What ONE word can fill all the spaces below?
		p
			center
				table(cellpadding='5', cellspacing='5', width='550', bgcolor='#ffbc90')
					tr
						td
							ol
								li
									| Don't put the piano in the middle of the room. It's a
									input(size='6', name='q3a')
									| of space.
									li
										| Don't bother wrapping it. It's a
										input(size='6', name='q3b')
										| of paper.
										li
											| Don't try denying it. It's a
											input(size='6', name='q3c')
											| of breath.
											li
												| I don't recommend the History Museum. It's a complete
												input(size='6', name='q3d')
												| of time.
												li
													| Don't bother buying their latest CD. It's a total
													input(size='6', name='q3e')
													| of money.
		p
			| The one word that can fill all of the spaces is:
			input(size='6', name='q3f')
		p
		p
			button.eval(data-target='t3') Check answers and see the word
	form#t4
		p
			b
				| 4. Can you remember the sentences from the last exercise? Without looking, complete these sentences.
		p
			ol.li
				li
					| Don't
					sub p
					input(size='5', name='q4a')
					sub t
					input(size='5', name='q4b')
					sub p
					input(size='5', name='q4c')
					sub i
					input(size='5', name='q4d')
					sub t
					input(size='5', name='q4e')
					sub
						sub m
					input(size='5', name='q4f')
					sub o
					input(size='5', name='q4g')
					sub t
					input(size='5', name='q4h')
					sub r
					input(size='5', name='q4i')
					| . It's a waste of space.
					br
					br
					li
						| Don't
						sub b
						input(size='5', name='q4j')
						sub w
						input(size='5', name='q4k')
						sub i
						input(size='5', name='q4l')
						| . It's a waste of paper.
						li
							| Don't
							sub t
							input(size='5', name='q4m')
							sub
								sub d
							input(size='5', name='q4n')
							sub i
							input(size='5', name='q4o')
							| . It's a waste of breath.
							br
							br
							li
								| I
								sub
									sub d
								input(size='5', name='q4p')
								sub r
								input(size='5', name='q4q')
								sub t
								input(size='5', name='q4r')
								sub H
								input(size='5', name='q4s')
								sub M
								input(size='5', name='q4t')
								| . It's a complete waste of time.
								br
								br
								li
									| Don't
									sub b
									input(size='5', name='q4v')
									sub b
									input(size='5', name='q4w')
									sub t
									input(size='5', name='q4x')
									sub I
									input(size='5', name='q4y')
									sub C
									input(size='5', name='q4z')
									| . It's a total waste of money.
									br
									br
		center
			button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
