div#U9D
	script.
		unitans.U9D = {
			q1a:'3',
			q1b:'1',
			q1c:'2',
			q2a:'can',
			q2b:'help',
			q2c:'like',
			q2d:'speak',
			q2e:'ask',
			q2f:'it',
			q2g:'put',
			q2h:'meeting',
			q2i:'message',
			q2j:'call',
			q3a:'How',
			q3b:'it',
			q3c:'bank',
			q3d:'speak',
			q3e:'line',
			q3f:'put',
			q4a:'help',
			q4b:'speak',
			q4c:'name',
			q4d:'number',
			q4e:'it',
			q4f:'346-7658',
			q5a:'b',
			q5b:'a',
			q5c:'e',
			q5d:'d',
			q5e:'c'
		}
	#t0
		b.u2tit 9. Hi-Tech
		p
			b.u2 The telephone
			p
	form#t1
		.co1
			b 1. Read three telephone calls.
			p
				div(style='background-color: #ffff90; color: #002050; padding: 15;')
					b call #1
					p
						| Good morning, Samson Electronics. How can I help you?
						br
						| Hello. I'd like to speak to Andrew Downs please.
						br
						| Could I ask who's calling?
						br
						| Yes, it's Tim Johnson from Ireland.
						br
						| Ok, I'll put you through.
						br
						| OK, thanks.
						br
						| Er, I'm sorry, but he's in a meeting at the moment. Would you like to leave a message?
						br
						| No, it doesn't matter. I'll call back later.
						br
						| OK. Bye.
						br
						| Thanks. Bye.
						br
					p
						b call #2
						p
							| Good morning, Samson Electronics. How can I help you?
							br
							| Hello, it's Carol James here from the bank. Could I speak to Mr. Downs, please?
							br
							| Yes, certainly. Hold the line please and I'll put you through.
							br
							| Thanks very much.
						p
							b call #3
							p
								| Hello, Samson Electronics. How can I help you?
								br
								| Hello, I'd like to speak to Chris Marshall please.
								br
								| I'm sorry, but there's no one by that name here. Perhaps you've dialled a wrong number . Oh, isn't this 346-7648?
								br
								| No, it isn't. This is 346-7658.
								br
								| Oh sorry.
								br
								| Bye.
			p
				| In which call:
			p
				| a. does the caller (the person who telephones) make a mistake?
				br
				input(type='radio', name='q1a', value='1', checked='checked')
				| call 1
				input(type='radio', name='q1a', value='2')
				| call 2
				input(type='radio', name='q1a', value='3')
				| call 3
				p
					| b. is the person not able to come to the phone because they are busy?
					br
					input(type='radio', name='q1b', value='1', checked='checked')
					| call 1
					input(type='radio', name='q1b', value='2')
					| call 2
					input(type='radio', name='q1b', value='3')
					| call 3
					p
						| c. does the operator connect the caller immediately?
						br
						input(type='radio', name='q1c', value='1', checked='checked')
						| call 1
						input(type='radio', name='q1c', value='2')
						| call 2
						input(type='radio', name='q1c', value='3')
						| call 3
		p
			center
				button.eval(data-target='t1') Check Answers
	form#t2
		p
			b 2. Complete the telephone calls. 
		p
			center
				table(cellpadding='5', bgcolor='#ffbc90', width='550')
					tr
						td
							| Good morning, Samson Electronics. How
							input(size='6', name='q2a')
							| (1) I
							input(size='6', name='q2b')
							| (2) you?
							br
							| Hello. I'd
							input(size='6', name='q2c')
							| (3) to
							input(size='6', name='q2d')
							| (4) to Andrew Downs please.
							br
							| Could I
							input(size='6', name='q2e')
							| (5) who's calling?
							br
							| Yes,
							input(size='6', name='q2f')
							| 's(6) Tim Johnson from Ireland.
							br
							| Ok, I'll
							input(size='6', name='q2g')
							| (7) you through.
							br
							| OK, thanks.
							br
							| Er, I'm sorry, but he's in a
							input(size='6', name='q2h')
							| (8) at the moment. Would you like to
							br
							| leave a
							input(size='6', name='q2i')
							| (9)?
							br
							| No, it doesn't matter. I'll
							input(size='6', name='q2j')
							| (10) back later.
							br
							| Right. Bye.
							br
							| Thanks. Bye.
		p
			button.eval(data-target='t2') Check Answers
	form#t3
		p
			table(cellpadding='5', bgcolor='#ffbc90', width='550')
				tr
					td
						| Good morning, Samson Electronics.
						input(size='6', name='q3a')
						| (1) can I help you?
						br
						| Hello,
						input(size='6', name='q3b')
						| 's(2) Carol James here from the
						input(size='6', name='q3c')
						| (3). Could I
						input(size='6', name='q3d')
						| (4) to Mr. Downs, please?
						br
						| Yes, certainly. Hold the
						input(size='6', name='q3e')
						| (5) please and I'll
						input(size='6', name='q3f')
						| (6) you through.
						br
						| Thanks very much.
		p
			button.eval(data-target='t3') Check Answers
	form#t4
		p
			table(cellpadding='5', bgcolor='#ffbc90', width='550')
				tr
					td
						| Hello, Samson Electronics. How can I
						input(size='6', name='q4a')
						| ?(1)
						br
						| Hello, I'd like to
						input(size='6', name='q4b')
						| (2) to Chris Marshall please.
						br
						| I'm sorry, but there's no one by that
						input(size='6', name='q4c')
						| (3) here. Perhaps you've dialled a wrong
						input(size='6', name='q4d')
						| (4) .
						| Oh, isn't this 346-7648?
						br
						| No,
						input(size='6', name='q4e')
						| (5) isn't. This is
						input(size='6', name='q4f')
						| . (6)
						br
						| Oh sorry.
						br
						| Bye.
		p
			button.eval(data-target='t4') Check Answers
	form#t5
		p
			b
				| 3. Look at the telephone calls again. Match the vocabulary from the calls to the correct definition.
		p
			center
				table(cellpadding='5', width='550')
					tr
						td a) put you through
						td
							| 1.
							input(size='1', name='q5a')
							| to make a telephone call
					tr
						td b) call
						td
							| 2.
							input(size='1', name='q5b')
							| to connect you to the person you are calling
					tr
						td c) dial
						td
							| 3.
							input(size='1', name='q5c')
							| to make a mistake when you press the buttons on the phone and call someone else
					tr
						td d) hold the line
						td
							| 4.
							input(size='1', name='q5d')
							| to wait on phone
					tr
						td e) to dial a wrong number
						td
							| 5.
							input(size='1', name='q5e')
							| press the buttons on the phone to make a call
		button.eval(data-target='t5') Check Answers
	#z1
	#z2
	#z2a
	#z2b
	#z3
