meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title New American Framework
link(href='./css/normalize.css', type='text/css', rel='stylesheet')
link(href='./css/foundation.min.css', type='text/css', rel='stylesheet')
link(href='./css/style.css', type='text/css', rel='stylesheet')
script(src='./js/vendor/modernizr.js')
script(src='./js/vendor/jquery.js')
script(src='./js/foundation/foundation.js')
script(src='./js/foundation/foundation.alert.js')
script(src='./js/handlebars-v1.3.0.js')
script(src='./js/main.js')