<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Transcript</span>
<p>
<b>Argument 2</b>
<br>
<b>Father:</b> Emma, have you been smoking?</br>
<b>Daughter:</b> What, what do you mean, have I been smoking?</br>
<b>Father:</b> What's that smell? I can smell cigarettes ...</br>
<b>Daughter:</b> What smell?</br>
<b>Father:</b> ... I can smell cigarettes in the house, I can smell cigarette smoke coming from your room.</br>
<b>Daughter:</b> It's probably coming from your room.</br>
<b>Father:</b> Emma, you've been smoking. Don't try and hide the fact.</br>
<b>Daughter:</b> OK, I've been smoking, so what?</br>
<b>Father:</b> Emma, we've talked about this before. I do not want you to start smoking.</br>
<b>Daughter:</b> Dad, you always ... you used to smoke.</br>
<b>Father:</b> That's not the point ... it's because I used to smoke that I understand the dangers. I also understand how difficult it is to give up. I want you to stop now so you don't go through the--</br>
<b>Daughter:</b> But I'm not addicted. I only smoke one or two cigarettes a day. All my friends smoke and it's fine. It's just like, it's normal.</br>
<b>Father:</b> One or two cigarettes a day is addiction, and, or if it's not now it's, it's the slippery slope to addiction, believe me.</br>
<b>Daughter:</b> That's rubbish, and you know ... Anyway, you still smoke.</br>
<b>Father:</b> I do not ... Emma, when did you last see me smoking?</br>
<b>Daughter:</b> I saw you have a cigar at Christmas lunch.</br>
<b>Father:</b> Cigar at Christmas? That was six months ... I always have a cigar at Christmas. That is not addiction.</br>
<b>Daughter:</b> But it's exactly the same thing. You can't come in here and lecture me about smoking when you still smoke. And I see you smoking.</br>
<b>Father:</b> Emma, I'm not going to discuss this. We've been through this before. I do not want you to smoke in this house. If I catch you smoking again I ... I don't know what I'll do.</br>
<b>Daughter:</b> Well I'm 18 now, so I'm going to move out.</br>
<p>
</div>









  



