<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Transcript</span>
<p>
<b>Argument 1</b>
<br>
<b>Woman:</b> Excuse me, would you mind not smoking in here?<br>
<b>Man:</b> I'm sorry, um, yeah, I'll just finish, finish this cigarette, then I'll, then I'll put it out.<br>
<b>Woman:</b> No, I'd rather you put it out now, actually, if you don't mind.<br>
<b>Man:</b> Yeah, well I ... I'm not ... I just ... I'm just going to finish this one. Um, I can't see what the problem is.<br>
<b>Woman:</b> Well, well we did actually have a vote on this and we decided this room was a non-smoking room.<br>
<b>Man:</b> Yeah, but I mean, in the morning there's hardly anybody around who, who doesn't smoke, frankly, and um, and everbody's been smoking in here all morning.<br>
<b>Woman:</b> Yeah, exactly. That's the point. And, and I don't smoke. Why should I have to breathe in other people's smoke? Passive smoking does affect your health, you know.<br>
<b>Man:</b> Well, I think there's a lot that's been said about passive smoking that, frankly, I don't know whether it's actually that true, but anyway, we all smoke here in the mornings and, er, you're never here in the morning, normally.<br>
<b>Woman:</b> Well, I don't think that's, that's really the point.<br>
<b>Man:</b> Well, what do you want me to do? Go outside? It's raining outside.<br>
<b>Woman:</b> Yes. Well, or perhaps we need to find somewhere else where people can smoke, but that's not my problem.<br>
<b>Man:</b> Or perhaps we need another vote. I mean, we all smoke in the mornings - why don't ..., I mean, maybe this, this should be a smoking room after all.<br>
<p>
</div>









  



