<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Reading</span>
<p>
<b>Are You Having the Same Argument?</b><br>
<p>
Do you ever get the feeling you are having the same argument? Joe and I do. Often it feels like we have the same fights time and 
time again without ever resolving them. A typical fight might go something like this (we each provided our own sub-texts):
<p>
<b>Me:</b> "Are we going up to visit Bob and Jean next weekend or not?" 
(I don't really want to go, but I'm trying to find out what he wants first.) <br>
<b>Joe:</b> "I don't know. I'll have to wait and see how things are at work." 
(Don't hassle me. Why do we have to decide now, anyway? It's only Tuesday.) <br>
<b>Me:</b> "But I have to tell them something. It's Tuesday already and they need to know." 
(I feel obliged to let them know what we're doing so I can make other plans if we're not going away.) <br>
<b>Joe:</b> "Well, do you want to go?" (If it's an issue, then you decide. Don't try and start an argument.) <br>
<b>Me:</b> "I don't mind." (I don't want to go, but I know we should. Maybe I want Joe to make the decision.)<br> 
<b>Joe:</b> "I'll let them know later in the week." (I'm not ready to decide and I don't like being pushed.) <br>
<b>Me:</b> "That's not fair to them." (That's not fair to me.) <br>
<b>Joe:</b> "Look, I can't tell you now, because I don't know what's happening at work." 
(I'm going to be really uncooperative now, because I don't like being pressured.) <br>
<b>Me:</b> "Well, when will you know exactly?" (I'm going to tee you off now anyway, because you're just doing this to wind me up.)<br>
<p>
By now we're in full fight mode and have reached a stalemate. 
The more I hassle Joe to make a decision, the more stubborn he becomes - and the more stubborn he becomes, the more I hassle him. 
Joe and I know our parts word for word, and we know we're going nowhere. 
We usually end up with the traditional storming-out and door-slamming routine.
<p>
According to Deborah Tannen, sociolinguist and author of That's Not What I Meant (Virago, £5.99), 
these repeated arguments are the inevitable result of different arguing styles. 
While women tend to be over-accommodating, many men resist the slightest hint that anyone, 
especially a woman, is telling them what to do. This is due to what Tannen calls "cultural difference."
<p>
"Male-female conversation is always cross-cultural communication," she says. 
"Men and women have different past experiences. From the moment they're born they're treated and talked to differently, 
and they talk differently themselves as a result."
<p>
This partly explains my feeling that Joe and I are forever having the same row. We may be arguing over different things, 
but it's always in the same way. It's our incompatible individual styles getting us into the same circular fight on any subject that comes up. 
<p>
So why do many of us end up with partners who have such a different arguing style? 
Because opposites do attract. Even though in the long term we'd be better off with a partner we can communicate with, 
initially we are drawn to someone who is our total opposite.
<p>
"So, Joe, about next weekend. Have you had any more thoughts...?"
<p>
</div>