<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Word List</span>
<p>
<b>argumentative (adj) </b><br>
someone who argues a lot is argumentative
<p>
<b>bawl out (v)</b><br>
to shout at somebody angrily, for doing something wrong
<p>
<b>beep (v)</b><br>
when something beeps, or when you beep something, it makes a short, loud, high-pitched noise - "I don't know how to stop my watch beeping"
<p>
<b>curb your temper (idm)</b><br>
to control your anger
<p>
<b>fly off the handle (idm)</b><br>
to get suddenly angry
<p>
<b>hot-head (n)</b><br>
a person who argues a lot or who gets angry quickly (informal) 
<p>
<b>menacingly (adv)</b><br>
in a menacing - that is, threatening - way
<p>
<b>muttering (v)</b><br>
talking quietly and indistinctly to yourself
<p>
<b>provoked (v)</b><br>
if someone provokes you, they try to make you angry
<p>
<b>shrug (v)</b><br>
to raise and lower your shoulders to indicate you don't know or don't care
<p>
<b>storm off (v)</b><br>
to leave a place, such as a room, very angrily
<p>
<b>unruffled (adj)</b><br>
undisturbed, calm
<p>
<b>vehemently (adv)</b><br>
in a way that expresses your feelings very strongly
<p>
<b>yoga (n)</b><br>
an Indian philosophy and type of exercise which helps people relax
<p>
</div>










