<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Transcript</span>
<p>
<b>1</b><br>
<p>
<b>A:</b> Ben, I have a confession to make. <br> 
<b>B:</b> What?<br> 
<b>A:</b> That video you lent me, you know, your wedding video. <br> 
<b>B:</b> Yes? <br> 
<b>A:</b> I recorded over it.<br> 
<b>B:</b> You what!? <br> 
<b>A:</b> I'm sorry, I didn't realize it was yours, and I recorded an episode of The Simpsons over it.<br> 
<b>B:</b> Well…don't worry about it. These things happen, I guess. <br> 
<p>
<b>2</b><br>
<p>
<b>C:</b> How was your trip to Turkey?<br> 
<b>D:</b> Fantastic. Brilliant.<br> 
<b>C:</b> Was the guidebook I lent you any use?<br> 
<b>D:</b> Oh, it was great. But one thing, though.<br> 
<b>C:</b> What?<br> 
<b>D:</b> Erm, I left it on the bus, by mistake, I was in a bit of a rush… <br> 
<b>C:</b> That book is out of print, you realise.<br> 
<b>D:</b> I know. I'm awfully sorry. <br> 
<b>C:</b> Well, I guess it couldn't be helped… 
<p>
<b>3</b><br>
<p>
<b>E:</b> What's wrong with this plant?<br> 
<b>F:</b> Its leaves seem to be going yellow. <br> 
<b>E:</b> And falling off. Have you been watering it? <br> 
<b>F:</b> Only a bit.<br> 
<b>E:</b> I told you not to water it. It doesn't need water. <br> 
<b>F:</b> All plants need water.<br> 
<b>E:</b> Not a bucket a day. <br> 
<b>F:</b> I'm sorry. <br> 
<b>E:</b> Well, I guess you were only trying to be helpful. 
<p>
<b>4</b><br>
<p>
<b>G:</b> What was that?<br> 
<b>H:</b> I'm sorry! <br> 
<b>G:</b> What did you break? <br> 
<b>H:</b> A coffee mug. It slipped when I was drying it. <br> 
<b>G:</b> Which coffee mug? <br> 
<b>H:</b> The Princess Diana one. <br> 
<b>G:</b> But that's my favourite! <br> 
<b>H:</b> Oh dear, really? Sorry. <br> 
<b>G:</b> Well, I suppose you weren't to know.
<p>
</div>










