<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Word List</span>
<p>
<b>accommodating (adj)</b><br>
an accommodating person is prepared to change their ideas, plans or wishes to suit other people
<p>
<b>allow (v)</b><br>
give permission
<p>
<b>cheer up (v)</b><br>
become happier
<p>
<b>coach (v)</b><br>
to train eg sports people
<p>
<b>end up (v)</b><br>
if you end up in a situation, that is the situation you are in finally
<p>
<b>fully (adv)</b><br>
completely
<p>
<b>funding (n)</b><br>
financial help from the government
<p>
<b>get over (v)</b><br>
recover from something
<p>
<b>halting (adj)</b><br>
slow, hesitating
<p>
<b>heal (v)</b><br>
make a person healthy
<p>
<b>hint (n)</b><br>
an indirect suggestion
<p>
<b>issue (n)</b><br>
subject or problem (in this context it means a cause for an argument)
<p>
<b>mute (adj)</b><br>
unable to speak
<p>
<b>naked eye (n)</b><br>
the eye without help from a telescope or microscope
<p>
<b>overjoyed (adj)</b><br>
extremely happy
<p>
<b>pick up (v)</b><br>
learn
<p>
<b>point (v)</b><br>
use your finger to make someone look at something
<p>
<b>pressured (v)</b><br>
to pressure someone is to try to make them do something they don't want to do
<p>
<b>raise (v)</b><br>
to "raise money" is to collect money for a special purpose
<p>
<b>scenario (n)</b><br>
the outline of the story of a film
<p>
<b>shock (n)</b><br>
complete surprise
<p>
<b>speech therapist (n)</b><br>
a person trained to help people with speech problems
<p>
<b>stalemate (n)</b><br>
a situation in which neither person in an argument or fight can win
<p>
<b>starved (participle)</b><br>
not having enough of something, usually food
<p>
<b>tank (n)</b><br>
big pool for fish, dolphins etc
<p>
<b>therapy (n)</b><br>
the treatment of illnesses
<p>
<b>utter (v)</b><br>
to speak words
<p>
<b>vocal cords (n) </b><br>
the things in your throat that you speak with
<p>
<b>within (prep)</b><br>
before the end of a period of time: so "within days" means "before a few days had passed"
<p>
<b>youngsters (n)</b><br>
children
<p>
</div>










