<head>
<title>Framework 5</title>
<meta http-equiv="content-type" content="text/html" charset="iso-8859-1">
<style type="text/css">
body {background-color:#00ac9f}
#t1 {position:absolute;top:5;left:10;font-size:12;font-family:arial;width:570;color:#ffffff}
#txt1 {font-size:18;font-family:arial;color:#ffffff}
</style>
</head>

<div id="t1">
<span id="txt1">Word List</span>
<p>
<b>backbone (n)</b><br>
the part of something that gives it strength and unity
<p>
<b>breed (n)</b><br>
a particular type of person
<p>
<b>cardigan (n)</b><br>
a jumper with buttons down the front
<p>
<b>conventional wisdom (n)</b><br>
the way that most people think
<p>
<b>dockside (n)</b><br>
the area next to a dock (=the place in a port where ships are loaded and unloaded)
<p>
<b>drizzle (n)</b><br>
light rain 
<p>
<b>futon (n)</b><br>
a Japanese sofa-bed consisting of a low wooden structure with a hard mattress on it
<p>
<b>head (v)</b><br>
to go or travel in a particular direction
<p>
<b>in store (adv)</b><br>
if something is in store for you, it is going to happen to you soon, and the implication is that it won't be enjoyable
<p>
<b>overrun (v)</b><br>
if a place is overrun with something, the implication is that there are too many of them there
<p>
<b>pull (v)</b><br>
pull indicates a change of direction or speed in a car; to pull into a place is to leave the road and stop at that place
<p>
<b>scorching (adj)</b><br>
very hot
<p>
<b>set (n)</b><br>
a group of similar or connected things
<p>
<b>sizeable (adj)</b><br>
quite large
<p>
<b>slide (v)</b><br>
if you slide into something, that thing gradually becomes part of a change in the way you look or behave
<p>
<b>slippers (n)</b><br>
soft shoes that you wear around the house
<p>
<b>trendy (adj)</b><br>
very fashionable
<p>
<b>up and about (adv)</b><br>
out of bed and actively doing things
<p>
<b>windscreen (n)</b><br>
the window at the front of a car that the driver looks through
<p>
</div>










