<script>
	v = {
		q1a:'turn in',
		q1b:'take a nap',
		q1c:'asleep',
		q1d:'dozing',
		q1e:'dozed off',
		q1f:'daydream',
		q1g:'nightmare',
		q1h:'nightcap',
		q1i:'lie down',
		q1j:'snore',
		q1k:'awake',
		q2a:'4',
		q2b:'5',
		q2c:'1',
		q2d:'2',
		q2e:'3',
		q3a:'sleep in',
		q3b:'sleep over',
		q3c:'sleep on it',
		q3d:'sleep it off',
		q3e:'sleep with',
		q3f:'oversleep',
		q4a:'3',
		q4b:'2',
		q4c:'2',
		q4d:'1',
		q4e:'3'
	}
</script>

<form id="t1">
<b class="inst5">Sleep idioms</b>
<p>
<b class="tablau2">1. Different ways of sleeping.</b>
<p>
<b>Choose the correct words below to complete this text about sleep</b>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td>Good night and sweet dreams</td></tr>
</table>
</center>
<p>
<center>	
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=80 align="center">asleep</td><td width=80 align="center">dozed off</td><td width=80 align="center">snore</td><td width=80 align="center">nightcap</td><td width=80 align="center">turn in</td><td width=80 align="center">lie down</td></tr>
<tr><td align="center">awake</td><td align="center">dozing</td><td align="center">daydream</td><td align="center">nightmare</td><td align="center">take a nap</td><td align="center">&#160;</td></tr>
</table>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>In English there are quite a few different words associated with going to sleep.
For example, another way of saying  "I'm going to bed" is "I'm going to <input type="text" name="q1a" size=20>". To announce
a short sleep after lunch, you could say "I'm going to <input type="text" name="q1b" size=20>". If you are half <input type="text" name="q1c" size=20> and half awake
you are <input type="text" name="q1d" size=20>. If you fall asleep on the sofa while watching a boring TV show, you have <input type="text" name="q1e" size=20>.
When you dream with your eyes open you <input type="text" name="q1f" size=20>. If at night you have a bad dream where strange things happen,
like being chased by monsters or going to work  without your pants, this is called a <input type="text" name="q1g" size=20>. To avoid these you could try having a <input type="text" name="q1h" size=20>, which is a small alcoholic drink before
bed and if that doesn't work, try a big glass of milk, <input type="text" name="q1i" size=20>, think nice thoughts and relax. If you lie on 
your back you might <input type="text" name="q1j" size=20> and the noise will keep the neighbors <input type="text" name="q1k" size=20>, so if possible lie on your side.
Good night and sweet dreams!</td></tr>
</table>
</center>	
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Phrases with sleep.</b>
<p>
<p>Match the phrases in bold to their definitions.</p>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>I <b>overslept</b> this morning and arrived at work two hours late.</td><td><select name="q2a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td width=60></td><td>1. get up later than normal</td></tr>
<tr><td>It's too late, you've missed the last bus home. You can <b>sleep over</b> at my place.</td><td><select name="q2b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td>2. sleep to recover from something</td></tr>
<tr><td>I just love <b>sleeping in</b> on Sunday mornings.</td><td><select name="q2c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td>3. think about something more before deciding</td></tr>
<tr><td>She's had too much to drink and can hardly stand up. I think she should go home and <b>sleep it off</b>.</td><td><select name="q2d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td>4. sleep for longer than you should</td></tr>
<tr><td>I can't think of a solution to that just now. I'll have to <b>sleep on it</b>.</td><td><select name="q2e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td>5.stay the night</td></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Now complete these sentences using the sleep phrases below.</b> 
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=80 align="center">sleep it off</td><td width=80 align="center">sleep in</td><td width=80 align="center">sleep with</td></tr>
<tr><td align="center">oversleep</td><td align="center">sleep on it</td><td align="center">sleep over</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>1. I'm going to <input type="text" name="q3a" size=20> tomorrow. I don't have to go to work until the afternoon.</td></tr>
<tr><td>2. My daughter is going to <input type="text" name="q3b" size=20> at a friend's place tonight.</td></tr>
<tr><td>3. You don't have to decide now: <input type="text" name="q3c" size=20> and tell me tomorrow.</td></tr>
<tr><td>4. I still had jetlag after the trip. I couldn't work. I had to go home and <input type="text" name="q3d" size=20>.</td></tr>
<tr><td>5. That crazy cat always wants to <input type="text" name="q3e" size=20> me.</td></tr>
<tr><td>6. It's terrible! Sometimes I turn off the alarm without waking up and <input type="text" name="q3f" size=20>.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Idioms. What do these idioms mean? Choose the best option.</b>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>1.</td><td>Did you hear the storm last night?</td></tr>
<tr><td></td><td>No. I didn't hear a thing. I was so tired, I slept like a log.</td></tr>
<tr><td></td><td><input type="radio" name="q4a" value=1 checked> I didn't move.<input type="radio" name="q4a" value=2> I rolled up in the blankets.<input type="radio" name="q4a" value=3> I slept very soundly and didn't wake up.</td></tr>
<tr><td>2.</td><td>What's the matter with Andy today? He hasn't said a word all morning.</td></tr>
<tr><td></td><td>I think he just got out on the wrong side of the bed.</td></tr>
<tr><td></td><td><input type="radio" name="q4b" value=1 checked> didn't sleep well last night<input type="radio" name="q4b" value=2> woke up in a bad mood<input type="radio" name="q4b" value=3> fell over while getting up</td></tr>
<tr><td valign="top">3.</td><td>Danny, I've been working hard all day. I'm exhausted. I won't go to the movies with you tonight. Perhaps another time. I'm going home to get a good night's sleep.</td></tr>
<tr><td></td><td><input type="radio" name="q4c" value=1 checked> take a sleeping pill<input type="radio" name="q4c" value=2> go to bed early<input type="radio" name="q4c" value=3> be good and go to sleep</td></tr>
<tr><td>4.</td><td>"Now don't put your coffee cup on my new book. It'll leave a mark."</td></tr>
<tr><td></td><td>"I wouldn't dream of it!"</td></tr>
<tr><td></td><td><input type="radio" name="q4d" value=1 checked> I would never do something like that<input type="radio" name="q4d" value=2> I dreamed about doing that<input type="radio" name="q4d" value=3> I'm too tired to do that</td></tr>
<tr><td>5.</td><td>This new technology will have undreamed of consequences on our daily lives.</td></tr>
<tr><td></td><td><input type="radio" name="q4e" value=1 checked> like a nightmare<input type="radio" name="q4e" value=2> like things we have dreamed of<input type="radio" name="q4e" value=3> like we have never imagined</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>