<script>
	v = {
		q1a:'I\'m looking for',
		q1b:'What sort of',
		q1c:'I can\'t remember what it\'s called',
		q1d:'that\'s the one',
		q1e:'Have you got it in stock',
		q1f:'is there anything else you\'d recommend',
		q1g:'I\'ll take',
	}
</script>


<form id="t1">
<b class="inst5">Buying a video/DVD</B>
<p>
<b class="tablau2">1. Complete this dialog in a video store by typing the missing phrases in the boxes.</b>
<p>
<center>	
<a href="snd/u10d-1.mp3"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>A: Hello. Do you need any help?</td></tr>
<tr><td>B. Yes. <input type="text" name="q1a" size=20> something to get my nephew for Christmas.</td></tr>
<tr><td>A: How old is he?</td></tr>
<tr><td>B: He's 18.</td></tr>
<tr><td>A: And <input type="text" name="q1b" size=20> films does he like?</td></tr>
<tr><td>B: Last time I saw him he was going on about this film with John Travolta in it. <input type="text" name="q1c" size=33> exactly . Something "fiction".</td></tr>
<tr><td>A: <i>Pulp Fiction</i>?</td></tr>
<tr><td>B: Yes, <input type="text" name="q1d" size=20> . Who's it directed by?</td></tr>
<tr><td>A: Quentin Tarantino.</td></tr>
<tr><td>B: Ah, yes, now I remember. <input type="text" name="q1e" size=25> ?</td></tr>
<tr><td>A: No, I'm afraid we haven't. We've sold out.</td></tr>
<tr><td>B: Damn! Well, <input type="text" name="q1f" size=38> ?</td></tr>
<tr><td>A: Well, if he likes Tarantino, he'd probably enjoy this. <i>Fargo</i>. It's by the Cohen brothers.</td></tr>
<tr><td>B: Never heard of them, but <input type="text" name="q1g" size=20> it. I'm sure he'll like it if you say so.</td></tr> 
</table>
<p>
<b>Now listen to the dialog and then check your answers.</b>
<p>
<center>	
<a href="snd/u10d-1.mp3"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>