<script>
	v = {
		q1a:'2',
		q1b:'1',
		q1c:'3',
		q1d:'3',
		q1e:'1',
		q1f:'2',
		q1g:'3',
		q1h:'3',
		q1i:'3',
		q2a:'1',
		q2b:'0',
		q2c:'1',
		q2d:'0',
		q2e:'1',
		q2f:'0',
		q2g:'0',
		q2h:'1',
		q2i:'0',
		q2j:'1',
		q3a:'2',
		q3b:'2',
		q3c:'1',
		q3d:'3',
		q3e:'2',
		q3f:'1',
		q3g:'2',
		q3h:'3',
		q3i:'2',
		q3j:'3',
		q3k:'3',
		q3l:'1',
		q4a:'2',
		q4b:'2',
		q4c:'3',
		q4d:'1',
		q4e:'2',
		q4f:'2',
		q4g:'3',
		q4h:'1',
		q4i:'3',
		q4j:'1'
	}
</script>


<form id="t1">
<b class="inst5">Words with multiple meanings</b>
<p>
<b class="tablau2">1. Words about purpose.</b>
<p>
Example: <span class="rojo">Scientists can't agree on what <b>purpose</b> dreams serve.</span>
<p>
<b>Choose the correct word to complete the sentences.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The <select name="q1a"><option value=0>Choose Answer<option value=1>goal<option value=2>purpose<option value=3>target</select> of the director's trip to Canada is to attend a conference.</td></tr>
<tr><td>2 In this game the <select name="q1b"><option value=0>Choose Answer<option value=1>object<option value=2>purpose<option value=3>objective</select> is to score as many points as possible.</td></tr>
<tr><td>3 The <select name="q1c"><option value=0>Choose Answer<option value=1>end<option value=2>target<option value=3>aim</select> of the course is to improve students' communicative skills.</td></tr>
<tr><td>4 What's the <select name="q1d"><option value=0>Choose Answer<option value=1>idea<option value=2>purpose<option value=3>point</select> of keeping all these toys now that the children have grown up?</td></tr>
<tr><td>5 The <select name="q1e"><option value=0>Choose Answer<option value=1>idea<option value=2>aim<option value=3>purpose</select> was to surprise her, but in fact she was shocked.</td></tr>
<tr><td>6 The main <select name="q1f"><option value=0>Choose Answer<option value=1>object<option value=2>objective<option value=3>end</select> of the advertising campaign is to increase sales.</td></tr>
<tr><td>7 My <select name="q1g"><option value=0>Choose Answer<option value=1>target<option value=2>objective<option value=3>goal</select> is to retire when I am 50.</td></tr>
<tr><td>8 The <select name="q1h"><option value=0>Choose Answer<option value=1>end<option value=2>goal<option value=3>target</select> for the appeal is $50,000 and it's all going to charity.</td></tr>
<tr><td>9 She was being very nice to the family but with her own selfish <select name="q1i"><option value=0>Choose Answer<option value=1>aim<option value=2>goal<option value=3>end</select> in view.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check Answers</button>
</center>
</form>	
<form id="t2">
<p>
<b>2. Decide if the purpose words in these sentences are correct.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The point of these shows is to raise money for charity.</td></tr>
<tr><td><input type="radio" name="q2a" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2a" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>2 The company is continually achieving its idea.</td></tr>
<tr><td><input type="radio" name="q2b" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2b"value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>3 The government is hoping to reach its target of 5% unemployment by the year 2010.</td></tr>
<tr><td><input type="radio" name="q2c" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2c"value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>4 The target of his studies was to get a better job.</td></tr>
<tr><td><input type="radio" name="q2d" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2d"value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>5 The author's purpose in writing the article was to draw attention to the dangers of hunting.</td></tr>
<tr><td><input type="radio" name="q2e" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2e" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>6 The politician used his position for his own corrupt and <a href="#" onclick="window.open('templates/TU1A1.html','_blank','width=275,height=140');">selfish</a> objectives.</td></tr>
<tr><td><input type="radio" name="q2f" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2f" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>7 The company's goal is to be a leader in the market.</td></tr>
<tr><td><input type="radio" name="q2g" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2g" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>8 People will study at home using their computers and the Internet. Well, that's the object.</td></tr>
<tr><td><input type="radio" name="q2h" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2h" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>9 The government's point was to improve the standard of living.</td></tr>
<tr><td><input type="radio" name="q2i" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2i" value=0><img src="img/ob/mal.jpg"></td></tr>
<tr><td>10 What's the point of phoning him now? He won't be home.</td></tr>
<tr><td><input type="radio" name="q2j" value=1 checked><img src="img/ob/bien.jpg"> <input type="radio" name="q2j" value=0><img src="img/ob/mal.jpg"></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check Answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Complete these sentences by choosing the best word. </b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. The police haven't found any <select name="q3a"><option value=0>Choose Answer<option value=1>proof<option value=2>evidence<option value=3>clue</select> of violence.</td></tr>
<tr><td>2. The woman disappeared without a <select name="q3b"><option value=0>Choose Answer<option value=1>clue<option value=2>trace<option value=3>sign</select> .</td></tr>
<tr><td>3. We haven't a <select name="q3c"><option value=0>Choose Answer<option value=1>clue<option value=2>sign<option value=3>proof</select> where she has gone.</td></tr>
<tr><td>4. There is no <select name="q3d"><option value=0>Choose Answer<option value=1>clue<option value=2>sign<option value=3>proof</select> that her husband was involved.</td></tr>
<tr><td>5. There is no <select name="q3e"><option value=0>Choose Answer<option value=1>trace<option value=2>evidence<option value=3>sign</select> that her husband was involved.</td></tr>
<tr><td>6. There were <select name="q3f"><option value=0>Choose Answer<option value=1>traces<option value=2>indications<option value=3>clues</select> of blood on the knife.</td></tr>
<tr><td>7. Were there any <select name="q3g"><option value=0>Choose Answer<option value=1>traces<option value=2>signs<option value=3>proofs</select> of violence?</td></tr>
<tr><td>8. Were there any <select name="q3h"><option value=0>Choose Answer<option value=1>clues<option value=2>evidences<option value=3>indications</select> of violence?</td></tr>
<tr><td>9. The husband was released because of lack of <select name="q3i"><option value=0>Choose Answer<option value=1>clues<option value=2>proof<option value=3>proofs</select> .</td></tr>
<tr><td>10. The letter to her husband was an important piece of <select name="q3j"><option value=0>Choose Answer<option value=1>clue<option value=2>proof<option value=3>evidence</select> .</td></tr>
<tr><td>11. The police searched for a <select name="q3k"><option value=0>Choose Answer<option value=1>proof<option value=2>sign<option value=3>clue</select> in her bedroom.</td></tr>
<tr><td>12. It has all the <select name="q3l"><option value=0>Choose Answer<option value=1>signs<option value=2>clues<option value=3>proofs</select> of a kidnapping.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Choose the word that does NOT fit the context.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>Police are _________ about the woman's disappearance.</td></tr>
<tr><td><input type="radio" name="q4a" value=1 checked>concerned<input type="radio" name="q4a" value=2>worried<input type="radio" name="q4a" value=3>	afraid<input type="radio" name="q4a" value=4>anxious</td></tr>
<tr><td>They are _________ that she may have been kidnapped.</td></tr>
<tr><td><input type="radio" name="q4b" value=1 checked>worried<input type="radio" name="q4b" value=2>afraid<input type="radio" name="q4b" value=3>anxious<input type="radio" name="q4b" value=4>concerned</td></tr>
<tr><td>The police say that there is no cause __________.</td></tr>
<tr><td><input type="radio" name="q4c" value=1 checked>for fear<input type="radio" name="q4c" value=2>for alarm<input type="radio" name="q4c" value=3>for concern<input type="radio" name="q4c" value=4>to worry</td></tr>
<tr><td>The police kept the story secret so as not to _________ the neighbors.</td></tr>
<tr><td><input type="radio" name="q4d" value=1 checked>frighten<input type="radio" name="q4d" value=2>alarm<input type="radio" name="q4d" value=3>fear<input type="radio" name="q4d" value=4>worry</td></tr>
<tr><td>Her husband ________ her safety.</td></tr>
<tr><td><input type="radio" name="q4e" value=1 checked>is worred about<input type="radio" name="q4e" value=2>fears for<input type="radio" name="q4e" value=3>is frightened of<input type="radio" name="q4e" value=4>is concerned for</td></tr>
<tr><td>I am __________ of the dark.</td></tr>
<tr><td><input type="radio" name="q4f" value=1 checked>frightened<input type="radio" name="q4f" value=2>afraid<input type="radio" name="q4f" value=3>scared<input type="radio" name="q4f" value=4>anxious</td></tr>
<tr><td>Before your first parachute jump it's natural to feel a little __________.</td></tr>
<tr><td><input type="radio" name="q4g" value=1 checked>anxious<input type="radio" name="q4g" value=2>preoccupied<input type="radio" name="q4g" value=3>apprehensive<input type="radio" name="q4g" value=4>nervous</td></tr>
<tr><td>The sight of blood doesn't ________ me at all.</td></tr>
<tr><td><input type="radio" name="q4h" value=1 checked>bother<input type="radio" name="q4h" value=2>worry<input type="radio" name="q4h" value=3>preoccupy<input type="radio" name="q4h" value=4>concern</td></tr>
<tr><td>The fact that children are starving ________ me a lot.</td></tr>
<tr><td><input type="radio" name="q4i" value=1 checked>preoccupies<input type="radio" name="q4i" value=2>worries<input type="radio" name="q4i" value=3>troubles<input type="radio" name="q4i" value=4>frightens</td></tr>
<tr><td>Sorry to _______ you, but is your husband at home?</td></tr>
<tr><td><input type="radio" name="q4j" value=1 checked>bother<input type="radio" name="q4j" value=2>concern<input type="radio" name="q4j" value=3>trouble<input type="radio" name="q4j" value=4>disturb</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>