<script>
	v = {

		q1a:'3',
		q1b:'2',
		q1c:'1',
		q2a:'3',
		q2b:'2',
		q2c:'1',
		q2d:'1',
		q2e:'2',
		q2f:'3',
		q2g:'3',
		q2h:'2',
		q2i:'1',
		q2j:'1',
		q3a:'got',
		q3b:'got',
		q3c:'get',
		q3d:'getting dark',
		q3e:'getting better',
		q3f:'get older',
		q3g:'get',
		q3h:'get up',
		q3i:'get over',
		q3j:'getting shorter',
		q3k:'get off',
		q4a:'rose',
		q4b:'bought',
		q4c:'caught',
		q4d:'boarding',
		q4e:'arrived at',
		q4f:'improving',
		q4g:'recovering from',
		q4h:'grow',
		q4i:'earn',
		q4j:'manage',

	}
</script>


<form id="t1">
<b class="inst5">Uses of get</b>
<p>
<b class="tablau2">1. get.</b>
<p>
<span class="rojo">Roger, who is a 19-year-old student in Bristol, admits that he seldom (1) <b>gets</b> to lectures, and that he is (2) <b>getting</b> low grades. When he is not online he (3) <b>gets</b> restless and irritable.</span>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td valign="top">1.</td><td> Which example of get in the above text can you replace with become?</td><td><select name="q1a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select></td></tr>
<tr><td valign="top">2.</td><td> Which example of get in the above text has the general meaning of receive or obtain?</td><td><select name="q1b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select></td></tr>
<tr><td valign="top">3.</td><td> Which example of get in the above text has the general meaning of move or change position?</td><td><select name="q1c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Decide which meaning of get is represented in the following examples:</b>
<p>
<span class="rojo">
1. become, change state<br>
2. receive/obtain<br>
3. move, change position
</span>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1.</td><td>What time do you normally get home in the evening?</td><td><select name="q2a"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>2.</td><td>I got a present from Terry yesterday.</td><td><select name="q2b"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>3.</td><td>I'd better go. It is getting dark.</td><td><select name="q2c"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>4.</td><td>I hope you get better soon.</td><td><select name="q2d"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>5.</td><td>What grade did you get for your essay?</td><td><select name="q2e"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>6.</td><td>The taxi stopped and a tall woman got out.</td><td><select name="q2f"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>7.</td><td>I tried to grab the horse, but it got away.</td><td><select name="q2g"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>8.</td><td>When you are at the post office, get me some stamps.</td><td><select name="q2h"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>9.</td><td>Have you noticed how old he's gotten?</td><td><select name="q2i"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
<tr><td>10.</td><td>Eggs are getting very expensive.</td><td><select name="q2j"><option value=0>Choose Answer<option value=1>become, change state<option value=2>receive/obtain<option value=3>move change position</select></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Replace the words in parentheses with an expression using get.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. He <b>(became)</b> <input type="text" name="q3a" size=15> very angry when I stood on his foot. </td></tr>
<tr><td>2. W.B.Yeats <b>(received)</b> <input type="text" name="q3b" size=15> the Nobel Prize for Literature.  </td></tr>
<tr><td>3. Phone me when you <b>(arrive)</b> <input type="text" name="q3c" size=15> home. </td></tr>
<tr><td>4. It was <b>(darkening)</b> <input type="text" name="q3d" size=15> as we neared the town. </td></tr>
<tr><td>5. Your golf is <b>(improving)</b> <input type="text" name="q3e" size=15> I see. </td></tr>
<tr><td>6. As people <b>(age)</b> <input type="text" name="q3f" size=15> they <b>(become)</b> <input type="text" name="q3g" size=15> set in their ways. </td></tr>
<tr><td>7. I like to <b>(rise)</b> <input type="text" name="q3h" size=15> early and have a light breakfast.  </td></tr>
<tr><td>8. She will never <b>(recover from)</b> <input type="text" name="q3i" size=15> the accident. </td></tr>
<tr><td>9. The days are <b>(shrinking)</b> <input type="text" name="q3j" size=15> as winter approaches.  </td></tr>
<tr><td>10. The train terminates here. All passengers should <b>(alight)</b> <input type="text" name="q3k" size=15>.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Rewrite the following passage, replacing the bold expressions with verbs from the box. Change the verbs to the correct tense.</b>
<p>
<center>
<img class="i51" src="img/u3a-1.jpg">
</center>
<p>
I <b>got up</b> early and went and <b>got</b> the paper. I <b>got</b> the bus to work, <b>getting on</b> at the stop nearest my house. I <b>got to</b> work 
early. I didn't use to like my job, but things are <b>getting better</b>. The company is <b>getting over</b> the recession of the last few 
years and it is starting to <b>get bigger</b>. I <b>get</b> a good salary now. And my boss says he couldn't <b>get on</b> without me 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>
I <input type="text" name="q4a" size=15> <sub>(1)</sub> early and went and <input type="text" name="q4b" size=15> <sub>(2)</sub> the paper. I <input type="text" name="q4c" size=15> <sub>(3)</sub> the bus to work, <input type="text" name="q4d" size=15> <sub>(4)</sub> at the stop nearest my house. 
I <input type="text" name="q4e" size=15> <sub>(5)</sub> work early. I didn't use to like my job, but things are <input type="text" name="q4f" size=15> <sub>(6)</sub>. The company is <input type="text" name="q4g" size=15> <sub>(7)</sub> the recession of 
the last few years and it is starting to <input type="text" name="q4h" size=15> <sub>(8)</sub>. I <input type="text" name="q4i" size=15> <sub>(9)</sub> a good salary now. And my boss says he couldn't <input type="text" name="q4j" size=15> <sub>(10)</sub> without me
</td></tr>
</table>
 <p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>