<script>
	v = {
		q1a:'disappearance',
		q1b:'suspicious',
		q1c:'proof',
		q1d:'evidence',
		q1e:'indicate',
		q1f:'violence',
		q1g:'frustrating',
		q1h:'inquiry',
		q2a:'graduation',
		q2b:'gandhi\'s death',
		q2c:'their divorce',
		q2d:'retiring',
		q2e:'the discovery',
		q2f:'the invention of airbags',
		q2g:'their separation',
		q2h:'the performance',
		q2i:'his success',
		q2j:'of our late arrival',
		q3a:'publication',
		q3b:'assurance',
		q3c:'claim',
		q3d:'finding',
		q3e:'warning',
		q3f:'explosion',
		q3g:'production',
		q3h:'belief',
		q4a:'assured',
		q4b:'assurance',
		q4c:'produce',
		q4d:'production',
		q4e:'claims',
		q4f:'claim',
		q4g:'publication',
		q4h:'publish',
		q4i:'found',
		q4j:'finding',
		q4k:'believe',
		q4l:'suspicion',
		q4m:'warn',
		q4n:'warnings',
		q4o:'explode',
		q4p:'explosion'
	}
</script>

<form id="t1">
<b class="inst5">Word building</b>
<p>
<b class="tablau2">1. Complete these sentences using the correct form of the word in bold. The first one has been done for you as an example.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><span id="rd"><b>indicate</b></span></td><td><span id="rd">There was no _______ that the woman had been kidnapped.</span></td></tr>
<tr><td></td><td><span id="rd">There was no <b>indication</b> that the woman had been kidnapped.</span></td></tr>
<tr><td>1. <b>disappear</b></td><td>Her husband was working at the time of her <input type="text" name="q1a" size=15>.</td></tr>
<tr><td>2. <b>suspect</b></td><td>The neighbors noticed nothing <input type="text" name="q1b" size=15> that morning.</td></tr>
<tr><td>3. <b>prove</b></td><td>There is no <input type="text" name="q1c" size=15> that her husband was involved.</td></tr>
<tr><td>4. <b>evident</b></td><td>Police found no <input type="text" name="q1d" size=15> of anything unusual.</td></tr>
<tr><td>5. <b>indication</b></td><td>They found nothing that might <input type="text" name="q1e" size=15> where she had been.</td></tr>
<tr><td>6. <b>violent</b></td><td>There were no signs of <input type="text" name="q1f" size=15>.</td></tr>
<tr><td>7. <b>frustration</b></td><td>It is the most <input type="text" name="q1g" size=15> case the inspector can remember.</td></tr>
<tr><td>8. <b>inquire</b></td><td>They say they have no lines of <input type="text" name="q1h" size=15> left.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Using nouns instead of verbs.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><span id="rd">Since <b>she disappeared</b> no money has been withdrawn.</span></td></tr>
<tr><td>=</td></tr>
<tr><td><span id="rd">Since <b>her disappearance</b> no money has been withdrawn.</span></td></tr>
<tr><td><b>Complete these sentences using nouns.</b></td></tr>
</table>
<p>
 <table cellpadding=0 cellspacing=8>
<tr><td>1.</td><td>After I graduated, I got a job.</td></tr>
<tr><td></td><td>After my <input type="text" name="q2a" size=15>, I got a job.</td></tr>
<tr><td>2.</td><td>After Gandhi died, the world mourned.</td></tr>
<tr><td></td><td>After <input type="text" name="q2b" size=15>, the world mourned.</td></tr>
<tr><td>3.</td><td>Since they divorced, they have lived apart.</td></tr>
<tr><td></td><td>Since <input type="text" name="q2c" size=15>, they have lived apart.</td></tr>
<tr><td>4.</td><td>Before I retired, I worked in a bank.</td></tr>
<tr><td></td><td>Before <input type="text" name="q2d" size=15>, I worked in a bank.</td></tr>
<tr><td>5.</td><td>Before penicillin was discovered, many diseases were incurable.</td></tr>
<tr><td></td><td>Before <input type="text" name="q2e" size=15> of penicillin, many diseases were incurable.</td></tr>
<tr><td>6.</td><td>There have been fewer car accidents since airbags were invented.</td></tr>
<tr><td></td><td>There have been fewer car accidents since <input type="text" name="q2f" size=15>.</td></tr>
<tr><td>7.</td><td>Before they separated, they endured a stormy marriage.</td></tr>
<tr><td></td><td>Before <input type="text" name="q2g" size=15>, they endured a stormy marriage.</td></tr>
<tr><td>8.</td><td>While the singer performed, some people left.</td></tr>
<tr><td></td><td>During <input type="text" name="q2h" size=15>, some people left.</td></tr>
<tr><td>9.</td><td>Because he succeeded, he won a medal.</td></tr>
<tr><td></td><td>Because of <input type="text" name="q2i" size=15>, he won a medal.</td></tr>
<tr><td>10.</td><td>Because we arrived late, we missed the beginning.</td></tr>
<tr><td></td><td>Because <input type="text" name="q2j" size=15>, we missed the beginning.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Write the noun form of these verbs.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><b>verb</b></td><td width=70></td><td align="center"><b>noun</b></td></tr>
<tr><td>publish</td><td></td><td><input type="text" name="q3a" size=15></td></tr>
<tr><td>assure</td><td></td><td><input type="text" name="q3b" size=15></td></tr>
<tr><td>claim</td><td></td><td><input type="text" name="q3c" size=15></td></tr>
<tr><td>find</td><td></td><td><input type="text" name="q3d" size=15></td></tr>
<tr><td>warn</td><td></td><td><input type="text" name="q3e" size=15></td></tr>
<tr><td>explode</td><td></td><td><input type="text" name="q3f" size=15></td></tr>
<tr><td>produce</td><td></td><td><input type="text" name="q3g" size=15></td></tr>
<tr><td>believe</td><td></td><td><input type="text" name="q3h" size=15></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Complete the sentences by writing the noun or verb form of the words in exercise 3. Be careful to use the correct from of the verbs.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. The management <input type="text" name="q4a" size=15> the workforce that no jobs would be lost, but their <input type="text" name="q4b" size=15> did not convince anyone.</td></tr>
<tr><td>2. The countries that <input type="text" name="q4c" size=15> most carbon monoxide are precisely those which object most to reducing their <input type="text" name="q4d" size=15>.</td></tr>
<tr><td>3. He <input type="text" name="q4e" size=15> that he is innocent but has no proof to support his <input type="text" name="q4f" size=15>.</td></tr>
<tr><td>4. The newspaper was told that the <input type="text" name="q4g" size=15> of the story would lead to legal action, but they are going to <input type="text" name="q4h" size=15> the story anyway.</td></tr>
<tr><td>5. Investigators <input type="text" name="q4i" size=15> high levels of radioactivity in the area, and sent their <input type="text" name="q4j" size=15> s to a national science magazine.</td></tr>
<tr><td>6. I <input type="text" name="q4k" size=15> there is other life in the universe, a <input type="text" name="q4l" size=15> that is shared by many other scientists.</td></tr>
<tr><td>7. Cigarette packs <input type="text" name="q4m" size=15> people about the dangers of smoking, but nobody seems to take these <input type="text" name="q4n" size=15> s very seriously.</td></tr>
<tr><td>8. If the bomb does <input type="text" name="q4o" size=15>, the <input type="text" name="q4p" size=15> will destroy most of the city centre.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>