<script>
	v = {
		q1a:'2',
		q1b:'2',
		q1c:'1',
		q1d:'2',
		q1e:'2',
		q1f:'1',
		q1g:'2',
		q1h:'1',
		q1i:'2',
		q1j:'1',
		q1k:'1',
		q1l:'1',
		q2a:'2',
		q2b:'1',
		q2c:'2',
		q2d:'1',
		q2e:'2',
		q2f:'1',
		q2g:'2',
		q2h:'2',
		q2i:'1',
		q2j:'2',
		q2k:'2',
		q2l:'2',
		q2m:'1',
		q3a:'are certain to',
		q3b:'could be',
		q3c:'no chance of',
		q3d:'cannot be calculated',
		q3e:'is likely to make',
		q3f:'chance of',
		q3g:'could not be stopped',
		q3h:'good possibility'
	}
</script>

<form id="t1">
<b class="inst5">Likelihood and probability </b>
<p>
<b class="tablau2">1. Expressing degrees of likelihood.</b>
<p>
<center>	
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><img src="img/u4b-1.jpg"> <img src="img/u4b-2.jpg"></td></tr>
</table><br>
</center>
<table cellpadding=0 cellspacing=10>
<tr><td><select name="q1a"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>NASA's calculations were likely to be closer. </td></tr>
<tr><td><select name="q1b"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>An asteroid may be on collision course with Earth. </td></tr>
<tr><td><select name="q1c"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>XF11 is certain to pass within 26,000 miles. </td></tr>
<tr><td><select name="q1d"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The asteroid might get much closer.</td></tr>
<tr><td><select name="q1e"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>It is unlikely that the asteroid will hit Earth. </td></tr>
<tr><td><select name="q1f"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The asteroid will miss us. </td></tr>
<tr><td><select name="q1g"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The chances of impact are very small. </td></tr>
<tr><td><select name="q1h"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>There is a 1,000-1 chance that it will hit Earth. </td></tr>
<tr><td><select name="q1i"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The planet could be hit by the asteroid. </td></tr>
<tr><td><select name="q1j"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The chances of a direct hit are zero. </td></tr>
<tr><td><select name="q1k"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>We are not going to die when XF11 strikes the planet. </td></tr>
<tr><td><select name="q1l"><option value=0>Choose answer<option value=1>It's certain<option value=2>It's probable</select></td><td>The probability of an impact is zero. </td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. <span class="rojo">Could</span> is a modal verb. <span class="rojo">Probably</span> is not a modal verb - it is an adverb.</b>
<p>
Divide the expressions below into modal and non-modal expressions of likelihood.
<p>
<center>	
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><img src="img/u4b-3.jpg"> <img src="img/u4b-4.jpg"></td></tr>
</table><br>	
</center>
<table cellpadding=0 cellspacing=10>											
<tr><td><select name="q2a"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>NASA's calculations were likely to be closer.</td></tr>
<tr><td><select name="q2b"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>An asteroid may be on collision course with Earth.</td></tr>
<tr><td><select name="q2c"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>XF11 is certain to pass within 26,000 miles.</td></tr>
<tr><td><select name="q2d"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The asteroid might get much closer.</td></tr>
<tr><td><select name="q2e"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>It is unlikely that the asteroid will hit Earth.</td></tr>
<tr><td><select name="q2f"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>A collision cannot be dismissed.</td></tr>
<tr><td><select name="q2g"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The chances of impact are very small.</td></tr>
<tr><td><select name="q2h"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>There is a 1,000-1 chance that it will hit Earth. </td></tr>
<tr><td><select name="q2i"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The planet could be hit by the asteroid.</td></tr>
<tr><td><select name="q2j"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The chances of a direct hit are zero. </td></tr>
<tr><td><select name="q2k"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>We are not going to die when XF11 strikes the planet.</td></tr>
<tr><td><select name="q2l"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The probability of an impact is zero.</td></tr>
<tr><td><select name="q2m"><option value=0>Choose answer<option value=1>Modal<option value=2>Non-modal</select></td><td>The asteroid could not hit us.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Complete the second sentence using the word given so that it is similar in meaning to the first sentence.</b>
<p>
<span class="rojo">The asteroid probably won't hit us. <b>unlikely</b>
The asteroid ______________________________ hit us.</span>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td width=40></td><td><span class="rojo">The asteroid is unlikely to hit us.</span></td></tr>
</table>
<p>
 <table cellpadding=0 cellspacing=10 width=700>
<tr><td>1.</td><td>Scientists will definitely be asking for more funding after this incident. <b>will certainly</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> Scientists <input type="text" name="q3a" size=10> be asking for more funding after this incident.</td></tr>
<tr><td>2.</td><td>It is not impossible that NASA's calculations are wrong. <b>could</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> NASA's calculations <input type="text" name="q3b" size=10> wrong.</td></tr>
<tr><td>3.</td><td>There is a 20,000 to one chance a large asteroid will hit the Earth. <b>no chance of</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> There is almost <input type="text" name="q3c" size=10> a large asteroid hitting the Earth.</td></tr>
<tr><td>4.</td><td>It is impossible to calculate a precise orbit for the asteroid. <b>cannot</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> A precise orbit for the asteroid <input type="text" name="q3d" size=10>.</td></tr>
<tr><td>5.</td><td>The science minister will probably make an announcement tomorrow.<b>likely</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> The science minister <input type="text" name="q3e" size=10> an announcement tomorrow.</td></tr>
<tr><td>6.</td><td>The likelihood of scientists getting more <a href="#" onclick="window.open('templates/TU4B1.html','_blank','width=600,scrollbars=1');">funding</a> is very small. <b>chance of</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> There is little <input type="text" name="q3f" size=10> getting more funding.</td></tr>
<tr><td>7.</td><td>Scientists have said that it would be impossible to stop the asteroid if it was going to hit us. <b>could</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> Scientists have said that the asteroid <input type="text" name="q3g" size=10> if it was going to hit us.</td></tr>
<tr><td>8.</td><td>The asteroid is likely to be visible to the naked eye when it passes. <b>good possibility</b></td></tr>
<tr><td></td><td><img src="img/ob/fl-2.jpg"> There is a <input type="text" name="q3h" size=10> the asteroid will be visible to the <a href="#" onclick="window.open('templates/TU4B1.html','_blank','width=600,scrollbars=1');">naked eye</a> when it passes.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>