<script>
	v = {

		q1a:'2',
		q1b:'1',
		q1c:'1',
		q1d:'1',
		q1e:'2',
		q1f:'1',
		q1g:'2',
		q1h:'1',
		q2a:'1',
		q2b:'2',
		q2c:'2',
		q2d:'1',
		q2e:'2',
		q2f:'2',
		q2g:'1',
		q2h:'2',
		q2i:'2',
		q2j:'1',
		q2k:'1',
		q2l:'1'

	}
</script>

<form id="t1">
<b class="inst5">Describing things with like/as</b>
<p>
<b class="tablau2">1. Like versus as.</b>
</p>
<center>
<span class="rojo">Like</span> and <span id="rd">as</span> can both be used to say that things are similar. 
<p>
<span id="rd">Like</span> is a preposition: <span class="rojo"><b>like</b></span> <b>+ noun/pronoun</b>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td width=50></td><td><span id="rd">She sings <b>like</b> a bird. </span></td></tr>
<tr><td></td><td><span id="rd">He looks <b>like</b> me.</span></td></tr>
</table>
<p>
<span class="rojo">As</span> is a conjunction:<span class="rojo">as</span> <b>+ subject + verb</b>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td width=50></td><td><span id="rd">Nobody sing <b>as</b> I do.</span></td></tr>
</table>
<p>
or <span class="rojo">as</span> <b>+ a prepositional phrase</b>
<p>
<table cellpadding=0 cellspacing=0>
<tr><td width=50></td><td><span class="rojo">In summer, <b>as</b> in winter, we go to the mountains. </span></td></tr>
</table><br>
</center>

<p>
Complete the sentences with <span id="rd">like</span> or <span id="rd">as</span>. 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 In Barcelona, <select name="q1a"><option value=0>Choose answer<option value=1>like<option value=2>as</select> in Brisbane, the summers are humid.</td></tr>
<tr><td>2 Her hair is <select name="q1b"><option value=0>Choose answer<option value=1>like<option value=2>as</select> silk.</td></tr>
<tr><td>3 He plays <select name="q1c"><option value=0>Choose answer<option value=1>like<option value=2>as</select> he works: hard.</td></tr>
<tr><td>4 My mother is just <select name="q1d"><option value=0>Choose answer<option value=1>like<option value=2>as</select> me.</td></tr>
<tr><td>5 <select name="q1e"><option value=0>Choose answer<option value=1>like<option value=2>as</select> you can see, you've broken it.</td></tr>
<tr><td>6 You're fast <select name="q1f"><option value=0>Choose answer<option value=1>like<option value=2>as</select> me.</td></tr>
<tr><td>7 <select name="q1g"><option value=0>Choose answer<option value=1>like<option value=2>as</select> I said, I don't like this situation.</td></tr>
<tr><td>8 Your laugh is <select name="q1h"><option value=0>Choose answer<option value=1>like<option value=2>as</select> music to my ears.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
Note: In informal speech <span class="rojo">like</span> is often used as a conjunction, too. For example:
<p>
<center>	
<table cellpadding=0 cellspacing=0>
<tr><td width=50></td><td><span class="rojo"><b>Like</b> I said, I don't enjoy this.</span></td></tr>
<tr><td></td><td><span class="rojo">Nobody loves you <b>like</b> I do.</span></td></tr>
</table><br>
</center>
<p>
<b>2. Complete the sentences with like or as.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The interview was <select name="q2a"><option value=0>Choose answer<option value=1>like<option value=2>as</select> a nightmare.</td></tr>
<tr><td>2 I made a living <select name="q2b"><option value=0>Choose answer<option value=1>like<option value=2>as</select> a writer.</td></tr>
<tr><td>3 She uses the spare room <select name="q2c"><option value=0>Choose answer<option value=1>like<option value=2>as</select> an office.</td></tr>
<tr><td>4 He's sleeping <select name="q2d"><option value=0>Choose answer<option value=1>like<option value=2>as</select> a baby.</td></tr>
<tr><td>5 <select name="q2e"><option value=0>Choose answer<option value=1>like<option value=2>as</select> I said, I'm leaving.</td></tr>
<tr><td>6 I traveled to New York <select name="q2f"><option value=0>Choose answer<option value=1>like<option value=2>as</select> her representative.</td></tr>
<tr><td>7 This soup tastes <select name="q2g"><option value=0>Choose answer<option value=1>like<option value=2>as</select> dishwater.</td></tr>
<tr><td>8 Let's say we're married, <select name="q2h"><option value=0>Choose answer<option value=1>like<option value=2>as</select> a joke.</td></tr>
<tr><td>9 <select name="q2i"><option value=0>Choose answer<option value=1>like<option value=2>as</select> you know, I have a lot of experience.</td></tr>
<tr><td>10 Jim speaks <select name="q2j"><option value=0>Choose answer<option value=1>like<option value=2>as</select> he writes, humorously.</td></tr>
<tr><td>11 She paints <select name="q2k"><option value=0>Choose answer<option value=1>like<option value=2>as</select> a genius.</td></tr>
<tr><td>12 He's tall and thin, <select name="q2l"><option value=0>Choose answer<option value=1>like<option value=2>as</select> his father.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>