<script>
	v = {

		q1a:'5',
		q1b:'3',
		q1c:'1',
		q1d:'8',
		q1e:'6',
		q1f:'2',
		q1g:'7',
		q1h:'4',
		q2a:'5',
		q2b:'3',
		q2c:'1',
		q2d:'6',
		q2e:'2',
		q2f:'8',
		q2g:'7',
		q2h:'1',
		q3a:'will not go',
		q3b:'would show',
		q3c:'tended to drive',
		q3d:'are refusing to',
		q3e:'got married',
		q3f:'will like have',
		q3g:'tend to have',
		q3h:'is unlikely to be'

	}
</script>

<form id="t1">
<b class="inst5">Describing characteristic behavior and habits</b>
<p>
<b class="tablau2">1. Describing characteristic behavior</b>
<p>
<b>Order the correct answers by choosing options.</b>
<p>
<table cellpadding=0 cellspacing=10 width=750>
<tr><td><select name="q1a"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>A growing number of 30-to-40-years-olds...</td><td width=20></td><td>1. lie about what they cost.</td></tr>
<tr><td><select name="q1b"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>They eat organic vegetables whenever they can and they...</td><td></td><td>2. like to sit down.</td></tr>
<tr><td><select name="q1c"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>They have expensive haircuts but they...</td><td></td><td>3. don't often eat meat.</td></tr>
<tr><td><select name="q1d"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>They may stay out late on a Friday night but they...</td><td></td><td>4. are more likely to talk about Somalia than about themselves.</td></tr>
<tr><td><select name="q1e"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>Unlike Yuppies, who invest their money in new houses, they...</td><td></td><td>5. are refusing to grow up.</td></tr>
<tr><td><select name="q1f"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>They go to clubs, but they...</td><td></td><td>6. tend to live in old houses they have done up.</td></tr>
<tr><td><select name="q1g"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>Whereas Yuppies would buy flashy cars, they...</td><td></td><td>7. are not in the habit of displaying their wealth.</td></tr>
<tr><td><select name="q1h"><option value=0>Choose answer<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td>They are successful, profesional people but they...</td><td></td><td>8. will be in town on Saturday morning looking at futons.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Ways of describing characteristic behavior</b>
<p>
<b>There are a number of ways of describing characteristic or habitual behavior, using grammar or expressions.</b>
<p>
<b>Match the words in bold with the grammar label.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><b>1</b></td><td>A growing number of 30- to 40-year-olds <b>are refusing</b> to grow up.</td></tr>
<tr><td></td><td><select name="q2a"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>2</b></td><td>They don't <b>often</b> eat meat.</td></tr>
<tr><td></td><td><select name="q2b"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>3</b></td><td>They have expensive haircuts but <b>lie</b> about what they cost.</td></tr>
<tr><td></td><td><select name="q2c"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>4</b></td><td>They stay out late but they <b>will</b> be in town the next morning looking at futons.</td></tr>
<tr><td></td><td><select name="q2d"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>5</b></td><td>Yuppies <b>invested</b> their money in new houses.</td></tr>
<tr><td></td><td><select name="q2e"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>6</b></td><td>Yuppies <b>tend to</b> live in old house they have remodeled.</td></tr>
<tr><td></td><td><select name="q2f"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>7</b></td><td>Yuppies <b>would</b> buy flashy cars.</td></tr>
<tr><td></td><td><select name="q2g"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
<tr><td><b>8</b></td><td>Yubbies <b>are</b> not in the habit of displaying their wealth.</td></tr>
<tr><td></td><td><select name="q2h"><option value=0>Choose answer<option value=1>A - Present Simple<option value=2>B - Past Simple<option value=3>C - Adverbs of frequency<option value=4>D - Used to<option value=5>E - Present Continuous<option value=6>F - Will<option value=7>G - Would<option value=8>H - Expressions like "tend to" and "be in the habit of"</select>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Complete the second sentence using the word in bold so that it is similar in meaning to the first sentence. The first one has been done as an example.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td><span class="rojo">Yubbies tend to be self-employed.</span><b>(usually)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> <span class="rojo">Yubbies <b>are usually</b> self-employed.</span></td></tr>
<tr><td>They eat out a lot but don't go to fast food restaurants. <b>(will)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> They eat out a lot but <input type="text" name="q3a" size=20> to fast food restaurants.</td></tr>
<tr><td>Yuppies, on the other hand, were in the habit of showing the world they were wealthy. <b>(would)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> Yuppies, on the other hand, <input type="text" name="q3b" size=20> the world they were wealthy.</td></tr>
<tr><td>They normally drove expensive cars. <b>(tended)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> They <input type="text" name="q3c" size=20> expensive cars.</td></tr>
<tr><td>A growing number of 30- to 40-year-olds don't want to grow old. <b>(refusing)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> A growing number of 30- to 40-year-olds <input type="text" name="q3d" size=20> grow old.</td></tr>
<tr><td>In their parents' day, people used to get married much younger. <b>(got)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> In their parents' day, people <input type="text" name="q3e" size=20> much younger.</td></tr>
<tr><td>Other people of their age are likely to have children. <b>(will)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> Other people of their age <input type="text" name="q3f" size=20> children.</td></tr>
<tr><td>They normally have expensive haircuts. <b>(tend)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> They <input type="text" name="q3g" size=20> expensive haircuts.</td></tr>
<tr><td>The average Middle Youth-er probably isn't married. <b>(unlikely)</b></td></tr>
<tr><td><img src="img/ob/fl-1.jpg"> The average Middle Youth-er <input type="text" name="q3h" size=20> married.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>