<script>
	v = {

		q1a:'1',
		q1b:'1',
		q1c:'2',
		q1d:'1',
		q1e:'2',
		q1f:'2',
		q1g:'1',
		q1h:'3',
		q1i:'2',
		q1j:'3',
		q2a:'1',
		q2b:'2',
		q2c:'1',
		q2d:'2',
		q2e:'1',
		q2f:'2',
		q2g:'2',
		q2h:'2',
		q3a:'order',
		q3b:'helping',
		q3c:'slice',
		q3d:'filling',
		q3e:'tablespoon',
		q3f:'topping',
		q3g:'lump',
		q3h:'pinch',

	}
</script>

<form id="t1">
<b class="inst5">Anecdote from childhood</b>
<p>
<b class="tablau2">1. Ways of eating and drinking.</b>
<p>
<b>Choose the correct options according to their meaning.</b>
<p>
<center>	
<img src="img/u6b-1.jpg">
</center>
<p>
<table cellpadding=0 cellspacing=10>											
<tr><td><select name="q1a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> knock back</td></tr>
<tr><td><select name="q1b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> wolf down</td></tr>
<tr><td><select name="q1c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> pick at</td></tr>
<tr><td><select name="q1d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> bolt down</td></tr>
<tr><td><select name="q1e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> nibble</td></tr>
<tr><td><select name="q1f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> lick</td></tr>
<tr><td><select name="q1g"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> devour</td></tr>
<tr><td><select name="q1h"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> gorge yourself</td></tr>
<tr><td><select name="q1i"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> sip</td></tr>
<tr><td><select name="q1j"><option value=0>?<option value=1>1<option value=2>2<option value=3>3</select> stuff yourself</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Complete the text by choosing the best answer.</b>
<p>
<table cellpadding=0 cellspacing=10>											
<tr><td>Dinnertime at my house when I was a child was always like feeding time at the zoo. My brothers would always <select name="q2a"><option value=0>Choose Answer<option value=1>wolf down<option value=2>knock back</select>
their food as if they hadn't eaten for weeks so it they could get out and play with their friends in the street. Mom didn't eat much. She used to 
<select name="q2b"><option value=0>Choose Answer<option value=1>nibbled<option value=2>pick</select>
at the food on her plate, taking a mouthful every five minutes, as if she didn't really want to eat it. She always ate slowly. At four o'clock she'd always have a cup of coffee and would 
<select name="q2c"><option value=0>Choose Answer<option value=1>sip<option value=2>nibble</select>
it noisily for 15 minutes while she watched her favorite soap opera. She'd also 
<select name="q2d"><option value=0>Choose Answer<option value=1>devour<option value=2>nibble</select>
a cookie and make it last 15 minutes, too. Dad, on the other hand, was a big eater. He would always 
<select name="q2e"><option value=0>Choose Answer<option value=1>stuff himself<option value=2>devour</select>
at the dinner table. He'd  
<select name="q2f"><option value=0>Choose Answer<option value=1>gorge himself<option value=2>bolt down</select>
his food faster than my brothers could, then ask for a second and sometimes a third <a href="#" onclick="window.open('t-u6b-1.htm','_blank','width=275,height=140');">helping</a> of everything. I never saw him  
<select name="q2g"><option value=0>Choose Answer<option value=1>sip<option value=2>lick</select>
his plate clean, but I suspect he did when he ate by himself. He liked drinking beer while eating, and he'd usually 
<select name="q2h"><option value=0>Choose Answer<option value=1>lick<option value=2>knock back</select>
about three bottles before we got to the dessert.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Words that describe the way food is served.</b>
<p>
<b>Complete the sentences with the words below.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor="#273794">
<tr><td width=100 align="center">helping</td><td width=100 align="center">lump</td><td width=100 align="center">pinch</td><td width=100 align="center">tablespoon</td></tr>
<tr><td align="center">filling</td><td align="center">slice</td><td align="center">order</td><td align="center">topping</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10>											
<tr><td>1. I'm starving. I'm going to go and ask for an extra <input type="text" name="q3a" size=20> of french fries.</td></tr>
<tr><td>2. Is there enough pasta left for me to have a second <input type="text" name="q3b" size=20> ?</td></tr>
<tr><td>3. Does anyone want another <input type="text" name="q3c" size=20> of toast, or can I finish it off?</td></tr>
<tr><td>4. Did you make the <input type="text" name="q3d" size=20> for this pie yourself, or did you buy it ready-made?</td></tr>
<tr><td>5. If you want to make that soup a little thicker, try putting a <input type="text" name="q3e" size=20> of flour in it.</td></tr>
<tr><td>6. I'm going to have vanilla ice cream with a chocolate <input type="text" name="q3f" size=20> for dessert.</td></tr>
<tr><td>7. Could you stick a <input type="text" name="q3g" size=20> of sugar in that coffee if there isn't any milk?</td></tr>
<tr><td>8. A <input type="text" name="q3h" size=20> of salt would make such a diffence to your cooking.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>