<script>
	v = {
		q1a:'0',
		q1b:'1',
		q1c:'1',
		q1d:'0',
		q1e:'0',
		q2a:'0',
		q2b:'1',
		q2c:'1',
		q2d:'0',
		q2e:'0',
		q2f:'0',
		q2g:'0',
		q2h:'1',
		q3a:'I',
		q3b:'remember',
		q3c:'when',
		q3d:'I',
		q3e:'was',
		q3f:'young',
		q3g:'we',
		q3h:'were',
		q3i:'always',
		q3j:'bored',
		q3k:'things',
		q3l:'to',
		q3m:'do',
		q3n:'to',
		q3o:'kill',
		q3p:'time',
		q3q:'doing',
		q3r:'dangerous',
		q3s:'things',
		q3t:'fool',
		q3u:'about',
		q3v:'as',
		q3w:'much',
		q3x:'as',
		q3y:'they',
		q3z:'did',
		q3aa:'these',
		q3ab:'days',
		q3ac:'they',
		q3ad:'spend',
		q3ae:'their',
		q3af:'time',
		q3ag:'on'
	}
</script>

<form id="t1">
<b class="inst5">Teenage pastimes</b>
<p>
<b class="tablau2">1. Listen to this man talking about the things he used to do to kill time when he was a teenager.</b>
<p>
<center>	
<a href="snd/u6c-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center><br>
<p>
<b>Click on the activities he used to do.</b>
<p>	
<table cellpadding=0 cellspacing=10>
<tr><td>1. Elevator or lift surfing</td></tr>
<tr><td><input type="radio" name="q1a" value=1 checked> Used to do <input type="radio" name="q1a" value=0> Didn't use to do</td></tr>
<tr><td>2. Joyriding</td></tr>
<tr><td><input type="radio" name="q1b" value=1 checked> Used to do <input type="radio" name="q1b" value=0> Didn't use to do</td></tr>
<tr><td>3. Skateboarding</td></tr>
<tr><td><input type="radio" name="q1c" value=1 checked> Used to do <input type="radio" name="q1c" value=0> Didn't use to do</td></tr>
<tr><td>4. Horseback riding</td></tr>
<tr><td><input type="radio" name="q1e" value=1 checked> Used to do <input type="radio" name="q1e" value=0> Didn't use to do</td></tr>
<tr><td>5. Net surfing</td></tr>
<tr><td><input type="radio" name="q1f" value=1 checked> Used to do <input type="radio" name="q1f"value=0> Didn't use to do</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Listen again and decide if these sentences are true or false.</b>
<p>
<center>	
<a href="snd/u6c-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 He lived in an tower blocks in the north of Chicago.</td></tr>
<tr><td><input type="radio" name="q2a" value=1 checked> true <input type="radio" name="q2a" value=0> false</td></tr>
<tr><td>2 He and his friends were always bored when he was young.</td></tr>
<tr><td><input type="radio" name="q2b" value=1 checked> true <input type="radio" name="q2b" value=0> false</td></tr>
<tr><td>3 They sometimes did dangerous things to kill time.</td></tr>
<tr><td><input type="radio" name="q2c" value=1 checked> true <input type="radio" name="q2c" value=0> false</td></tr>
<tr><td>4 They went joyriding and crashed a car.</td></tr>
<tr><td><input type="radio" name="q2d" value=1 checked> true <input type="radio" name="q2d" value=0> false</td></tr>
<tr><td>5 They used to go skateboarding in the middle of the traffic.</td></tr>
<tr><td><input type="radio" name="q2e" value=1 checked> true <input type="radio" name="q2e" value=0> false</td></tr>
<tr><td>6 They stopped because drivers got angry with them.</td></tr>
<tr><td><input type="radio" name="q2f" value=1 checked> true <input type="radio" name="q2f" value=0> false</td></tr>
<tr><td>7 Kids today don't do anything dangerous to kill time.</td></tr>
<tr><td><input type="radio" name="q2g" value=1 checked> true <input type="radio" name="q2g" value=0> false</td></tr>
<tr><td>8 Young people today stay at home more than he did when he was young.</td></tr>
<tr><td><input type="radio" name="q2h" value=1 checked> true <input type="radio" name="q2h" value=0> false</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Listen to two extracts and type his words in the spaces below:</b>
<p>
<center>	
<a href="snd/u6c-2.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>I was born in London, in south London, um, I lived in an tower blocks
 in south London, and <sub>1</sub><input type="text" name="q3a" size=5> <sub>2</sub><input type="text" name="q3b" size=20> <sub>3</sub><input type="text" name="q3c" size=15> <sub>4</sub><input type="text" name="q3d" size=5> 
<sub>5</sub><input type="text" name="q3e" size=15> <sub>6</sub><input type="text" name="q3f" size=20> that, that me and me friends, <sub>7</sub><input type="text" name="q3g" size=10> <sub>8</sub><input type="text" name="q3h" size=15>
 <sub>9</sub><input type="text" name="q3i" size=15> <sub>10</sub><input type="text" name="q3j" size=15> and trying to think of <sub>11</sub><input type="text" name="q3k" size=20> <sub>12</sub><input type="text" name="q3l" size=10> <sub>13</sub><input type="text" name="q3m" size=10>
<sub>14</sub><input type="text" name="q3n" size=10> <sub>15</sub><input type="text" name="q3o" size=15> <sub>16</sub><input type="text" name="q3p" size=15>, you know, messing about, um,
 sometimes <sub>17</sub><input type="text" name="q3q" size=15> <sub>18</sub><input type="text" name="q3r" size=20> <sub>19</sub><input type="text" name="q3s" size=15>.</td></tr>

<tr><td>I don't think teens <sub>20</sub><input type="text" name="q3t" size=10> <sub>21</sub><input type="text" name="q3u" size=15> <sub>22</sub><input type="text" name="q3v" size=5> <sub>23</sub><input type="text" name="q3w" size=10> <sub>24</sub><input type="text" name="q3x" size=5> <sub>25</sub><input type="text" name="q3y" size=10> 
<sub>26</sub><input type="text" name="q3z" size=10> when I was young. I mean, a lot of them seem to have 
computers at home <sub>27</sub><input type="text" name="q3aa" size=20> <sub>28</sub><input type="text" name="q3ab" size=15> and <sub>29</sub><input type="text" name="q3ac" size=15> <sub>30</sub><input type="text" name="q3ad" size=20> <sub>31</sub><input type="text" name="q3ae" size=20> 
<sub>32</sub><input type="text" name="q3af" size=15> <sub>33</sub><input type="text" name="q3ag" size=10> the computer playing games or, or net
 surfing on the Internet.<tr><td>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
<p>
<b>Now look at the transcript.</b>
<p>
<center>
<a href="#" onclick="window.open('templates/TU6C1.html','_blank','width=600,height=300');"><b>view transcript</b></a>
</center>
<p>
</form>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>