<script>
	v = {
		q1a:'heat',
		q1b:'warm',
		q1c:'hot',
		q1d:'cool',
		q1e:'heatedly',
		q1f:'heated',
		q1g:'warmth',
		q1h:'cool',
		q2a:'spark',
		q2b:'blazing',
		q2c:'smolder',
		q2d:'flames',
		q2e:'fiery',
		q2f:'burned up',
		q2g:'flare',
		q2h:'burning',
		q3a:'spark',
		q3b:'blazing',
		q3c:'burning',
		q3d:'fiery',
		q3e:'smolder',
		q3f:'flare',
		q3g:'flames',
		q3h:'burned-out'
	}
</script>


<form id="t1">
<b class="inst5">Hot and cold metaphors</b>
<p>
<b class="tablau2">1. Heat and cold metaphors.</b>
<p>
<b>Temperature words are often associated with particular emotions. For example:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td width=30></td><td><img src="img/ob/b1.jpg"></td><td>strong and negative emotions <img src="img/ob/fl-2.jpg"><span clasS="rojo"><b> heat, hot, heatedly, heated</b></span></td></tr>
<tr><td></td><td><img src="img/ob/b1.jpg"></td><td>friendly, caring behavior <img src="img/ob/fl-2.jpg"><span class="rojo"><b> warm, warmth</b></span></td></tr>
<tr><td></td><td><img src="img/ob/b1.jpg"></td><td>unfriendly behavior <img src="img/ob/fl-2.jpg"><span class="rojo"><b> cold, coldly, cool, coolly</b></span></td></tr>
</table>
<p>
<b>Complete these sentences writing the appropriate word into the space.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=2 bordercolor=#000000>
<tr><td width=80 align="center">cool</td><td width=80 align="center">heated</td><td width=80 align="center">heat</td><td width=80 align="center">warm</td></tr>
<tr><td align="center">heatedly</td><td align="center">hot</td><td align="center">cool</td><td align="center">warmth</td></tr>
</table>
</center> 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. In the <input type="text" name="q1a" size=20> of the argument she threw a can of tomatoes at him.</td></tr>
<tr><td>2. He is a very <input type="text" name="q1b" size=20> and caring individual.</td></tr>
<tr><td>3. Jenny worries that Janet's <input type="text" name="q1c" size=20> temper will lead to violence.</td></tr>
<tr><td>4. You should go ahead and separate, but once emotions <input type="text" name="q1d" size=20> down, see if you can remain just friends.</td></tr>
<tr><td>5. The issue of the right to carry guns is being <input type="text" name="q1e" size=20> debated in several Western countries.</td></tr>
<tr><td>6. A very <input type="text" name="q1f" size=20> argument resulted, and they had to be separated.</td></tr>
<tr><td>7. This children have never had <input type="text" name="q1g" size=20> and love and someone to hug them.</td></tr>
<tr><td>8. The audience gave the speech a <input type="text" name="q1h" size=20> reception, and there were even some whistles.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Fire metaphors. Match the words to their definitions.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=80 align="center">flames</td><td width=80 align="center">flare</td><td width=80 align="center">fiery</td><td width=80 align="center">burned up</td></tr>
<tr><td align="center">burning</td><td align="center">spark</td><td align="center">smolder</td><td align="center">blazing</td></tr>
</table>
</center> 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>a small bit of burning material that is thrown out by a fire (also a verb)</td><td width=30></td><td><input type="text" name="q2a" size=20></td></tr>
<tr><td>burning brightly and strongly</td><td width=30></td><td><input type="text" name="q2b" size=20></td></tr>
<tr><td>to burn slowly, producing smoke but not flames</td><td width=30></td><td><input type="text" name="q2c" size=20></td></tr>
<tr><td>tongues of burning gas produced by a fire</td><td width=30></td><td><input type="text" name="q2d" size=20></td></tr>
<tr><td>very hot, like a fire</td><td width=30></td><td><input type="text" name="q2e" size=20></td></tr>
<tr><td>badly damaged by fire</td><td width=30></td><td><input type="text" name="q2f" size=20></td></tr>
<tr><td>to burn brightly and briefly (also a noun)</td><td width=30></td><td><input type="text" name="q2g" size=20></td></tr>
<tr><td>producing a sensation of heat</td><td width=30></td><td><input type="text" name="q2h" size=20></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Below are the fire words from exercise 2 again.</b>
<p>
<b>Note that they can all be used metaphorically. Complete the following sentences by dragging words into the spaces.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=80 align="center">fiery</td><td width=80 align="center">blazing</td><td width=80 align="center">spark</td><td width=80 align="center">flare</td></tr>
<tr><td align="center">flames</td><td align="center">smolder</td><td align="center">burned-out</td><td align="center">burning</td></tr>
</table>
</center> 
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. Don't mention the bad working conditions or this might <input type="text" name="q3a" size=20> a fight with the boss.</td></tr>
<tr><td>2. They had a <input type="text" name="q3b" size=20> argument. during which she threw ten plates and the coffee pot at him.</td></tr>
<tr><td>3. I have a <input type="text" name="q3c" size=20> desire to visit Venice before i die.</td></tr>
<tr><td>4. Danny has a <input type="text" name="q3d" size=20> temper so don't say anything to upset him.</td></tr>
<tr><td>5. The argument between the two trade unions continued to <input type="text" name="q3e" size=20> for several years, without ever being resolved.</td></tr>
<tr><td>6. The police intervention caused tempers to <input type="text" name="q3f" size=20> up and a fight started.</td></tr>
<tr><td>7. The police were accused of fanning the <input type="text" name="q3g" size=20> of violence.</td></tr>
<tr><td>8. Life at the top leaves many executives feeling <input type="text" name="q3h" size=20> and exhausted.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>