<script>
	v = {
		q1a:'I did say something',
		q1b:'if you do fail',
		q1c:'if I have got it',
		q1d:'if we do go',
		q1e:'if you do like it',
		q1f:'if you had met',
		q1g:'but she did study',
		q1h:'but he does eat',
		q2a:'2',
		q2b:'3',
		q2c:'1',
		q2d:'2',
		q2e:'1',
		q2f:'2',
		q3a:'2',
		q3b:'1',
		q3c:'3',
		q3d:'2',
		q3e:'2',
		q3f:'3',
		q3g:'1',
		q3h:'3',
		q3i:'2',
		q3j:'1',
		q4a:'2',
		q4b:'1',
		q4c:'1',
		q4d:'2',
		q4e:'2',
		q4f:'1',
		q4g:'2',
		q4h:'1',
		q4i:'2',
		q4j:'1',
		q4k:'1',
		q4l:'2'
	}
</script>

<form id="t1">
<b class="inst5">Listening: Obsessions</b>
<p>
<b class="tablau2">1. Listen to these three people being interviewed about an obsession each one has.</b>
<p>
<center>	
<a href="snd/u7b-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center><br>
<p>
<b>Write down notes under these headings:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>	</td><td width=15></td><td align="center">Obsession</td><td align="center">Symptoms</td><td align="center">Affect on other people</td></tr>
<tr><td>Person 1</td><td></td><td><input type="text" name="q1a" size=20></td><td><input type="text" name="q1b" size=20></td><td><input type="text" name="q1c" size=20></td></tr>
<tr><td>Person 2</td><td></td><td><input type="text" name="q1d" size=20></td><td><input type="text" name="q1e" size=20></td><td><input type="text" name="q1f" size=20></td></tr>
<tr><td>Person 3</td><td></td><td><input type="text" name="q1g" size=20></td><td><input type="text" name="q1h" size=20></td><td><input type="text" name="q1i" size=20></td></tr>
</table><br>
 <p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Listen again and answer these questions.</b>
<p>
<center>	
<a href="snd/u7b-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1</td><td> If Speaker 1 misses an episode</td></tr>
<tr><td></td><td><input type="radio" name="q2a" value=1 checked>she reads about it in a magazine.<br><input type="radio" name="q2a" value=2>she watches the repeat version.<br><input type="radio" name="q2a" value=3>she records it and watches it later.</td></tr>
<tr><td>2</td><td> Her friends complain because</td></tr> 
<tr><td></td><td><input type="radio" name="q2b" value=1 checked>they have to record episodes for her.<br><input type="radio" name="q2b" value=2>they don't find it exciting.<br><input type="radio" name="q2b" value=3>they never see her.</td></tr>
<tr><td>3</td><td> Speaker 2's mother is worried that</td></tr>
<tr><td></td><td><input type="radio" name="q2c" value=1 checked>a visitor may arrive unexpectedly.<br><input type="radio" name="q2c" value=2>the house is not in perfect working order.<br><input type="radio" name="q2c" value=3>her son doesn't feel comfortable when he visits.</td></tr>
<tr><td>4</td><td> If he's eating a sandwich, his mother</td></tr>
<tr><td></td><td><input type="radio" name="q2d" value=1 checked>tells him not to touch anything afterwards.<br><input type="radio" name="q2d" value=2>cleans up while he's eating.<br><input type="radio" name="q2d" value=3>puts paper down to catch the crumbs.</td></tr>	
<tr><td>5</td><td> Speaker 3's friend goes to the cinema</td></tr>
<tr><td></td><td><input type="radio" name="q2e" value=1 checked>four or five times a week.<br><input type="radio" name="q2e" value=2>with her boyfriend.<br><input type="radio" name="q2e" value=3>on her own from time to time.</td></tr>	
<tr><td>6</td><td> Her boyfriend doesn't like it because</td></tr>
<tr><td></td><td><input type="radio" name="q2f" value=1 checked>he wants to go with her.<br><input type="radio" name="q2f" value=2>he doesn't like her going alone.<br><input type="radio" name="q2f" value=3>he prefers to go walking in the country.</td></tr>	
</table>
 <p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Who says:</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1</td><td>"The result of this is that I don't feel comfortable"</td></tr>
<tr><td></td><td><input type="radio" name="q3a" value=1 checked>Speaker 1<br><input type="radio" name="q3a" value=2>Speaker 2<br><input type="radio" name="q3a" value=3>Speaker 3</td></tr>
<tr><td>2</td><td>"I guess you could say I'm addicted"</td></tr>
<tr><td></td><td><input type="radio" name="q3b" value=1 checked>Speaker 1<br><input type="radio" name="q3b" value=2>Speaker 2<br><input type="radio" name="q3b" value=3>Speaker 3</td></tr>
<tr><td>3</td><td>"She's quite happy to go on her own as well"</td></tr>
<tr><td></td><td><input type="radio" name="q3c" value=1 checked>Speaker 1<br><input type="radio" name="q3c" value=2>Speaker 2<br><input type="radio" name="q3c" value=3>Speaker 3</td></tr>
<tr><td>4</td><td>"It's very nerve-wracking"</td></tr>
<tr><td></td><td><input type="radio" name="q3d" value=1 checked>Speaker 1<br><input type="radio" name="q3d" value=2>Speaker 2<br><input type="radio" name="q3d" value=3>Speaker 3</td></tr>
<tr><td>5</td><td>"Talking about obsessions..."</td></tr>
<tr><td></td><td><input type="radio" name="q3e" value=1 checked>Speaker 1<br><input type="radio" name="q3e" value=2>Speaker 2<br><input type="radio" name="q3e" value=3>Speaker 3</td></tr>
<tr><td>6</td><td>"which is a bit of a problem"</td></tr>
<tr><td></td><td><input type="radio" name="q3f" value=1 checked>Speaker 1<br><input type="radio" name="q3f" value=2>Speaker 2<br><input type="radio" name="q3f" value=3>Speaker 3</td></tr>
<tr><td>7</td><td>"if by any misfortune"</td></tr>
<tr><td></td><td><input type="radio" name="q3g" value=1 checked>Speaker 1<br><input type="radio" name="q3g" value=2>Speaker 2<br><input type="radio" name="q3g" value=3>Speaker 3</td></tr>
<tr><td>8</td><td>"absolutely addicted"</td></tr>
<tr><td></td><td><input type="radio" name="q3h" value=1 checked>Speaker 1<br><input type="radio" name="q3h" value=2>Speaker 2<br><input type="radio" name="q3h" value=3>Speaker 3</td></tr>
<tr><td>9</td><td>"literally obsessed"</td></tr>
<tr><td></td><td><input type="radio" name="q3i" value=1 checked>Speaker 1<br><input type="radio" name="q3i" value=2>Speaker 2<br><input type="radio" name="q3i" value=3>Speaker 3</td></tr>
<tr><td>10</td><td>"unhealthy"</td></tr>
<tr><td></td><td><input type="radio" name="q3j" value=1 checked>Speaker 1<br><input type="radio" name="q3j" value=2>Speaker 2<br><input type="radio" name="q3j" value=3>Speaker 3</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Choose the correct option for the words.</b>
<p>
<center>	
<table cellpadding=0 cellspacing=10>
<tr><td>dirty <select name="q4a"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>record <select name="q4b"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>telly <select name="q4c"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>dusting <select name="q4d"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>crumbs <select name="q4e"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>episode <select name="q4f"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>tidyng <select name="q4g"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>soap operas <select name="q4h"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>mopping <select name="q4i"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>repeat version <select name="q4j"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
<tr><td>stars <select name="q4k"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td><td width=50></td><td>hovering <select name="q4l"><option value=0>Choose answer<option value=1>Speaker 1<option value=2>Speaker 2</select></td></tr>
</table>
</center>
 <p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</p>
</form>
<p>
<b>Now look at the transcript and check your answers.</b>
<p>
<center>
<a href="#" onclick="window.open('templates/TU7B1.html','_blank','width=600,height=600');"><b>view transcript</b></a>
</center>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>