<script>
	v = {
		q1a:'3',
		q1b:'4',
		q1c:'6',
		q1d:'2',
		q1e:'7',
		q1f:'3',
		q1g:'5',
		q1h:'6',
		q2a:'getaway',
		q2c:'makeup',
		q2d:'turnout',
		q2e:'takeover',
		q2f:'walkout',
		q2g:'takeoff',
		q3b:'takeoff',
		q3c:'getaway',
		q3d:'workout',
		q3e:'turnout',
		q3f:'walkout',
		q3g:'makeup',
		q3h:'takeover',
		q4a:'7',
		q4b:'5',
		q4c:'8',
		q4d:'6',
		q4e:'2',
		q4f:'1',
		q4g:'4',
		q4h:'3',
		q5a:'getaway',
		q5b:'breakdown',
		q5c:'makeup',
		q5d:'takeover',
		q5e:'turnout',
		q5f:'workout',
		q5g:'breakout',
		q5h:'cutbacks',
	}
</script>

<form id="t1">
<b class="inst5">Word building: Compounds</b>
<p>
<b class="tablau2">1. Nouns formed from the combination verb + adverb.</b>
<p>
Many phrasal verbs (verb + adverb) can form nouns.
<p>
<table cellpadding=0 cellspacing=10>
<tr><td width=30></td><td><span class="rojo">The meal that you <b>take away</b> from a Chinese <b>takeout</b> (restaurant) is called a Chinese <b>takeout</b>.</span></td></tr>
</table><br>
<p>
Match the verbs and their defintions.
<p>
<table cellpadding=0 cellspacing=10 width=100%>
<tr><td>1. You work out</td><td></td><td><select name="q1a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td width=15></td><td> <sub>1</sub>when it leaves the ground and starts flying.</td></tr>
<tr><td>2. You get away</td><td></td><td><select name="q1b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>2</sub>when you put on makeup.</td></tr>
<tr><td>3. You call in to a program</td><td></td><td><select name="q1c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>3</sub>when you do an exercise session at the gym.</td></tr>
<tr><td>4. You make yourself up</td><td></td><td><select name="q1d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>4</sub>when you escape.</td></tr>
<tr><td>5. People turn out somewhere</td><td></td><td><select name="q1e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>5</sub>when you leave it as a form of protest.</td></tr>
<tr><td>6. A company takes over another company</td><td></td><td><select name="q1f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>6</sub>when your voice is heard live on the program.</td></tr>
<tr><td>7. You walk out on a situation</td><td></td><td><select name="q1g"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>7</sub>when they attend a public event.</td></tr>
<tr><td>8. A plane takes off</td><td></td><td><select name="q1h"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>8</sub>when it takes control of that company.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Form nouns from the phrasal verbs in exercise 1. The first one has been done as an example.</b>
<p>
<center>	
<table cellpadding=0 cellspacing=10 width=350>
<tr><td align="center">Verb</td><td align="center">Noun</td></tr>
<tr><td align="center"><span id="rd">work out</span></td><td align="center">workout</td></tr>
<tr><td align="center">get away</td><td align="center"><input type="text" name="q2a" size=20></td></tr>
<tr><td align="center">make up</td><td align="center"><input type="text" name="q2c" size=20></td></tr>
<tr><td align="center">turn out</td><td align="center"><input type="text" name="q2d" size=20></td></tr>
<tr><td align="center">take over</td><td align="center"><input type="text" name="q2e" size=20></td></tr>
<tr><td align="center">walk out</td><td align="center"><input type="text" name="q2f" size=20></td></tr>
<tr><td align="center">take off</td><td align="center"><input type="text" name="q2g" size=20></td></tr>
</table>
</center>

<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Use the nouns in exercise 2 to complete these sentences.</b>
<p>
<table cellpadding=0 cellspacing=3>
<tr><td>1. Before <input type="text" name="q3b" size=20> the cabin crew always take passengers through the safety procedures.</td></tr>
<tr><td>2. The robbers told the cashier to hand over the money, then made a quick <input type="text" name="q3c" size=20>.</td></tr>
<tr><td>3. I'm feeling pretty tired today. I went to the gym yesterday evening for a two-hour <input type="text" name="q3d" size=20>.</td></tr>
<tr><td>4. It was a rainy night, but there was a good <input type="text" name="q3e" size=20> to see the concert.</td></tr>
<tr><td>5. When pay negotiations broke down, the workers staged a <input type="text" name="q3f" size=20> in protest.</td></tr>
<tr><td>6. Her first job at the theater was to help with the <input type="text" name="q3g" size=20>.</td></tr>
<tr><td>7. The factory owners hoped that the <input type="text" name="q3h" size=20> by a big multinational would improve business.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. More nouns formed from the combination verb + adverb.</b>
<p>
<b>Match the beginnings and endings below to form sentences.</b>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>1. He suffered a mild break</td><td></td><td><select name="q4a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td width=15></td><td> <sub>1</sub>up of the USSR.</td></tr>
<tr><td>2. Her low sales figures were a set</td><td></td><td><select name="q4b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>2</sub>break of epidemics at the scene of the disaster.</td></tr>
<tr><td>3. Three prisioners escaped in a break</td><td></td><td><select name="q4c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>3</sub>ins in the summer when they go on vacation.</td></tr>
<tr><td>4. The teacher said that without more in</td><td></td><td><select name="q4d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>4</sub>backs in public spending.</td></tr>
<tr><td>5. Rescue workers are worried about the out</td><td></td><td><select name="q4e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>5</sub>back in her ambition to run the department.</td></tr>
<tr><td>6. Gorbachev was instrumental in the break</td><td></td><td><select name="q4f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>6</sub>put from students, the course would be worthless.</td></tr>
<tr><td>7. The govermment has announced cut</td><td></td><td><select name="q4g"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>7</sub>down and had to go to the hospital.</td></tr>
<tr><td>8. Many households suffer break-</td><td></td><td><select name="q4h"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7<option value=8>8</select></td><td></td><td> <sub>8</sub>out from the local jail.</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</form>
<form id="t5">
<p>
<b>5. Use the nouns in the list to complete the collocations below.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=100 align="center">callout</td><td width=100 align="center">takeover</td><td width=100 align="center">getaway</td><td width=100 align="center">breakdown</td></tr>
<tr><td align="center">takeoff</td><td align="center">breakdown</td><td align="center">turnout</td><td align="center">input</td></tr>
<tr><td align="center">walkout</td><td align="center">break-in</td><td align="center">makeup</td><td align="center">breakout</td></tr>
<tr><td align="center">workout</td><td align="center">cutbacks</td><td align="center">setback</td><td align="center">outbreak</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. a <input type="text" name="q5a" size=20> car</td><td width=50></td><td>5. a large  <input type="text" name="q5e" size=20></td></tr>
<tr><td>2. a nervous  <input type="text" name="q5b" size=20></td><td></td><td>6. total  <input type="text" name="q5f" size=20></td></tr>
<tr><td>3. a  <input type="text" name="q5c" size=20>  artist</td><td></td><td>7. a prison  <input type="text" name="q5g" size=20></td></tr>
<tr><td>4. a  <input type="text" name="q5d" size=20>  bid</td><td></td><td>8. government  <input type="text" name="q5h" size=20></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t5">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>