<script>
	v = {
		q1a:'1',
		q2a:'Amsterdam',
		q2b:'ferry',
		q2c:'Amsterdam',
		q2d:'Milan',
		q2e:'bus',
		q2f:'Milan',
		q2g:'Venice',
		q2h:'train',
		q2i:'Venice',
		q2j:'Alexandria',
		q2k:'ferry',
		q3a:'3',
		q3b:'2',
		q3c:'1',
		q3d:'3',
		q3e:'3',
		q3f:'1',
		q4a:'3',
		q4b:'3',
		q4c:'3',
		q4d:'2',
		q4e:'0',
		q4f:'3',
		q4g:'0',
		q4h:'2',
		q4i:'0',
		q4j:'2',
		q4k:'0',
		q4l:'3'
	}

</script>

<form id="t1">
<b class="inst5">Listening: A disastrous trip</b>
<p>
<b class="tablau2">1. Listen to someone talking about a disastrous journey and choose the map of their route.</b>
<p>
<center>	
<a href="snd/u9a-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td><img src="img/u9a-1.jpg"></td></tr>
</table>
</center>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td width=90></td><td><input type="radio" name="q1a" value=1 checked></td><td width=190></td><td><input type="radio" name="q1b" value=0></td></tr>
</table>
</center>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Listen again and complete the table with some of the words from the box.</b>
<p>
<center>	
<a href="snd/u9a-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<center>	
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=100 align="center">Alexandria</td><td width=100 align="center">Athens</td><td width=100 align="center">Crete</td><td width=100 align="center">Venice</td><td width=100 align="center">ferry</td></tr>
<tr><td align="center">Amsterdam</td><td align="center">Luxemburg</td><td align="center">Lugano</td><td align="center">bus</td><td align="center">train</td></tr>
<tr><td align="center">Antwerp</td><td align="center">Switzerland</td><td align="center">Milan</td><td align="center">car</td><td align="center">plane</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td></td><td align="center"><b>From...</b></td><td align="center"><b>to...</b></td><td align="center"><b>by...</b></td></tr>
<tr><td><b>Stage 1</b></td><td>1. London</td><td>2. Dover</td><td>3. train</td></tr>
<tr><td><b>Stage 2</b></td><td>4. Dover</td><td>5. <input type="text" name="q2a" size=20></td><td>	6. <input type="text" name="q2b" size=20></td></tr>
<tr><td><b>Stage 3</b></td><td>7. <input type="text" name="q2c" size=20></td><td>8. <input type="text" name="q2d" size=20></td><td>9. <input type="text" name="q2e" size=20></td></tr>
<tr><td><b>Stage 4</b></td><td>10. <input type="text" name="q2f" size=20></td><td>11. <input type="text" name="q2g" size=20></td><td>12. <input type="text" name="q2h" size=20></td></tr>
<tr><td><b>Stage 5</b></td><td>13. <input type="text" name="q2i" size=20></td><td>14. <input type="text" name="q2j" size=20></td><td>15. <input type="text" name="q2k" size=20></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Listen again and choose the best options below.</b>
<p>
<center>	
<a href="snd/u9a-1.mp3" target="_blank"><img src="img/ob/s-1.jpg" border=0></a>
</center>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1 The speaker wanted to get to Egypt ...</td></tr>
<tr><td><select name="q3a"><option value=0>Choose answer<option value=1>... quickly.<option value=2>... and visit a lot of places on the way.<option value=3>... cheaply.</select></td></tr>
<tr><td>2 The morning the speaker was going to get the bus in Amsterdam ...</td></tr>
<tr><td><select name="q3b"><option value=0>Choose answer<option value=1>... the bus was 20 minutes late.<option value=2>... he got up late.<option value=3>... the bus had already left.</select></td></tr>
<tr><td>3 A day was lost on the way from Amsterdam to Milan because ...</td></tr>
<tr><td><select name="q3c"><option value=0>Choose answer<option value=1>... the bus had to wait for two passengers.<option value=2>... there was some trouble with football hooligans.<option value=3>... the bus broke down.</select></td></tr>
<tr><td>4 The speaker spent two days in Venice because ...</td></tr>
<tr><td><select name="q3d"><option value=0>Choose answer<option value=1>... he didn't have any money.<option value=2>... the bus arrived too late for him to catch the ferry.<option value=3>... the ferry to Alexandria had been cancelled.</select></td></tr>
<tr><td>5 The ferry to Alexandria ...</td></tr>
<tr><td><select name="q3e"><option value=0>Choose answer<option value=1>... had to pass through a zone where a military operation was happening.<option value=2>... broke down.<option value=3>... took longer than it normally does.</select></td></tr>
<tr><td>6 He arrived in Alexandria ...</td></tr>
<tr><td><select name="q3f"><option value=0>Choose answer<option value=1>... feeling tired and hungry.<option value=2>... with little money left.<option value=3>... feeling refreshed after the voyage.</select></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Look at part of the transcript and decide which use of had (A, B or C) is being used in each case.</b>
<p>
<b>A</b> past or past participle of <span id="rd">have (got)</span><br>
<b>B</b> past of <span id="rd">have to</span> to talk about obligation<br>
<b>C</b> past perfect to talk about the "past before past" in a narrative
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>
The morning the bus left I overslept and arrived at the bus station 20 minutes late. Fortunately, the bus hadn't left  
<select name="q4a"><option value=0>A<option value=2>B<option value=3>C</select>, so we continued through Europe and got to Switzerland, spent the night ... slept in the bus outside some 
town, set off again in the morning only to discover that we'd left <select name="q4b"><option value=0>A<option value=2>B<option value=3>C</select> two of the passengers behind who had decided  
<select name="q4c"><option value=0>A<option value=2>B<option value=3>C</select> to sleep outside the bus. Anyway, so we had to wait <select name="q4d"><option value=0>A<option value=2>B<option value=3>C</select> for them - that was another day lost. I left the bus 
at Milan and took a train to Venice because I had a ticket <select name="q4e"><option value=0>A<option value=2>B<option value=3>C</select> on a ferry going from Venice to Alexandria. Anyway, I 
got to Venice, and discovered that the ferry had been cancelled <select name="q4f"><option value=0>A<option value=2>B<option value=3>C</select>. I had no money <select name="q4g"><option value=0>A<option value=2>B<option value=3>C</select>, but there was 
another ferry leaving in a couple of days, so I had to live <select name="q4h"><option value=0>A<option value=2>B<option value=3>C</select> on bread and cheese for two days. The ferry eventually 
left, but it was going very slowly and we discovered that it only had one engine <select name="q4i"><option value=0>A<option value=2>B<option value=3>C</select> ... or the engine wasn't working 
properly, and going very very slowly, and we took much longer than expected, and this wasn't helped because we had to make  
 <select name="q4j"><option value=0>A<option value=2>B<option value=3>C</select> a big detour around Crete because there was some military operation happening there. It took a week to get from Venice 
to Alexandria, by which time I had no food <select name="q4k"><option value=0>A<option value=2>B<option value=3>C</select>, no money and had slept <select name="q4l"><option value=0>A<option value=2>B<option value=3>C</select> very badly. I've never been so pleased 
to stand on dry land again.
</td></tr>
</table>
<p>
<center>
<button  class="eval" data-target="t4">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>