<script>
	v = {
		q1a:'out',
		q2a:'work out',
		q2b:'make out',
		q2c:'put out',
		q2d:'read out',
		q2e:'hand out',
		q2f:'write out',
		q2g:'fade out',
		q2h:'call out',
		q2i:'ran out',
		q2j:'sort out',
		q3a:'1',
		q3b:'1',
		q3c:'2',
		q3d:'1',
		q3e:'2',
		q3f:'1',
		q3g:'2',
		q3h:'1',
		q3i:'2',
		q3j:'1',
		q3k:'1',
		q3l:'2',
		q3m:'1',
		q3n:'2'
	}
</script>

<form id="t1">
<b class="inst5">Phrasal Verbs</b>
<p>
<b class="tablau2">1. Which word can be used to complete all the sentences?</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>NASA's research was carried ___ after the IAU's announcement.</td></tr>
<tr><td>An asteroid could hit Earth, wiping ___ our civilization as we know it.</td></tr>
<tr><td>A life-threatening collision could not be ruled ___ .</td></tr>
<tr><td>The nuclear winter effect after impact would blot ___ the sun.</td></tr> 
</table>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td><b>Missing word:</b> <input type="text" name="q1a" size=20></td></tr> 
</table>
</center>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Word focus: phrasal verbs with out.</b>
<p>
The adverb <b>out</b> has two main meanings when used as part of a phrasal verb.
<p>
<center>
<img src="img/u9c-1.jpg">
</center><br>s
<p>
<b>Complete the sentences with the verbs below.</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#000000>
<tr><td width=80 align="center">hand out</td><td width=80 align="center">put out</td><td width=80 align="center">sort out</td><td width=80 align="center">write out</td><td width=80 align="center">make out</td></tr>
<tr><td align="center">ran out</td><td align="center">call out</td><td align="center">work out</td><td align="center">read out</td><td align="center">fade out</td></tr>
</table>
</center>
<p>
<table cellpadding=0 cellspacing=10 width=700>
<tr><td>1. Scientists used computers to <input type="text" name="q2a" size=20> the orbit more precisely.</td></tr> 
<tr><td>2. The writing was too small for her to <input type="text" name="q2b" size=20> without her glasses.</td></tr> 
<tr><td>3. Would you <input type="text" name="q2c" size=20> that cigarrette? This is a non-smoking compartment.</td></tr> 
<tr><td>4. We listened while the lawyer <input type="text" name="q2d" size=20> loud the terms of my uncle's will.</td></tr> 
<tr><td>5. Could you <input type="text" name="q2e" size=20> these leaflets to all the people in the department, please?</td></tr> 
<tr><td>6. The teacher made him <input type="text" name="q2f" size=20> a chapter of the textbook as a punishment.</td></tr> 
<tr><td>7. The music will <input type="text" name="q2g" size=20>, and when it does, you start talking.</td></tr> 
<tr><td>8. They all heard the old man <input type="text" name="q2h" size=20> for help but just watched him getting robbed.</td></tr> 
<tr><td>9. Oh no, the gas <input type="text" name="q2i" size=20>! We'll have to call the gas company.</td></tr> 
<tr><td>10. Could you <input type="text" name="q2j" size=20> the travel arrangements for this trip today?</td></tr> 
</table>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Now put the verbs from exercise 2 in correct order.</b>
<p>
<center>	
<img src="img/u9c-2.jpg">
</center>
<p>
<center>	
<table cellpadding=0 cellspacing=10>
<tr><td>hand out</td><td width=20></td><td><select name="q3a"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>make out</td><td></td><td><select name="q3b"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>wipe out</td><td></td><td><select name="q3c"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>work out</td><td></td><td><select name="q3d"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>rule out</td><td></td><td><select name="q3e"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>write out</td><td></td><td><select name="q3f"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>blot out</td><td></td><td><select name="q3g"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>read out loud</td><td></td><td><select name="q3h"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>run out</td><td></td><td><select name="q3i"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>cry out</td><td></td><td><select name="q3j"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>carry out</td><td></td><td><select name="q3k"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>put out</td><td></td><td><select name="q3l"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>sort out</td><td></td><td><select name="q3m"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
<tr><td>fade out</td><td></td><td><select name="q3n"><option value=0>Choose answer<option value=1>Notebook 1<option value=2>Notebook 2</select></td></tr>
</table>
</center>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>