<script>
	v = {
		q1a:'4',
		q1b:'2',
		q1c:'1',
		q1d:'5',
		q1e:'3',
		q1f:'6',
		q2b:'square',
		q2c:'circular',
		q2d:'rectangular',
		q2e:'oval',
		q2f:'cylindrical',
		q3a:'star-shaped',
		q3b:'kidney-shaped',
		q3c:'egg-shaped',
		q3d:'pyramid-shaped',
		q4a:'5',
		q4b:'1',
		q4c:'7',
		q4d:'6',
		q4e:'3',
		q4f:'2',
		q4g:'4'
	}
</script>

<form id="t1">
<b class="inst5">Describing shapes</b>
<p>
<b class="tablau2">1. Choose the names for these shapes.</b>
<p>
<center>	
<table cellpadding=0 cellspacing=10>
<tr><td>1. rectangle</td><td width=30></td><td><select name="q1a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td width=100></td><td><img src="img/u9d-1a.jpg"></td></tr>
<tr><td>2. square</td><td></td><td><select name="q1b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="img/u9d-1b.jpg"></td></tr>
<tr><td>3. triangle</td><td></td><td><select name="q1c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="img/u9d-1c.jpg"></td></tr>
<tr><td>4. oval</td><td></td><td><select name="q1d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="img/u9d-1d.jpg"></td></tr>
<tr><td>5. circle</td><td></td><td><select name="q1e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="img/u9d-1e.jpg"></td></tr>
<tr><td>6. cylinder</td><td></td><td><select name="q1f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6</select></td><td></td><td><img src="img/u9d-1f.jpg"></td></tr>
</table>
</center>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. What are the adjective forms for the above nouns? The first one has been done for you as an example.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><b>Noun</b></td><td align="center"><b>Adjective</b></td></tr>
<tr><td>triangle</td><td>triangular</td></tr>
<tr><td>square</td><td><input type="text" name="q2b" size=20></td></tr>
<tr><td>circle</td><td><input type="text" name="q2c" size=20></td></tr>
<tr><td>rectangle</td><td><input type="text" name="q2d" size=20></td></tr>
<tr><td>oval</td><td><input type="text" name="q2e" size=20></td></tr>
<tr><td>cylinder</td><td><input type="text" name="q2f" size=20></td></tr>
</table>	
 <p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. If something is shaped like a heart, it is "heart-shaped" (adjective).</b>
<p>
<center>
<table cellpadding=0 cellspacing=0 border=1 bordercolor=#ffffff>
<tr><td align="center" bordercolor=#000000 width=80>pyramid</td><td align="center" bordercolor=#000000 width=80>&#160;<td align="center" bordercolor=#000000 width=80>table</td><tr>
<tr><td align="center" bordercolor=#000000>L</td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>house</td><tr>
<tr><td align="center" bordercolor=#000000>egg</td><td align="center" bordercolor=#000000>-shaped<td align="center" bordercolor=#000000>cake</td><tr>
<tr><td align="center" bordercolor=#000000><a href="#" onclick="window.open('t-u9d-1.htm','_blank','width=275,height=140');">kidney</a></td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>pool</td><tr>
<tr><td align="center" bordercolor=#000000>star</td><td align="center" bordercolor=#000000>&#160;<td align="center" bordercolor=#000000>room</td><tr>
</table><br>
</center>
<p>
<b>Make words from the table to describe these things:</b>
<p>
<center>
<img src="img/u9d-2a.jpg">
</center>
<p>
<center>
<table cellpadding=0 cellspacing=10>
<tr><td align="center"><img src="img/u9d-2b.jpg"></td><td align="center"><img src="img/u9d-2c.jpg"></td></tr>
<tr><td>1. <input type="text" name="q3a" size=30></td><td>2. <input type="text" name="q3b" size=30></td></tr>
 <tr ><td><img src="img/u9d-2d.jpg"></td><td><img src="img/u9d-2e.jpg"></td></tr>
<tr><td>3. <input type="text" name="q3c" size=30></td><td>4. <input type="text" name="q3d" size=30></td></tr>
</table>
</center>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Match the adjective with the line.</b>
<p>
<table cellpadding=0 cellspacing=10>
<tr><td>1. straight</td><td width=30></td><td><select name="q4a"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td width=100></td><td><img src="img	/u9d-3a.jpg"></td></tr>
<tr><td>2. wavy</td><td></td><td><select name="q4b"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3b.jpg"></td></tr>
<tr><td>3. zigzag</td><td></td><td><select name="q4c"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3c.jpg"></td></tr>
<tr><td>4. broken</td><td></td><td><select name="q4d"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3d.jpg"></td></tr>
<tr><td>5. thick</td><td></td><td><select name="q4e"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3e.jpg"></td></tr>
<tr><td>6. dotted</td><td></td><td><select name="q4f"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3f.jpg"></td></tr>
<tr><td>7. criss-cross</td><td></td><td><select name="q4g"><option value=0>?<option value=1>1<option value=2>2<option value=3>3<option value=4>4<option value=5>5<option value=6>6<option value=7>7</select></td><td></td><td><img src="img/u9d-3g.jpg"></td></tr>
</table>
 <p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>
<div id="z2">
</div>
<div id="z3">
</div>
<div id="z4">
</div>