<script>
	v = {

		q1a:'b',
		q1b:'c',
		q1c:'a',
		q1d:'d',
		q1e:'c',
		q1f:'d',
		q1g:'c',
		q1h:'d',
		q1i:'c',
		q1j:'a',
		q1k:'c',
		q1l:'b',
		q1m:'b',
		q1n:'d',
		q1o:'d',
		q1p:'a',
		q1q:'c',
		q1r:'b',
		q1s:'d',
		q1t:'a'


}

</script>


<div id="t0">
<b class="u3tit">Icons</b>
<p>
<b class="u3">Music quiz</b>
</div>
<p>
<form id="t1">
<b>1. Music trivia quiz: choose the best answer. (a,b,c,d)</b></p>
<p> 
<b>Pop & Rock </b></p>
<p>
<ol>
<li><b>Who was often referred to as the "fifth Beatle"?<br></b>
 a.-Yoko Ono<br>
 b.-George Martin<br>
 c.-Brian Epstein<br>
 d.-Linda MacCartney
<br><input size="1" name="q1a"></p>
<p>

<li><b>He was a member of Genesis, and as a solo artist he's sold over 70 million records world-wide. Who is he?<br></b>
 a.-Paul Carrack<br>
 b.-Mike Rutherford<br>
 c.-Phil Collins<br>
 d.-Peter Gabriel
<br><input size="1" name="q1b"></p>
<p>

<li><b>What do Jimmi Hendrix, Janis Joplin, Jim Morrison and Kurt Cobain all have in common?<br></b>
 a.-They all died at the age of 27<br>
 b.-They all died in the 60s<br>
 c.-They all committed suicide<br>
 d.-They were all born in Seattle
<br><input size="1" name="q1c"></p>
<p>

<li><b>Which one of the following is not the name of a Prince album?<br></b>
 a.-<i>1999</i><br>
 b.-<i>Purple Rain</i><br>
 c.-<i>Sign o' the Times</i><br>
 d.-<i>Controversial</i>
<br><input size="1" name="q1d"></p>
<p>

<li><b>Which well-known singer-songwriter worked as a teacher before turning to music as a full-time career?<br></b>
 a.-Alanis Morissette <br>
 b.-Bob Dylan<br>
 c.-Sting<br>
 d.-Tracy Chapman
<br><input size="1" name="q1e"></p>
<p>

<b>Classical Music </b></p>
<p>
<li><b>The classical period was just one musical era in what is commonly referred to as "classical music". What are the four periods in "classical music" in the correct order?<br></b>
 a.-Romantic, Renaissance, Baroque, Classical<br>
 b.-Baroque, Renaissance, Romantic, Classical<br>
 c.-Classical, Renaissance, Baroque, Romantic<br>
 d.-Renaissance, Baroque, Classical, Romantic
<br><input size="1" name="q1f"></p>
<p>

<li><b>Which Russian composer wrote the score for Sergey Eisenstein's film Alexander Nevsky?<br></b>
 a.-Shostakovich<br>
 b.-Stravinsky<br>
 c.-Prokofiev<br>
 d.-Rimsky-Korsakov
<br><input size="1" name="q1g"></p>
<p>

<li><b>In classical singing, which is the lowest male voice?<br></b>
 a.-tenor<br>
 b.-falsetto<br>
 c.-alto<br>
 d.-baritone
<br><input size="1" name="q1h"></p>
<p>

<li><b>Which of the following statements about Mozart is not true?<br></b>
 a.-By the age of six he was an accomplished performer on three instruments<br>
 b.-He wrote his last three symphonies&#151;numbers 39, 40 and 41&#151;in just six weeks<br>
 c.-The Requiem Mass was his last completed work<br>
 d.-He died at the age of thirty-six
<br><input size="1" name="q1i"></p>
<p>

<li><b>Who wrote the short novel on which the story for Bizet's opera Carmen is based?<br></b>
 a.-Prosper Merimee<br>
 b.-Anatole France<br>
 c.-Pierre Choderlos de Laclos<br>
 d.-Victor Hugo
<br><input size="1" name="q1j"></p>
<p>

<b>Jazz & Blues</b></p>
<p> 
<li><b>Django Reinhardt is considered the greatest of all jazz guitarists. What was remarkable about his career?<br></b>
 a.-He was born deaf<br>
 b.-He didn't take up the guitar until he was in his thirties<br>
 c.-He lost the use of two fingers on his left hand when he was 18<br>
 d.-He was blind
<br><input size="1" name="q1k"></p>
<p>

<li><b>Blues guitarist, singer and songwriter B.B. King is a living legend. But what do the initials B.B. stand for?<br></b>
 a.-Blues Breaker<br>
 b.-Blues Boy<br>
 c.-Big Boy<br>
 d.-Baltimore Boy
<br><input size="1" name="q1l"></p>
<p>

<li><b>In 1988 Clint Eastwood made a movie about a musician and his life called "Bird". Who was the musician?<br></b>
 a.-Trumpeter Miles Davis<br>
 b.-Saxophonist Charlie Parker<br>
 c.-Double-bass player Charlie Mingus<br>
 d.-Pianist Thelonius Monk
<br><input size="1" name="q1m"></p>
<p>

<li><b>"Lady Sings the Blues" is the autobiography of which female jazz vocalist?<br></b>
 a.-Ella Fitzgerald<br>
 b.-Aretha Franklin<br>
 c.-Nina Simone<br>
 d.-Billie Holliday
<br><input size="1" name="q1n"></p>
<p>

<li><b>Which of the following is not a type of jazz music?<br></b>
 a.-Dixieland<br>
 b.-Bebop<br>
 c.-Free-form<br>
 d.-Formless
<br><input size="1" name="q1o"></p>
<p>

<b>Folk & World Music </b></p>
<p>
<li><b>The sitar was used by the Beatles. In it's own country it's a classical instrument. Where does the sitar come from?<br></b>
 a.-India<br>
 b.-China<br>
 c.-Nepal<br>
 d.-Afghanistan
<br><input size="1" name="q1p"></p>
<p>

<li><b>What is a hurdy-gurdy?<br></b>
 a.-A Bulgarian folk singer<br>
 b.-A type of harmonica<br>
 c.-A mechanised fiddle<br>
 d.-A large, tuneable drum
<br><input size="1" name="q1q"></p>
<p>

<li><b>With which folk music do you associate the uillean pipes?<br></b>
 a.-Breton<br>
 b.-Irish<br>
 c.-Basque<br>
 d.-Scottish
<br><input size="1" name="q1r"></p>
<p>

<li><b>What shape is the body of the Russian stringed instrument the balalaika?<br></b>
 a.-square<br>
 b.-round<br>
 c.-It's shaped like the body of a mandolin<br>
 d.-triangular
<br><input size="1" name="q1s"></p>
<p>

<li><b>Which African country does juju music come from?<br></b>
 a.-Nigeria<br>
 b.-Mali<br>
 c.-Burundi<br>
 d.-Malawi
<br><input size="1" name="q1t"></p>

</ol>

<p>

<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
