<script>
	v = {
		q1a:'1',
		q1b:'2',
		q1c:'1',
		q1d:'1',
		q1e:'3',
		q1f:'2',
		q1g:'1',
		q1h:'2',
		q1i:'2',
		q1j:'2',
		q1k:'1',
		q1l:'1',
		q1m:'2',
		q1n:'1',
		q1o:'1',
		q1p:'3',
		q1q:'1',
		q1r:'2',
		q1s:'1',
		q1t:'1',
		q2a:'ashamed',
		q2b:'dependent',
		q2c:'sorry',
		q2d:'typical',
		q2e:'worried',
		q2f:'interested',
		q2g:'aware',
		q2h:'different',
		q2i:'clever',
		q2j:'bored',
		q4a:'think',
		q4b:'fell',
		q4c:'forgotten',
		q4d:'thought',
		q4e:'felt',
		q4f:'seen',
		q4g:'taught'
	}
</script>


<div id="t0">
<b class="u3tit">On the Couch</b>
<p>
<b class="u3">Adjectives with dependent prepositions </b>
<br>

</div>
<p>
<form id="t1">
<b>1. Adjectives + prepositions.</b>
<p> 
<span id="m1">Someone is addicted to the Net, and they are dependent on it.</span>
<p> 
Complete these sentences by choosing the correct preposition for these adjectives.
<p>
<ol>
<li>Sam is afraid
<select name="q1a">
<option value="x">Choose Answer
<option value="1">of
<option value="2">from
<option value="3">bye
</select>
spiders. 

<p>
<li>Don't get angry
<select name="q1b">
<option value="x">Choose Answer
<option value="1">of
<option value="2">with
<option value="3">to
</select>  
me! 

<p>
<li>Ellen was very kind
<select name="q1c">
<option value="x">Choose Answer
<option value="1">to 
<option value="2">with
<option value="3">of
</select>  
me when I was ill. 

<p>
<li>Jim is clever
<select name="q1d">
<option value="x">Choose Answer
<option value="1">at
<option value="2">with
<option value="3">of
</select>  
making things out of metal. 

<p>
<li>Are you interested
<select name="q1e">
<option value="x">Choose Answer
<option value="1">of
<option value="2">from
<option value="3">in
</select>  
politics? 

<p>
<li>Remember to be polite
<select name="q1f">
<option value="x">Choose Answer
<option value="1">with
<option value="2">to
<option value="3">for
</select>  
your aunt. 

<p>
<li>The taxi driver wasn't very pleased
<select name="q1g">
<option value="x">Choose Answer
<option value="1">with
<option value="2">from
<option value="3">of
</select>  
the tip I gave him. 

<p>
<li>The neighbors are angry
<select name="q1h">
<option value="x">Choose Answer
<option value="1">with
<option value="2">about 
<option value="3">from
</select>  
the noise of the TV. 

<p>
<li>She is terribly worried
<select name="q1i">
<option value="x">Choose Answer
<option value="1">from
<option value="2">about
<option value="3">for
</select>  
her driver's test. 

<p>
<li>The children are frightened
<select name="q1j">
<option value="x">Choose Answer
<option value="1">at
<option value="2">of
<option value="3">from
</select>  
the dark. 

<p>
<li>I don't like to be dependent
<select name="q1k">
<option value="x">Choose Answer
<option value="1">on
<option value="2">of
<option value="3">from
</select>  
anybody.

<p>
<li>This apartment is no different
<select name="q1l">
<option value="x">Choose Answer
<option value="1">from
<option value="2">of
<option value="3">to
</select>  
our old one. 

<p>
<li>If you are nice
<select name="q1m">
<option value="x">Choose Answer
<option value="1">with
<option value="2">to
<option value="3">for
</select>  
her, maybe she will let you watch TV. 

<p>
<li>I am very sorry
<select name="q1n">
<option value="x">Choose Answer
<option value="1">about
<option value="2">from
<option value="3">for
</select>  
your father's illness. 

<p>
<li>We aren't very surprised
<select name="q1o">
<option value="x">Choose Answer
<option value="1">at
<option value="2">by
<option value="3">from
</select>  
the news. 

<p>
<li>It is typical
<select name="q1p">
<option value="x">Choose Answer 
<option value="1">for
<option value="2">about
<option value="3">of
</select> 
Tim that he always disagrees with you. 

<p>
<li>She was jealous
<select name="q1q">
<option value="x">Choose Answer
<option value="1">of
<option value="2">from
<option value="3">for
</select>  
his wealth. 

<p>
<li>Aren't you bored
<select name="q1r">
<option value="x">Choose Answer
<option value="1">from
<option value="2">with
<option value="3">about
</select>  
watching TV all day? 

<p>
<li>On the beach I was ashamed
<select name="q1s">
<option value="x">Choose Answer
<option value="1">of
<option value="2">by
<option value="3">from
</select>  
my white skin. 

<p>
<li>He was aware
<select name="q1t">
<option value="x">Choose Answer
<option value="1">of
<option value="2">from
<option value="3">about
</select>
  a strange noise in the motor. 

<p>
</ol>
<center>
<button  class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Use adjectives from the previous exercise to complete these sentences.</b>
<p>
<ol>
<li>	She was <input size="10" name="q2a">  of her behavior so she apologized.<p>

<li>	She is <input size="10" name="q2b">  on her children for money to pay the rent.<p> 

<li>	I'm <input size="10" name="q2c">  about the mess: I'll clean it up tomorrow. <p>

<li>	Most teenagers eat junk food: it is <input size="10" name="q2d">  of them.<p>

<li>	Are you <input size="10" name="q2e">  about your teeth? Then you should see a dentist.<p>

<li>	I am more <input size="10" name="q2f">  in job satisfaction than in making money.<p>

<li>	Are you <input size="10" name="q2g">  of any reason that this job applicant is unsuitable?<p>

<li>	I'm sorry, but this computer is <input size="10" name="q2h">  from the one I ordered.<p>

<li>	Jane is so <input size="10" name="q2i">  at mathematics that she is at top of her class.<p>

<li>	I am getting a little <input size="10" name="q2j">  with this exercise. 

</ol>
<p>

<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
