<script>
	v = {
		q1a:'We don\'t have any bananas',
		q1b:'There isn\'t any news of the accident',
		q1c:'Don\'t you have any idea where she is',
		q1d:'There were no people in the street',
		q1e:'Will there be no food at the party',
		q1f:'Why aren\'t there any tickets left',
		q2a:'2',
		q2b:'1',
		q2c:'4',
		q2d:'2',
		q2e:'5',
		q2f:'4',
		q2g:'3',
		q2h:'2',
		q2i:'1',
		q2j:'3',
		q2k:'2',
		q2l:'1',
		q2m:'2',
		q2n:'3',
		q2o:'1',
		q2p:'2',
		q2q:'1',
		q2r:'4',
		q3a:'Nobody',
		q3b:'no',
		q3c:'not',
		q3d:'nothing',
		q3e:'none',
		q3f:'not',
		q3g:'not',
		q3h:'nor',
		q3i:'no'
	}	
</script>
<div id="t0">
<b class="u3tit">On the Couch</b>
<p>
<b class="u3">Negation: <i>not (any), no, nor, none</i></b>
<br>

</div>
<p>
<form id="t1">
<b>1. Negation: no/not any </b>
<p>
<span id="m1"><li>There was no reply = There wasn't any reply. 
<li>We have no main lines of inquiry = We haven't any main lines of inquiry. 
</span>
<p>
Rewrite these sentences with either any or no. 
<p>
<ol>
<li>We have no bananas.<br> 
<input size="40" name="q1a">.<p> 

<li>There is no news of the accident. <br>
<input size="40" name="q1b">.<p> 

<li>Have you no idea where she is? <br>
<input size="40" name="q1c">?<p> 

<li>There weren't any people in the street.<br> 
<input size="40" name="q1d">.<p> 

<li>Won't there be any food at the party? <br>
<input size="40" name="q1e">?<p> 

<li>Why are there no tickets left? <br>
<input size="40" name="q1f">? 

</ol>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
