
<script>
	v = {
		q1a:'take',
		q1b:'finish',
		q1c:'keep',
		q1d:'give',
		q1e:'make',
		q1f:'break',
		q1g:'fix',
		q1h:'grow',
		q1i:'set',
		q1j:'go',
		q2a:'d',
		q2b:'a',
		q2c:'c',
		q2d:'d',
		q2e:'b',
		q2f:'b',
		q2g:'a',
		q2h:'c',
		q2i:'a',
		q2j:'c',
		q3a:'make',
		q3b:'make up',
		q3c:'end up',
		q3d:'end',
		q3e:'grow',
		q3f:'grow up',
		q3g:'break',
		q3h:'break up',
		q3i:'stay up',
		q3j:'stay',
		q3k:'eat up',
		q3l:'eat',
		q3m:'keep',
		q3n:'keep up',
		q3o:'pay up',
		q3p:'pay'
	}
</script>
<div id="t0">
<b class="u3tit">The Gender Gap</b>
<p>
<b class="u3">Review of irregular past tense</b>
</div>


<form id="t1">
<b>1. Phrasal verbs with up. Complete the sentences with the verbs below.</b>
<ol class="text">
	<li class="space"> I didn't <input size=8 name="q1a"> up jogging till I was 40, so it's never too late.
	<li class="space"> Could you <input size=8 name="q1b">  up please, ladies and gentlemen? The bar will be closing in five minutes.
	<li class="space"> Fashions change so quickly that it's hard to <input size=8 name="q1c"> up with what's new.
	<li class="space"> His doctor told him to <input size=8 name="q1d"> up smoking immediately.
	<li class="space"> She's such a liar. Are you sure she didn't <input size=8 name="q1e"> up the whole story?
	<li class="space"> Have you heard? Sam and Robin have decided to <input size=8 name="q1f"> up! Sam's already found a new apartment.
	<li class="space"> They've bought an old Victorian house and they're going to <input size=8 name="q1g">  it up themselves.
	<li class="space">  A growing number of 30-40 year-olds are refusing to <input size=8 name="q1h"> up and act like other people their age.
	<li class="space"> They only <input size=8 name="q1i"> up the company ten years ago, but they already have fifty stores around the country.
	<li class="space"> The govermment predicts that prices will <input size=8 name="q1j"> up by 5 percent over the next six months.
</ol>
<table cellspacing=0 cellpadding=0 bgcolor=#ffbc90>
<tr class="box"><td>keep</td><td>break</td><td>fix</td><td>make</td><td>take</td></tr>
<tr class="box"><td>grow</td><td>finish</td><td>set</td><td>go </td><td>give</td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Some of the main meanings of <span id="m1">up</span></p><p></b>
<b>A - Move to a higher or vertical position</p><p></b>
The literal meaning of <span id="m1">up</span> when used as a preposition or adverb
<ul>
<li><span id="m1">We walked up the stairs because the elevator was out of order. </span> (preposition) 
<li><span id="m1">Stand up and let me see your new pants. </span> (adverb) 
</ul>
<b>B - Increase or improve</p><p></b>
When a phrasal verb indicates that something increases or improves, up is close to its literal meaning. 
<ul>
<li><span id="m1">Prices will go up 5% over the next six months. </span> 
</ul>
<b>C - Finish or complete</p><p></b>
In some phrasal verbs <span id="m1">up</span> means completely, or indicates that something is completed. 
<ul>
<li><span id="m1">I want to finish up this work before leaving. </span> 
</ul>
<b>D - Come into existence</p><p></b>
In some phrasal verbs <span id="m1">up</span> can indicate that something now exists that did not exist before. 
<ul>
<li><span id="m1">Something's come up at work, so I'll be late home tonight. </span> 
</ul>
Choose an option from the menu to show what <span id="m1">up</span> means. 
</p>
<p>
<ol>
They only set up the company ten years ago but they already have fifty stores.
<li><select name="q2a">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>  

<li>Sit up straight. You'll get backache if you sit like that.  
<select name="q2b">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>His doctor told him to give up smoking immediately.  
<select name="q2c">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>The meeting was relaxed until someone brought up the question of overtime pay.  
<select name="q2d">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>Would you mind turning the TV up? I can't hear the news.  
<select name="q2e">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>I'll have to brush up my French before I go to Paris.  
<select name="q2f">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>Could you bring the report up to my office when you've finished it?  
<select name="q2g">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>I used up all my change phoning the hotel. Do you have any change on you?  
<select name="q2h">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select></p><p>

<li>Come on, get up! It's nearly time to go!  
<select name="q2i">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select>
</p>
<p>
<li> I'm afraid we're full up, but there's another hotel just down the road. 
<select name="q2j">
<option value="x">Choose answer
<option value="a">a
<option value="b">b
<option value="c">c
<option value="d">d
</select> 
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Complete each pair of sentences with the pairs of verbs below. </b>
</p>
<p>
Example:
</p>
<p>
<li class="space">They didn't take up golf when she retired. 
<li>They take golf very seriously. 
</p>
<p>
1 a: You <input size=10 name="q3a"> your own furniture, don't you?<br>
   b: It took forever to<input size=10 name="q3b"> the classes I missed when I was sick.
</p>
<p>
2 a: We fell asleep on the train and were lucky not to <input size=10 name="q3c">. in Paris!<br><br>
   b: The Olympic Games always <input size=10 name="q3d"> on a Sunday.
</p>
<p>
3 a: Don't kids <input size=10 name="q3e"> quickly! Jane's nearly as tall as me now.<br>
   b: Stop crying and <input size=10 name="q3f"> a little! You're not a little boy anymore.
</p>
<p>
4 a: I don't have my keys! We'll have to <input size=10 name="q3g">.a window to get in.<br><br>
   b: Tell the passengers to get in the lifeboats. The ship will <input size=10 name="q3h">if we hit those rocks.
</p>
<p>
<table cellspacing=0 cellpadding=0 bgcolor=#ffbc90>
<tr><td>grow </td><td>make</td><td>break</td><td>end</td></tr>
<tr><td>grow up</td><td>make up</td><td>break up</td><td>end up</td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</p>
</form>
<form id="t4">

<p>

1a. I'm really tired&#151;I decided to <input size=10 name="q3i">late watching a movie last night.<p>
  b. It was such a terrible movie that I left the theater. I didn't <input size=10 name="q3j">to see the end.</p><p>
2a. Come on,<input size=10 name="q3k">. We have to catch a bus in ten minutes. </p> <p>
  b. Don't...<input size=10 name="q3l"> so fast, you'll get indigestion.</p><p>
3a. If you<input size=10 name="q3m"> improving like this you'll be ready to take the exam in December. 
4a. I finished the job over two months ago. So stop making excuses and <input size=10 name="q3o">.!<p>
  b. I'll <input size=10 name="q3p"> the check with my credit card and you can give me your part in cash.
</p>
<p>
  b. If you can't<input size=10 name="q3n"> with this class, maybe you should go down a level.</p><p>
4a. I finished the job over two months ago. So stop making excuses and<input size=10 name="q3o">.!</p>
<p>
  b. I'll<input size=10 name="q3p">the check with my credit card and you can give me your part in cash.
</p>

<table cellspacing=0 cellpadding=0 bgcolor=#ffbc90>
<tr><td>eat</td><td>stay</td><td>pay</td><td>keep</td></tr>
<tr><td>eat up</td><td>stay up</td><td>pay up</td><td>keep up</td></tr>
</table>



<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
