<script>
	v = {
		q1a:'1',
		q1b:'2',
		q1c:'1',
		q1d:'1',
		q1e:'2',
		q1f:'2',
		q1g:'1',
		q1h:'1',
		q2a:'0',
		q2b:'1',
		q2c:'1',
		q2d:'1',
		q2e:'1',
		q2f:'1',
		q2g:'1',
		q2h:'0',
		q2i:'1',
		q2j:'0',
		q2k:'1',
		q2l:'0',
		q2m:'0',
		q2n:'1',
		q2o:'0',
		q2p:'1',
		q2q:'1',
		q2r:'0',
		q2s:'0',
		q2t:'1',
		q3a:'Most politicians like their clothes to look unusual',
		q3b:'Most teenagers today prefer their clothes to look different than their parent\'s',
		q3c:'Many middle-aged people want their clothes to be comfortable',
		q3d:'Some people hate their jeans to be baggy',
		q3e:'Some people prefer their work clothes to be quite formal',
		q3f:'Most jeans manufacturers want their customers to be happy',
		q3g:'Youngsters hate their sweatshirts to have trendy logos',
		q3h:'Toddlers love their clothes to be stylish',
		q3i:'Many people like their jeans to look faded',
		q3j:'Elderly people love their jeans to be very tight'
	}
</script>



<div id="t0">
<b class="u3tit">Body Matters</b>
<p>
<b class="u3">Gerund and infinitive</b>
</div>
<p>
<form id="t1">
<b>1. Choose the correct form of the verb in each sentence by choosing from the drop down list.</b>
</p>
<p>
<ol>
<li> I can't bear  
<select name="q1a">
<option value="x">Choose Answer
<option value="1">shopping
<option value="2">to shop
</select>
for clothes.
</p>
<p> 

<li> Elderly people need  
<select name="q1b">
<option value="x">Choose Answer
<option value="1">wearing
<option value="2">to wear
</select>
comfortable clothes.
</p>
<p> 

<li> Do you enjoy  
<select name="q1c">
<option value="x">Choose Answer
<option value="1">going
<option value="2">to go
</select>
to parties? 
</p>
<p>

<li> Some people dislike  
<select name="q1d">
<option value="x">Choose Answer
<option value="1">dressing
<option value="2">to dress
</select>
casually.
</p>
<p> 

<li> Would you like  
<select name="q1e">
<option value="x">Choose Answer
<option value="1">wearing
<option value="2">to wear
</select>
my jacket?
</p>
<p> 

<li> I don't want  
<select name="q1f">
<option value="x">Choose Answer
<option value="1">being
<option value="2">to be
</select>
a fashion victim.
</p>
<p> 

<li> My sister loves  
<select name="q1g">
<option value="x">Choose Answer
<option value="1">wearing
<option value="2">to wear
</select>
secondhand clothes
</p>
<p> 

<li> Don't you hate  
<select name="q1h">
<option value="x">Choose Answer
<option value="1">putting on
<option value="2">to put on
</select>
wet clothes? 
</p>
<p>
</ol>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. Verbs of liking and disliking. Are the following sentences true or false? </b>
</p>
<p>
<ol>
<li>Most politicians like their clothes to look unusual.<br> 	 
	 <input type="radio" name="q2a" value=1 checked>true<input type="radio" name="q2a" value=0>false
</p>
	 <p>
 

<li> Teenagers today prefer their clothes to look different than their parent's.<br> 	 
	 <input type="radio" name="q2b" value=1 checked>true <input type="radio" name="q2b" value=0>false
</p>
	 <p> 
 

<li> Many middle-aged people today want their clothes to be comfortable.<br> 	 
	 <input type="radio" name="q2c" value=1 checked>true  <input type="radio" name="q2c" value=0>false
</p>
	 <p>
 

<li> Some people hate their jeans to be baggy while other people love them.<br>	 
	 <input type="radio" name="q2d" value=1 checked>true  <input type="radio" name="q2d" value=0>false
</p>
	 <p>
 

<li> Some people prefer their work clothes to be quite formal. <br>	 
	 <input type="radio" name="q2e" value=1 checked>true  <input type="radio" name="q2e" value=0>false
</p>
	 <p> 
 

<li> Most jeans manufacturers want their customers to be happy with their jeans. <br>	 
	 <input type="radio" name="q2f" value=1 checked>true  <input type="radio" name="q2f" value=0>false
</p>
	 <p>
 

<li> Youngsters hate their sweatshirts to have trendy logos. <br>	 
	 <input type="radio" name="q2g" value=1 checked>true  <input type="radio" name="q2g" value=0>false
</p>
	 <p>
 

<li> Toddlers love their clothes to be stylish.<br>	 
	 <input type="radio" name="q2h" value=1 checked>true  <input type="radio" name="q2h" value=0>false
</p>
	 <p>
 

<li> Many people like their jeans to look faded.<br>	 
	 <input type="radio" name="q2i" value=1 checked>true  <input type="radio" name="q2i" value=0>false
</p>
	 <p>
 

<li> Elderly people love their jeans to be very tight.<br>	 
	 <input type="radio" name="q2j" value=1 checked>true  <input type="radio" name="q2j" value=0>false
</p>
	 <p>
</ol>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p> 	 
</form>
<form id="t3">
<p>
<b>3. Look at these sentences from exercise 2.</b>
</p>
<p>
<span id="m1">
- Most politicians like their clothes to look unusual.<br> 
- Most teenagers today prefer their clothes to look different than their parent's.<br> 
- Many middle-aged people want their clothes to be comfortable.<br>
- Youngsters hate their sweatshirts to have trendy logos.<br>
- Toddlers love their clothes to be stylish.</span>
</p>
<p>
The verbs <span id="m1">like, love, prefer, want, hate</span> can all follow the pattern: 
</p>
<p>
subject + verb + object + infinitive + adjective/noun
</p>
<p>
<b>Use the words in the correct order to make the sentences <br>from exercise 2.</b>
</p>
<p> 
<ol>
<li>politicians their unusual like clothes Most to look.
<input size="72" name="q3a">.
</p>
<p>
<li>look prefer teenagers their than different their clothes to parent's Most today.
  <input size="72" name="q3b">.
</p>
  <p>
<li>Many middle-aged comfortable clothes want to people their be.
<input size="72" name="q3c">.
</p>
<p>
<li>Some to their hate jeans baggy people be.
<input size="72" name="q3d">.
</p>
<p>
<li>prefer Some their people be clothes to formal work quite.
<input size="72" name="q3e">.
</p>
<p>
<li>jeans their Most want to customers happy be manufacturers.
<input size="72" name="q3f">.
</p>
<p>
<li>their have sweatshirts logos hate to trendy Youngsters.	
  <input size="72" name="q3g">.
</p>
  <p>
<li>their clothes stylish to love be Toddlers.
<input size="72" name="q3h">.
</p>
<p>
<li>Many to their like jeans look faded people
<input size="72" name="q3i">.
</p>
<p>
<li>jeans Elderly their people tight be very to love.
<input size="72" name="q3j">.
</p>
</li>

<center>
<button class="eval" data-target="t3">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
