<script>
	v = {

		q1a:'5',
		q2a:'5',
		q3a:'has been playing golf for two hours',
		q3b:'have been playing music for four hours',
		q3c:'have been working here for six months',
		q3d:'has been studying Chinese for two years',
		q3e:'has been doing his homework for three hours',
		q3f:'have been living together for fifteen years',
		q3g:'have been watching TV for four hours',
		q3h:'have been reading this book for five weeks',
		q4a:'has',
		q4b:'been',
		q4c:'How long have',
		q4d:'been playing',
		q4e:'How long have',
		q4f:'been',
		q4g:'How long has',
		q4h:'been studying',
		q4i:'How long has',
		q4j:'been doing',
		q4k:'How long have',
		q4l:'been living',
		q4m:'How long have',
		q4n:'been watching',
		q4o:'How long have you been reading'

	}
</script>


<div id="t0">
<b class="u3tit">Best Days of Your Life</b>
<p>
<b class="u3">
Present Perfect Continuous + <i>for</i></b>
</p>
</div>
<p>
<form id="t1">
<b>1. Look at this story and decide which is the best sentence to complete the speech bubble.</b>
</p>
<p>
<center>
<img src="img/u5a.jpg"><br>
<select name="q1a">
<option value="x">Choose Correct
<option value="1">How long do you wait?
<option value="2">How long are you waiting?
<option value="3">How long did you wait?
<option value="4">How long were you waiting?
<option value="5">How long have you been waiting?
<option value="6">How long have you waited?
</select>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<p>
<b>2. What is the woman's answer?</b>
</p>
<p>
<center>
<img src="img/u5b.jpg"><br>
<select name="q2a">
<option value="x">Choose Correct
<option value="1">I wait for half an hour.
<option value="2">I am waiting for half an hour.
<option value="3">I waited for half an hour.
<option value="4">I was waiting for half an hour.
<option value="5">I have been waiting for half an hour
<option value="6">I have waited for half an hour.
</select>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>
<form id="t3">
<p>
<b>3. Write sentences for these situations.</b>
</p>
<p>
<span id="m1">e.g., Jack started working at 9:00. It is now 12:00.<br>	 
 	Jack has been working for three hours.</span></p>
<p>
<ol>	 
<li>Helen started playing golf at 5:00. She is still playing golf. It is 7:00.	 
 
<nobr>Helen <input size=95 name="q3a"> .</nobr></p>    
<p>
<li>Alan and Joe started playing music four hours ago. They are still playing.	 
 
<nobr>They <input size=95 name="q3b"> .</nobr></p>    

<p>
<li>I started working here six months ago. I am still working here.	 
 
<nobr>I  <input size=95 name="q3c">
.</nobr> </p>    

<p>
<li>Jackie started studying Chinese two years ago. She is still studying Chinese.	  
 
<nobr>Jackie <input size=95 name="q3d">
</nobr>. </p>      

<p>
<li>Ed started doing his homework at 8:00. It is now 11:00. He is still doing his homework. 	  
 
<nobr>Ed <input size=95 name="q3e">
</nobr>. </p>       

<p>
<li>We started living together fifteen years ago. We are still living together.	 
 
<nobr>We <input size=95 name="q3f">
</nobr>. </p>      

<p>
<li>You started watching TV at 6:00. It is now 10:00. You are still watching TV.	 
 
<nobr>You  <input size=95 name="q3g">
</nobr>. </p>    

<p>
<li>I started reading this book five weeks ago. I am still reading it.	 
 
<nobr>I  <input size=95 name="q3h">
</nobr>.
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t3">Check answers</button>
</center> 
</p>
</form>
<form id="t4">
<p>
<b>4. Here are the time periods for the sentences in the last exercise. Can you write the questions?</b>
</p>
<p>
<span id="m1">e.g.,	For three hours.<br> 
	How long has Jack been working? </span>
	</p>
<p>
<ol>
<li>For two hours.
 
How long <input size=25 name="q4a">  Helen <input size=25 name="q4b">  playing golf?

<li>For four hours.<br> 
 
<input size=25 name="q4c">  Alan and Joe <input size=25 name="q4d">  music?

<li>For six months.<br>
 
<input size=25 name="q4e">  you <input size=25 name="q4f">  working here?

<li>For two years.<br> 
 
<input size=25 name="q4g">  Jackie <input size=25 name="q4h">   Chinese.

<li>For three hours.<br> 
 
<input size=25 name="q4i">  Ed <input size=25 name="q4j">    homework?

<li>For fifteen years.<br> 
 
<input size=25 name="q4k">  you<input size=25 name="q4l">   together?

<li>For four hours.<br> 
 
<input size=25 name="q4m"> we <input size=25 name="q4n">   TV?

<li>For five weeks.<br> 
 
<input size=50 name="q4o">  
this book?

</ol>
</p>

<center>
<button class="eval" data-target="t4">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
