<script>
	v = {
		q1a:'1',
		q1b:'1',
		q2a:'the',
		q2b:'train',
		q2c:'was',
		q2d:'very',
		q2e:'slow',
		q2f:'she',
		q2g:'had',
		q2h:'come',
		q2i:'a',
		q2j:'long',
		q2k:'way',
		q2l:'she',
		q2m:'was',
		q2n:'going',
		q2o:'to',
		q2p:'Turkey',
		q2q:'she',
		q2r:'had',
		q2s:'arrived',
		q2t:'in',
		q2v:'Turkey',
		q2w:'nobody',
		q2x:'had',
		q2y:'checked',
		q2z:'her',
		q2za:'passport',
		q2zb:'everybody',
		q2zc:'spoke',
		q2zd:'English',
		q2ze:'nobody',
		q2zf:'had',
		q2zg:'heard',
		q2zh:'of',
		q2zi:'the',
		q2zj:'hotel',
		q2zk:'she',
		q2zl:'was',
		q2zm:'lost',
		q2zn:'she',
		q2zo:'had',
		q2zp:'got',
		q2zq:'on',
		q2zr:'the',
		q2zs:'wrong',
		q2zt:'train',
		q2zv:'she',
		q2zw:'had',
		q2zx:'missed',
		q2zy:'the',
		q2zz:'flight',
		q3a:'3g',
		q4a:'think',
		q4b:'fell',
		q4c:'forgotten',
		q4d:'thought',
		q4e:'felt',
		q4f:'seen',
		q4g:'taught'

	}
</script>


<div id="t0">
<b class="u3tit">Crime Doesn't Pay</b> 
<p>
<b class="u3">Reporting thoughts</b>
<br>
</p>
</div>
<p>
<form id="t1">
1. Without looking at the text, decide which sentence is better.</p>
<p>
<ol>
<li>	 
<input type="radio" name="q1a" value=1 checked>When she got to Torquay, she thought she was in Turkey.<br>
 	 
<input type="radio" name="q1a" value=0>When she got to Torquay, she thought she had been in Turkey.</p>
 <p>

<li>	 
<input type="radio" name="q1b" value=1 checked>She thought she traveled through the Channel Tunnel.<br>
 	 
<input type="radio" name="q1b" value=0>She thought she had traveled through the Channel Tunnel.
</ol>
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">
<P>
2. Change these actual thoughts into reported thoughts.</p>
<p>
<ol>
<li>"The train is very slow."<br>She thought <sub>t</sub><input size="5" name="q2a">
<sub>t</sub><input size="5" name="q2b">
<sub>w</sub><input size="5" name="q2c">
<sub>v</sub><input size="5" name="q2d">
<sub>s</sub><input size="5" name="q2e">.</p>
<p>

<li>"I have come a long way." <br>She thought <sub>s</sub><input size="5" name="q2f">
<sub>h</sub><input size="5" name="q2g">
<sub>c</sub><input size="5" name="q2h">
<sub>a</sub><input size="5" name="q2i">
<sub>l</sub><input size="5" name="q2j">
<sub>w</sub><input size="5" name="q2k">.</p>
<p>
<li>"I am going to Turkey." <br>She thought <sub>s</sub><input size="5" name="q2l">
<sub>w</sub><input size="5" name="q2m">
<sub>g</sub><input size="5" name="q2n">
<sub>t</sub><input size="5" name="q2o">
<sub>T</sub><input size="5" name="q2p">.</p>
<p>

<li>"I have arrived in Turkey." <br>She thought <sub>s</sub><input size="5" name="q2q">
<sub>h</sub><input size="5" name="q2r">
<sub>a</sub><input size="5" name="q2s">
<sub>i</sub><input size="5" name="q2t">
<sub>T</sub><input size="5" name="q2v">.</p>
<p>

<li>"Nobody has checked my passport." <br>She was surprised <sub>n</sub><input size="5" name="q2w">
<sub>h</sub><input size="5" name="q2x">
<sub>c</sub><input size="5" name="q2y">
<sub>h</sub><input size="5" name="q2z">
<sub>p</sub><input size="5" name="q2za">.</p>
<p>

<li>"Everybody speaks English."<br> She was surprised <sub>e</sub><input size="5" name="q2zb">
<sub>s</sub><input size="5" name="q2zc">
<sub>E</sub><input size="5" name="q2zd">.</p>
<p>

<li>"Nobody has heard of the hotel." <br>She was surprised <sub>n</sub><input size="5" name="q2ze">
<sub>h</sub><input size="5" name="q2zf">
<sub>h</sub><input size="5" name="q2zg">
<sub>o</sub><input size="5" name="q2zh">
<sub>t</sub><input size="5" name="q2zi">
<sub>h</sub><input size="5" name="q2zj">.</p>
<p>

<li>"I am lost."<br>She realized <sub>s</sub><input size="5" name="q2zk">
<sub>w</sub><input size="5" name="q2zl">
<sub>l</sub><input size="5" name="q2zm">.</p>
<p>

<li>"I got on the wrong train."<br>She realized <sub>s</sub><input size="5" name="q2zn">
<sub>h</sub><input size="5" name="q2zo">
<sub>g</sub><input size="5" name="q2zp">
<sub>o</sub><input size="5" name="q2zq">
<sub>t</sub><input size="5" name="q2zr">
<sub>w</sub><input size="5" name="q2zs">
<sub>t</sub><input size="5" name="q2zt">.</p>
<p>

<li>"I missed the flight to Turkey." <br>She realized <sub>s</sub><input size="5" name="q2zv">
<sub>h</sub><input size="5" name="q2zw">
<sub>m</sub><input size="5" name="q2zx">
<sub>t</sub><input size="5" name="q2zy">
<sub>f</sub><input size="5" name="q2zz">
<sub>t</sub><input size="5" name="q2zza">
<sub>T</sub><input size="5" name="q2zzb">. </p>
<p>

<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
