<script>
	v = {
		q1a:'f',
		q1b:'b',
		q1c:'i',
		q1d:'e',
		q1e:'a',
		q1f:'g',
		q1g:'c',
		q1h:'h',
		q1i:'d',
		q4a:'There you are',
		q4b:'I had trouble finding a taxi',
		q4c:'It took me half an hour to find one',
		q4d:'How long have you been waiting',
		q4e:'I\'m really sorry',
		q4f:'I\'ve been watching TV'
	}
</script>


<div id="t0">
<b class="u3tit">In the Hot Seat</b>
<p>
<b class="u3">Apologizing and making excuses</b>
</div>

<form id="t1">
<p>
<b>1.Put this conversation in order.</b></p>
<p>
<table cellpadding=5 cellspacing=5>
<tr><td>a. Terrible. It took me over an hour to get here.</td><td>1.<input size="4" name="q1a"></td></tr>
<tr><td>b. At last!</td><td>2.<input size="4" name="q1b"></td></tr>
<tr><td>c. Half an hour.</td><td>3.<input size="4" name="q1c"></td></tr>
<tr><td>d. That's  OK. I've been reading the newspapers.</td><td>4.<input size="4" name="q1d"></td></tr>
<tr><td>e. Yes , it's bad at this time of day.</td><td>5.<input size="4" name="q1e"></td></tr>
<tr><td>f. Hi!</td><td>6.<input size="4" name="q1f"></td></tr>
<tr><td>g. Have you been waiting long?</td><td>7.<input size="4" name="q1g"></td></tr>
<tr><td>h. I'm really sorry.</td><td>8.<input size="4" name="q1h"></td></tr>
<tr><td>i. I'm sorry I'm late. I was stuck in the traffic.</td><td>9.<input size="4" name="q1i"></td></tr>
</table>
</p>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</p>
</form>
<form id="t2">

<p>
<b>2. Here are some more expressions. Use them to complete this conversation.</b></p>
<p>
<li>It took me half an hour to find one<br>
<li>I&rsquo;m really sorry<br>
<li>I had trouble finding a taxi<br>
<li>How long have you been waiting<br>
<li>There you are<br>
<li>I've been watching TV<br></p>
<p>
A: Hi!<br>
B: <input size=25 name="q4a">!<br>
A: I'm sorry. I'm late. <input size=25 name="q4b">
.<br>
B: Was it difficult?<br>
A: Terrible. <input size=25c name="q4c">
.<br>
B: Yes, it's always  a problem when it rains.<br>
A: <input size=25 name="q4d">?<br>
B: Fifteen minutes.<br>
A: <input size=25 name="q4e">
.<br>
B: That's OK <input size=25 name="q4f">
</p>


<p>
<center>
<button class="eval" data-target="t2">Check answers</button>
</center>
</p>
</form>

<div id="z1">
</div>



<div id="z4">
</div>


 
