<script>
	v = {
		q2a:'1',
		q2b:'2',
		q2c:'1',
		q2d:'2',
		q2e:'2',
		q2f:'2',
		q2g:'1',
		q2h:'1',
		q3a:'2'
	}

</script>

<form id="t0">
<img src="img/u10.jpg" class="logo4">
<p>
<b class="u4tit">A man and his name </b>
<br>
</form>
<form id="t1">
<div class="co1">
<b>1. Read this newspaper article. You can check the meaning of highlighted words by clicking on.</b>
<p>
<center>
<table cellpadding=3 cellspacing=2 width=400 bgcolor=#ffbc90>
<tr><td>
<b>Only a name...</b>
<p>
I am Andrew Marshall. I say this several times a day to reassure myself. There is a distressingly large number of Andrew Marshalls in the world, you see, and quite a few are writers and journalists. There is another one who works for <i>The Independent</i>, writing features (though of course he doesn't think of himself as the other one. He thinks of himself as The One, and me as the other one). Another one writes from Bangkok. A third is the Reuters correspondent in Frankfurt.
</td><td>
There's a famous one who writes comedies, and an influential American one who is a Pentagon bigwig and strategic thinker.
<br>
A few weeks ago, I was going through immigration control in the U.S., and became uneasily aware that there was more than the usual interest in my passport. At last, the eagle-eyed immigration official produced the stamps and did the business. But he told me that there is another, naughty Andrew Marshall who would be in deep trouble if he should try to re-enter America. Andrew Marshalls of the world, beware.
</td></tr>
<tr><td colspan=2>The Independent on Sunday  April 19, 1998 </td></tr>
</table>
</center>
<p>
</div>
<b>
2. Checking understanding. Decide whether these statements are true or false.</b> 
<p>
<ol>
<li>  The writer is a little worried because a lot of other people have the same name as him.
<br>
<select name="q2a">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>   
<li>  The writer gives examples of five other people with the same name as him.    
<br>
<select name="q2b">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>      
<li>  Four of the other Andrew Marshalls are writers.    
<br>
<select name="q2c">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>       
<li>  The famous Andrew Marshall is a politician.    
<br>
<select name="q2d">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>      
<li>  A few weeks ago the writer was leaving the U.S.    
<br>
<select name="q2e">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>        
<li>  The writer couldn't enter the U.S. because of a problem with his passport.    
<br>
<select name="q2f">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>        
<li>  The last Andrew Marshall mentioned can't enter the U.S.    
<br>
<select name="q2g">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>      
<li>  The writer finishes his article with a warning.    
<br>
<select name="q2h">
<option value="x">Choose Answer    
<option value="1">true  
<option value="2">false
</select>
<p>      
</ol>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>
<b>3. Writer's attitude. There is more than one person called Andrew Marshall. What is the writer's attitude to this? </b>
<p>
<input type="radio" name="q3a" value=1 checked>  genuinely worried <br> 
<input type="radio" name="q3a" value=2>  amused  <br>
<input type="radio" name="q3a" value=3>  amazed  <br>
<input type="radio" name="q3a" value=4>  confused  <br>
<p>

<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


 
