<script>
	v = {
		q1a:'3',
		q1b:'4',
		q1c:'2',
		q1d:'7',
		q1e:'5',
		q1f:'6',
		q1g:'8',
		q1h:'1',
		q1i:'2',
		q1j:'1',
		q1k:'4',
		q1l:'3',
		q2a:'2',
		q3a:'2',
		q3b:'1',
		q3c:'3',
		q3d:'2',
		q3e:'1',
		q3f:'2',
		q3g:'3',
		q3h:'2',
		q4a:'help',
		q4b:'some',
		q4c:'stuff',
		q4d:'sink',
		q4e:'unclog',
		q4f:'try',
		q4g:'thing',
		q4h:'handle',
		q4i:'those',
		q4j:'something',
		q4k:'leave', 
		q4l:'object',
		q4m:'looks',
		q4n:'tool'
	}
</script>
<form id="t0">
<img src="img/u10.jpg"class="logo4">
<p>
<b class="u4tit">Vague language</b>
<br>
</form>
<p>
<form id="t1">
<b>1. Order these conversations, by numbering the sentences.
<p>
1) In a hardware store</b>
<p>
<ul>
<li><input size=1 maxlength=1 name="q1a"> Sorry? I don't understand.
<li><input size=1 maxlength=1 name="q1b"> You know, that liquid you pour in the sink to unclog the drain.
<li><input size=1 maxlength=1 name="q1c"> Yes. I'd like some of that stuff for unclogging the sink.
<li><input size=1 maxlength=1 name="q1d"> A plunger. This rubber thing with a handle. It's cheaper than Mr. Muscle.
<li><input size=1 maxlength=1 name="q1e"> Oh, you mean Mr. Muscle. Why don't you try it with a plunger first?
<li><input size=1 maxlength=1 name="q1f"> A what?
<li><input size=1 maxlength=1 name="q1g"> Oh, that's what those are for. I think my friend has one of those. Thanks anyway.
<li><input size=1 maxlength=1 name="q1h"> Can I help you?
</ul>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>
<b>2) Later, at home</b>
<p>
<ul>
<li><input size=1 maxlength=1 name="q1i"> I don't know, a strange object, It looks like a kind of tool.
<li><input size=1 maxlength=1 name="q1j"> Oh yeah? What did he leave?
<li><input size=1 maxlength=1 name="q1k"> Right. That was Frank, and it's not a tool. It's just one of those things for unclogging the sink.
<li><input size=1 maxlength=1 name="q1l"> There was a man here a minute ago. He left something for you on the table.
</ul>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">

<b>2. What is a "plunger"? Click on the correct picture. </b>
<p>
<center>
<table cellpadding=0 cellspacing=3 width=350>
<tr><td colspan=3><img src="img/u10c3.jpg"></td></tr>    
<tr><td>this one <input type="radio" name="q2a" value=1 checked></td><td>   this one <input type="radio" name="q2a" value=2></td><td>   this one <input type="radio" name="q2a" value=3></td></tr>   
</table>
</center>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>
<form id="t4">
<p>

<b>3. Choose the word that could replace the words in (parentheses):</b>
<p>
<ol>
<li> Do you have any of that blue (adhesive material) for putting photos on the wall? 
<p>
<p>        <input type="radio" name="q3a" value=1 checked>things  <input type="radio" name="q3a"value=2>stuff  <input type="radio" name="q3a" value=3>something  
<p>
<li>  My bag is full of (different small objects) that I don't really need. 
<p>        <input type="radio" name="q3b" value=1 checked>junk <input type="radio" name="q3b" value=2>material  <input type="radio" name="q3b" value=3>objects  
<p>
<li> I need to buy one of those yellow (I don't know what they are called) for wiping the table. 
<p>        <input type="radio" name="q3c" value=1 checked>bits and pieces  <input type="radio" name="q3c" value=2>tools  <input type="radio" name="q3c" value=3>things  
<p>
<li>  Do you have one of those (I don't know what they are called) for turning over eggs in the frying pan? 
<p>        <input type="radio" name="q3d" value=1 checked>tools  <input type="radio" name="q3d" value=2>utensils  <input type="radio" name="q3d" value=3>devices  
<p>
<li>  Look in the top drawer. There are lots of (small useful objects) you might be able to use.  
<p>        <input type="radio" name="q3e" value=1 checked>gadgets  <input type="radio" name="q3e" value=2>stuff  <input type="radio" name="q3e" value=3>objects  
<p>
<li> Do you have (an object) for hanging pictures on the wall? 
<p>        <input type="radio" name="q3f" value=1 checked>stuff  <input type="radio" name="q3f" value=2>something  <input type="radio" name="q3f" value=3>thing  
<p>
<li>  Look at this useful (object) I bought yesterday. It's for opening bottles of wine. 
<p>        <input type="radio" name="q3g" value=1 checked>tool  <input type="radio" name="q3g" value=2>utensil  <input type="radio" name="q3g" value=3>device  
<p>
<li>  He has a plastic (material) to wear when he is riding his bicycle in the rain. 
<p>        <input type="radio" name="q3h" value=1 checked>device  <input type="radio" name="q3h" value=2>thing  <input type="radio" name="q3h" value=3>stuff  
<p>
</ol>
<center>
<button class="eval"data-target="t4">Check answers</button>
</center> 
</form>
<form id="t5">
<p>
<b>4. How much can you remember? Select and drag these words to complete the dialogs.</b>
<p>

<b> In a hardware store</b>
<p>
<br>Salesperson: Can I <sub>1</sub><input size=6 name="q4a"> you?
<br>Joe: Yes. I'd like  <sub>2</sub><input size=6 name="q4b">  of that  <sub>3</sub><input size=6 name="q4c">  for unclogging the  <sub>4</sub><input size=6 name="q4d"> .
<br>Salesperson: Sorry? I don't understand.
<br>Joe: You know, that liquid you pour in the sink to  <sub>t5</sub><input size=6 name="q4e">  the drain.
<br>Salesperson: Oh you mean Mr. Muscle. Why don't you  <sub>6</sub><input size=6 name="q4f">  it with a plunger first?
<br>Joe: A what?
<br>Salesperson: A plunger. This rubber  <sub>7</sub><input size=6 name="q4g">  with a  <sub>8</sub><input size=6 name="q4h">. It's cheaper than Mr. Muscle.
<br>Joe: Oh, that's what  <sub>9</sub><input size=6 name="q4i">  are for. I think my friend has one of those. Thanks anyway.
<p>
<center>
<table width=500 bgcolor=#ff90a0>
<tr><td>those</td><td> some</td><td>unclog</td></tr>
<tr><td>help</td><td>thing</td><td>sink</td></tr>
<tr><td>handle</td><td>stuff</td><td>try</td></tr>
</table>
</center>
<p>
<b>... later, at home</b>
<p>
<br>Janet: There was a man here a minute ago. He left <sub>10</sub><input size=6 name="q4j"> for you on the table
<br>Joe: Oh yeah? What did he  <sub>11</sub><input size=6 name="q4k"> ?
<br>Janet: I don't know, a strange  <sub>12</sub><input size=6 name="q4l">. It  <sub>13</sub><input size=6 name="q4m">  like a kind of  <sub>14</sub><input size=6 name="q4n"> .
<p>
<center>
<table width=550 bgcolor=#ff90a0>
<tr><td>things</td><td>got</td><td>looks</td></tr>
<tr><td>something</td><td>leave</td><td>tool</td></tr>
<tr><td>object</td><td></td><td></td></tr>
</table>
</center>
<p>
<center>
<button class="eval"data-target="t5">Check answers</button>
</center> 
</form>

</div>

<div id="z1">
</div>

<div id="z1a">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>


 
