<script>
	v = {
		q2a:'2',
		q2b:'2',
		q3a:'2',
		q3b:'1',
		q3c:'4',
		q3d:'3',
		q4a:'2',
		q4b:'2',
		q4c:'1',
		q4d:'1'
	}
</script>

<form id="t0">
<img src="img/u11.jpg"class="logo4">
<p>
<b class="u4tit">Feng shui  </b>

<br>
</form>
<form id="t1">
<b>1. You are going to read a magazine article about "Feng Shui". Here is the first part of the article. </b>
<p>
<center>
<table cellpadding=3 cellspacing=2 width=600 bgcolor=#ffbc90>
<tr><td>
<b>Making a House into a Home
<p>
This month's House and Home looks at Feng Shui, the 3000 year-old Chinese art of living harmoniously in our homes. </b>
<p>
Have you ever gone into a neighbor's house and felt immediately "at home"? 
Or you walk into an office or building and feel uncomfortable, but you don't know why. 
You could be experiencing the effects of Feng Shui.
<p>
The Chinese believe all things contain energy. Feng Shui, meaning "wind and water", is the art of organizing buildings 
to use this energy positively. It can have an effect on our homes, relationships and work, too. 
Use our guide to improve your home&#151;and life! 
<p>
</td></tr></table>
</center>
<p>
<b>2. Choose the best answer to the questions below. </b>
<p>
<ol>
<li>  What is Feng Shui?    
<p><input type="radio" name="q2a" value=1 checked> a technique to help you feel comfortable in buildings and offices. 
 <br><input type="radio" name="q2a" value=2> the art of organizing well the places we live and work in.
<p>   
<li>  How does Feng Shui work?    
<p><input type="radio" name="q2b" value=1 checked> by using air and water in a special way. 
<br><input type="radio" name="q2b" value=2> by using correctly the natural energy in all objects and places. 
<p>
</ol>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>
<b>3. Now look at the rest of the article. Choose the title for each section of the article. </b>
<p>

<ol>
<li>  
<select name="q3a">
<option value="x">Choose Title 
<option value="1">Bedroom 
<option value="2">Kitchen 
<option value="3">Bathroom 
<option value="4">Living room  
</select> 
<br>
 This room contains two conflicting elements&#151;fire and water. Because of this, the stove and the sink shouldn't be close together. 
Don't put the stove in a corner or in front of a large window. Ideally, the stove also won't be across from the door. 
The room should be rectangular or square&#151;irregular shapes have a negative effect on the flow of energy. 
A spacious room with good light is perfect.  
<p>

  
 <li>  
<select name="q3b">
<option value="x">Choose Title 
<option value="1">Bedroom 
<option value="2">Kitchen 
<option value="3">Bathroom 
<option value="4">Living room  
</select> 
<br> 
 Don't put objects that reflect across from the bed&#151;this includes mirrors and televisions. 
The bed shouldn't face the door&#151;put it diagonally opposite. 
If you live in a house on two floors this room shouldn't be above the garage or the kitchen. 
Don't put any plants here. Don't put the bed next to a window or your spirit might leave the house while you're asleep!  
<p>
 
 <li>  
<select name="q3c">
<option value="x">Choose Title 
<option value="1">Bedroom 
<option value="2">Kitchen 
<option value="3">Bathroom 
<option value="4">Living room  
</select> 
<br> 
 This room is important because it is where we entertain guests and friends. 
Lots of light, space and natural colors are best. Don't fill it with too much furniture. 
Don't put the room near the main door of the house or under the staircase. 
Tables should be oval&#151;nothing square with sharp edges and again, as with the bedroom, no mirrors!  
<p>

<li>  
<select name="q3d">
<option value="x">Choose Title 
<option value="1">Bedroom 
<option value="2">Kitchen 
<option value="3">Bathroom 
<option value="4">Living room  
</select> 
<br> 
 The most important consideration here is the room's location in the house. 
If possible, go for a bathroom that doesn't face the front door of your house. 
With houses on two floors it's better not to have this room above the main entrance to the house. 
If mirrors are bad in the bedroom they certainly aren't here it's the perfect place for them.  
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<p>
</ol>
<form id="t3">
<b>4. Look at the diagrams below. 
Read each of the four sections of the text again and choose the diagram that best represents the ideas in the text.</b>

<p>
<center>
<table cellpadding=2 cellspacing=2 width=600>
<tr><td></td><td colspan=2><img src="img/u11a1.jpg"></td></tr>
<tr><td><b>1. kitchen</b></td><td><b>A</b><input type="radio" name="q4a" value=1 checked></td><td><b>B</b><input type="radio" name="q4a" value=2></td></tr>
<tr><td></td><td colspan=2><img src="img/u11a2.jpg"></td></tr>
<tr><td><b>2. bedroom</b></td><td><b>A</b><input type="radio" name="q4b" value=1 checked></td><td><b>B</b><input type="radio" name="q4b" value=2></td></tr>
<tr><td></td><td colspan=2><img src="img/u11a3.jpg"></td></tr>
<tr><td><b>3. living room</b></td><td><b>A</b><input type="radio" name="q4c" value=1 checked></td><td><b>B</b><input type="radio" name="q4c" value=2></td></tr>
<tr><td rowspan=2><b>4. bathroom</b></td><td colspan=2><b>A</b> <input type="radio" name="q4d" value=1 checked> <img src="img/u11a4.jpg"></td></tr>
<tr><td colspan=2><b>B</b> <input type="radio" name="q4d" value=2> <img src="img/u11a5.jpg"></td></tr>

</table>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>
<p>



</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
