<script>
	v = {

		q1a:'1',
		q1b:'2',
		q1c:'1',
		q1d:'1',
		q1e:'1',
		q1f:'2',
		q1g:'1',
		q1h:'1',
		q1i:'1',
		q1j:'1',
		q2a:'In Mali houses are made of mud',
		q2b:'Igloos sometimes have chimneys',
		q2c:'Houses in Thailand are build on stilts',
		q2d:'Houses on Mediterranean islands are painted with lime',
		q3a:'4',
		q3b:'5',
		q3c:'2',
		q3d:'3',
		q3e:'1',
		q4a:'2',
		q4b:'3',
		q4c:'2',
		q4d:'3',
		q4e:'3',
		q4f:'2',
		q4g:'2',
		q4h:'3'



	}
</script>

<form id="t0">
<img src="img/u11.jpg"class="logo4">
<p>
<b class="u4tit">Houses in different parts of the world   </b>
<p>
</form>

<form id="t1">
<b>1. Here are some facts about houses in different countries. Are they true or false?</b>
<p>
<ol>
<li>  You can't wear shoes in a Japanese house.   
<br>
<select name="q1a">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li>  Australian aborigines used to live in mud houses.   
<br>
<select name="q1b">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li>  In traditional villages in New Guinea men and women sleep in separate houses.    
<br>
<select name="q1c">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li>  Indians in North America lived in circular tents made from animal skins and branches.   
   <br>
<select name="q1d">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li> In Barcelona, in Spain, people normally live in apartmets with balconies overlooking the street.   
   <br>
<select name="q1e">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>   
<li> Most people in New York live in high-rise buildings.   
   <br>
<select name="q1f">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li> In Scotland, old cottages sometimes have thatched roofs.   
   <br>
<select name="q1g">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>  
<li> In the north of Australia houses are often made of wood and have verandas around them.   
 <br>
<select name="q1h">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> Houses in London often have two or three floors.   
 <br>
<select name="q1i">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> In Egypt, people who have been to Mecca often paint a picture of the journey on the front of their house.   
 <br>
<select name="q1j">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p>
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button> 
</center> 
</form>
<form id="t2">
<p>
<b>2. Put the words in order to make more facts about houses in different countries. </b>
<p>
<ol>
<li>mud Mali are In of made houses.
<br><input size=35 name="q2a">.<p>
<li>chimneys Igloos have sometimes.
<br><input size=35 name="q2b">.<p>
<li>built Houses are in Thailand stilts on.
<br><input size=35 name="q2c">.<p>
<li>Houses islands on painted often Mediterranean lime with are.
<br><input size=35 name="q2d">.<p>
</ol>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">
<p>
<b>3. Match the descriptions to the houses they describe. </b>
<p>
<center>
<img src="img/u11b1.jpg">
</center>
<p>
<ol>
<li> This is a house in Cameroon. It's a round hut made of mud and straw, with a steep thatched roof, one door and no windows.  
<br>
<select name="q3a">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a house from New Guinea. It's also got a thatched roof but it's rectangular and it's built on stilts. The walls are made of wood and palm leaves.  
<br>
<select name="q3b">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a Mongolian house. It's round and like a tent, with a wood frame covered in canvas .  
<br>
<select name="q3c">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a house in the south of Australia. It has a steep tin roof and a veranda around it. It's made of rendered brick.  
<br>
<select name="q3d">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
<li> This is a Swiss house. The top storeys are made of wood and the cellar is made of stone. It has a steep shingled roof.   
<br>
<select name="q3e">
<option value="x">Choose Answer 
<option value="1">House A 
<option value="2">House B 
<option value="3">House C 
<option value="4">House D 
<option value="5">House E 
</select>
<p> 
</ol>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>


</div>

<div id="z1">

</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>
<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
