<script>
	v = {

		q1a:'1',
		q1b:'2',
		q1c:'1',
		q1d:'1',
		q1e:'1',
		q1f:'2',
		q1g:'1',
		q1h:'1',
		q1i:'1',
		q1j:'1',
		q1k:'2',
		q1l:'2',

	}
	</script>


<form id="t0">
<img src="img/u11.jpg" class="u4tit">
<p>
<b class="u4tit"> Degree in comparisons  </b>
<p>
</form>

<form id="t1">
<b>1. Complete this letter by choosing the best answer.</b>
<p>
Dear Sally, 
<p>
How are you? I'm sorry I haven't written for a while, but I haven't been very well. I'm feeling  
<nobr><sub>1</sub><select name="q1a">
<option value="x">Choose Answer 
<option value="1">a little 
<option value="2">a good deal 
</select></nobr>
better today, but not much.<p> The doctor says I'm still  
<sub>2</sub><select name="q1b">
<option value="x">Choose Answer 
<option value="1">far 
<option value="2">not quite 
</select>
well enough to go back to work but that I should be able to go back tomorrow or the day after. 
Apart from that, things are going pretty well in general. Jonathan's a changed man. He's been doing  
<sub>3</sub><select name="q1c">
<option value="x">Choose Answer 
<option value="1">considerably 
<option value="2">slightly 
</select>
better at school since we had that talk with him. He was top of the class in math this year, and 
he almost failed last year. He now spends  
<sub>4</sub><select name="q1d">
<option value="x">Choose Answer 
<option value="1">much 
<option value="2">by far 
</select>
more time on his homework&#151;<sub>5</sub><select name="q1e">
<option value="x">Choose Answer 
<option value="1">nearly 
<option value="2">a little 
</select>
three times as much as he used to&#151;and watches <sub>6</sub><select name="q1f">
<option value="x">Choose Answer 
<option value="1">no 
<option value="2">far 
</select>
less TV. Some days he doesn't watch 
any! He used to watch everything. He has a long way to go before he catches up with Joanna, though. She's still  
<nobr><sub>7</sub><select name="q1g">
<option value="x">Choose Answer 
<option value="1">by far 
<option value="2">a good deal 
</select></nobr>
the better student of the two. She takes her studies very seriously. If anything she possibly takes them just  
<sub>8</sub><select name="q1h">
<option value="x">Choose Answer 
<option value="1">a little 
<option value="2">much 
</select>
too seriously sometimes. She still sees her friends, but  
<sub>9</sub><select name="q1i">
<option value="x">Choose Answer 
<option value="1">not nearly 
<option value="2">not quite 
</select>
as much as she did. She used to go out four or five times a week, but she only goes 
out on Saturday now. But I'm sure there's nothing to worry about. The thing that does worry me a little is that the relationship
 between Jonathan and his dad has gotten  
<sub>10</sub><select name="q1j">
<option value="x">Choose Answer 
<option value="1">no 
<option value="2">a lot 
</select>
better. They still argue all day about politics and can't spend more than five minutes together in the 
same room without ending up shouting at each other. And now he wants a tattoo! Joanna on the other hand is  
<sub>11</sub><select name="q1k">
<option value="x">Choose Answer 
<option value="1">almost 
<option value="2">not nearly 
</select>
as difficult. She does argue, too, but she's really very conventional. Maybe  
<sub>12</sub><select name="q1l">
<option value="x">Choose Answer 
<option value="1">much 
<option value="2">a little
</select>
too conventional for someone of her age. All her friends are going through that hippie phase, but she's not very interested in fashion. 
Anyway, that's my news. Write back and tell me how your kids are doing. 
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</div>
</form>
<div id="z1">
</div>
