<script>
	v = {

		q1a:'b',
		q1b:'a',
		q1c:'f',
		q1d:'e',
		q1e:'c',
		q1f:'d',
		q1g:'h',
		q1h:'g',
		q2a:'c',
		q2b:'d',
		q2c:'e',
		q2d:'f',
		q2e:'a',
		q2f:'h',
		q2g:'b',
		q2h:'g',
		q3a:'1',
		q3b:'1',
		q3c:'1',
		q3d:'3',
		q3e:'1',
		q3f:'1',
		q3g:'2',
		q3h:'1',
		q4a:'2',
		q4b:'3',
		q4c:'2',
		q4d:'3',
		q4e:'3',
		q4f:'2',
		q4g:'2',
		q4h:'3',

	}

</script>


<form id="t0">
<img src="img/u11.jpg"class="logo4">
<p>
<b class="u4tit"> Contrasting ideas  </b>
<p>
</form>

<form id="t1">
<b>1. Using linkers to connect ideas
<p>
Match the sentences and parts of sentences.</b>
<p>
<table cellpadding=0 cellspacing=2 width=600>
<tr><td>a) I enjoyed the movie</td><td>1. <input size=1 maxlength=1 name="q1a"> However, the original is far superior.</td></tr>                                  
<tr><td>b) The remake isn't bad.</td><td>2. <input size=1 maxlength=1 name="q1b"> but I preferred the book.</td></tr>
<tr><td>c) Although their first album didn't sell many copies,</td><td>3. <input size=1 maxlength=1 name="q1c"> he's been nominated for an Oscar.</td></tr>
<tr><td>d) The play wasn't very popular at first</td><td>4. <input size=1 maxlength=1 name="q1d"> However, the screenplay is disappointing.</td></tr>
<tr><td>e) The acting and photography are both excellent.</td><td>5. <input size=1 maxlength=1 name="q1e"> their second is doing very well.</td></tr>
<tr><td>f) Although it's his first movie,</td><td>6. <input size=1 maxlength=1 name="q1f"> but two years later it's a big hit on Broadway.</td></tr>
<tr><td>g) The reviews weren't very good</td><td>7. <input size=1 maxlength=1 name="q1g"> this is their first European tour.</td></tr>
<tr><td>h) Although they're popular in the States,</td><td>8. <input size=1 maxlength=1 name="q1h"> but we liked it.</td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button> 
</center> 
</form>
<form id="t2">
<p>
<b>2. Now try to match these sentences.</b>
<p>
<table cellpadding=0 cellspacing=2 width=600>
<tr><td>a) Most of her novels are about childhood but</td><td><input size=1 maxlength=1 name="q2a"> the drums and bass were too lound.</td></tr>
<tr><td>b) It started off good. However</td><td><input size=1 maxlength=1 name="q2b"> it's very sad really.</td></tr>
<tr><td>c) I liked the guitar sound but</td><td><input size=1 maxlength=1 name="q2c"> does that make it a good movie?</td></tr>
<tr><td>d) Although it's supposed to be a comedy</td><td><input size=1 maxlength=1 name="q2d"> ticket sales have been slow.</td></tr>
<tr><td>e) <i>Titanic</i> made lots of money but</td><td><input size=1 maxlength=1 name="q2e"> this one's a change of direction.</td></tr>
<tr><td>f) They organized a big publicity campaign. However</td><td><input size=1 maxlength=1 name="q2f">  others will find it obvious and repetitive.</td></tr>
<tr><td>g) Although the play wasn't a big hit,</td><td><input size=1 maxlength=1 name="q2g"> it lost its way after the first twenty minutes.</td></tr>
<tr><td>h) James Bond fans will love it. However</td><td><input size=1 maxlength=1 name="q2h"> the movie has proved to be more popular.</td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button> 
</center> 
</form>
<form id="t3">
<p>
<b>3. Choose the correct word to complete the sentences.</b>
<p>
<ol>
<li> I don't usually like his films  
<select name="q3a">
<option value="x">Choose Answer 
<option value="1">but 
<option value="2">however 
</select>
I really enjoyed this one. 
<li>  
<select name="q3b">
<option value="x">Choose Answer 
<option value="1">Although 
<option value="2">However 
<option value="3">But 
</select>

it has some famous actors in it, they seem disinterested and typecast.  
<li> Adults might find it a little simplistic.  
<select name="q3c">
<option value="x">Choose Answer 
<option value="1">However 
<option value="2">But 
<option value="3">Although 
</select>

for younger audiences it's ideal. 
<li>  
<select name="q3d">
<option value="x">Choose Answer 
<option value="1">But 
<option value="2">However 
<option value="3">Although 
</select>

it was recorded in only two weeks, it's her best album yet. 
<li> It sold only 3,000 copies in the first month.  
<select name="q3e">
<option value="x">Choose Answer 
<option value="1">However 
<option value="2">But 
<option value="3">Although 
</select>

just six months later it's a bestseller. 
<li> The critics voted it movie of the year  
<select name="q3f">
<option value="x">Choose Answer 
<option value="1">but 
<option value="2">however 
</select>

the public clearly disagreed. 
<li>  
<select name="q3g">
<option value="x">Choose Answer 
<option value="1">But 
<option value="2">Although 
<option value="3">However 
</select>

it was made for only $10,000, the quality is excellent. 
<li> It's certainly not her best work.  
<select name="q3h">
<option value="x">Choose Answer 
<option value="1">But 
<option value="2">Although 
<option value="3">However 
</select>

it's still worth seeing. 
</ol>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
