<script>
	v = {

		q1a:'4',
		q1b:'1',
		q1c:'3',
		q1d:'3',
		q1e:'2',
		q1f:'1',
		q1g:'3',
		q1h:'2',
		q2a:'1',
		q2b:'1',
		q2c:'2',
		q2d:'2',
		q2e:'2',
		q2f:'3',
		q2g:'1',
		q2h:'1',
		q3a:'cardigan',
		q3b:'vest',
		q3c:'beret',
		q3d:'warm-up suits',
		q3e:'forelock',
		q3f:'sideburns',
		q3g:'goatee',
		q3h:'Mohawk',
		q4a:'2',
		q4b:'3',
		q4c:'2',
		q4d:'3',
		q4e:'3',
		q4f:'2',
		q4g:'2',
		q4h:'3',

	}
</script>

<form id="t0">
<img src="img/u12.jpg"class="logo4">
<p>
<b class="u4tit"> Describing fashions </b>
<p>
</form>

<form id="t1">
<b>1. Which word does not go with the noun on the right? </b>
<p>
<ol>
<li>jacket 
<select name="q1a">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">sports   
<option value="3">dinner   
<option value="4">cropped 
</select>
<p>
<li>sweater 
<select name="q1b">
<option value="x">Choose Answer
<option value="1">denim   
<option value="2">polo-neck   
<option value="3">baggy   
<option value="4">v-neck 
</select>
<p>
<li>shoes 
<select name="q1c">
<option value="x">Choose Answer
<option value="1">slip-on   
<option value="2">lace-up   
<option value="3">ankle-length  
<option value="4">suede   
</select>
<p>
<li>dress
<select name="q1d">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">sleeveless   
<option value="3">flared   
<option value="4">high-necked  
</select>
<p>
<li>pants 
<select name="q1e">
<option value="x">Choose Answer
<option value="1">baggy   
<option value="2">dinner   
<option value="3">flared   
<option value="4">leather 
</select>
<p>
<li>shirt 
<select name="q1f">
<option value="x">Choose Answer
<option value="1">low cut   
<option value="2">flowery   
<option value="3">checked   
<option value="4">striped
</select>
<p>
<li>coat 
<select name="q1g"> 
<option value="x">Choose Answer
<option value="1">waterproof   
<option value="2">winter   
<option value="3">dinner  
<option value="4">fur 
</select>
<p>
<li> skirt 
<select name="q1h">
<option value="x">Choose Answer
<option value="1">leather   
<option value="2">sleeveless   
<option value="3">ankle length  
<option value="4">mini
</select>
<p>
</ol>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>
<b>2. Choose the best label for each picture. </b>
<p>
<center>
<img src="img/u12c1.jpg">
</center>
<p>
<table cellpadding=o cellspacing=2 width=600>
<tr><td>1. <input type="radio" name="q2a" value=1 checked> flared jeans     </td><td><input type="radio" name="q2a" value=2>torn jeans          </td><td><input type="radio" name="q2a" value=3>baggy jeans     </td></tr>
<tr><td>2. <input type="radio" name="q2b" value=1 checked>  platform shoes  </td><td><input type="radio" name="q2b" value=2>high-heeled shoes   </td><td><input type="radio" name="q2b" value=3>ankle-length boots</td></tr> 
<tr><td>3. <input type="radio" name="q2c" value=1 checked>  sports jacket   </td><td><input type="radio" name="q2c" value=2>denim jacket        </td><td><input type="radio" name="q2c" value=3>leather jacket </td></tr>
<tr><td>4. <input type="radio" name="q2d" value=1 checked>  spiky hair      </td><td><input type="radio" name="q2d" value=2>cropped hair        </td><td><input type="radio" name="q2d" value=3>dyed hair </td></tr>
<tr><td>5. <input type="radio" name="q2e" value=1 checked>  flared jeans    </td><td><input type="radio" name="q2e" value=2>torn jeans          </td><td><input type="radio" name="q2e" value=3>baggy jeans </td></tr>
<tr><td>6. <input type="radio" name="q2f" value=1 checked>  sports jacket   </td><td><input type="radio" name="q2f" value=2>denim jacket        </td><td><input type="radio" name="q2f" value=3>leather jacket </td></tr>
<tr><td>7. <input type="radio" name="q2g" value=1 checked>  platform shoes  </td><td><input type="radio" name="q2g" value=2>high-heeled boots   </td><td><input type="radio" name="q2g" value=3>ankle-length boots </td></tr>
<tr><td>8. <input type="radio" name="q2h" value=1 checked> spiky hair       </td><td><input type="radio" name="q2h" value=2>cropped hair </td><td><input type="radio" name="q2h" value=3>dyed hair </td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button> 
</center> 
</form>
<form id="t3">
<p>
<b>3. Put the letters in order to make a word that matches the definition. Type the answer in the box. </b>
<p>
<ol>
<li> A sweater with buttons down the front is called a <b>ganidrac</b> <sub>c</sub><input size=15 name="q3a">   
<li> A three-piece suit consists of a jacket, pants and a <b>estv</b> <sub>v</sub><input size=15 name="q3b">    
<li> A <b>treeb</b> <sub>b</sub><input size=15 name="q3c">  is a flat black hat which was given its name by the French.  
<li> The jacket and pants soccer players wear before they start playing is a <br><b>mawr-pu uits</b> <sub>w</sub><input size=15 name="q3d">   
</ol>
<p>
<b>Put the letters in order to make words to label the three pictures. </b>
<p>
<table cellpadding=2 cellspacing=2 width=550>
<tr><td>
5.  a <b>orlefcok</b> <sub>q</sub><input size=15 name="q3e"><br><p>     
6.  <b>birdsnuse</b> <sub>s</sub><input size=15 name="q3f"><br><p>    
7.  a <b>teaego</b> <sub>g</sub><input size=15 name="q3g"><br> <p>       
8.  a <b>Mhaokw</b> <sub>m</sub><input size=15 name="q3h"><br><p>  
</td><td>
<img src="img/u12c2.jpg">
</td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
