<script>
	v = {
		q1a:'2',
		q1b:'1',
		q1c:'2'
	}
</script>

<form id="t0">
<img src="img/u12.jpg"class="logo4">
<p>
<b class="u4tit"> Father and daughter discuss fashions</b>
<p>
</form>

<form id="t1">
<b>1. Listen to a man and a woman talking about fashion and choose the correct options. <a href="snd/12d-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a> </b>
<p>
<ol>
<li> The man starts by saying that that today's teenagers ... 
<br><input type="radio" name="q1a" value=1 checked>   ... wear clothes that look funny.
<br><input type="radio" name="q1a" value=2> ... simply copy fashions from the past.
<br><input type="radio" name="q1a" value=3> ... all wear the same clothes. 
<p>
<li> The woman thinks that ... 
<br><input type="radio" name="q1b" value=1 checked> ... the man is mistaken.
<br><input type="radio" name="q1b" value=2> ... adults are always horrified by the way teenagers dress.
<br><input type="radio" name="q1b" value=3> ... teenage fashion is unexciting. 
<p>
<li> She goes on to say that ... 
<br><input type="radio" name="q1c" value=1 checked>   ... although there is nothing new in fashion, teenagers still find ways to make it original.
<br><input type="radio" name="q1c" value=2> ... there is more originality in teenage fashion than the man thinks.
<br><input type="radio" name="q1c" value=3> ... teenage fashion is completely different today. 

</ol>
<p>

<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>

<div id="z1">
</div>
