<script>
  v = {

    q1a:'7',
    q1b:'1',
    q1c:'2',
    q1d:'5',
    q1e:'3',
    q1f:'4',
    q1g:'1',
    q1h:'6',
    q2a:'4',
    q2b:'2',
    q2c:'6',
    q2d:'5',
    q2e:'4',
    q2f:'1',
    q2g:'3',
    q3a:'1',
    q3b:'2',
    q3c:'2',
    q3d:'1',
    q3e:'1',
    q3f:'2',
    q3g:'1',
    q3h:'2',
    q3i:'2',
    q3j:'1',
    q3k:'2',
    q3l:'2',
    q4a:'Yesterday we went to the movies and then we had a drink',
    q4b:'When he arrived the movie had started so he missed the first ten minutes',
    q4c:['They\'ve lived in their house for about 15 years','They have lived in their house for about 15 years'],
    q4d:'They were having dinner when the accident happened',
    q4e:'We went to the beach and then for a meal',
    q4f:'In the morning I\'m meeting my mother but we could meet in the afternoon',
    q4g:'He lives in Australia but originally he came from England',
    q5a:'are',
    q5b:'was',
    q5c:'wasn\'t',
    q5d:'told',
    q5e:'had had',
    q5f:'didn\'t know',
    q5g:'lived',
    q5h:'was',
    q5i:'have',
    q5j:'are looking',
    q5k:'lives',
    q5l:'has never met',
    q5m:'is',
    q5n:'have been waiting',
    q5o:'is'
}

</script>

<div id="t0">
<img src="img/u1.jpg" class="logo4">
<p>
<b class="u4tit"> Tense review</b>
<p>
</div>

<form id="t1">
<b>1. Look at the sentences below. Match the verbs to one of the verb forms in the drop-down list.</b>
<p>
<ol>
<li> Gloria will fly to Australia next month.
<select name="q1a">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select><p>
<li> Gloria lives in Australia.   
<select name="q1b">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
<p>
<li> She learned about Ruth and her brothers.
<select name="q1c">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
<p>   
<li> Gloria has lived in Australia since 1974.  
<select name="q1d">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
<p>
<li> She found out her brother had died.   
<select name="q1e">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
<p>
<li> Gloria is planning a month-long trip to England.
<select name="q1f">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
<p>   
<li> Gloria's plane arrives on May 5th.   
<select name="q1g">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous
<option value="7">Future   
</select>
<p>
<li> At the same time Ruth was trying to find Gloria 
<select name="q1h">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
<option value="7">Future 
</select>
</ol>
<p>
<center>
<button class="eval" data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2.  Which of the verb forms is used to describe: </b>
<p>
1. an action in progress in the present.
<select name="q2a">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>  
2. a finished action in the past.
<select name="q2b">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>
3. an action in progress in the past.
<select name="q2c">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>
4. an action which began in the past and continues now.
<select name="q2d">
<option value="x">Choose Answer
<option value="1">Present Simple
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>
5. future arrangements between people.
<select name="q2e">
<option value="x">Choose Answer
<option value="1">Present Simple 
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>
6. general states or habits.
<select name="q2f">
<option value="x">Choose Answer
<option value="1">Present Simple 
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous  
</select><p>
7. an action which happened before a moment in the past.
<select name="q2g">
<option value="x">Choose Answer
<option value="1">Present Simple 
<option value="2">Past Simple 
<option value="3">Past Perfect 
<option value="4">Present Continuous 
<option value="5">Present Perfect 
<option value="6">Past Continuous 
</select><p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Spot the errors. Which sentences are grammatically incorrect? </b>
<p>
<ol>
<li> "Don't disturb her, she's trying to finish her new book." 
<br>
<select name="q3a">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> Yesterday we've been to the movies and then we've had a drink. 
  <br>
<select name="q3b">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p> 
<li> When he arrived the movie started so he missed the first ten minutes. 
  <br>
<select name="q3c">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p> 
<li> I was listening to the radio when they arrived. 
 <br>
<select name="q3d">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> "I'm sorry, 7:00 p.m. is no good, I'm seeing Mr. Johnson then." 
   <br>
<select name="q3e">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p> 
<li> They live in their house for about 15 years. 
  <br>
<select name="q3f">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> "The train leaves at 8:30 so make sure you're not late." 
   <br>
<select name="q3g">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> They were having dinner when the accident had happened. 
   <br>
<select name="q3h">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> We were going to the beach and then for a meal. 
   <br>
<select name="q3i">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> African elephants are bigger than Indian elephants. 
  <br>
<select name="q3j">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> In the morning I meet my mother but we could meet in the afternoon. 
   <br>
<select name="q3k">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
<p>
<li> He lives in Australia but originally he's coming from England.  
   <br>
<select name="q3l">
<option value="x">Choose Answer 
<option value="1">Correct
<option value="2">Incorrect  
</select>
</ol>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Now correct the incorrect sentences in the last exercise by typing into the boxes.</b>
<p>
<table cellpadding=3 cellspacing=3 width=100% bgcolor=#ffbc90>
<tr><td>
2 Yesterday we've been to the movies and then we've had a drink.   
<br><input size=90 name="q4a">.
<p>     
3 When he arrived the movie started so he missed the first ten minutes.   
<br><input size=90 name="q4b">.
<p>     
6 They live in their house for about 15 years.   
<br><input size=90 name="q4c">.
<p>     
8 They were having dinner when the accident had happened.   
<br><input size=90 name="q4d">.
<p>     
9 We were going to the beach and then for a meal.   
<br><input size=90 name="q4e">.
<p>     
11 In the morning I meet my mother but we could meet in the afternoon.   
<br><input size=90 name="q4f">.
<p>     
12 He lives in Australia but originally he's coming from England.   
<br><input size=90 name="q4g">.
<p>    
</td></tr></table>
<p>
<center>
<button class="eval"data-target="t4">Check answers</button>
</center>
</form>
<form id="t5">
<p>
<b>5. Read the text below about another family that was separated,
then complete the text by putting the verbs in parentheses in the correct tense. </b>
<p>
<center><b>Together at last</b>
<p>
<table cellpadding=0 cellspacing=6 width=650 bgcolor=#ffbc90>
<tr><td><img src="img/u1a1.jpg" class="asset"></td></tr>
<tr><td>
Diane and Jacqueline  <sub>1</sub><input size=10 name="q5a">(be) sisters but 
today they are meeting for the first <br><br>time. Diane<br><br>  
<sub>2</sub><input size=10 name="q5b">(be) adopted when she was very young 
because her mother <br><br> <sub>3</sub><input size=10 name="q5c">(not be)</nobr> married 
when she was born. Jacqueline's mother <br><br> <nobr><sub>4</sub><input size=10 name="q5d">(tell)
her 38 years ago that she <nobr><sub>5</sub><input size=10 name="q5e"></nobr>(have) a 
sister but that she <br><br>died at birth.
Jacqueline <sub>6</sub><input size=10 name="q5f">(not know) that for much of 
her life Diane <br><br> <sub>7</sub><input size=10 name="q5g">(live) only 12 miles away from her. "It  <sub>8</sub><input size=10 name="q5h">(be) 
my aunt who<br><br> told me finally," said Jacqueline.<br><br>
</td></tr>
<tr><td>
The two sisters also  <sub>9</sub><input size=10 name="q5i">(have) a brother Charles and now they <br><br> <nobr><sub>10</sub><input size=10 name="q5j"></nobr>(look) 
for him. Like Diane he was adopted at birth and at the moment they<br><br> have no 
idea where he  <sub>11</sub><input size=10 name="q5k">(live). Diane  <sub>12</sub><input size=10 name="q5l">(never meet) a blood <br><br>
relative in her life so the moment  <sub>13</sub><input size=10 name="q5m">(be) a very special one for her.<br><br> 
"I  <sub>14</sub><input size=10 name="q5n">(wait) 48 years for this moment." she says. "This  <nobr><sub>15</sub><input size=10 name="q5o">(be)<br><br></nobr> my
sister," she repeats, "mine."
</td></tr>
</table>
<p>

<center>
<button class="eval"data-target="t5">Check answers</button>
</center>
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
