<script>
	v = {


		q1a:'1',
		q1b:'2',
		q1c:'2',
		q1d:'1',
		q1e:'3',
		q1f:'1',
		q2a:'2',
		q2b:'1',
		q2c:'2',
		q2d:'1',
		q2e:'3',
		q2f:'1',
		q3a:'water skiing',
		q3b:'ice-skating',
		q3c:'surfing',
		q3d:'parachuting',
		q3e:'scuba diving',
		q3f:'horse jumping',
		q4a:'parachuting',
		q4b:'ice-skating',
		q4c:'horseback riding',
		q4d:'surfing',
		q4e:'scuba diving',
		q4f:'car racing',
		q4g:'horse jumping',
		q4h:'water skiing',
	}

</script>


<form id="t1">
<li class="top"> Stop messing around with that toy and do your homework! 
<li> Some children fool around so much at school that they don't learn anything. 
<li> Instead of working they just mucked about all afternoon and went home early. 
<li> The police removed several fans from the stadium for misbehaving during the game. 
<li> She knew she had behaved badly, so she apologized. 
<li> Jane realized that her brother was up to no good, because he was always getting home so late, but she didn't tell anyone.  
</ol>
<p>
<b>Now choose the word that matches the definition. </b>
<p>
<ol>
<li>To behave in a silly way when you should be working or paying attention   
<br>
<select name="q1a">
<option value="x">Choose Answer 
<option value="1">mess around 
<option value="2">misbehave 
<option value="3">be up to no good 
</select>
<p> 
<li> Another way of saying mess around.   
<br>
<select name="q1b">
<option value="x">Choose Answer 
<option value="1">behave badly 
<option value="2">fool around 
<option value="3">be up to no good 
</select>
<p> 
<li> To behave in a socially unacceptable way, for example by fighting, or by being irresponsible, or by upsetting other people, or by making a noise   
<br>
<select name="q1c">
<option value="x">Choose Answer 
<option value="1">fool around 
<option value="2">misbehave 
<option value="3">be up to no good
</select>
<p>  
<li> Another way of saying misbehave.   
<br>
<select name="q1d">
<option value="x">Choose Answer 
<option value="1">behave badly 
<option value="2">fool around 
<option value="3">be up to no good 
</select>
<p> 
<li> To be planning or doing something that you know you should not do, usually in secret.   
<br>
<select name="q1e">
<option value="x">Choose Answer 
<option value="1">mess around
<option value="2">misbehave 
<option value="3">be up to no good 
</select>
<p> 
<li> Another way of saying fool around
<br>
<select name="q1f">
<option value="x">Choose Answer 
<option value="1">misbehave 
<option value="2">be up to no good 
<option value="3">mess up
</select> 
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Complete these sentences with the correct expression. </b>
<p>
1 I suspected that he ___________ , especially because he tried to act so innocent. 
<br> 
<input type="radio" name="q2a"value="1" checked> was behaving badly<br>
<input type="radio" name="q2a"value="2" > was up to no good<br>
<input type="radio" name="q2a"value="3" > was messing around 
<p> 
2 Children often _______ when they are bored or tired. 
<br>
<input type="radio" name="q2b"value="1" checked> misbehave<br>
<input type="radio" name="q2b"value="2" > fool around<br>
<input type="radio" name="q2b"value="3" > are up to no good  
<p>
3 You should never _____ when you're using dangerous machinery 
<br>   
<input type="radio" name="q2c"value="1" checked> behave badly<br>
<input type="radio" name="q2c"value="2" > mess around<br>
<input type="radio" name="q2c"value="3" > be up to no good  
<p>
4 Instead of listening to the teacher, the boys just _________ 
<br> 
<input type="radio" name="q2d"value="1" checked> fooled around<br>
<input type="radio" name="q2d"value="2" > were up to no good<br>
<input type="radio" name="q2d"value="3" > misbehaved  
<p>
5 Those kids look very secretive&#151;they've probably been ___________ 
<br> 
<input type="radio" name="q2e"value="1" checked> messing around<br>
<input type="radio" name="q2e"value="2" > behaving badly<br>
<input type="radio" name="q2e"value="3" > up to no good  
<p>
6 Children ________ nowadays because they are not educated to behave well. 
<br>
<input type="radio" name="q2f"value="1" checked> misbehave<br>
<input type="radio" name="q2f"value="2" > fool around<br>
<input type="radio" name="q2f"value="3" > mess up
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Compound words for activities </b>
<p>
<span id="m1">
<li>The activity of riding horses is called <b>horseback riding.</b> 
<li>The activity of racing cars is called <b>car racing. </b>
<li>The activity of "surfing" on the top of elevators is called <b>elevator surfing.</b> 
</span>
<p>
<b>What are the following activities called? Type your answer into the box. </b>
<p>
<table cellpadding=5 cellspacing=5 width=650>

<tr><td>1. The activity of skiing on water? </td><td><input size=15 name="q3a"></td></tr>   
<tr><td>2. The activity of skating on ice?  </td><td><input size=15 name="q3b"></td></tr>  
<tr><td>3. The activity of surfing the Internet (the Net)?    </td><td><input size=15 name="q3c"></td></tr>
<tr><td>4. The activity of jumping out of a plane with a parachute?    </td><td><input size=15 name="q3d"></td></tr>
<tr><td>5. The activity of diving under the sea with scuba equipment (oxygen tanks, mask etc.)?    </td><td><input size=15 name="q3e"></td></tr>
<tr><td>6. The activity of jumping over obstacles with a horse in a show? </td><td><input size=15 name="q3f"></td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Can you remember the words from exercise 4? Write the word for each activity in the box under the picture. </b>
<p>
<center>
<img src="img/u1d1.jpg">
<p>
<table cellpadding=0 cellspacing=7 width=400>
<tr><td>1 <input size=8 name="q4a"></td><td>2 <input size=8 name="q4b"></td></tr>
</table>
<p>

<img src="img/u1d2.jpg">
<p>
<table cellpadding=0 cellspacing=7 width=400>
<tr><td>3 <input size=8 name="q4c"></td><td>4 <input size=8 name="q4d"></td></tr>
</table>

<p>

<img src="img/u1d3.jpg">
<p>
<table cellpadding=0 cellspacing=7 width=400>
<tr><td>5 <input size=8 name="q4e"></td><td>6 <input size=8 name="q4f"></td></tr>
</table>

<p>

<img src="img/u1d4.jpg">
<p>
<table cellpadding=0 cellspacing=7 width=400>
<tr><td>7 <input size=8 name="q4g"></td><td>8 <input size=8 name="q4h"></td></tr>
</table>
</center>
<p>

<center>
<button class="eval"data-target="t4">Check answers</button>
</center>
</form>
<p>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>
