<script>
	v = {


		q1a:'complained',
		q1b:'promised',
		q1c:'suggested',
		q1d:'explained',
		q1e:'said',
		q1f:'replied',
		q1g:'asked',
		q1h:'begged',
		q2a:'5',
		q2b:'8',
		q2c:'7',
		q2d:'3',
		q2e:'1',
		q2f:'9',
		q2g:'10',
		q2h:'4',
		q2i:'6',
		q2j:'2',
		q3a:'was',
		q3b:'did',
		q3e:'was',
		q3f:'was',
		q3g:'did',
		q3j:'did',
		q3m:'has',
		q3q:'did',
		q3t:'Has',
		q3x:'Did',
		q4a:'2',
		q4b:'3',
		q4c:'2',
		q4d:'3',
		q4e:'3',
		q4f:'2',
		q4g:'2',
		q4h:'3',

	}
</script>

<div id="t0">
<img src="img/u2.jpg" class="logo4">
<p>
<b class="u4tit">Reporting verbs  </b>
<p>
</div>

<form id="t1">
<b>1. Ways of saying things. Select and drag the verbs in the box to the sentences below. </b>
<p>
<ol>
<li>"The food here is terrible! The soup was cold and the vegetables weren't cooked either," <input size=9 name="q1a"> the customer.
<li>"If you let me go to the circus on Saturday Mom, I'll wash the dishes every day next week," the boy <input size=9 name="q1b">.
<li>"Look," he <input size=9 name="q1c">. "What about going out for dinner on Sunday instead?" 
<li>She <input size=9 name="q1d"> to the new secretary again. "Look, you put the paper in here, then you press the green button and it comes out here."
<li>"Hello," she <input size=9 name="q1e">. "My name's Alison. I'm the new French teacher." 
<li>"Yes of course," he <input size=9 name="q1f">. I'd love to come to dinner!" 
<li>"What do you do in your free time?" <input size=9 name="q1g"> Joe.
<li>"Oh please. Please let me come with you&#151;you know how much I'd like to go to London," <input size=9 name="q1h"> Jane. 
</ol>
<p>
<center>
<table cellpadding=5 cellspacing=5 width=450 bgcolor=#ffbc90>
<tr><td>promised</td><td>complained</td><td>suggested</td><td>explained</td></tr> 
<tr><td>said</td><td>asked</td><td>replied</td><td>begged</td></tr>
</table>
<p>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
