<script>
	v = {


		q1a:'We hope to raise ten thousand dollars',
		q1b:'We expect to finish the hike in a month',
		q1c:'We expect to be in shape soon',
		q1d:'The charity hopes to help underprivileged people',
		q1e:'We expect to be very tired',
		q1f:'We hope to have good weather',
		q1g:'The charity hopes to get media attention',
		q2a:'1',
		q2b:'2',
		q3a:'Anne and Paula expect to find the hike difficult',
		q3b:'Anne hopes to enjoy the hike',
		q3c:'Paula expects to have enough water',
		q3d:'Anne hopes to raise money to help a charity',
		q3e:'Anne and Paula expect to miss their families',
		q3f:'Paula hopes to receive a letter from her family',
		q4a:'2',
		q4b:'3',
		q4c:'2',
		q4d:'3',
		q4e:'3',
		q4f:'2',
		q4g:'2',
		q4h:'3'

	}
</script>

<div id="t0">
<img src="img/u3.jpg" class="logo4">
<p>
<b class="u4tit">Verbs of future expectation  </b>
<p>
</div>

<form id="t1">
<b>1. Verbs of future expectation. 
<p>
Here are some things which Anne and Paula said about the Kalahari hike. Put their words in the correct order </b>
<p>
<ol>
<li>to thousand hope dollars raise We ten
<br>
<input size=50 name="q1a">.
<p>
<li>expect We the to in finish a month hike
<br>
<input size=50 name="q1b">.
<p>
<li>be We to in soon expect shape
<br>
<input size=40 name="q1c">.
<p>
<li>help The to hopes people charity underprivileged
<br>
<input size=50 name="q1d">.
<p>
<li>We very expect be tired to
<br>
<input size=50 name="q1e">.
<p>
<li>to good We have weather hope
<br>
<input size=50 name="q1f">.
<p>
<li>get to charity The media hopes attention
<br>
<input size=50 name="q1g">.
<p>
</ol>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>
2. Choose the best ending for each sentence: </b>
<p>
<ol>
<li> Expect refers to things in the future which  <br>
<select name="q2a">
<option value="x">Choose Answer 
<option value="1">will probably happen 
<option value="2">we personally would like to happen  
</select>
<p>
<li> Hope refers to things in the future which  <br>
<select name="q2b">
<option value="x">Choose Answer 
<option value="1">will probably happen 
<option value="2">we personally would like to happen 
</select>
</ol>
<p>

<center>
<button class="eval"data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>
<b>3. Use the prompts below to write more sentences about the Kalahari hike. Type your sentences. </b>
<p>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>
<ol>
<tr><td class="espacio">1. Anne and Paula / expect / find / hike difficult  <br><input size=50 name="q3a">.</td></tr>  
<tr><td class="espacio">2. Anne / hope / enjoy / hike                       <br><input size=50 name="q3b">.</td ></tr> 
<tr><td class="espacio">3. Paula / expect / have / enough water             <br><input size=50 name="q3c">.</td></tr>
<tr><td class="espacio">4. Anne / hope / raise / money / help / a charity   <br><input size=50 name="q3d">.</td></tr>
<tr><td class="espacio">5. Anne /Paula / expect / miss their families       <br><input size=50 name="q3e">.</td></tr>
<tr><td class="espacio">6. Paula / hope / receive / a letter / her family   <br><input size=50 name="q3f">.</td></tr>
</table>
<p>


<center>
<button class="eval"data-target="t3">Check answers</button>
</center>
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
