<script>
  v = {


    q1a:'3',
    q2a:'2',
    q2b:'2',
    q2c:'2',
    q2d:'1',
    q2e:'1',
    q2f:'1',
    q2g:'2',
    q2h:'1',
    q2i:'2',
    q2j:'1',
    q2k:'2',
    q2l:'1',
    q2m:'1',
    q2n:'1',
    q2o:'2',
    q3a:'was',
    q3b:'did',
    q3e:'was',
    q3f:'was',
    q3g:'did',
    q3j:'did',
    q3m:'has',
    q3q:'did',
    q3t:'Has',
    q3x:'Did',
    q4a:'2',
    q4b:'3',
    q4c:'2',
    q4d:'3',
    q4e:'3',
    q4f:'2',
    q4g:'2',
    q4h:'3'

  }

</script>

<div id="t0">
<img src="img/u3.jpg" class="logo4">
<p>
<b class="u4tit"> The tourist who went to Torquay thinking it was Turkey </b>
<p>
</div>

<form id="t1">
<b>1. Read this newspaper story and decide which map represents Mrs. Tsuchida's trip.</b>
<p>
<table cellpadding=0 cellspacing=1 width=600>
<tr><td colspan=2><center><b>Cold Turkey For Kumiko</b></center></td></tr>
<tr><td><img src="img/u3c1.jpg"></td>
<td>
<b>Torquay or Turkey? A small difference in pronunciation but a big difference for Kumiko Tsuchida, a Japanese tourist in England. 
She ended up in Torquay when she was trying to get to Turkey.</b>
</td></tr>
<tr><td colspan=2>
It all started when Mrs. Tsuchida, who had been visiting a friend in London, set out for Heathrow to catch a flight to Istanbul. 
Somewhere she took a wrong turn and ended up in Reading. Mrs. Tsuchida, aged 40, does not speak much English. When she tried to ask for directions she was misunderstood. Instead of being re-directed to Heathrow, where her flight to Turkey was waiting, she was put on the 8:15 train to Torquay.
<p>
On arrival, her attempts to find Istanbul's famous Pera Palace Hotel fell on deaf ears. 
By the time the police found her it was two in the morning and she was wandering the streets. 
According to the police she genuinely believed she was in Turkey. "She had been on the train so long she thought she was in Istanbul," said a police spokesman. "She even thought she had been through the Channel Tunnel." 
<p>
Police called social services, who found a bed for Mrs. Tsuchida in a local old people's home. 
The next day she was put in touch with a travel agent, who arranged for her to get back to Reading where a Japanese embassy official met her. From there she was guided to Heathrow, and, finally, Turkey.
</td></tr>
</table>
<p>
<b>
Mark the map that represents Mrs. Tsuchida's trip.</b>
<p>
<center>
<table width=400>
<tr><td colspan=3><img src="img/u3c2.jpg"></td></tr>
<tr><td><center><input type="radio" name="q1a" value="1" checked></td><td><center><input type="radio" name="q1a" value="2" ></td><td><center><input type="radio" name="q1a" value="3" ></td></tr>
</table>
<p>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. True or False? </b>
<p>
<ol>
<li>  Mrs. Tsuchida wanted to go to Torquay. 
<br>
<select name="q2a">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
<li>  A friend had been visiting her.
<br>
<select name="q2b">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>      
   
<li>  She set out from Heathrow to catch a plane to Istanbul.   
 <br>
<select name="q2c">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  By mistake she went to Reading. 
   <br>
<select name="q2d">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  She asked somebody for directions. 
   <br>
<select name="q2e">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  Her English is not very good. 
   <br>
<select name="q2f">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  She misunderstood the directions. 
   <br>
<select name="q2g">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  She tried to find the Pera Palace Hotel. 
   <br>
<select name="q2h">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  She couldn't find it because nobody understood her.
   <br>
<select name="q2i">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  The police found her in Torquay. 
   <br>
<select name="q2j">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  The police genuinely believed she was in Turkey.
    <br>
<select name="q2k">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  She hadn't really been through the Channel Tunnel.
   <br>
<select name="q2l">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>   
   
<li>  She stayed the night in an old people's home.  
  <br>
<select name="q2m">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  
   
<li>  A travel agent helped her to return to Reading.
   <br>
<select name="q2n">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>   
   
<li>  She ended up in Heathrow. 
   <br>
<select name="q2o">
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false 
</select >
<p>  

<center>
<button class="eval"data-target="t2">Check answers</button>
</center>
</form>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
