<script>
	v = {
		q1a:'2',
		q2a:'1',
		q2b:'1',
		q2c:'2',
		q2d:'1',
		q3a:'3',
		q4a:'3',
		q5a:'2',
		q5b:'4',
		q5c:'9',
		q5d:'7',
		q5e:'3',
		q5f:'1',
		q5g:'5',
		q5h:'6',
		q5i:'8',
		q6a:'1',
		q6d:'3',
		q6g:'3',
		q6j:'2',
		q6m:'1',

	}

</script>


<div id="t0">
<img src="img/u5.jpg" class="logo4">
<p>
<b class="u4tit">Man saved by cell phone   </b>
<p>
</div>
<!--   -->
<form id="t1">
<b>1. Read the first part of the text and answer the questions below.</b>
<p>
<center>
<table width=500 bgcolor=#ffdf00>
<tr><td>
<b>Shepherd's miracle escape&#151;thanks to his nose and his cell phone</b>
<p>
An emergency telephone operator couldn't believe her ears when a man telephoned using a cell phone.
 "I'm hanging off the edge of a mountain," he said.
 "If you are hanging off a mountain, how have you dialed this number?" she asked.
<p>
"I have pressed the redial button with my nose," screamed the shepherd. 
<p>
Finally, the operator was convinced and a helicopter was sent to rescue Christian Raymond, 23,
 in the Dent de Crolles region of the French Alps. 
<p>
</td></tr></table>
</center>
<p>
<b>Look at the three pictures below. Click on the picture that illustrates the situation explained in the text. </b>
<p>
<center>
<table cellpadding=2 cellspacing=3 width=500>
<tr><td colspan=3><img src="img/u5a1.jpg"></td></tr>
<tr><td><input type="radio" name="q1a" value="1" checked> picture 1 </td><td><input type="radio" name="q1a" value="2"> picture 2</td><td><input type="radio" name="q1a" value="3" > picture 3</td></tr>
</table>
</center>
<p>
<center>
<button class="eval"data-target="t1">Check Answers </button> 
</center> 
</form>
<!--   -->
<form id="t2">
<p>
<b>2. Answer the questions true or false.</b>
<p>
<ol>
<li>  At first the operator didn't believe the man's story. 
<br>
<select name="q2a">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  In the end, she believed him. 
<br>
<select name="q2b">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>   

<li>  Christian dialed the telephone number with his nose. 
<br>
<select name="q2c">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>   

<li>  Christian works with animals. 
<br>
<select name="q2d">   
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
</ol>
<p>  
<center>
<button class="eval"data-target="t2">Check Answers </button> 
</center>
</form> 
<!--   -->
<form id="t3">
<p>
<b>3. What do you think?
<p>
Why do you think Christian is in this situation? Choose one of the four possibilities below. </b>
<p>

<li><input type="radio" name="q3a" value="1" checked>  It was a practice exercise for the French Mountain Rescue Service. 
<li><input type="radio" name="q3a" value="2">   The weather was bad and Christian didn't see the edge of the mountain. 
<li><input type="radio" name="q3a" value="3">   He was trying to rescue some of his sheep. 
<li><input type="radio" name="q3a" value="4">   Two of his sheep pushed him off the mountain. 
<p>
<center>
<button class="eval"data-target="t3">Check Answers </button> 
</center>
</form>
<!--   -->
<form id="t4">
<p>
<b>Now read the rest of the story and see if your prediction is correct.</b>
<p>
<center>
<table cellpadding=3 cellspacing=3 width=400 bgcolor=#fcfaaa>
<tr><td>
<i>
Christian was with his sheep at over 2,000 meters, when he discovered that two of the sheep were trapped on the mountain. "To rescue them, I started walking down a grassy hill. It had been raining and the grass was wet. I slipped and started falling towards the edge of the mountain."
<p>
Many French shepherds carry cell phones for safety and Christian had memorized the emergency rescue number. But after he called the emergency operator, the connection failed. Christian slipped again and fell closer to the edge.
<p>
"In order not to fall, I was holding on to a rock with both hands. I was very close to the edge," he said. Luckily, Christian's cell phone had also fallen down the hill. Incredibly, it stopped near his face, and he pressed the redial button with his nose.
<p>
The rescue has caused a sensation in France. It's also an advertising gift to cell phone companies.
<p>
from the Grimsby Evening Telegraph
</i>
<p>
</td></tr>
</table>
</center>
<p>
<b>4. Was your prediction correct? Look at the four possibilities again and choose the correct answer. </b>
<p>
<input type="radio" name="q4a" value="1" checked>  It was a practice exercise for the French Mountain Rescue Service. 
<p>
<input type="radio" name="q4a" value="2">   The weather was bad and Christian didn't see the edge of the mountain. 
<p>
<input type="radio" name="q4a" value="3">   He was trying to rescue some of his sheep. 
<p>
<input type="radio" name="q4a" value="4">   Two of his sheep pushed him off the mountain. 
<p>
<center>
<button class="eval"data-target="t4">Check Answers </button> 
</center> 
</form>
<!--   -->
<form id="t5"> 
<p>
<b>5. Put the sentences below in the order in which they happened. (1,2,3,4,5,6,7,8,9)</b>
<p>
<ol>
<li><input size=1 maxlength=1 name="q5a"> Christian went to rescue the sheep
<p>
<li><input size=1 maxlength=1 name="q5b"> He dialed the emergency operator.
<p>
<li><input size=1 maxlength=1 name="q5c"> A helicopter came to rescue him.
<p>
<li><input size=1 maxlength=1 name="q5d"> He pressed the redial button with his nose.
<p>
<li><input size=1 maxlength=1 name="q5e"> He slipped on the wet grass.
<p>
<li><input size=1 maxlength=1 name="q5f"> Two sheep were trapped on the mountain.
<p>
<li><input size=1 maxlength=1 name="q5g"> He lost contact with the operator.
<p>
<li><input size=1 maxlength=1 name="q5h"> He moved closer to the edge of the mountain.
<p>
<li><input size=1 maxlength=1 name="q5i"> The operator telephoned the mountain rescue service.
<p>
</ol>
<center>
<button class="eval"data-target="t5">Check Answers </button> 
</center> 
</form>
<!--   -->
<form id="t6">
<p>
<b>6. Choose the best answer to the questions.</b>
<p>
<ol>
<li> Why did the operator ask Christian: "How have you dialed this number?" 
<br><input type="radio" name="q6a" value="1" checked>  because she didn't believe his story 
<br><input type="radio" name="q6a" value="2" >   because she was very worried 
<br><input type="radio" name="q6a" value="3" >   because Christian was a shepherd 
<p>
<li> Why did Christian have a cell phone with him? 
<br><input type="radio" name="q6b" value="1" checked>   because he was in a dangerous situation 
<br><input type="radio" name="q6b" value="2" >   because he couldn't remember the emergency rescue number 
<br><input type="radio" name="q6b" value="3" >   because being a shepherd in the mountains can be a dangerous job 
<p>
<li> Why did Christian slip and fall? 
<br><input type="radio" name="q6c" value="1" checked>   because the weather was very bad 
<br><input type="radio" name="q6c" value="2" >   because he was running 
<br><input type="radio" name="q6c" value="3" >   because the ground was wet 
<p>
<li> How many times did Christian dial the emergency operator? 
<br><input type="radio" name="q6d" value="1" checked>   one 
<br><input type="radio" name="q6d" value="2" >   two 
<br><input type="radio" name="q6d" value="3" >   three 
<p>
<li> Where was Christian's cell phone the second time he called the operator? 
<br><input type="radio" name="q6e" value="1" checked>   near his face  
<br><input type="radio" name="q6e" value="2" >   in his hand 
<br><input type="radio" name="q6e" value="3" >   in his pocket 
<p>


<center>
<button class="eval"data-target="t6">Check Answers </button> 
</center> 
</form>
</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>

<div id="z4">
</div>

<div id="z5">
</div>

<div id="z6">
</div>

<div id="z7">
</div>
 
