
<script>
	v = {


		q2a:'This bruise was caused by the fall',
		q2b:'Because she had an operation she needs crutches',
		q2c:'A fall down the stairs led to a sprained ankle',
		q2d:'Her spinal problems are due to a car accident many years ago',
		q2e:'Third degree burns can cause death',
		q2f:'Since he was bitten by a dog, he had to have a rabies injection',
		q2g:'Wearing too tight shoes resulted in a blister',
		q2h:'Because of walking on some broken glass, the child cut his foot badly'
	}
</script>


<div id="t0">
<img src="img/u5.jpg"class="logo4">
<p>
<b class="u4tit">Expressing cause & result  </b>
<br>
</div>
<p>
<form id="t1">
<p>
<b>1. Re-write these sentences to make new sentences that are similar in meaning. Use the word(s) in bold. The first one has been done for you as an example.</b>
<p>
<span id="m1">
The infection was caused by a sting. (<b>due to</b>) <br>
<b> The infection was due to a sting. </b></span>
<p>
<ol>
<li> The fall resulted in this bruise. (<b>caused by</b>) 
<br>
<input size=60 name="q2a">.
<p>   
<li> Because of the operation she needs
crutches. (<b>Because she</b>) 
<br>
<input size=60 name="q2b">.
<p>   
<li> Due to a fall down the stairs, she sprained
her ankle. (<b>led to</b>) 
<br>
<input size=60 name="q2c">.
<p>    
<li> Her spinal problems were caused by a car
accident many years ago. (<b>Due to</b>) 
<br>
<input size=60 name="q2d">.
<p>    
<li> Third degree burns can lead to death. (<b>cause</b>) 
<br>
<input size=60 name="q2e">.
<p>    
<li> Because of a dog bite, he had to have a rabies
injection. (<b>Since</b>) 
 <br>
<input size=60 name="q2f">.
<p>   
<li> The blister was caused by wearing too tight 
shoes. (<b>resulted in</b>) 
<br>
<input size=60 name="q2g">.
<p>    
<li> The child cut his foot badly because he walked
on some broken glass. (<b>because of</b>) 
<br>
<input size=60 name="q2h">.
<p>   
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form> 
</div>

<div id="z1">
</div>