<script>
	v = {
		q1a:'g',
		q1b:'c',
		q1c:'h',
		q1d:'f',
		q1e:'a',
		q1f:'i',
		q1g:'e',
		q1h:'b',
		q1i:'j',
		q1j:'d',
		q2a:'2',
		q3a:'1',
		q3b:'1',
		q3c:'2',
		q3d:'2',
		q3e:'1',
		q3f:'2',
		q4a:'short-tempered',
		q4b:'talkative',
		q4c:'sarcastic',
		q4d:'sensitive',
		q4e:'moody',
		q4f:'calm'
	}

</script>


<div id="t0">
<img src="img/u6.jpg" class="logo4">
<p>
<b class="u4tit">Interview with a personologist   </b>
<br>
</div>
<p>
<form id="t1">
<b>1. Choose an adjective for each description.</b>
<p>
<table cellpadding=2 cellspacing=2>
<tr><td>a) cheerful</td><td>1. <input size=1 maxlength=1 name="q1a"> You never know mood he's going to be in, but he's often irritable and gets angry for no reason.</td></tr>
<tr><td>b) short-tempered</td><td>2. <input size=1 maxlength=1 name="q1b"> If she says "That's a lovely dress", you can tell from her voice that she's laughing at you.</td></tr>
<tr><td>c) sarcastic</td><td>3. <input size=1 maxlength=1 name="q1c"> He always has something to say.</td></tr>
<tr><td>d) sensitive</td><td>4. <input size=1 maxlength=1 name="q1d"> You never see her get nervous or stressed about anything.</td></tr>
<tr><td>e) shy</td><td>5. <input size=1 maxlength=1 name="q1e"> He always has a smile on his face. You never see him in a bad mood.</td></tr>
<tr><td>f) calm</td><td>6. <input size=1 maxlength=1 name="q1f"> She always stops to consider the practical consequences before making a decision.</td></tr>
<tr><td>g) moody</td><td>7. <input size=1 maxlength=1 name="q1g"> He's uncomfortable with people he doesn't know.</td></tr>
<tr><td>h) talkative</td><td>8. <input size=1 maxlength=1 name="q1h"> She gets angry very quickly, so you have to be careful what you say to her.</td></tr>
<tr><td>i) sensible</td><td>9. <input size=1 maxlength=1 name="q1i"> He only thinks about himself and what he wants.</td></tr>
<tr><td>j) selfish</td><td>10. <input size=1 maxlength=1 name="q1j"> I told her that I didn't like her new haircut and she started crying!</td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>

<b>2. Read an interview with a personologist. </b>
<p>
<center>
"Face Facts"</b>
</center>
<p>
<b>A:</b> Our first guest today is Sandra Myers, who's come to tell us about her work as a personologist. Sandra, good afternoon.
<p><b>B:</b> Hi. 
<p><b>A:</b> Sandra, I'm sure many of our listeners are asking themselves the same question: What exactly IS personology?
<p><b>B:</b> Well, personology is what some people refer to as face reading. The idea is that from looking at a person's facial features you can find out a lot about the type of person they are. Very few people in Britain have heard of personology, but in the United States it's taken very seriously and is now recognized as a science.
<p><b>A:</b> Could you tell us how it works?
<p><b>B:</b> OK. Well, the idea is that the shape of a person's facial features, and the dimensions of their face, are directly related to their personality. For example, if a person's eyes are close together, they are probably short tempered. People with thick lips are usually talkative, and people with long upper lips tend to be sarcastic. Someone's hair can also tell you a lot about them. Senstive people tend to have fine hair, whereas those with thick hair tend to be less emotional. 
<p><b>A:</b> Fascinating. So what type of problems do you deal with?
<p><b>B:</b> A lot of people come to me because they are unhappy at work. By examining their face I can determine what their strengths and weaknesses are and recommend jobs that would match their personalities better. And lots of my clients come to me for advice about their relationships.
<p><b>A:</b> And what can you tell from looking at my face?
<p><b>B:</b> Well, one thing stands out, and that is that the two sides of your face are very similar. The right-hand side of your face represents your father's features, whereas the left-hand side of your face reflects your mother's traits. If there is a big difference between the two sides, a person tends to be moody. But because your face is very balanced, that suggests that you are quite the opposite. You're a calm, cheerful person. 
<p>

How can personologists tell what type of person you are? What do you think? Choose one option. </b>
<p>
<center>
<img src="img/u6a1.jpg">
<br>
<br><input type="radio" name="q2a" value="1" checked>by looking in your eyes
<br><input type="radio" name="q2a" value="2" >  by looking at your face
<br><input type="radio" name="q2a" value="3" >  by studying your feet
<br><input type="radio" name="q2a" value="4" >  by using hypnosis 
</center>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">
<p>
<b>3. Are these questions true or false?</b> 
<p>
<ol>
<table cellpadding=3 cellspacing=2 width=550 bgcolor=#ffbc90>
<tr><td> 
<ol> 
<li>  Sandra Myers is a professional personologist.
<br>
<select name="q3a"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  Face reading is another name for personology. 
<br>
<select name="q3b"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  Personology is popular in Britain. 
<br>
<select name="q3c"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  A personologist looks only at a person's eyes and mouth. 
<br>
<select name="q3d"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  Sandra helps people find the right job for their personality. 
<br>
<select name="q3e"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
<p> 
<li>  The two sides of the interviewer's face are very different. 
<br>
<select name="q3f"> 
<option value="x">Choose Answer   
<option value="1">true  
<option value="2">false
</select>
</ol>
</td></tr></table>
<p> 
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</p>    
</ol>
</form>
<form id="t4">
<b>4. Read and complete the table with the personality adjectives.</b>
<p>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>sarcastic</td><td> moody</td><td>sensitive</td></tr>
<tr><td>calm</td><td>talkative</td><td>short-tempered</td></tr>
</table> 
</center>
<p>
<center>
<table width=550>
<tr><td><b>Characteristic</td><td><b>Personality</td></tr>
<tr><td>eyes close together</td><td>1. <input size=14 name="q4a"></td></tr>
<tr><td>thick lips</td><td>2. <input size=14 name="q4b"></td></tr>
<tr><td>long upper lips</td><td>3. <input size=14 name="q4c"></td></tr>
<tr><td>fine hair</td><td>4. <input size=14 name="q4d"></td></tr>
<tr><td>two sides of face different</td><td>5. <input size=14 name="q4e"></td></tr>
<tr><td>two sides of face similar</td><td>6. <input size=14 name="q4f"></td></tr>
</table>
<p>
<center>
<button class="eval" data-target="t4">Check answers</button>
</center> 
</form>
<p>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
