<script>
	v = {


		q1:{q1a:false,q1b:false,q1c:true,q1d:false,q1e:true,q1f:false,q1g:false,q1h:false,q1i:false,q1j:false},
		q2a:'c',
		q2b:'a',
		q2c:'g',
		q2d:'e',
		q2e:'b',
		q2f:'d',
		q2g:'f',
		q3a:'It may have been a fox',
		q3b:'Could it have been a badger',
		q3c:'It might have been a dog',
		q3d:'it can\'t be a wolf',
		q3e:'You must have imagined it',
		q3f:'It couldn\'t have been a wolf',
	}
</script>

<div id="t0">
<img src="img/u6.jpg" class="logo4">
<p>
<b class="u4tit">Modals of deduction in the present and past   </b>
<br>
</div>
<p>
<form id="t1" class="list" data-list="q1">
<b>1. What other words can you substitute for <span id="m1">may</span> in this sentence, so that the meaning is more or less the same?</b>
<p>
<span id="m1">
The sasquatch could be a surviving form of giant apes that may have crossed from Asia to America. </span>
<p>
<!--center-->
<table cellpading=2 cellspacing=1 width=90 bgcolor=#ffbc90>
<tr><td><input type="checkbox" name="q1a"></td><td>can </td></tr> 
<tr><td><input type="checkbox" name="q1b"></td><td>did </td></tr>
<tr><td><input type="checkbox" name="q1c"></td><td>could </td></tr>
<tr><td><input type="checkbox" name="q1d"></td><td>should</td></tr>
<tr><td><input type="checkbox" name="q1e"></td><td>might </td></tr>
<tr><td><input type="checkbox" name="q1f"></td><td>would </td></tr>
<tr><td><input type="checkbox" name="q1g"></td><td>must </td></tr>
<tr><td><input type="checkbox" name="q1h"></td><td>will</td></tr>
<tr><td><input type="checkbox" name="q1i"></td><td>had </td></tr>
<tr><td><input type="checkbox" name="q1j"></td><td>ought to</td></tr>
</table>
<p>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
<form id="t2">
<p>
<b>2. Match the sentences on the left with the sentences that mean the same:</b>
<p>
<table cellpadding=3 cellspacing=3>
<tr><td>a) It may have been a dinosaur. </td><td>1. <input size=1 maxlength=1 name="q2a"> It's possible it is a dinosaur</td></tr>
<tr><td>b) It must have been a dinosaur. </td><td>2. <input size=1 maxlength=1 name="q2b"> It is possible it was a dinosaur</td></tr>
<tr><td>c) It might be a dinosaur. </td><td>3. <input size=1 maxlength=1 name="q2c"> There is no possibility it is a dinosaur</td></tr>
<tr><td>d) It can't have been a dinosaur. </td><td>4. <input size=1 maxlength=1 name="q2d"> It is definitely a dinosaur</td></tr>
<tr><td>e) It must be a dinosaur. </td><td>5. <input size=1 maxlength=1 name="q2e"> It was definitely a dinosaur</td></tr>
<tr><td>f) It may not have been a dinosaur. </td><td>6. <input size=1 maxlength=1 name="q2f"> There is no possibility it was a dinosaur</td></tr>
<tr><td>g) It couldn't be a dinosaur. </td><td>7. <input size=1 maxlength=1 name="q2g"> It is possible it wasn't a dinosaur</td></tr>
</table>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">
<p>
<b>3. Complete the dialog by re-writing B's sentences using the verb in parentheses:</b>
<p>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr>
<td>
For example: <br>
<span id="m1">
Perhaps it was a dinosaur. <b>(may)<br>
It may have been a dinosaur.</b> </span>
<p>
<ol>
A:  I saw this amazing dog-like animal in the forest yesterday.  
<p>
B: It was probably a fox. <b>(may)</b>    
<br><li><input size=25 name="q3a">.<p>    
A: No, it was bigger than a fox.    
B:  Was it possibly a badger? <b>(could)</b>     
<br><li><input size=25 name="q3b">?<p>     
A: It was nothing like a badger.    
B: Perhaps it was a dog.<b>(might)</b>    
<br><li><input size=25 name="q3c">.<p>     
A:  No, it is definitely a wild animal.    
B:  Well, it definitely isn't a wolf. <b>(can't)</b>   
 <li> Well, <input size=25 name="q3d">.<p>    
A:  I'm not so sure. It looked like a wolf.   
B: You probably imagined it. <b>(must)</b>    
<br><li><input size=25 name="q3e">.<p>     
A: I tell you, it was a wolf.   
B: There are no wolves in our forest. It certainly wasn't a wolf. <b>(couldn't)</b> 
<br><li><input size=25 name="q3f">.
</ol>
</td></tr></table>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


 
