<script>
	v = {

		q1a:'f',
		q1b:'h',
		q1c:'a',
		q1d:'d',
		q1e:'j',
		q1f:'g',
		q1g:'b',
		q1h:'i',
		q1i:'c',
		q1j:'e',

	}

</script>

<div id="t0">
<img src="img/u6.jpg" class="logo4">
<p>
<b class="u4tit">Personality adjectives  </b>
<br>
</div>
<p>
<form id="t1">
<b>1. Match the two halves of these sentences.</b>
<p>
<center>
<table cellpadding=2 cellspacing=2>
<tr><td>a) People who are lacking in confidence...</td><td>1. <input size=1 maxlength=1 name="q1a">...gets her own way.</td></tr>
<tr><td>b) Outgoing people...</td><td>2. <input size=1 maxlength=1 name="q1b">...eats by herself.</td></tr>
<tr><td>c) You will have to be more assertive if you...</td><td>3. <input size=1 maxlength=1 name="q1c">...don't make good sales reps.</td></tr>
<tr><td>d) After his wife died he...</td><td>4. <input size=1 maxlength=1 name="q1d">...became withdrawn and never went out.</td></tr>
<tr><td>e) As a child he was very shy and never...</td><td>5. <input size=1 maxlength=1 name="q1e">...is wildly extrovert.</td></tr>
<tr><td>f) She has a forceful personality and always...</td><td>6. <input size=1 maxlength=1 name="q1f">...mix with the guests.</td></tr>
<tr><td>g) Don't be unsociable&#151;go and...</td><td>7. <input size=1 maxlength=1 name="q1g">...are often good language learners.</td></tr>
<tr><td>h) She is so timid she always...</td><td>8. <input size=1 maxlength=1 name="q1h">...isn't interesting to talk to.</td></tr>
<tr><td>i) Because he is introverted doesn't mean he...</td><td>9. <input size=1 maxlength=1 name="q1i">...want to get ahead.</td></tr>
<tr><td>j) I am fairly reserved but my girlfriend...</td><td>10. <input size=1 maxlength=1 name="q1j">...played with other children.</td></tr>
</table>
<p>

<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>
</div>

<div id="z1">
</div>
