<script>
	v = {

		q1a:'1',
		q2a:'2',
		q2b:'2',
		q3a:'0',
		q3b:'1',
		q3c:'1',
		q3d:'0',
		q3e:'1',
		q4a:'0',
		q4c:'0',
		q4e:'1',
		q4g:'1',
		q4i:'0',
		q5a:'1',
		q5c:'0',
		q5e:'1',
		q5g:'1',
		q5i:'0'



	}
</script>

<div id="t0">
<img src="img/u7.jpg" class="logo4">
<p>
<b class="u4tit">Being green </b>
<br>
</div>
<p>
<form id="t1">
<b>1. Listen to these two people talking about the quiz at the beginning of this unit. <a href="snd/7c-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>
<b>Which speaker do you think is the most eco-friendly?</b>
<p>
<ol>
<li><input type="radio" name="q1a" value="1" checked>the woman
<li><input type="radio" name="q1a" value="0">the man 
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form>
<form id="t2">
<p>
<b>2. Listen again. <a href="snd/7c-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>
<ol>
<li>What bothers the man?  

<br><input type="radio" name="q2a" value="1" checked> People throwing rubbish in the street 

<br><input type="radio" name="q2a" value="2"> Seeing the recycling bins on the street. 
  
<br><input type="radio" name="q2a" value="3">Cars parked on the street.
<p> 
<li>What bothers the woman?  

<br><input type="radio" name="q2b" value="1" checked>  Having lots of rubbish in her kitchen.  

<br><input type="radio" name="q2b" value="2">  People who don't put rubbish in the containers. 

<br><input type="radio" name="q2b" value="3">  When the rubbish isn't collected from the containers. 
<p>
</ol>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center>
</form>
<form id="t3">
<p>

<b>3. Listen again. Which speaker says these phrases? <a href="snd/7c-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>

<table cellpadding=2 cellspacing=2 width=500>

<tr><td>1 ... we've got a system going and
everybody takes their turn ...  
</td><td><input type="radio" name="q3a" value="1" checked>man  </td><td><input type="radio" name="q3a" value="0">woman 
</td></tr>

<tr><td>2 I just find it a little inconvenient. </td><td><input type="radio" name="q3b" value=1 checked>man  
</td><td><input type="radio" name="q3b" value="0">woman 
</td></tr>

<tr><td>3 I think they're quite ugly, ...  
</td><td><input type="radio" name="q3c" value="1" checked>man  
</td><td><input type="radio" name="q3c" value="0">woman 
</td></tr>

<tr><td>4 I'd never thought about that. 
</td><td><input type="radio" name="q3d" value="1" checked>man  
</td><td><input type="radio" name="q3d" value="0">woman 
</td></tr>

<tr><td>5 Then it's worse.  
</td><td><input type="radio" name="q3e" value=1 checked>man  </td><td><input type="radio" name="q3e" value=0>woman
</td></tr> 
</table>
<p>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center>
</form>
<form id="t4">
<p>
<b>4. Listen again. Which speaker says these phrases? <a href="snd/7c-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 Don't you </td><td> 
</td><td><input type="radio" name="q4a" value="1" checked>man  
</td><td><input type="radio" name="q4a" value="0">woman
</td></tr>

<tr><td>2 Not at all </td><td> 
</td><td><input type="radio" name="q4b" value="1" checked>man  
</td><td><input type="radio" name="q4b" vvalue="0">woman
</td></tr>
 
<tr><td>3 I guess </td><td> 
</td><td><input type="radio" name="q4c" value="1" checked>man
</td><td><input type="radio" name="q4c" value="0">woman 
</td></tr>

<tr><td>4 Exactly </td><td> 
</td><td><input type="radio" name="q4d" value="1" checked>man
</td><td><input type="radio" name="q4d" value="0">woman
</td></tr>
 
<tr><td>5 I suppose </td><td> 
</td><td><input type="radio" name="q4e" value="1" checked>man
</td><td><input type="radio" name="q4e" value="0">woman
</td></tr></table>
<p>
<center>
<button class="eval"data-target="t4">Check answers</button>
</center>
</form>
<form id="t5">
<p>  

<b>5. Listen again. Which speaker says these words? <a href="snd/7c-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>
<table cellpadding=2 cellspacing=2 width=380>
<tr><td>1 rubbish</td><td>  
</td><td><input type="radio" name="q5a" value="1" checked>man   
</td><td><input type="radio" name="q5a" value="0">woman 
</td></tr>

<tr><td>2 separate </td><td>
</td><td><input type="radio" name="q5b" value="1" checked>man   
</td><td><input type="radio" name="q5b" value="0">woman
</td></tr>

<tr><td>3 bit  </td><td>
</td><td><input type="radio" name="q5c" value="1" checked>man   
</td><td><input type="radio" name="q5c" value="0">woman
</td></tr>
 
<tr><td>4 bothers  </td><td>
</td><td><input type="radio" name="q5d" value="1" checked>man   
</td><td><input type="radio" name="q5d" value="0">woman
</td></tr>
 
<tr><td>5 hate  </td><td>
</td><td><input type="radio" name="q5e" value="1" checked>man   
</td><td><input type="radio" name="q5e" value="0">woman 
</td></tr>
</td></tr></table>
<p>
<center>
<button class="eval"data-target="t5">Check answers</button>
</center>  
</form>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>
 
