<script>
	v = {


		q1a:'e',
		q1b:'f',
		q1c:'d',
		q1d:'b',
		q1e:'a',
		q1f:'c',
		q2a:'don\'t get along with my wife',
		q2b:'have split up',
		q2c:'have fallen out',
		q2d:'not getting along with his wife',
		q2e:'been going out',
		q2f:'break up with Tom',
		q2g:'don\'t get along anymore',
		q2h:'is growing apart from',
		q3a:'1',
		q3b:'2',
		q3c:'2',
		q3d:'2',
		q3e:'2',
		q3f:'1',
		q3g:'2',
		q3h:'2',
		q4a:'2',
		q4b:'1',
		q4c:'2',
		q4d:'1'


	}

</script>


<form id="t0">
<img src="img/u8.jpg"class="logo4">
<p>
<b class="u4tit">Phrasal verbs connected to relationships </b>
<br>
</form>
<p>
<form id="t1">
<b>1. Phrasal verbs: relationships
<p>
Match these verbs to their definition:</b>
<p>
<center>
<table cellpadding=3 cellspacing=3 width=600>
<tr><td>a) get along</td><td>1. <input size=1 maxlength=1 name="q1a"> to stop being friendly because of an argument</td></tr>
<tr><td>b) break up/ split up</td><td>2. <input size=1 maxlength=1 name="q1b"> to gradually have a less close relationship</td></tr>
<tr><td>c) go out</td><td>3. <input size=1 maxlength=1 name="q1c"> to become friends again after an argument</td></tr>
<tr><td>d) make up</td><td>4. <input size=1 maxlength=1 name="q1d"> to end a relationship</td></tr>
<tr><td>e) fall out</td><td>5. <input size=1 maxlength=1 name="q1e"> to have a good relationship</td></tr>
<tr><td>f) grow apart</td><td>6. <input size=1 maxlength=1 name="q1f"> to spend time regularly with somebody</td></tr>
</table>
</center>
<p>
<center>	
<button class="eval"data-target="t1">Check answers</button>
</center>
</form> 
<form id="t2"> 
<p>
<b>2. Verb pattern: get along (with) </b>
<p>
<span id="m1">
<li>Stuart <b>gets along</b> with almost anyone. 
<li>It's amazing how well we all <b>get along.</b>
</span>
<p> 
The phrasal verb <b>get along</b> has two patterns:
<p>
<center class="caja">
<table cellpadding=2 cellspacing=2 width=500>

<tr><td>singular noun +                  </td><td><span id="m1"><b>get along</span> +</td><td><span id="m1"><b>with</span> + noun</td></tr> 
<tr><td><span id="m1">Lucy</span>        </td><td><span id="m1">gets along</span></td><td><span id="m1">with her mother. </td></tr>
<tr><td colspan=3><b>or</b></td></tr>    
<tr><td>plural noun +                    </td><td><span id="m1"><b>get along</b></span></td><td></td></tr>  
<tr><td><span id="m1">Lucy and her mother</td><td><span id="m1">get along.</span></td><td></td></tr>   
</table>
</center>
<p> 

Other verbs that take this pattern (with <span id="m1">with</span>):
<p>
<span id="m1">
break up<br>
go out<br>
make up<br>
split up<br>
fall out<br>
</span>
<p>
This verb also takes the pattern, but with from:
<p>
<span id="m1">grow apart</span>
<p>
<b>Re-write each sentence to make a new sentence that is similar in meaning. The first one has been done for you as an example.</b>
<p>
<table cellpadding=2 cellspacing=2 width=650 bgcolor=#ffbc90>

<tr><td><b>Original sentence</b></td><td><b> Your Answer</td</tr>
<tr><td><span id="m1">Lucy gets along with her mother.</td><td><span id="m1"> Lucy and her mother get along. </td></tr>
  
<tr><td>1. Me and my wife don't get along. </td><td> I <input size=40 name="q2a">  .</td></tr>   
<tr><td>2. Jack has split up with Amy. </td><td> Jack and Amy <input size=40 name="q2b"> .</td></tr>   
<tr><td>3. My neighbor has fallen out with me.</td><td>My neighbor and I <input size=40 name="q2c"> .</td></tr>   
<tr><td>4. Barry and his wife are not getting along. </td><td>Barry is <input size=40 name="q2d"> .   </td></tr>
<tr><td>5. How long have you been going out with Jack? </td><td> How long have you and Jack <input size=40 name="q2e"> ?</td></tr>   
<tr><td>6. Why did Tom and Viv break up?</td><td>  Why did Viv <input size=40 name="q2f"> ?   </td></tr>
<tr><td>7. I don't get along with you anymore. </td><td> You and I <input size=40 name="q2g"> .   </td></tr>
<tr><td>8. My roommate and I are growing apart. </td><td> My roommate <input size=40 name="q2h"> .   </td></tr>
 </table>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>



</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
