<script>
	v = {

		q1a:'2',
		q1b:'6',
		q1c:'5',
		q1d:'1',
		q1e:'3',
		q1f:'4',
		q2a:"",
		q2b:"",
		q2c:"",
		q2d:"",
		q3a:'1',
		q3b:'2',
		q3c:'2',
		q3d:'2',
		q3e:'2',
		q3f:'1',
		q3g:'2',
		q3h:'2',
		q4b:'2',
		q4c:'1',
		q4f:'2',
		q4g:'1',


	}

</script>


<form id="t0">
<img src="img/u9.jpg"class="logo4">
<p>
<b class="u4tit">How much do you know about job interviews? </b>
<br>
</form>
<form id="t1">
<center>
<img src="img/u9a1.jpg">
</center>
<p>
<b>1. Put these events in the order that they usually happen. (1,2,3,4,5,6)</b>
<p>
<ol>
<li><input size=1 maxlength=1 name="q1a"> He applied for the job, by writing a letter.
<li><input size=1 maxlength=1 name="q1b"> He got the job.
<li><input size=1 maxlength=1 name="q1c"> He attended an interview.
<li><input size=1 maxlength=1 name="q1d"> He saw an advertisement for a job.
<li><input size=1 maxlength=1 name="q1e"> He enclosed a resume.
<li><input size=1 maxlength=1 name="q1f"> His boss wrote him a reference.
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>



</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
