<script>
	v = {
		q1a:'2',
		q1b:'1',
		q1c:'3',
		q2a:'2',
		q2b:'2',
		q2c:'1',
		q2d:'3',
		q3a:'2',
		q3b:'4',
		q3c:'1',
		q3d:'6',
		q3e:'3',
		q3f:'5',
		q4a:'2',
		q4b:'1',
		q4c:'2',
		q4d:'2',
		q4e:'2',
		q4f:'1',
		q4g:'1',
		q4h:'1'
	}
</script>

<form id="t0">
<img src="img/u9.jpg" class="logo4">
<p>
<b class="u4tit"> Job application letter </b>
<br>
</form>

<form id="t1">
<div class="co1">	
<b>1. Here is a letter. You are going to read it in parts. Here is the first part. </b>
<p>

<center>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td></td><td></td><td>
Angeles Nu&ntilde;ez,<br>
Buenos Aires<br>
Argentina
<p>
May 21, 2010
</td></tr>

<tr><td><p></td><td></td><td></tr></tr>
<tr><td>Rowena Menzies<br>
Personnel Manager<br>
ACE Pharmaceuticals<br>
25 Elm Road<br>
Frammingham, Massachusetts<br>
</td><td></td><td></td></tr>
</table>
</center>
<p>
<b>Before you read the rest of the letter, answer these questions:</b>
<p>
<ol>
<li> Who wrote this letter? 
<br><input type="radio" name="q1a" value=1 checked> Rowena Menzies 
<br><input type="radio" name="q1a" value=2 checked>   someone in Argentina 
<p>
<li> Is this a formal or informal letter? 
  <br><input type="radio" name="q1b" value=1 checked> formal 
  <br><input type="radio" name="q1b" value=2 checked> informal
<p> 
<li> What does Rowena do? 
  <br><input type="radio" name="q1c" value=1 checked> She manages a company. 
  <br><input type="radio" name="q1c" value=2 checked> She is responsible for staffing in a company. 
  <br><input type="radio" name="q1c" value=3 checked> She is personnel manager. 
</ol>  
</div>
<p> 
<div class="co1"></div>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center> 
</form>

<form id="t2">
<p>
<b>2. Now read on:</b>
<p>
<center>
<table cellpading=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>
Dear Ms. Menzies,
<p>
I am writing to you on the recommendation of Rex Galbraith, the Marketing Manager in your Atlanta office,
 whom I met at a marketing course in Sao Paulo last summer. He suggested that I should contact your company 
to inquire about the possibility of a position.
<p>
</td></tr></table>
</center>
<p>

<b>Answer these questions:</b>
<p>
<ol>
<li> The person writing the letter 
<br><input type="radio" name="q2a" value=1 checked> wants to go on a marketing course. 
<br><input type="radio" name="q2a" value=2> wants a job in ACE Pharmaceuticals. 
<br><input type="radio" name="q2a" value=3> wants a job in the Atlanta office. 
<p>
<li> The writer 
<br><input type="radio" name="q2b" value=1 checked> met Rex Galbraith in Atlanta. 
<br><input type="radio" name="q2b" value=2> took a marketing course in Sao Paulo last summer. 
<br><input type="radio" name="q2b" value=3> is recommending Rex Galbraith for a job. 
<p>
<li> Rex Galbraith 
<br><input type="radio" name="q2c" value=1 checked> recommended that the writer should contact ACE Pharmaceuticals. 
<br><input type="radio" name="q2c" value=2> recommended the writer for a job. 
<br><input type="radio" name="q2c" value=3> recommended the writer for a marketing course. 
<p>
<li> The writer is writing this letter 
<br><input type="radio" name="q2d" value=1 checked> in response to an advertisement. 
<br><input type="radio" name="q2d" value=2> because she knows there is a position. 
<br><input type="radio" name="q2d" value=3> because she hopes there is a position. 
</ol>
<p>
</div>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">
<p>
<b>3. Now read on:</b>

<center>
<table cellpading=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>
I am twenty-seven years old, Argentinian, and am employed at NUTTEX Solutions, where I work in the marketing division. 
I have been with this company for the past eighteen months. 
Prior to that I worked as a laboratory technician for a large pharmaceutical company,
 after graduating from the University of Los Alamos with a degree in biochemistry in 1998. Before starting my degree,
 I worked in Ecuador for a medical charity. I am presently completing a long distance degree in business administration
 with the University of Little Hill.
<p>
As well as speaking fluent Spanish and English, I have a good working knowledge of Portuguese,
 having spent a year in Brazil as an exchange student when I was in middle school.
<p>
</td></tr></table>
</center>
<p>
<b>Now, put these events in the order that they happened: (1,2,3,4,5,6)</b>
<p>
<ol>
<li><input size=1 maxlength=1 name="q3a"> She worked in Ecuador.
<li><input size=1 maxlength=1 name="q3b"> She worked as a laboratory technician.
<li><input size=1 maxlength=1 name="q3c"> She spent a year in Brazil.
<li><input size=1 maxlength=1 name="q3d"> She is doing a long distance degree.
<li><input size=1 maxlength=1 name="q3e"> She graduated in biochemistry.
<li><input size=1 maxlength=1 name="q3f"> She got a job with NUTEX Solutions.
</ol>
<p>
<div class="co1"></div>
<center>
<button class="eval"data-target="t3">Check answers</button>
</center> 
</form>
<form id="t4">
<p>
<b>4. Now read on:</b>
<p>
<center>
<table cellpading=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td>
In my present position as Assistant Marketing Manager, I deal with a wide range of clients throughout Europe and Latin America.
 My science background has been a great advantage in the marketing of my company's products. 
<p>
I plan to resign from my present position in order to accompany my husband to Boston, where he is completing a doctorate.
 For this reason, I will be available for work as of next September. My present Director has agreed to provide a reference,
should you require it.
<p>
I believe my experience and languages would prove useful to your organization. I am also eager to undertake further training, 
should this be necessary.
<p>
If you think you would be able to offer me a position, or if you need any additional information,
 please contact me at the above address. In the meantime, I am enclosing a resume which gives more details of the skills
 and experience I have to offer.
<p>
I look forward to hearing from you soon.
<p>
Yours sincerely,
<p>
Angeles Nunez.
<p>
</td></tr></table></center>
<p>
<b>Now, answer these questions. True or false?</b>
<p>
<ol>
<li> She would like to be Assistant Marketing Manager. 
<br>
<select name="q4a">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> Her experience as a scientist is useful in her work. 
<br>
<select name="q4b">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
<li> She is resigning because she is completing a doctorate. 
<br>
<select name="q4c">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
<li> Her present Director doesn't know she is leaving. 
<br>
<select name="q4d">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
<li> She is sending a reference with this letter. 
<br>
<select name="q4e">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p> 
<li> She can start work in September. 
<br>
<select name="q4f">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
<li> She would like to do some more training. 
<br>
<select name="q4g">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
<li> She is sending a resume with this letter. 
<br>
<select name="q4h">  
<option value="x">Choose Answer
<option value="1">true  
<option value="2">false
</select>
<p>
</ol>

<center>
<button class="eval"data-target="t4">Check answers</button>
</center> 
</form>
<form id="5">
<p>
<center>
<table cellpadding=3 cellspacing=2 width=500 bgcolor=#ffbc90>
<tr><td></td><td></td><td>
Mendez Nunez,<br>
2891 8860<br>
Buenos Aires<br>
Argentina
<p>
May 21, 2010
</td></tr>

<tr><td><p></td><td></td><td></tr></tr>
<tr><td>Rowena Menzies<br>
Personnel Manager<br>
ACE Pharmaceuticals<br>
25 Elm Road<br>
Frammingham, Massachusetts<br>
</td><td></td><td></td></tr>

<tr><td colspan=3>
Dear Ms. Menzies, 
<p>
I am writing to you on the recommendation of Rex Galbraith, the Marketing Manager in your Atlanta office, whom I met at a marketing course in Sao Paulo last summer. He suggested that I should contact your company to inquire about the possibility of a position. 
<p>
I am twenty-seven years old, Argentinian, and am employed at NUTTEX Solutions, where I work in the marketing division. I have been with this company for the past eighteen months. Prior to that I worked as a laboratory technician for a large pharmaceutical company, after graduating from the University of Los Alamos with a degree in biochemistry in 1998. Before starting my degree, I worked in Ecuador for a medical charity. I am presently completing a part-time distance degree in business administration with the University of Little Hill. 
<p>
As well as speaking fluent Spanish and English, I have a good working knowledge of Portuguese, having spent a year in Brazil as an exchange student when I was in middle school. 
<p>
In my present position as Assistant Marketing Manager, I deal with a wide range of clients throughout Europe and Latin America. My science background has been a great advantage in the marketing of my company's products. 
<p>
I plan to resign from my present position in order to accompany my husband to Boston, where he is completing a doctorate. For this reason, I will be available for work as of next September. My present Director has agreed to provide a reference, should you require it. 
<p>
I believe my experience and languages would prove useful to your organization. I am also eager to undertake further training, should this be necessary. 
<p>
If you think you would be able to offer me a position, or if you need any additional information, please contact me at the above address. In the meantime, I am enclosing a resume which gives more details of the skills and experience I have to offer. 
<p>
I look forward to hearing from you soon. 
<p>
Yours sincerely, 
<p>
Angeles Nunez. 
<p>
</td></tr>
</table>
<p>
</form>


</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>


 
