<script>
	v = {
		q1a:'d',
		q1b:'c',
		q1c:'e',
		q1d:'a',
		q1e:'f',
		q1f:'h',
		q1g:'b',
		q1h:'g',
		q2a:'graduated',
		q2b:'applied',
		q2c:'application',
		q2d:'provide',
		q2e:'present',
		q2f:'interview',
		q2g:'appointed',
		q2h:'resigned'
	}
</script>

<form id="t0">
<img src="img/u9.jpg" class="u4tit">
<p>
<b class="u4tit">Job application expressions  </b>
<br>
</form>
<p>
<form id="t1">
<b>1. Match the two parts of these expressions. </b>
<p>
<center>
<table cellspacing=3 width=600>
<tr><td>a) apply for</td><td>1. <input size=1 maxlength=1 name="q1a"> a new manager</td></tr>
<tr><td>b) attended</td><td>2. <input size=1 maxlength=1 name="q1b"> an examination</td></tr>
<tr><td>c) present</td><td>3. <input size=1 maxlength=1 name="q1c"> an application form</td></tr>
<tr><td>d) appoint</td><td>4. <input size=1 maxlength=1 name="q1d"> a position</td></tr>
<tr><td>e) fill out</td><td>5. <input size=1 maxlength=1 name="q1e"> my present position</td></tr>
<tr><td>f) resign from</td><td>6. <input size=1 maxlength=1 name="q1f"> from college</td></tr>
<tr><td>g) provide</td><td>7. <input size=1 maxlength=1 name="q1g"> an interview</td></tr>
<tr><td>h) graduate</td><td>8. <input size=1 maxlength=1 name="q1h"> references</td></tr>
</table>
</center>
<p> 
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form> 
<form id="t2">
<p>
<b>2. Complete by typing the correct word in the space. </b>
<p>
<table cellpadding=3 cellspacing=2 bgcolor=#ffbc90 width=600>
<tr><td>
Five years ago, after I <input size=5 name="q2a">(1) from college, I  <input size=5 name="q2b">(2) for a 
position in an advertising agency. I had to fill out an  <input size=5 name="q2c">(3) form 
and  <input size=5 name="q2d">(4) references. Also, because there were so many 
applicants, I had to  <input size=5 name="q2e">(5) an examination. Finally I was asked to 
attend an  <input size=5 name="q2f">(6). Amazingly, I got the job and after only a year 
they  <input size=5 name="q2g">(7) me assistant manager. But I didn't like the work 
conditions, so I  <input size=5 name="q2h">(8) from this job and now I'm looking for a new one.
<p>
</td></tr></table>
<p>
<center>
<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<p>

</div>

<div id="z1">
</div>

<div id="z2">
</div>
