<script>
	v = {
		q1a:'2',
		q3a:'2',
		q3b:'1',
		q3c:'4',
		q3d:'2',
		q4a:'b',
		q4b:'c',
		q4c:'a',
		q4d:'e',
		q4e:'d',
		q5a:'degree',
		q5b:'fluently',
		q5c:'doctorate',
		q5d:'education',
		q5e:'graduating',
		q5f:'working',
		q5g:'educational',
		q5h:'teacher',
		q5i:'research',
		q5j:'moving',
		q5k:'worked',
		q5l:'training'
	}

</script>

<form id="t0">
<img src="img/u9.jpg">
<p>
<b> Job interview </b>
<br>
</form>
<p>
<form id="t1">
<b>1. Look at these three job advertisements. You are going to hear a job interview. Listen to the first part of the interview and answer this question: Which job is the interviewee applying for?<a href="snd/9d-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>

<b>ADVERTISEMENT 1</b>
<p>
<center>
<table cellpadding=2 cellspacing=2 width=450 bgcolor=#fff000>
<tr><td>
<b>AGRICULTURE PROJECT MANAGER
<br>SE Asia</b>
<p>
Responsibilities: To plan and implement agriculture projects including training and monitoring of local professionals. 
<p>
Requirements: College degree in agriculture; at least two years experience overseas; strong organization skills; familiarity with region preferable.
<p>
</td></tr>
</table>
</center>
 <p>

<b>ADVERTISEMENT 2</b>
<p>
<p>
<center>
<table cellpadding=2 cellspacing=2 width=450 bgcolor=#fff000>
<tr><td>
<b>FEMALE EDUCATION PROGRAM SUPERVISOR
<br>Middle East</b>
<p>
Responsibilities: training of female teachers for middle schools; managing local staff.
<p>
Requirements: MA in education; classroom teaching experience essential; experience in Muslim culture preferred; knowledge of Arabic an advantage.
<p>
</td></tr></table>
</center>
<p> 
 
<b>ADVERTISEMENT 3</b>
<p>
<p>
<center>
<table cellpadding=2 cellspacing=2 width=450 bgcolor=#fff000>
<tr><td>
<b>REFUGEE HEALTH PROGRAM OFFICER
<br>East Africa</b>
<p>
Responsibilities: Supervise local refugee health programs; recruit and train local health staff; monitor and evaluate health programs; co-ordinate relief efforts with local and international NGOs.
<p>
Requirements: Medical degree; fluent English; language skills in French and Swahili preferred; experience in refugee welfare essential, preferably in Africa; computer skills preferable.
<p> 
</td></tr></table>
</center>
<p>
<b>2. Read the first part of the interview.</b>
<p>
<center>
<table cellpadding=2 cellspacing=2 width=450 bgcolor=#fff000>
<tr><td>
<b>Job Interview</b>
<p>
Interviewer (male): Right, well I've had a look at your application and your references. I see that you've worked in Africa and Asia? How long ago were you in Africa?
<p>
Interviewee (female): Yes I worked for five years in Senegal, and before that I worked in Indonesia for an educational charity.
<p>
Interviewer: So you have worked in a Muslim culture before?
<p>
Interviewee: Yes, that's right. In Indonesia.
<p>
Interviewer: And you speak French and Indonesian, as well as English, is that right?
<p>
Interviewee: Yes. I also studied Turkish when I was in college.
<p>
Interviewer: But no Arabic?
<p>
Interviewee: No, but I'm good at languages, and I'm sure I will be able to pick it up fast.
<p>
Now, which job is she applying for? </b>
</td></tr>
</table></center>
<p>
<b>Now, which job is she applying for?</b>
<p>
<ol>
<li><input type="radio" name="q1a" value=1 checked> advertisement 1<br>
Agriculture Project Manager 
<p>  
<li><input type="radio" name="q1a" value=2> advertisement 2<br>
Female Education Program Supervisor 
<p>  
<li><input type="radio" name="q1a" value=3> advertisement3<br>
Refugee Health Program Office 
</ol>
<p>
<center>
<button class="eval"data-target="t1">Check answers</button>
</center>
</form> 
<form id="t2"> 
<p>

<p>
<b>3. Now listen to the next part of the interview, and complete the application form by choosing the right answer. <a href="snd/9d-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></b>
<p>
<center>
<table cellpadding=2 cellspacing=3 width=500 bgcolor=#ffbc90>
<tr><td><center>APPLICATION FORM</center></td></tr>
<tr><td>Qualifications:
<p>
<sub>1</sub><select name="q3a">
<option value="x">Choose Correct Answer 
<option value="1">masters degree in education only 
<option value="2">masters degree in education and doctorate (incomplete) 
<option value="3">masters degree in education and doctorate (completed)
</select>
<p>
Experience:
<p>

1992 - 1993:  
<sub>2</sub><select name="q3b">
<option value="x">Choose Correct Answer 
<option value="1">teaching in Indonesia 
<option value="2">teacher training in Indonesia 
<option value="3">teacher training in Senegal 
</select>
<br> 
1993 - 1994:  
<sub>3</sub><select name="q3c">
<option value="x">Choose Correct Answer 
<option value="1">research in Senegal 
<option value="2">teacher training in Senegal 
<option value="3">teaching in Ivory Coast 
<option value="4">research in Ivory Coast
</select>
<br>  
1994 - 1998:  
<sub>4</sub><select name="q3d">
<option value="x">Choose Correct Answer 
<option value="1">research in Senegal 
<option value="2">teacher training in Senegal 
<option value="3">teaching in Senegal  
</select>
<p>
</td></tr></table>
<p>

<button class="eval"data-target="t2">Check answers</button>
</center> 
</form>
<form id="t3">
<p>
<b>4. Match the questions to the answers. Then listen again  and check. </b> <a href="snd/9d-1.mp3" target="_blank"><img src="img/listen.jpg" border=0></a></a>
<p>
<center> 
<table cellspacing=3 width=600>
<tr><td>a) And after you graduated, what did you do?</td><td>1. <input size=1 maxlength=1 name="q4a"> No, that was mainly classroom teaching.</td></tr>
<tr><td>b) Were you involved in teacher training at all?</td><td>2. <input size=1 maxlength=1 name="q4b"> Well, before that I spent six months in the Ivory Coast, doing research.</td></tr>
<tr><td>c) So then you went to Senegal?</td><td>3. <input size=1 maxlength=1 name="q4c"> That's when I went to Indonesia.</td></tr>
<tr><td>d) What kind of research are you doing?</td><td>4. <input size=1 maxlength=1 name="q4d"> That's right. That's where I was doing mainly teacher training...</td></tr>
<tr><td>e) That sounds interesting. So you worked in Senegal from 94 to 98?</td><td>5. <input size=1 maxlength=1 name="q4e"> My doctorate is on the education of women...</td></tr>
</table>
<p>
<button class="eval"data-target="t3">Check answers</button> 
</center>
</form>
<form id="t4">
<center><img src="img/u9d1.jpg"></center>
<p>
<b>5. Here is part of the interviewee's letter, applying for the job. Complete it by putting in the correct words. </b>
<p>
I have a Master's <sub>1</sub><input size=10 name="q5a"> in Education, and speak French and Indonesian
 <nobr><sub>2</sub><input size=10 name="q5b"></nobr>, as well as some Turkish. I am presently completing a  <sub>3</sub><input size=10 name="q5c"> on
the  <nobr><sub>4</sub><input size=10 name="q5d"></nobr> of women in developing countries. After  <sub>5</sub><input size=10 name="q5e">, I spent a 
year in Indonesia,  <sub>6</sub><input size=10 name="q5f"> for an  <sub>7</sub><input size=10 name="q5g"> charity as a secondary school
 <sub>8</sub><input size=10 name="q5h">. I then spent six months doing  <sub>9</sub><input size=10 name="q5i"> in the Ivory Coast, before
 <sub>10</sub><input size=10 name="q5j"> to Senegal where I  <sub>11</sub><input size=10 name="q5k"> for five years. My responsibilities
included teaching and teacher  <sub>12</sub><input size=10 name="q5l">.            
<p>
<center>
<table width=600>
<tr><td>graduating</td><td>degree</td><td>fluently</td><td>moving</td></tr>
<tr><td>training</td><td>working</td><td>teacher</td><td>research</td></tr>
<tr><td>worked</td><td>educational</td><td>doctorate</td><td>education</td></tr>
</table>
<p>

<button class="eval"data-target="t4">Check answers</button>
</center> 
</form>
<p>

</div>

<div id="z1">
</div>

<div id="z2">
</div>

<div id="z3">
</div>


<div id="z4">
</div>

<div id="z5">
</div>
 
