//- index.jade
extends ../jade/layouts/main.jade

block content
	div.bg.bg4
		div.row
			div#section1.large-12.medium-12.short-12.columns
				img#logo(src='img/m2-1.jpg')
				img(src='img/m2-2.jpg')
				img(src='img/m2-3.jpg')
		div.row.activity
			div#menu.large-3.medium-3.short-12.columns
				include ../jade/menus/4.jade
			div#cont.large-9.medium-9.short-12.columns
			div.large-9.medium-9.short-12.columns.alert.alert-box.info(data-alert)
				div
				a.close(href='#') x
	script.
		var unitans = {};
	include ./jade/U10A.jade
	include ./jade/U10B.jade
	include ./jade/U10C.jade
	include ./jade/U10D.jade
	include ./jade/U11A.jade
	include ./jade/U11B.jade
	include ./jade/U11C.jade
	include ./jade/U11D.jade
	include ./jade/U12A.jade
	include ./jade/U12B.jade
	include ./jade/U12C.jade
	include ./jade/U12D.jade
	include ./jade/U1A.jade
	include ./jade/U1B.jade
	include ./jade/U1C.jade
	include ./jade/U1D.jade
	include ./jade/U2A.jade
	include ./jade/U2B.jade
	include ./jade/U2C.jade
	include ./jade/U2D.jade
	include ./jade/U3A.jade
	include ./jade/U3B.jade
	include ./jade/U3C.jade
	include ./jade/U3D.jade
	include ./jade/U4A.jade
	include ./jade/U4B.jade
	include ./jade/U4C.jade
	include ./jade/U4D.jade
	include ./jade/U5A.jade
	include ./jade/U5B.jade
	include ./jade/U5C.jade
	include ./jade/U6A.jade
	include ./jade/U6B.jade
	include ./jade/U6C.jade
	include ./jade/U6D.jade
	include ./jade/U7A.jade
	include ./jade/U7B.jade
	include ./jade/U7C.jade
	include ./jade/U7D.jade
	include ./jade/U8A.jade
	include ./jade/U8B.jade
	include ./jade/U8C.jade
	include ./jade/U8D.jade
	include ./jade/U9A.jade
	include ./jade/U9B.jade
	include ./jade/U9C.jade
	include ./jade/U9D.jade