div#U11A
	script.
		unitans.U11A = {
			q1a:'2',
			q1b:'1',
			q1c:'3',
			q1d:'2',
			q1e:'1',
			q1f:'3',
			q1g:'3',
			q1h:'2',
			q1i:'1',
			q1j:'2',
			q1k:'2',
			q1l:'2',
			q1m:'2',
			q1n:'1'
		}
	form#t1
		img.logo1(src='img/t-u11.jpg')
		p
			span.titdorado Describing places
		b.instrucciones 1. Now match the words to things in the picture.
		p
			center
				img(src='img/u11-a.jpg')
		center
			table.letra(cellpadding='0', cellspacing='4')
				tr
					td 1.
					td(width='80')
					td
						select(name='q1a')
							option(value='0')
								| Choose answers
								option(value='1')
									| mountains
									option(value='2')
										| bay
										option(value='3') bridge
				tr
					td 2.
					td
					td
						select(name='q1b')
							option(value='0')
								| Choose answers
								option(value='1')
									| coast
									option(value='2')
										| island
										option(value='3') road
				tr
					td 3.
					td
					td
						select(name='q1c')
							option(value='0')
								| Choose answers
								option(value='1')
									| plain
									option(value='2')
										| hills
										option(value='3') beach
				tr
					td 4.
					td
					td
						select(name='q1d')
							option(value='0')
								| Choose answers
								option(value='1')
									| lake
									option(value='2')
										| harbour
										option(value='3') island
				tr
					td 5.
					td
					td
						select(name='q1e')
							option(value='0')
								| Choose answers
								option(value='1')
									| mountains
									option(value='2')
										| sea
										option(value='3') forest
				tr
					td 6.
					td
					td
						select(name='q1f')
							option(value='0')
								| Choose answers
								option(value='1')
									| road
									option(value='2')
										| plain
										option(value='3') hills
				tr
					td 7.
					td
					td
						select(name='q1g')
							option(value='0')
								| Choose answers
								option(value='1')
									| island
									option(value='2')
										| river
										option(value='3') forest
				tr
					td 8.
					td
					td
						select(name='q1h')
							option(value='0')
								| Choose answers
								option(value='1')
									| coast
									option(value='2')
										| plain
										option(value='3') forest
				tr
					td 9.
					td
					td
						select(name='q1i')
							option(value='0')
								| Choose answers
								option(value='1')
									| road
									option(value='2')
										| mountains
										option(value='3') lake
				tr
					td 10.
					td
					td
						select(name='q1j')
							option(value='0')
								| Choose answers
								option(value='1')
									| road
									option(value='2')
										| bridge
										option(value='3') river
				tr
					td 11.
					td
					td
						select(name='q1k')
							option(value='0')
								| Choose answers
								option(value='1')
									| plain
									option(value='2')
										| lake
										option(value='3') forest
				tr
					td 12.
					td
					td
						select(name='q1l')
							option(value='0')
								| Choose answers
								option(value='1')
									| lake
									option(value='2')
										| river
										option(value='3') coast
				tr
					td 13.
					td
					td
						select(name='q1m')
							option(value='0')
								| Choose answers
								option(value='1')
									| lake
									option(value='2')
										| sea
										option(value='3') harbour
				tr
					td 14.
					td
					td
						select(name='q1n')
							option(value='0')
								| Choose answers
								option(value='1')
									| island
									option(value='2')
										| sea
										option(value='3') mountains
		button.eval(data-target='t1', data-draw='z1') Check answers
	#z1