div#U9B
	script.
		unitans.U9B = {
			q1a:'0',
			q1b:'1',
			q1c:'1',
			q1d:'0',
			q1e:'1',
			q1f:'0',
			q1g:'1',
			q1h:'1',
			q1i:'0',
			q1j:'1',
			q1k:'1',
			q1l:'1',
			q1m:'0',
			q1n:'1',
			q1o:'0',
			q2a:'2',
			q2b:'2',
			q2c:'1',
			q2d:'1',
			q2e:'2',
			q2f:'2',
			q2g:'1',
			q2h:'2',
			q3a:'1',
			q3b:'2',
			q3c:'1',
			q3d:'2',
			q3e:'1',
			q3f:'2',
			q3g:'1',
			q3h:'2',
			q4a:'2',
			q4b:'2',
			q4c:'3',
			q4d:'1',
			q4e:'3',
			q4f:'1',
			q4g:'3',
			q4h:'1'
		}
	form#t1
		img.logo1(src='img/t-u9.jpg')
		p.titdorado
			span Have to and can
		p
			b.instrucciones
				| 1.
				span.rojo Have to
				| for obligation
		p.letra
			| We can use
			span.rojo have to
			| and
			span.rojo has to
			span#bl + infinitive
			| to talk about obligation:
		p
			table.cuadro(cellpadding='2', cellspacing='0')
				tr.letra
					td(width='20')
					td(width='10')
						img(src='img/bullet.gif')
					td
						span.rojo
							| To score a goal you
							b have to kick
							| the ball into the other team's goal.
				tr
					td(width='20')
					td(width='10')
						img(src='img/bullet.gif')
					td
						span.rojo
							| The batter
							b.letra1 has to hit
							| the ball and run around the bases.
		p
			b.letra Are these sentences true or false?
		p
			table.letra(cellpadding='3', cellspacing='0')
				tr
					td(width='15') 1
					td
						| Tennis players
						b have to
						| wear only white clothes.
				tr
					td
					td
						input(type='radio', name='q1a', value='1')
						| true
						input(type='radio', name='q1a', value='0')
						| false
				tr
					td(width='15') 2
					td
						| Soccer referees
						b have to
						| wear black clothes.
				tr
					td
					td
						input(type='radio', name='q1b', value='1')
						| true
						input(type='radio', name='q1b', value='0')
						| false
				tr
					td(width='15') 3
					td
						| A good jockey
						b has to
						| be small and light.
				tr
					td
					td
						input(type='radio', name='q1c', value='1')
						| true
						input(type='radio', name='q1c', value='0')
						| false
				tr
					td(width='15') 4
					td
						| Baseball players
						b have to
						| wear a cap.
				tr
					td
					td
						input(type='radio', name='q1d', value='1')
						| true
						input(type='radio', name='q1d', value='0')
						| false
				tr
					td(width='15') 5
					td
						| In cricket, the umpire
						b has to
						| be a man.
				tr
					td
					td
						input(type='radio', name='q1e', value='1')
						| true
						input(type='radio', name='q1e', value='0')
						| false
				tr
					td(width='15') 6
					td
						| A handball court
						b has to
						| have three walls.
				tr
					td
					td
						input(type='radio', name='q1f', value='1')
						| true
						input(type='radio', name='q1f', value='0')
						| false
				tr
					td(width='15') 7
					td
						| In golf, you
						b have to
						| get the ball in the hole.
				tr
					td
					td
						input(type='radio', name='q1g', value='1')
						| true
						input(type='radio', name='q1g', value='0')
						| false
				tr
					td(width='15') 8
					td
						| Water polo players
						b have to
						| stay in the pool during the game.
				tr
					td
					td
						input(type='radio', name='q1h', value='1')
						| true
						input(type='radio', name='q1h', value='0')
						| false
				tr
					td(width='15') 9
					td
						| In rugby, players
						b have to
						| pass the ball forwards.
				tr
					td
					td
						input(type='radio', name='q1i', value='1')
						| true
						input(type='radio', name='q1i', value='0')
						| false
				tr
					td(width='15') 10
					td
						| In basketball you
						b have to
						| bounce the ball when you run with it.
				tr
					td
					td
						input(type='radio', name='q1j', value='1')
						| true
						input(type='radio', name='q1j', value='0')
						| false
				tr
					td(width='15') 11
					td
						| At the Olympic Games boxers
						b have to
						| wear protective headgear.
				tr
					td
					td
						input(type='radio', name='q1k', value='1')
						| true
						input(type='radio', name='q1k', value='0')
						| false
				tr
					td(width='15') 12
					td
						| A cyclist
						b has to
						| belong to a team to enter the Tour de France.
				tr
					td
					td
						input(type='radio', name='q1l', value='1')
						| true
						input(type='radio', name='q1l', value='0')
						| false
				tr
					td(width='15') 13
					td
						| In hockey the ball
						b has to
						| stay on the ground.
				tr
					td
					td
						input(type='radio', name='q1m', value='1')
						| true
						input(type='radio', name='q1m', value='0')
						| false
				tr
					td(width='15') 14
					td
						| In chess the person with the white pieces
						b has to
						| move first.
				tr
					td
					td
						input(type='radio', name='q1n', value='1')
						| true
						input(type='radio', name='q1n', value='0')
						| false
				tr
					td(width='15') 15
					td
						| In volleyball, three players
						b have to
						| touch the ball before it crosses the net.
				tr
					td
					td
						input(type='radio', name='q1o', value='1')
						| true
						input(type='radio', name='q1o', value='0')
						| false
		p
			center
				button.eval(data-target='t1', data-draw='z1') Check answers
	form#t2
		p
			b.instruciones
				| 2. Choose the correct form of
				span#rd have to
				| .
		p
			table.letra(cellpadding='0', cellspacing='10')
				tr
					td
						| 1 Soccer referees
						select(name='q2a')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| wear black.
				tr
					td
						| 2 In golf, you
						select(name='q2b')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| get the ball in the hole.
				tr
					td
						| 3 In chess,the person with the white pieces
						select(name='q2c')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| move first.
				tr
					td
						| 4 A good jockey
						select(name='q2d')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| to be small and light.
				tr
					td
						| 5 In basketball you
						select(name='q2e')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| bounce the ball when you run with it.
				tr
					td
						| 6 At the Olympic Games boxers
						select(name='q2f')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| wear protective headgear.
				tr
					td
						| 7 A cyclist
						select(name='q2g')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| be in a team to enter the Tour de France.
				tr
					td
						| 8 Water polo players
						select(name='q2h')
							option(value='0')
								| Choose Answer
								option(value='1')
									| has to
									option(value='2') have to
						| stay in the pool during the game.
		p
			center
				button.eval(data-target='t2', data-draw='z2') Check answers
	form#t3
		p
			b.instrucciones
				| 3.
				span.rojo can
				| for permission and
				span.rojo can't
				| for prohibition.
		p
			table.letras(cellpadding='2', cellspacing='0')
				tr
					td(width='20')
					td(width='10')
						img(src='img/bullet.gif')
					td
						span.rojo
							| In tennis the ball
							b can
							| only bounce once.
				tr
					td(width='20')
					td(width='10')
						img(src='img/bullet.gif')
					td
						span.rojo
							| Rugby players
							b can't
							| pass the ball forwards.
		p
			b.letra
				| Choose the correct option to make true sentences about what you
				span.rojo can
				| and
				span.rojo can't
				| do in the United Kingdom.
		p
			table.letras(cellpadding='0', cellspacing='7')
				tr
					td.letra
						| 1 You
						select(name='q3a')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| drive a car when you are 17.
				tr
					td.letra
						| 2 You
						select(name='q3b')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| buy a pet when you are 5.
				tr
					td.letra
						| 3 You
						select(name='q3c')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| have a part-time job when you are 13.
				tr
					td.letra
						| 4 You
						select(name='q3d')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| buy cigarettes when you are 15.
				tr
					td.letra
						| 5 You
						select(name='q3e')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| smoke when you are 15.
				tr
					td.letra
						| 6 You
						select(name='q3f')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| drink beer when you are 16.
				tr
					td.letra
						| 7 A boy
						select(name='q3g')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| join the army when he is 16.
				tr
					td.letra
						| 8 A girl
						select(name='q3h')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2') can't
						| join the army when she is 16.
		p
			center
				button.eval(data-target='t3', data-draw='z3') Check answers
	form#t4
		p
			b.instrucciones 4. Complete the sentences with the verbs.
		p
			table.letra(cellpadding='0', cellspacing='7')
				tr.letra
					td.letra
						| 1 In soccer you
						select(name='q4a')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| catch the ball with your hands.
				tr
					td
						| 2 In water polo you
						select(name='q4b')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| take the ball under the water.
				tr
					td
						| 3 In soccer, a player
						select(name='q4c')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') has to
						| leave the field if he gets a red card.
				tr
					td
						| 4 In soccer you
						select(name='q4d')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| hit the ball with your head.
				tr.letra
					td
						| 5 You
						select(name='q4e')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| can train a lot if you want to run a marathon.
				tr.letra
					td
						| 6 In rugby you
						select(name='q4f')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| run with the ball in your hands.
				tr.letra
					td
						| 7 In England you
						select(name='q4g')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| drive on the left.
				tr.letra
					td
						| 8 If you are over 18, you
						select(name='q4h')
							option(value='0')
								| Choose Answer
								option(value='1')
									| can
									option(value='2')
										| can't
										option(value='3') have to
						| vote.
		button.eval(data-target='t4', data-draw='z4') Check answers
	#z1
	#z2
	#z3
	#z4
