div#U10B
	script.
		unitans.U10B = {
			q1a:'b',
			q1b:'h',
			q1c:'d',
			q1d:'g',
			q1e:'f',
			q1f:'e',
			q1g:'c',
			q1h:'a',
			q2a:'pet name',
			q2b:'nickname',
			q2c:'initials',
			q2d:'surname',
			q2e:'brand name',
			q2f:'pseudonym',
			q2g:'is short for',
			q3a:'d',
			q3b:'e',
			q3c:'a',
			q3d:'f',
			q3e:'h',
			q3f:'c',
			q3g:'g',
			q3h:'b',
			q4a:'3',
			q4b:'3',
			q4c:'1',
			q4d:'3',
			q4e:'2',
			q4f:'3',
			q4g:'1',
			q4h:'3',
			q5a:'named',
			q5b:'named after',
			q5c:'went by the name of',
			q5d:'is short for',
			q5e:'called'
		}
	form#t0
		img.logo4(src='img/u10.jpg')
		p
			b.u4tit Naming 
			br
	p
		form#t1
			b
				| 1. A "name" quiz. Match the definitions with the words they describe by clicking on them.
			p
				center
					table(width='650')
						tr
							td a) In some countries this is also called your Christian name.
							td
								| 1.
								input(size='1', maxlength='1', name='q1a')
								| last name
								tr
									td b) It's your family name.
									td
										| 2.
										input(size='1', maxlength='1', name='q1b')
										| initials
										tr
											td c) It's the name of the company that produces a product.
											td
												| 3.
												input(size='1', maxlength='1', name='q1c')
												| nickname
												tr
													td
														| d) It's a name your close friends call you instead of your real name. It sometimes has a humorous origin.
													td
														| 4.
														input(size='1', maxlength='1', name='q1d')
														| is short for
														tr
															td e) It's a private name that someone very close to you uses.
															td
																| 5.
																input(size='1', maxlength='1', name='q1e')
																| pseudonym
																tr
																	td f) An invented name used, usually by a writer, instead of a real name.
																	td
																		| 6.
																		input(size='1', maxlength='1', name='q1f')
																		| pet name
																		tr
																			td
																				| g) This is when friends or family shorten your name; for examply they say, "Chris______Christopher".
																			td
																				| 7.
																				input(size='1', maxlength='1', name='q1g')
																				| brand name
																				tr
																					td h) These are the first letters of your first name, or names, and last name.
																					td
																						| 8.
																						input(size='1', maxlength='1', name='q1h')
																						| first name
				center
					button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. Now match the words from exercise 2 to these situations by typing them in the space.
				p
					center
						table(cellpadding='3', cellspacing='3', width='500', bgcolor='#ffa090')
							tr
								td first name 
								td  surname 
								td  brand name 
								td  nickname 
							tr
								td pseudonym 
								td pet name 
								td  initials
								td  is short for 
					p
						span#m1 e.g., What about Oliver, or Harry. Harry is a nice name.:
						| first name
						p
							ol
								li
									| When we're alone she calls me "Honey Bear."
									input(size='8', name='q2a')
									li
										| When I was small the children at school called me "Mouse" because of my high voice.
										input(size='8', name='q2b')
										li
											| P C L.
											input(size='8', name='q2c')
											li
												| Sorry? Oh yes. It's Pupkin, Mister Pupkin.
												input(size='8', name='q2d')
												li
													| Oh, I buy Swan. It's so much kinder to my hands.
													input(size='8', name='q2e')
													li
														| Her real name was Mary Ann Evans but she published under the name of George Eliot.
														input(size='8', name='q2f')
														li
															| My full name's Randolf Milton Huntington, but friends call me Randy.
															input(size='8', name='q2g')
							p
								center
									button.eval(data-target='t2') Check answers
		form#t3
			p
				b 3. Complete the sentences below by matching the beginnings with the endings. 
				p
					center
						table(cellspacing='3', widt='600')
							tr
								td
									| a) The babies are often
									b  named after...
								td
									| 1.
									input(size='1', maxlength='1', name='q3a')
									| ...downloading.
							tr
								td
									| b) They
									b named...
								td
									| 2.
									input(size='1', maxlength='1', name='q3b')
									| ..."El nino".
							tr
								td
									| c) This
									b  so-called...
								td
									| 3.
									input(size='1', maxlength='1', name='q3c')
									| ...their parents.
							tr
								td
									| d) Transfering the data this way is
									b termed...
								td
									| 4.
									input(size='1', maxlength='1', name='q3d')
									| ...a relaxing vacation.
							tr
								td
									| e) This change in the climate is
									b known as...  
								td
									| 5.
									input(size='1', maxlength='1', name='q3e')
									| ...this metal thing for keeping papers together?
							tr
								td
									| f) This is what I
									b call...  
								td
									| 6.
									input(size='1', maxlength='1', name='q3f')
									| ...domestic pet, is in fact extremely dangerous.
							tr
								td
									| g) My real name is Wally Smith but I
									b  go by the name of...  
								td
									| 7.
									input(size='1', maxlength='1', name='q3g')
									| ..."wild Wally."
							tr
								td
									| h) What do you
									b call...  
								td
									| 8.
									input(size='1', maxlength='1', name='q3h')
									| ...the ship "Sea Prince."
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b 4. Complete each sentence by choosing the best word or words.
				p
					ol
						li
							| They are a very a successful jazz trio. They
							select(name='q4a')
								option(value='x')
									| Choose Answer
									option(value='1')
										| are named
										option(value='2')
											| are termed
											option(value='3')
												| go by the name of
							| "Birds of Tin."
							li
								| These
								select(name='q4b')
									option(value='x')
										| Choose Answer
										option(value='1')
											| named
											option(value='2')
												| called
												option(value='3')
													| so-called
								| fans are giving the sport a bad name.
								li
									| The cat was
									select(name='q4c')
										option(value='x')
											| Choose Answer
											option(value='1')
												| named after
												option(value='2')
													| called
													option(value='3')
														| termed
									| a cartoon character, "Felix."
									li
										| She was
										select(name='q4d')
											option(value='x')
												| Choose Answer
												option(value='1')
													| called
													option(value='2')
														| termed
														option(value='3')
															| named
										| "Cook of the Year" by Chef magazine.
										li
											| What do you
											select(name='q4e')
												option(value='x')
													| Choose Answer
													option(value='1')
														| name
														option(value='2')
															| call
															option(value='3')
																| term
											| a person who works delivering mail?
											li
												| In the tourist business this is
												select(name='q4f')
													option(value='x')
														| Choose Answer
														option(value='1')
															| so-called
															option(value='2')
																| named
																option(value='3')
																	| termed
												| "overbooking."
												li
													| The red rose
													select(name='q4g')
														option(value='x')
															| Choose Answer
															option(value='1')
																| is known as
																option(value='2')
																	| is named
																	option(value='3')
																		| goes by the name of
													| the flower of love.
													li
														| He
														select(name='q4h')
															option(value='x')
																| Choose Answer
																option(value='1')
																	| was named
																	option(value='2')
																		| was termed
																		option(value='3')
																			| went by the name of
														| of Mr. Goodheart and stole a lot of money from his clients.
					p
						center
							button.eval(data-target='t4') Check answers
		form#t5
			p
				b 5. Select and drag the words below to complete the text. 
				p
					| When I was born my parents
					sub 1
					input(size='10', name='q5a')
					| me Roderick. I was
					sub 2
					input(size='10', name='q5b')
					| my grandfather, Roderick Francis Spock. But when I was working in Japan I
					sub 3
					input(size='10', name='q5c')
					| Roddy, which of
					| course
					sub 4
					input(size='10', name='q5d')
					| Roderick. However my Japanese friends
					| found this difficult to pronounce and they
					sub 5
					input(size='10', name='q5e')
					| me Lod.
					p
						table(cellspacing='3', width='500', bgcolor='#ffa090')
							tr
								td called
								td named
								td went by the name of
							tr
								td named after
								td is short for
								td
						p
							center
								button.eval(data-target='t5') Check answers
		#z1
		#z2
		#z3
		#z4
		#z5
