div#U11D
	script.
		unitans.U11D = {
			q1a:'b',
			q1b:'a',
			q1c:'f',
			q1d:'e',
			q1e:'c',
			q1f:'d',
			q1g:'h',
			q1h:'g',
			q2a:'c',
			q2b:'d',
			q2c:'e',
			q2d:'f',
			q2e:'a',
			q2f:'h',
			q2g:'b',
			q2h:'g',
			q3a:'1',
			q3b:'1',
			q3c:'1',
			q3d:'3',
			q3e:'1',
			q3f:'1',
			q3g:'2',
			q3h:'1',
			q4a:'2',
			q4b:'3',
			q4c:'2',
			q4d:'3',
			q4e:'3',
			q4f:'2',
			q4g:'2',
			q4h:'3',
		}
	form#t0
		img.logo4(src='img/u11.jpg')
		p
			b.u4tit  Contrasting ideas  
			p
	form#t1
		b
			| 1. Using linkers to connect ideas
			p
				| Match the sentences and parts of sentences.
		p
			table(cellpadding='0', cellspacing='2', width='600')
				tr
					td a) I enjoyed the movie
					td
						| 1.
						input(size='1', maxlength='1', name='q1a')
						| However, the original is far superior.
				tr
					td b) The remake isn't bad.
					td
						| 2.
						input(size='1', maxlength='1', name='q1b')
						| but I preferred the book.
				tr
					td c) Although their first album didn't sell many copies,
					td
						| 3.
						input(size='1', maxlength='1', name='q1c')
						| he's been nominated for an Oscar.
				tr
					td d) The play wasn't very popular at first
					td
						| 4.
						input(size='1', maxlength='1', name='q1d')
						| However, the screenplay is disappointing.
				tr
					td e) The acting and photography are both excellent.
					td
						| 5.
						input(size='1', maxlength='1', name='q1e')
						| their second is doing very well.
				tr
					td f) Although it's his first movie,
					td
						| 6.
						input(size='1', maxlength='1', name='q1f')
						| but two years later it's a big hit on Broadway.
				tr
					td g) The reviews weren't very good
					td
						| 7.
						input(size='1', maxlength='1', name='q1g')
						| this is their first European tour.
				tr
					td h) Although they're popular in the States,
					td
						| 8.
						input(size='1', maxlength='1', name='q1h')
						| but we liked it.
			p
				center
					button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Now try to match these sentences.
			p
				table(cellpadding='0', cellspacing='2', width='600')
					tr
						td a) Most of her novels are about childhood but
						td
							input(size='1', maxlength='1', name='q2a')
							| the drums and bass were too lound.
					tr
						td b) It started off good. However
						td
							input(size='1', maxlength='1', name='q2b')
							| it's very sad really.
					tr
						td c) I liked the guitar sound but
						td
							input(size='1', maxlength='1', name='q2c')
							| does that make it a good movie?
					tr
						td d) Although it's supposed to be a comedy
						td
							input(size='1', maxlength='1', name='q2d')
							| ticket sales have been slow.
					tr
						td
							| e)
							i Titanic
							| made lots of money but
						td
							input(size='1', maxlength='1', name='q2e')
							| this one's a change of direction.
					tr
						td f) They organized a big publicity campaign. However
						td
							input(size='1', maxlength='1', name='q2f')
							| others will find it obvious and repetitive.
					tr
						td g) Although the play wasn't a big hit,
						td
							input(size='1', maxlength='1', name='q2g')
							| it lost its way after the first twenty minutes.
					tr
						td h) James Bond fans will love it. However
						td
							input(size='1', maxlength='1', name='q2h')
							| the movie has proved to be more popular.
				p
					center
						button.eval(data-target='t2') Check answers
	form#t3
		p
			b 3. Choose the correct word to complete the sentences.
			p
				ol
					li
						| I don't usually like his films
						select(name='q3a')
							option(value='x')
								| Choose Answer
								option(value='1')
									| but
									option(value='2')
										| however
						| I really enjoyed this one.
						li
							select(name='q3b')
								option(value='x')
									| Choose Answer
									option(value='1')
										| Although
										option(value='2')
											| However
											option(value='3')
												| But
							| it has some famous actors in it, they seem disinterested and typecast.
							li
								| Adults might find it a little simplistic.
								select(name='q3c')
									option(value='x')
										| Choose Answer
										option(value='1')
											| However
											option(value='2')
												| But
												option(value='3')
													| Although
								| for younger audiences it's ideal.
								li
									select(name='q3d')
										option(value='x')
											| Choose Answer
											option(value='1')
												| But
												option(value='2')
													| However
													option(value='3')
														| Although
									| it was recorded in only two weeks, it's her best album yet.
									li
										| It sold only 3,000 copies in the first month.
										select(name='q3e')
											option(value='x')
												| Choose Answer
												option(value='1')
													| However
													option(value='2')
														| But
														option(value='3')
															| Although
										| just six months later it's a bestseller.
										li
											| The critics voted it movie of the year
											select(name='q3f')
												option(value='x')
													| Choose Answer
													option(value='1')
														| but
														option(value='2')
															| however
											| the public clearly disagreed.
											li
												select(name='q3g')
													option(value='x')
														| Choose Answer
														option(value='1')
															| But
															option(value='2')
																| Although
																option(value='3')
																	| However
												| it was made for only $10,000, the quality is excellent.
												li
													| It's certainly not her best work.
													select(name='q3h')
														option(value='x')
															| Choose Answer
															option(value='1')
																| But
																option(value='2')
																	| Although
																	option(value='3')
																		| However
													| it's still worth seeing.
				p
					center
						button.eval(data-target='t3') Check answers
	#z1
	#z2
	#z3
	#z4
	#z5
	#z6
	#z7
