div#U12A
	script.
		unitans.U12A = {
			q1a:'an expensive china cup',
			q1b:'a big black cardboard box',
			q1c:'a long white nylon string',
			q1d:'a nice old American car',
			q1e:'a 50mm long steel screw',
			q1f:'a large brown paper bag',
			q1g:'a round colored paper disc',
			q1h:'a new red metal ladder',
			q1i:'apretty brown Italian leather shoes',
			q1j:'a small round black plastic button',
		}
	form#t0
		img.logo4(src='img/u12.jpg')
		p
			b.u4tit  Adjective order   
			p
	form#t1
		b 1. Adjective order
		p
			center
				| "Cut out a
				b fairly thick white cardboard disc.
				| "
			p
				| Adjectives before a noun usually follow this order:
				p
					table(cellspacing='2')
						tr
							td OPINION 
							td SIZE/SHAPE 
							td COLOR  
							td ORIGIN  
							td MATERIAL  
							td NOUN 
						tr
							td a ____  
							td small      
							td orange  
							td ____    
							td plastic   
							td clip 
						tr
							td a nice  
							td big        
							td white   
							td Italian 
							td marble    
							td bath 
					p
						b Put the words in order. 
						p
							ol
								li
									| an cup china expensive
									br
									input(size='25', name='q1a')
									p
										li
											| a black big box cardboard
											br
											input(size='25', name='q1b')
											p
												li
													| a nylon long string white
													br
													input(size='25', name='q1c')
													p
														li
															| nice car American a old
															br
															input(size='25', name='q1d')
															p
																li
																	| screw a steel 50mm long
																	br
																	input(size='25', name='q1e')
																	p
																		li
																			| paper large brown a bag
																			br
																			input(size='25', name='q1f')
																			p
																				li
																					| round a colored disc paper
																					br
																					input(size='25', name='q1g')
																					p
																						li
																							| a new metal red ladder
																							br
																							input(size='25', name='q1h')
																							p
																								li
																									| Italian pretty brown shoes leather
																									br
																									input(size='35', name='q1i')
																									p
																										li
																											| round a black small button plastic
																											br
																											input(size='35', name='q1j')
																											p
							p
								center
									button.eval(data-target='t1') Check answers
	#z1
