div#U12B
	script.
		unitans.U12B = {
		/*
		z1.innerHTML="If you answered 5 A's or more you are a Middle Youth-er. <br>If you answered 5 B's or more you are a Yuppie. <br>If you answered 5 C's or more you are a Yubbie. <br>If you answered 5 D's or more you are a home-loving family person. <br>If you answered less than 5 in any of A-D you are a unique individual who is impossible to label.  "
		*/
		}
	form#t0
		img.logo4(src='img/u12.jpg')
		p
			b.u4tit  What urban group do you belong to? 
			p
	form#t1.quiz
		b
			| 1. Are you a Yuppie, a Yubbie or a Middle Youth-er? To find out, choose the comments you agree with.
		p
			br
			b 1. Clothes
			br
			input(type='radio', name='q1a', value='1', checked='checked')
			b A
			| "I tend to wear what's in fashion at the time."
			br
			input(type='radio', name='q1a', value='2')
			b B
			| "I like to wear designer clothes, expensive suits, things like that."
			br
			input(type='radio', name='q1a', value='3')
			b C
			| "I knit my own sweaters and like wearing colorful clothes."
			br
			input(type='radio', name='q1a', value='4')
			b D
			| "I don't care what I wear as long as I feel comfortable."
			p
				b 2. Transportation
				br
				input(type='radio', name='q1b', value='1', checked='checked')
				b A
				| "I have an old car, but I often take a bus into town and a taxi home."
				br
				input(type='radio', name='q1b', value='2')
				b B
				| "I drive everywhere. I like my car to be a status symbol."
				br
				input(type='radio', name='q1b', value='3')
				b C
				| "I walk or cycle wherever I can or use public transportation. Cars pollute the environment."
				br
				input(type='radio', name='q1b', value='4')
				b D
				| "If you have kids you need a car, something safe, reliable and spacious."
				p
					b 3. Music 
					br
					input(type='radio', name='q1c', value='1', checked='checked')
					b A
					| "I'll listen to any good pop, rock or dance music."
					br
					input(type='radio', name='q1c', value='2')
					b B
					| "I listen to any good music, but only on a top-quality stereo system."
					br
					input(type='radio', name='q1c', value='3')
					b C
					| "I'm into New Age, ethnic and world music."
					br
					input(type='radio', name='q1c', value='4')
					b D
					| "I sometimes listen to the radio but I don't really follow music."
					p
						b 4. Acommodation
						br
						input(type='radio', name='q1d', value='1', checked='checked')
						b A
						| "I look for somewhere that's near the downtown and reasonably cheap to rent."
						br
						input(type='radio', name='q1d', value='2')
						b B
						| "I live in a big modern apartment in the expensive part of town."
						br
						input(type='radio', name='q1d', value='3')
						b C
						| "I like to live somewhere old that I can do up myself. Somewhere with a vegetable patch"
						br
						input(type='radio', name='q1d', value='4')
						b D
						| "I need somewhere with enough room for the whole family, preferably with a yard."
						p
							b 5. Going out
							br
							input(type='radio', name='q1e', value='1', checked='checked')
							b A
							| "I go out most nights. I normally go to the pub; on the weekend I go to a nightclub or a party."
							br
							input(type='radio', name='q1e', value='2')
							b B
							| "I like to go to a decent restaurant, and maybe to a wine or a cocktail bar."
							br
							input(type='radio', name='q1e', value='3')
							b C
							| "If I go out it's either to eat, normally at a vegetarian restaurant, or to see some live music."
							br
							input(type='radio', name='q1e', value='4')
							b D
							| "I don't go out as much as I used to. I usually stay in watching TV with the kids."
							p
								b 6. Hobbies
								br
								input(type='radio', name='q1f', value='1', checked='checked')
								b A
								| "I'm into music, computer games, shopping and going dancing."
								br
								input(type='radio', name='q1f', value='2')
								b B
								| "I go to the gym or swim or play squash. I watch the occasional video. I don't have much time for hobbies."
								br
								input(type='radio', name='q1f', value='3')
								b C
								| "I like gardening and yoga, and I'm learning how to make my own jewelry."
								br
								input(type='radio', name='q1f', value='4')
								b D
								| "I do a little gardening, but most of my free time is spent on my children."
								p
									b 7. My motto
									br
									input(type='radio', name='q1g', value='1', checked='checked')
									b A
									| "You're as young as you feel. I feel young and I have a young lifestyle."
									br
									input(type='radio', name='q1g', value='2')
									b B
									| "He who dares, wins. You can't be successful if you're not prepared to take a risk."
									br
									input(type='radio', name='q1g', value='3')
									b C
									| "The future's in our hands. Something must be done urgently to save the environment."
									br
									input(type='radio', name='q1g', value='4')
									b D
									| "There's no place like home. Home is where I spend most of my time when I'm not working."
									p
										center
											button.eval(data-target='t1') Check answers
	#z1
	#z2
	#z3
	#z4
	#z5
	#z6
	#z7
