div#U1C
	script.
		unitans.U1C = {
			q1a:'1',
			q1b:'1',
			q1c:'1',
			q1d:'0',
			q1e:'1',
			q1f:'1',
			q2a:'1',
			q2b:'4',
			q2c:'2',
			q2d:'7',
			q2e:'3',
			q2f:'5',
			q2g:'6',
			q2h:'4',
			q2i:'2',
			q2j:'1',
			q2k:'3',
			q3a:'2',
			q3b:'1',
			q3c:'2',
			q3d:'2',
			q3e:'1',
			q3f:'1',
			q3g:'2',
			q3h:'1',
			q4a:'2',
			q4b:'3',
			q4c:'2',
			q4d:'3',
			q4e:'3',
			q4f:'2',
			q4g:'2',
			q4h:'3'
		}
	#t0
		img.logo4(src='img/u1.jpg')
		p
			b.u4tit Formal & informal introductions 
			p
	form#t1
		b
			| 1. Look at these examples of spoken English. In each situation decide which example is formal.
		p
			ol
				li
					| Introducing someone
					br
					input(type='radio', name='q1a', value='1', checked='checked')
					| I'd like to introduce you to Mr. Armstrong.
					br
					input(type='radio', name='q1a', value='0')
					| This is Neil.
					p
						li
							| Meeting someone
							br
							input(type='radio', name='q1b', value='1', checked='checked')
							| Nice to meet you.
							br
							input(type='radio', name='q1b', value='0')
							| Pleased to meet you.
							p
								li
									| Finding out someone's name
									br
									input(type='radio', name='q1c', value='1', checked='checked')
									| I'm sorry, we haven't been introduced.
									br
									input(type='radio', name='q1c', value='0')
									| Sorry, I don't know your name.
									p
										li
											| Getting someone's attention when you don't know his/her name
											br
											input(type='radio', name='q1d', value='1', checked='checked')
											| Hey,
											br
											input(type='radio', name='q1d', value='0')
											| Excuse me,
											p
												li
													| When you don't hear, or can't remember a name
													br
													input(type='radio', name='q1e', value='1', checked='checked')
													| I'm very sorry, I didn't hear your name.
													br
													input(type='radio', name='q1e', value='0')
													| Sorry, I didn't catch your name.
													p
														li
															| Checking a name
															br
															input(type='radio', name='q1f', value='1', checked='checked')
															| You're Mr. Ramsbottom, aren't you?
															br
															input(type='radio', name='q1f', value='0')
															| You're Max, aren't you?
			p
				center
					button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Can you put these dialogs in order?   (1,2,3,4,5,6,7) 
			p
				center
					img(src='img/u1c1.jpg')
				p
					b You're Max, aren't you?
					p
						| 1.
						input(size='1', maxlength='1', name='q2a')
						| Yeah.
						p
							| 2.
							input(size='1', maxlength='1', name='q2b')
							| Alison.
							p
								| 3.
								input(size='1', maxlength='1', name='q2c')
								| Remember me? We worked together a few years ago in Barcelona.
								p
									| 4.
									input(size='1', maxlength='1', name='q2d')
									| Hi, Mary. Nice to meet you.
									p
										| 5.
										input(size='1', maxlength='1', name='q2e')
										| Oh yeah. Now I remember. But I can't remember your name.
										p
											| 6.
											input(size='1', maxlength='1', name='q2f')
											| Alison. Long time no see.
											p
												| 7.
												input(size='1', maxlength='1', name='q2g')
												| Yeah. Time files. By the way, this is my sister Mary.
												p
													center
														button.eval(data-target='t2') Check answers
	form#t3
		p
			| Now put this dialog in order.  (1,2,3,4)
			p
				center
					img(src='img/u1c2.jpg')
				p
					b I'm sorry, we haven't been introduced.
					p
						| 8.
						input(size='1', maxlength='1', name='q2h')
						| Hello, Randolph. Pleased to meet you.
						p
							| 9.
							input(size='1', maxlength='1', name='q2i')
							| How do you do?
							p
								| 10.
								input(size='1', maxlength='1', name='q2j')
								| No. My name's Vanessa. I'm a friend of Christian's.
								p
									| 11.
									input(size='1', maxlength='1', name='q2k')
									| How do you do? Oh, and I'd like to introduce you to my brother Randolph.
									p
										center
											button.eval(data-target='t3') Check answers
	form#t4
		p
			b
				| 3. Formal vs. informal.
				| Read these short dialogs and choose the more appropriate option. You can refer to exercise 1 to help you.
			p
				ol
					| For example,
					p
						span#m1 I'd like to introduce you to Mrs. Agnes Armstrong.
						br
						span#m1 How do you do?
						br
						| The correct answer is: How do you do Mrs. Armstrong?
						p
							li
								| My name's Hugo.
								br
								select(name='q3a')
									option(value='x')
										| Choose Answer
										option(value='1')
											| What?
											option(value='2')
												| Sorry?
								br
								| My name's Hugo.
								br
								| Oh hello, Hugo.
								p
									li
										| Sally,
										select(name='q3b')
											option(value='x')
												| Choose Answer
												option(value='1')
													| this is
													option(value='2')
														| I'd like to introduce you to
										| my brother Jack.
										br
										| Hi Jack.
										br
										| Hi Sally.
										p
											li
												select(name='q3c')
													option(value='x')
														| Choose Answer
														option(value='1')
															| Sorry
															option(value='2')
																| Excuse me
												| Could you tell me what time it is please?
												br
												| Certainly. It's three o'clock.
												br
												| Thank you very much.
												p
													li
														select(name='q3d')
															option(value='x')
																| Choose Answer
																option(value='1')
																	| What's your name?
																	option(value='2')
																		| I'm sorry, we haven't been introduced.
														br
														| I'm Mr. Tripe, the head of the marketing department.
														br
														| Pleased to meet you.
														p
															li
																| Excuse me Ms. Taylor.
																select(name='q3e')
																	option(value='x')
																		| Choose Answer
																		option(value='1')
																			| I'd like to introduce you to
																			option(value='2')
																				| This is
																| Mrs. Wilson, our agent in America.
																br
																| Pleased to meet you Mrs. Wilson.
																br
																| Pleased to meet you Ms. Taylor.
																p
																	li
																		| Excuse me Mr. Little. I'd like to introduce you to my husband Collin.
																		br
																		select(name='q3f')
																			option(value='x')
																				| Choose Answer
																				option(value='1')
																					| How do you do?
																					option(value='2')
																						| Hi.
																		p
																			li
																				select(name='q3g')
																					option(value='x')
																						| Choose Answer
																						option(value='1')
																							| I'm very sorry, I didn't hear your name
																							option(value='2')
																								| Sorry, I didn't catch your name.
																				br
																				| Oliver.
																				br
																				| Oliver. What a nice little boy you are. Just like your dad.
																				p
																					li
																						select(name='q3h')
																							option(value='x')
																								| Choose Answer
																								option(value='1')
																									| Sorry
																									option(value='2')
																										| Excuse me
																						| Helen have you finished with the newspaper?
																						br
																						| Yes. You can read it now.
																						br
																						| Thanks.
				p
					center
						button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z2b
	#z3
