div#U2B
	script.
		unitans.U2B = {
			q1a:'First',
			q1b:'Next',
			q1c:'After that',
			q1d:'Then',
			q1e:'Finally',
			q2a:'c',
			q2b:'a',
			q2c:'d',
			q2d:'b',
			q3a:'was',
			q3b:'did',
			q3e:'was',
			q3f:'was',
			q3g:'did',
			q3j:'did',
			q3m:'has',
			q3q:'did',
			q3t:'Has',
			q3x:'Did',
			q4a:'2',
			q4b:'3',
			q4c:'2',
			q4d:'3',
			q4e:'3',
			q4f:'2',
			q4g:'2',
			q4h:'3',
		}
	#t0
		img.logo4(src='img/u2.jpg')
		p
			b.u4tit  Sequencing narratives 
			p
	form#t1
		b 1. Now use the five words from the box below to complete the following text.
		br
		p
			br
			| "Last week we went to New York Zoo. We had a great time, it was fantastic.
			br
			br
			sub 1
			input(size='9', name='q1a')
			| , we went to see the parrots and the flamingoes. They were really
			br
			br
			| beautiful and the parrots made an incredible noise!
			sub 2
			input(size='9', name='q1b')
			| , we had lunch
			br
			br
			| sitting in front of the leopards. They were having their lunch as well - I think I preferred mine!
			br
			br
			| In the afternoon we went to see the elephants.
			sub 3
			input(size='9', name='q1c')
			| , we saw the apes
			br
			br
			| and monkeys. They were in a cage next to the elephants. They were playing a
			br
			br
			| lot of gamesit was really funny.
			sub 4
			input(size='9', name='q1d')
			| we sat on the main lawn for a
			br
			br
			| while and had an ice cream.
			sub 5
			input(size='9', name='q1e')
			| , we went to the giftshop and I brought
			br
			br
			| some postcards, including the one of the lion I'm writing this on."
			br
			br
			p
				table(cellpadding='5', cellspacing='5', width='450', bgcolor='#ffbc90')
					tr
						td Next
						td First
						td After that
						td Finally
						td Then
				p
					center
						button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. Read the text in exercise 3 again and put the animals in the order they are mentioned in the text.
			p
				center
					table(cellpadding='0', cellspacing='0', width='400')
						tr
							td
								| 1. first
								input(size='1', maxlength='1', name='q2a')
								br
								br
								br
								br
								br
								br
								p
									| 2. second
									input(size='1', maxlength='1', name='q2b')
									br
									br
									br
									br
									br
									br
									p
										| 3. third
										input(size='1', maxlength='1', name='q2c')
										br
										br
										br
										br
										br
										br
										p
											| 4. fourth
											input(size='1', maxlength='1', name='q2d')
							td
								img(src='img/u2b1.jpg')
				p
					center
						button.eval(data-target='t2') Check answers
	#z1
	#z2
