div#U5A
	script.
		unitans.U5A = {
			q1a:'2',
			q2a:'1',
			q2b:'1',
			q2c:'2',
			q2d:'1',
			q3a:'3',
			q4a:'3',
			q5a:'2',
			q5b:'4',
			q5c:'9',
			q5d:'7',
			q5e:'3',
			q5f:'1',
			q5g:'5',
			q5h:'6',
			q5i:'8',
			q6a:'1',
			q6d:'3',
			q6g:'3',
			q6j:'2',
			q6m:'1',
		}
	#t0
		img.logo4(src='img/u5.jpg')
		p
			b.u4tit Man saved by cell phone   
			p
	//
			 
	form#t1
		b 1. Read the first part of the text and answer the questions below.
		p
			center
				table(width='500', bgcolor='#ffdf00')
					tr
						td
							b Shepherd's miracle escapethanks to his nose and his cell phone
							p
								| An emergency telephone operator couldn't believe her ears when a man telephoned using a cell phone.
								| "I'm hanging off the edge of a mountain," he said.
								| "If you are hanging off a mountain, how have you dialed this number?" she asked.
								p
									| "I have pressed the redial button with my nose," screamed the shepherd.
									p
										| Finally, the operator was convinced and a helicopter was sent to rescue Christian Raymond, 23,
										| in the Dent de Crolles region of the French Alps.
										p
			p
				b
					| Look at the three pictures below. Click on the picture that illustrates the situation explained in the text.
				p
					center
						table(cellpadding='2', cellspacing='3', width='500')
							tr
								td(colspan='3')
									img(src='img/u5a1.jpg')
							tr
								td
									input(type='radio', name='q1a', value='1', checked='checked')
									| picture 1
								td
									input(type='radio', name='q1a', value='2')
									| picture 2
								td
									input(type='radio', name='q1a', value='3')
									| picture 3
					p
						center
							button.eval(data-target='t1') Check Answers 
	//
			 
	form#t2
		p
			b 2. Answer the questions true or false.
			p
				ol
					li
						| At first the operator didn't believe the man's story.
						br
						select(name='q2a')
							option(value='x')
								| Choose Answer
								option(value='1')
									| true
									option(value='2')
										| false
						p
							li
								| In the end, she believed him.
								br
								select(name='q2b')
									option(value='x')
										| Choose Answer
										option(value='1')
											| true
											option(value='2')
												| false
								p
									li
										| Christian dialed the telephone number with his nose.
										br
										select(name='q2c')
											option(value='x')
												| Choose Answer
												option(value='1')
													| true
													option(value='2')
														| false
										p
											li
												| Christian works with animals.
												br
												select(name='q2d')
													option(value='x')
														| Choose Answer
														option(value='1')
															| true
															option(value='2')
																| false
				p
					center
						button.eval(data-target='t2') Check Answers 
	//
			 
	form#t3
		p
			b
				| 3. What do you think?
				p
					| Why do you think Christian is in this situation? Choose one of the four possibilities below.
			p
				li
					input(type='radio', name='q3a', value='1', checked='checked')
					| It was a practice exercise for the French Mountain Rescue Service.
					li
						input(type='radio', name='q3a', value='2')
						| The weather was bad and Christian didn't see the edge of the mountain.
						li
							input(type='radio', name='q3a', value='3')
							| He was trying to rescue some of his sheep.
							li
								input(type='radio', name='q3a', value='4')
								| Two of his sheep pushed him off the mountain.
								p
									center
										button.eval(data-target='t3') Check Answers 
	//
			 
	form#t4
		p
			b Now read the rest of the story and see if your prediction is correct.
			p
				center
					table(cellpadding='3', cellspacing='3', width='400', bgcolor='#fcfaaa')
						tr
							td
								i
									| Christian was with his sheep at over 2,000 meters, when he discovered that two of the sheep were trapped on the mountain. "To rescue them, I started walking down a grassy hill. It had been raining and the grass was wet. I slipped and started falling towards the edge of the mountain."
									p
										| Many French shepherds carry cell phones for safety and Christian had memorized the emergency rescue number. But after he called the emergency operator, the connection failed. Christian slipped again and fell closer to the edge.
										p
											| "In order not to fall, I was holding on to a rock with both hands. I was very close to the edge," he said. Luckily, Christian's cell phone had also fallen down the hill. Incredibly, it stopped near his face, and he pressed the redial button with his nose.
											p
												| The rescue has caused a sensation in France. It's also an advertising gift to cell phone companies.
												p
													| from the Grimsby Evening Telegraph
								p
				p
					b
						| 4. Was your prediction correct? Look at the four possibilities again and choose the correct answer.
					p
						input(type='radio', name='q4a', value='1', checked='checked')
						| It was a practice exercise for the French Mountain Rescue Service.
						p
							input(type='radio', name='q4a', value='2')
							| The weather was bad and Christian didn't see the edge of the mountain.
							p
								input(type='radio', name='q4a', value='3')
								| He was trying to rescue some of his sheep.
								p
									input(type='radio', name='q4a', value='4')
									| Two of his sheep pushed him off the mountain.
									p
										center
											button.eval(data-target='t4') Check Answers 
	//
			 
	form#t5
		p
			b
				| 5. Put the sentences below in the order in which they happened. (1,2,3,4,5,6,7,8,9)
			p
				ol
					li
						input(size='1', maxlength='1', name='q5a')
						| Christian went to rescue the sheep
						p
							li
								input(size='1', maxlength='1', name='q5b')
								| He dialed the emergency operator.
								p
									li
										input(size='1', maxlength='1', name='q5c')
										| A helicopter came to rescue him.
										p
											li
												input(size='1', maxlength='1', name='q5d')
												| He pressed the redial button with his nose.
												p
													li
														input(size='1', maxlength='1', name='q5e')
														| He slipped on the wet grass.
														p
															li
																input(size='1', maxlength='1', name='q5f')
																| Two sheep were trapped on the mountain.
																p
																	li
																		input(size='1', maxlength='1', name='q5g')
																		| He lost contact with the operator.
																		p
																			li
																				input(size='1', maxlength='1', name='q5h')
																				| He moved closer to the edge of the mountain.
																				p
																					li
																						input(size='1', maxlength='1', name='q5i')
																						| The operator telephoned the mountain rescue service.
																						p
				center
					button.eval(data-target='t5') Check Answers 
	//
			 
	form#t6
		p
			b 6. Choose the best answer to the questions.
			p
				ol
					li
						| Why did the operator ask Christian: "How have you dialed this number?"
						br
						input(type='radio', name='q6a', value='1', checked='checked')
						| because she didn't believe his story
						br
						input(type='radio', name='q6a', value='2')
						| because she was very worried
						br
						input(type='radio', name='q6a', value='3')
						| because Christian was a shepherd
						p
							li
								| Why did Christian have a cell phone with him?
								br
								input(type='radio', name='q6b', value='1', checked='checked')
								| because he was in a dangerous situation
								br
								input(type='radio', name='q6b', value='2')
								| because he couldn't remember the emergency rescue number
								br
								input(type='radio', name='q6b', value='3')
								| because being a shepherd in the mountains can be a dangerous job
								p
									li
										| Why did Christian slip and fall?
										br
										input(type='radio', name='q6c', value='1', checked='checked')
										| because the weather was very bad
										br
										input(type='radio', name='q6c', value='2')
										| because he was running
										br
										input(type='radio', name='q6c', value='3')
										| because the ground was wet
										p
											li
												| How many times did Christian dial the emergency operator?
												br
												input(type='radio', name='q6d', value='1', checked='checked')
												| one
												br
												input(type='radio', name='q6d', value='2')
												| two
												br
												input(type='radio', name='q6d', value='3')
												| three
												p
													li
														| Where was Christian's cell phone the second time he called the operator?
														br
														input(type='radio', name='q6e', value='1', checked='checked')
														| near his face
														br
														input(type='radio', name='q6e', value='2')
														| in his hand
														br
														input(type='radio', name='q6e', value='3')
														| in his pocket
														p
															center
																button.eval(data-target='t6') Check Answers 
	#z1
	#z2
	#z3
	#z4
	#z5
	#z6
	#z7
