div#U5B
	script.
		unitans.U5B = {
			q1a:'was stolen',
			q1b:'was told',
			q1c:'have been broken',
			q1d:'hasn\'t been found',
			q1e:'was broken into',
			q1f:'were taken',
			q1g:'weren\'t told',
			q1h:'wasn\'t given',
			q2a:'stole',
			q2b:'told',
			q2c:'broke',
			q2d:'haven\'t found',
			q2e:'broke',
			q2f:'took',
			q2g:'didn\'t tell us',
			q2h:'didn\'t give',
		}
	#t0
		img.logo4(src='img/u5.jpg')
		p
			b.u4tit   Passive constructions 
			br
	p
		form#t1
			b 1. Forming and using the passive: informal and formal style
			p
				| Passive sentences have this form:
				span#m1
					b to be
				| (in the correct tense) +
				b past participle
				p
					b Present Perfect Passive
					| sentences have this form:
					span#m1 have/has + been
					| +
					b past participle
					p
						span#m1
							li
								| Mr. Hann
								b has been fired.
								li
									| Things
									b have been stolen
									| from their house.
						p
							b Simple Past passive
							| sentences have this form:
							span#m1 was/were
							| +
							b past participle 
							p
								span#m1
									li
										| Their house
										b was broken into
										| while they were on vacation.
										li
											| Many objects of worth
											b were stolen
											| from their house.
								p
									| Passive sentences are often used in more formal contexts, for example in newspaper reports. In conversation, you often use
									span#m1
										b someone
									| or
									span#m1
										b they
									| as a subject to avoid the passive.
									p
										span#m1
											li
												b "Someone
												| stole our video when we were on vacation!"
										| (Mr.. Hann's words)
										p
											span#m1
												li
													| Mr. Hann's video
													b was stolen
													| when he was on vacation.
											| (from a newspaper report)
											p
												span#m1
													li
														| "
														b They
														| told me I'd lost my job."
												| (Mr. Hann's words)
												span#m1
													li
														| Mr. Hann's
														b was told
														| he had lost his job.
												| (from a newspaper report)
												p
													b Write these sentences in more formal style for a newspaper report: 
													p
														table(cellpadding='0', cellspacing='5')
															tr
																td
																	| 1 "They stole my car twice in the last week."
																td
																	| Her car
																	input(size='13', name='q1a')
																	| twice in the last week.
															tr
																td
																	| 2 "They've told me to find another job!"
																td
																	| He
																	input(size='13', name='q1b')
																	| to find another job.
															tr
																td
																	| 3 "Someone's broken all our greenhouse windows!"
																td
																	| All their greenhouse windows
																	input(size='13', name='q1c')
																	| .
															tr
																td
																	| 4 " They haven't found our dog yet."
																td
																	| Our dog
																	input(size='13', name='q1d')
																	| yet.
															tr
																td
																	| 5 "Someone broke into our house when we were at work."
																td
																	| Their house
																	input(size='13', name='q1e')
																	| when they were at work.
															tr
																td
																	| 6 "They took our TV and video."
																td
																	| Their TV and video
																	input(size='13', name='q1f')
																	| .
															tr
																td
																	| 7 "They didn't tell us that the phone would be cut off."
																td
																	| We
																	input(size='13', name='q1g')
																	| that the phone would be cut off.
															tr
																td
																	| 8 "They didn't give me my Christmas bonus."
																td
																	| He
																	input(size='13', name='q1h')
																	| his Christmas bonus.
														p
															center
																button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. Now look at what the newspaper said and write the person's original words. Use contractions whenever you can.
				p
					table(cellpadding='0', cellspacing='5')
						tr
							td
								| 1 Her car was stolen twice in the last week.
							td
								| "They
								input(size='13', name='q2a')
								| my car twice in the last week."
						tr
							td
								| 2 He has been told to find another job.
							td
								| "They
								input(size='13', name='q2b')
								| me to find another job!"
						tr
							td
								| 3 All their greenhouse windows have been broken.
							td
								| "Someone
								input(size='13', name='q2c')
								| all our greenhouse windows!"
						tr
							td
								| 4 Their dog hasn't been found yet.
							td
								| "They
								input(size='13', name='q2d')
								| our dog yet."
						tr
							td
								| 5 Their house was broken into when they were at work.
							td
								| "Someone
								input(size='13', name='q2e')
								| into our house when we were at work."
						tr
							td
								| 6 Their TV and video were taken.
							td
								| "They
								input(size='13', name='q2f')
								| our TV and video."
						tr
							td
								| 7 They weren't told that the phone would be cut off.
							td
								| "They
								input(size='13', name='q2g')
								| that the phone would be cut off."
						tr
							td
								| 8 He wasn't given his Christmas bonus.
							td
								| "They
								input(size='13', name='q2h')
								| me my Christmas bonus."
					p
						center
							button.eval(data-target='t2') Check answers
		#z1
		#z2
