div#U6C
	script.
		unitans.U6C = {
			q1a:'Absolutely sure',
			q1b:'Without a doubt',
			q1c:'I wouldn\'t bet on it',
			q1d:'There is no question about it',
			q1e:'There\'s no denying it',
			q1f:'No doubt',
			q1g:'Undoubtedly',
			q1h:'Not so sure',
			q3a:'absolutely',
			q3b:'sure',
			q3c:'is',
			q3d:'no',
			q3e:'denying',
			q3f:'it',
			q3g:'is',
			q3h:'no',
			q3i:'question',
			q3j:'about',
			q3k:'it',
			q3l:'not',
			q3m:'so',
			q3n:'sure',
			q3o:'wouldn\'t',
			q3p:'bet',
			q3q:'on',
			q3r:'it',
			q3s:'Undoubtedly',
			q3t:'not',
			q3v:'so',
			q3w:'sure',
		}
	#t0
		img.logo4(src='img/u6.jpg')
		p
			b.u4tit Expressing certainty & doubt  
			br
	p
		form#t1
			b 1. Put the expressions into the correct place in the dialog.
			p
				ol
					li
						| A: Did I tell you that I dreamed of the number 7?
						li
							| B: So?
							li
								| A: It's a sign.
								sub 1
								input(size='25', name='q1a')
								li
									| B: A sign of what?
									li
										| A: We're going to win the lottery,
										sub 2
										input(size='25', name='q1b')
										li
											| B:
											sub 3
											input(size='25', name='q1c')
											| . We don't have a ticket.
											li
												| A: I'll buy one. 77777. We'll win. You'll see.
												sub 4
												input(size='25', name='q1d')
												| .
												li
													| B: You belive that dreams really mean something?
													li
														| A:
														sub 5
														input(size='25', name='q1e')
														| . Once I dreamed it was going to rain. And it did.
														li
															| B:
															sub 6
															input(size='25', name='q1f')
															| . But winning the lottery...?
															li
																| A: It's a sign.
																sub 7
																input(size='25', name='q1g')
																| .
																li
																	| B: Well,
																	sub 8
																	input(size='25', name='q1h')
																	| ...
				p
					center
						table(cellpadding='3', cellspacing='3', width='600', bgcolor='#ffbc90')
							tr
								td Without a doubt
								td  I'm not so sure
							tr
								td I'm absolutely sure
								td There's no denying it
							tr
								td No doubt
								td I wouldn't bet on it
							tr
								td Undoubtedly
								td There is no question about it
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Complete the dialog using expressions of doubt or certainty.
				p
					table(cellpadding='3', cellspacing='1', width='600', bgcolor='ffbc90')
						tr
							td.margen
								b A:
								| Did I tell you I saw a UFO last night.
								br
								b B:
								| You what?
								br
								b A:
								| I saw a UFO. I'm
								input(size='5', name='q3a')
								input(size='2', name='q3b')
								| .
								br
								b B:
								| Where?
								br
								b A:
								| I was taking out the trash, and there was this UFO in the sky. I saw it. There
								input(size='2', name='q3c')
								input(size='2', name='q3d')
								input(size='5', name='q3e')
								input(size='2', name='q3f')
								| .
								br
								b B:
								| You don't seriously believe in UFOs, do you?
								br
								b A:
								| Of course I do. I've seen one. There
								input(size='2', name='q3g')
								input(size='2', name='q3h')
								input(size='5', name='q3i')
								input(size='5', name='q3j')
								input(size='3', name='q3k')
								| . You don't think so?
								br
								b B:
								| I'm
								input(size='5', name='q3l')
								input(size='3', name='q3m')
								input(size='5', name='q3n')
								| .
								br
								b A:
								| Even as we speak little green men are probably listening to our every word.
								br
								b B:
								| I
								input(size='5', name='q3o')
								input(size='2', name='q3p')
								input(size='2', name='q3q')
								input(size='2', name='q3r')
								| .Why hasn't the CIA told us?
								br
								b A:
								| It's a government conspiracy.
								input(size='5', name='q3s')
								| .
								br
								b B:
								| Well, I'm
								input(size='3', name='q3t')
								input(size='3', name='q3v')
								input(size='3', name='q3w')
								| .
								br
					p
						center
							button.eval(data-target='t2') Check answers
		p
			#z1
			#z2
