div#U6D
	script.
		unitans.U6D = {
			q1a:'f',
			q1b:'h',
			q1c:'a',
			q1d:'d',
			q1e:'j',
			q1f:'g',
			q1g:'b',
			q1h:'i',
			q1i:'c',
			q1j:'e',
		}
	#t0
		img.logo4(src='img/u6.jpg')
		p
			b.u4tit Personality adjectives  
			br
	p
		form#t1
			b 1. Match the two halves of these sentences.
			p
				center
					table(cellpadding='2', cellspacing='2')
						tr
							td a) People who are lacking in confidence...
							td
								| 1.
								input(size='1', maxlength='1', name='q1a')
								| ...gets her own way.
						tr
							td b) Outgoing people...
							td
								| 2.
								input(size='1', maxlength='1', name='q1b')
								| ...eats by herself.
						tr
							td c) You will have to be more assertive if you...
							td
								| 3.
								input(size='1', maxlength='1', name='q1c')
								| ...don't make good sales reps.
						tr
							td d) After his wife died he...
							td
								| 4.
								input(size='1', maxlength='1', name='q1d')
								| ...became withdrawn and never went out.
						tr
							td e) As a child he was very shy and never...
							td
								| 5.
								input(size='1', maxlength='1', name='q1e')
								| ...is wildly extrovert.
						tr
							td f) She has a forceful personality and always...
							td
								| 6.
								input(size='1', maxlength='1', name='q1f')
								| ...mix with the guests.
						tr
							td g) Don't be unsociablego and...
							td
								| 7.
								input(size='1', maxlength='1', name='q1g')
								| ...are often good language learners.
						tr
							td h) She is so timid she always...
							td
								| 8.
								input(size='1', maxlength='1', name='q1h')
								| ...isn't interesting to talk to.
						tr
							td i) Because he is introverted doesn't mean he...
							td
								| 9.
								input(size='1', maxlength='1', name='q1i')
								| ...want to get ahead.
						tr
							td j) I am fairly reserved but my girlfriend...
							td
								| 10.
								input(size='1', maxlength='1', name='q1j')
								| ...played with other children.
					p
						center
							button.eval(data-target='t1') Check answers
		#z1
