div#U7A
	script.
		unitans.U7A = {
			q1a:'1',
			q1b:'0',
			q1c:'1',
			q1d:'1',
			q1e:'1',
			q1f:'1',
			q1g:'1',
			q1h:'0',
			q1i:'1',
			q1j:'1',
			q3a:'3',
			q3b:'6',
			q3c:'10',
			q3d:'1',
			q3e:'5'
		}
	#t0
		img.logo4(src='img/u7.jpg')
		p
			b.u4tit How ecological are you?  
			br
	p
		form#t1
			b
				| 1. Here is a quiz to find out how eco-friendly eco-friendly you are. Click on your answer, then find out your score.
			p
				ol
					li
						| How many electrical appliances are there in your kitchen?
						br
						input(type='radio', name='q1a', value='1', checked='checked')
						| 0-5
						br
						input(type='radio', name='q1a', value='0')
						| 6 or more
						p
							li
								| When you wash the dishes, do you rinse them in hot water or cold?
								br
								input(type='radio', name='q1b', value='1', checked='checked')
								| hot water
								br
								input(type='radio', name='q1b', value='0')
								| cold water
								p
									li
										| Do you separate your garbage into different types혰paper, glass, cans etc혰and use recycling bins ?
										br
										input(type='radio', name='q1c', value='1', checked='checked')
										| Yes
										br
										input(type='radio', name='q1c', value='0')
										| No
										p
											li
												| Does it bother you how many plastic shopping bags are given out in supermarkets?
												br
												input(type='radio', name='q1d', value='1', checked='checked')
												| Yes
												br
												input(type='radio', name='q1d', value='0')
												| No
												p
													li
														| Do you reuse plastic bags, glass jars and paper, or do you throw it all away?
														br
														input(type='radio', name='q1e', value='1', checked='checked')
														| Reuse
														br
														input(type='radio', name='q1e', value='0')
														| Not reuse
														p
															li
																| At night, when you leave a room, do you always turn the light out?
																br
																input(type='radio', name='q1f', value='1', checked='checked')
																| Yes
																br
																input(type='radio', name='q1f', value='0')
																| No
																p
																	li
																		| You're sitting at home and you feel a little cold; what do you do? Put on a sweater or turn on the heater?
																		br
																		input(type='radio', name='q1g', value='1', checked='checked')
																		| Put on a sweater
																		br
																		input(type='radio', name='q1g', value='0')
																		| Turn on the heater
																		p
																			li
																				| Do you throw old batteries in the trash?
																				br
																				input(type='radio', name='q1h', value='1', checked='checked')
																				| Yes
																				br
																				input(type='radio', name='q1h', value='0')
																				| No
																				p
																					li
																						| What form of transportation do you normally use?
																						br
																						input(type='radio', name='q1i', value='1', checked='checked')
																						| Foot/bicycle
																						br
																						input(type='radio', name='q1i', value='0')
																						| Other
																						p
																							li
																								| You read about an oil spill on a beach you go to every summer. What's your first reaction?
																								br
																								input(type='radio', name='q1j', value='1', checked='checked')
																								| Worry about the effects
																								br
																								input(type='radio', name='q1j', value='0')
																								| Think of a new place to go
				p
					b Click on the button to get your eco-friendly score. 
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Now check your score against the key below. Do you agree with what it says?
				p
					| Score 0-3 You're a very eco-friendly person. You use energy efficiently and do what you can to make less of an impact on the environment.
					p
						| Score 4-7 At least you're trying. Perhaps you are aware of the importance of saving energy and resources. Of course, we all have good intentions, but putting ideas into practice is another thing.
						p
							| Score 8-10 You're not particularly eco-friendly, it seems. Maybe you're too busy. In all areas of your life there are ways you could save energy and resources, and save money as well!
							p
								b
									| 3. Here are one person's answers to some of the questions in the quiz. Which questions do they correspond to?
								p
									b Eco-friendly quiz
									p
										| 1  How many electrical appliances are there in your kitchen?
										p
											| 2 When you wash the dishes, do you rinse them in hot water or cold?
											p
												| 3 Do you separate your garbage into different types혰paper, class, cans etc혰and use recycling bins?
												p
													| 4 Does it bother you how many plastic shopping bags are given out in supermarkets?
													p
														| 5 Do you reuse plastic bags, glass jars and paper, or do you throw it all away?
														p
															| 6 At night, when you leave a room, do you always turn the light out?
															p
																| 7 You're sitting at home and you feel a little cold; what do you do? Put on a sweater, or turn on the heater?
																p
																	| 8 Do you throw old batteries in the trash?
																	p
																		| 9 What form of transportation do you normally use?
																		p
																			| 10 You read about an oil spill on a beach you go to every summer. What's your first reaction?
																			p
																				table(cellpadding='3', cellspacing='2', width='600', bgcolor='#ffbc90')
																					tr
																						td
																							| 1 "No, because there isn't enough room, and besides it's too much trouble."
																							br
																							select(name='q3a')
																								option(value='x')
																									| Choose Answer
																									option(value='1')
																										| question 1
																										option(value='2')
																											| question 2
																											option(value='3')
																												| question 3
																												option(value='4')
																													| question 4
																													option(value='5')
																														| question 5
																														option(value='6')
																															| question 6
																															option(value='7')
																																| question 7
																																option(value='8')
																																	| question 8
																																	option(value='9')
																																		| question 9
																																		option(value='10')
																																			| question 10
																							p
																								| 2 "Not usually, I forget. Also, I'm a little scared of the dark."
																								br
																								select(name='q3b')
																									option(value='x')
																										| Choose Answer
																										option(value='1')
																											| question 1
																											option(value='2')
																												| question 2
																												option(value='3')
																													| question 3
																													option(value='4')
																														| question 4
																														option(value='5')
																															| question 5
																															option(value='6')
																																| question 6
																																option(value='7')
																																	| question 7
																																	option(value='8')
																																		| question 8
																																		option(value='9')
																																			| question 9
																																			option(value='10')
																																				| question 10
																								p
																									| 3 "I don't know. I'll have to go and look."
																									br
																									select(name='q3c')
																										option(value='x')
																											| Choose Answer
																											option(value='1')
																												| question 1
																												option(value='2')
																													| question 2
																													option(value='3')
																														| question 3
																														option(value='4')
																															| question 4
																															option(value='5')
																																| question 5
																																option(value='6')
																																	| question 6
																																	option(value='7')
																																		| question 7
																																		option(value='8')
																																			| question 8
																																			option(value='9')
																																				| question 9
																																				option(value='10')
																																					| question 10
																									p
																										| 4 "I'd start looking for somewhere else to go this summer."
																										br
																										select(name='q3d')
																											option(value='x')
																												| Choose Answer
																												option(value='1')
																													| question 1
																													option(value='2')
																														| question 2
																														option(value='3')
																															| question 3
																															option(value='4')
																																| question 4
																																option(value='5')
																																	| question 5
																																	option(value='6')
																																		| question 6
																																		option(value='7')
																																			| question 7
																																			option(value='8')
																																				| question 8
																																				option(value='9')
																																					| question 9
																																					option(value='10')
																																						| question 10
																										p
																											| 5 "I don't, but my grandmother does. I don't know why. Her kitchen cupboards are full of empty jars and plastic bags."
																											br
																											select(name='q3e')
																												option(value='x')
																													| Choose Answer
																													option(value='1')
																														| question 1
																														option(value='2')
																															| question 2
																															option(value='3')
																																| question 3
																																option(value='4')
																																	| question 4
																																	option(value='5')
																																		| question 5
																																		option(value='6')
																																			| question 6
																																			option(value='7')
																																				| question 7
																																				option(value='8')
																																					| question 8
																																					option(value='9')
																																						| question 9
																																						option(value='10')
																																							| question 10
																				p
																					center
																						button.eval(data-target='t2') Check answers
		p
			#z1
			#z3
