div#U7B
	script.
		unitans.U7B = {
			q1a:'3',
			q1b:'2',
			q1c:'1',
			q1d:'4',
			q2a:'1',
			q2b:'2',
			q2c:'2',
			q2d:'1',
			q2e:'1',
			q3a:'1',
		}
	#t0
		img.logo4(src='img/u7.jpg')
		p
			b.u4tit
				| Ways to save the earth
			br
	p
		form#t1
			b
				| 1. Read this information about simple ways to be more eco-friendly.
				p
					| Can you choose the correct title for each section from the drop-down box?
			p
				table(cellpadding='3', cellspacing='2', bgcolor='#ffbc90', width='650')
					tr
						td
							center
								b Simple Ways To Save The Earth
							p
								| Whenever you save energy you reduce the demand for fossil fuels. Burning less of these fossil fuels means lower emissions of carbon dioxide, the major contributor to global warming. If we can reduce energy use enough to lower greenhouse gas emissions by about 2% a year, in ten years we will "lose" about 3,000 kilos of carbon dioxide emissions per person.
								p
									| Here are some simple steps that can help cut your annual emissions of carbon dioxide by thousands of kilos. The carbon dioxide reduction shown for each action is an average saving.
									p
										| 1.
										select(name='q1a')
											option(value='x')
												| Choose Correct Title
												option(value='1')
													| Small Investments That Pay Off
													option(value='2')
														| Home, Heating and Cooling
														option(value='3')
															| Eco-Friendly Habits
															option(value='4')
																| Reduce, Reuse and Recycle
										p
											li
												| Wash clothes in warm or cool water, not hot. Carbon dioxide reduction (for two loads of washing a week): Up to 225 kilos a year.
												p
													li
														| Turn down your water heater thermostat; 50 degrees is usually hot enough. Carbon dioxide reduction (for each 10-degree adjustment): 225 kilos a year.
														p
															| 2.
															select(name='q1b')
																option(value='x')
																	| Choose Correct Title
																	option(value='1')
																		| Small Investments That Pay Off
																		option(value='2')
																			| Home, Heating and Cooling
																			option(value='3')
																				| Eco-Friendly Habits
																				option(value='4')
																					| Reduce, Reuse and Recycle
															p
																li
																	| Don't overheat or overcool rooms. Adjust the thermostat on your air conditioner and central heating (lower in winter, higher in summer). Carbon dioxide reduction (for each 1.5-degree adjustment): About 225 kilos a year.
																	p
																		li
																			| If you need to replace your windows, install the best energy-saving models. Carbon dioxide reduction: Up to 4,500 kilos a year.
																			p
																				| 3.
																				select(name='q1c')
																					option(value='x')
																						| Choose Correct Title
																						option(value='1')
																							| Small Investments That Pay Off
																							option(value='2')
																								| Home, Heating and Cooling
																								option(value='3')
																									| Eco-Friendly Habits
																									option(value='4')
																										| Reduce, Reuse and Recycle
																				p
																					li
																						| Buy energy-efficient compact flourescent bulbs for your most-used lights. Carbon dioxide reduction (by replacing one frequently used bulb): About 225 kilos a year.
																						p
																							li
																								| As you replace home appliances, select the most energy-efficient models. Carbon dioxide reduction (if you replace your old refrigerator with an efficient model): 1,350 kilos a year.
																								p
																									| 4.
																									select(name='q1d')
																										option(value='x')
																											| Choose Correct Title
																											option(value='1')
																												| Small Investments That Pay Off
																												option(value='2')
																													| Home, Heating and Cooling
																													option(value='3')
																														| Eco-Friendly Habits
																														option(value='4')
																															| Reduce, Reuse and Recycle
																									p
																										li
																											| Reduce waste: Buy minimally packaged goods; choose reusable products over disposable ones.
																											p
																												li
																													| Recycle: Whenever you can, reuse glass, paper and plastic products. Separate your garbage into different types and use recycling bins.Carbon dioxide reduction (if you cut down your garbage by 25%): 450 kilos a year.
				p
					center
						button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Decide whether these statements are true or false according to the text.
				p
					center
						span#m1
							| click on the 'Reading' link above to see the text again
					p
						ol
							li
								| It's possible to lower emissions of carbon dioxide by changing your daily habits.
								br
								select(name='q2a')
									option(value='x')
										| Choose Answer
										option(value='1')
											| true
											option(value='2')
												| false
								p
									li
										| The heat from burning fossil fuels contributes to global warming.
										br
										select(name='q2b')
											option(value='x')
												| Choose Answer
												option(value='1')
													| true
													option(value='2')
														| false
										p
											li
												| If you turn down your water heater to 50 degress you will reduce carbon dioxide emissions by 225 kilos a year.
												br
												select(name='q2c')
													option(value='x')
														| Choose Answer
														option(value='1')
															| true
															option(value='2')
																| false
												p
													li
														| Flourescent bulbs use less energy than other types.
														br
														select(name='q2d')
															option(value='x')
																| Choose Answer
																option(value='1')
																	| true
																	option(value='2')
																		| false
														p
															li
																| From the examples in the text the highest reduction in carbon dioxide emissions can be made by replacing your windows with energy-saving models.
																br
																select(name='q2e')
																	option(value='x')
																		| Choose Answer
																		option(value='1')
																			| true
																			option(value='2')
																				| false
																p
						p
							center
								button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 3. Lucy and Max are trying to be more eco-friendly.
					| Look at the changes they have made at home and calculate who has made a bigger reduction in carbon dioxide emissions.
				p
					li
						b Max:
						| Max bought a new energy-efficient fridge and turned his heating down 1.5 degrees.
						p
							li
								b Lucy:
								| She turned down her water heater thermostat by 10 degrees, washes in cold water now, changed one of her most used light bulbs to energy-efficient bulbs and has started separating her garbage and using recycling bins.
								p
									center
										select(name='q3a')
											option(value='1')
												| Choose answer:
												option(value='1')
													| Max's reduction
													option(value='2')
														| Lucy's reduction
									p
										center
											button.eval(data-target='t3') Check answers
		#z1
		#z2
		#z3
