div#U7C
	script.
		unitans.U7C = {
			q1a:'1',
			q2a:'2',
			q2b:'2',
			q3a:'0',
			q3b:'1',
			q3c:'1',
			q3d:'0',
			q3e:'1',
			q4a:'0',
			q4c:'0',
			q4e:'1',
			q4g:'1',
			q4i:'0',
			q5a:'1',
			q5c:'0',
			q5e:'1',
			q5g:'1',
			q5i:'0'
		}
	#t0
		img.logo4(src='img/u7.jpg')
		p
			b.u4tit Being green 
			br
	p
		form#t1
			b
				| 1. Listen to these two people talking about the quiz at the beginning of this unit.
				a(href='snd/7c-1.mp3', target='_blank')
					img(src='img/listen.jpg', border='0')
			p
				b Which speaker do you think is the most eco-friendly?
				p
					ol
						li
							input(type='radio', name='q1a', value='1', checked='checked')
							| the woman
							li
								input(type='radio', name='q1a', value='0')
								| the man
					p
						center
							button.eval(data-target='t1') Check answers
		form#t2
			p
				b
					| 2. Listen again.
					a(href='snd/7c-1.mp3', target='_blank')
						img(src='img/listen.jpg', border='0')
				p
					ol
						li
							| What bothers the man?
							br
							input(type='radio', name='q2a', value='1', checked='checked')
							| People throwing rubbish in the street
							br
							input(type='radio', name='q2a', value='2')
							| Seeing the recycling bins on the street.
							br
							input(type='radio', name='q2a', value='3')
							| Cars parked on the street.
							p
								li
									| What bothers the woman?
									br
									input(type='radio', name='q2b', value='1', checked='checked')
									| Having lots of rubbish in her kitchen.
									br
									input(type='radio', name='q2b', value='2')
									| People who don't put rubbish in the containers.
									br
									input(type='radio', name='q2b', value='3')
									| When the rubbish isn't collected from the containers.
									p
					center
						button.eval(data-target='t2') Check answers
		form#t3
			p
				b
					| 3. Listen again. Which speaker says these phrases?
					a(href='snd/7c-1.mp3', target='_blank')
						img(src='img/listen.jpg', border='0')
				p
					table(cellpadding='2', cellspacing='2', width='500')
						tr
							td
								| 1 ... we've got a system going and
								| everybody takes their turn ...
							td
								input(type='radio', name='q3a', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q3a', value='0')
								| woman
						tr
							td 2 I just find it a little inconvenient. 
							td
								input(type='radio', name='q3b', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q3b', value='0')
								| woman
						tr
							td
								| 3 I think they're quite ugly, ...
							td
								input(type='radio', name='q3c', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q3c', value='0')
								| woman
						tr
							td
								| 4 I'd never thought about that.
							td
								input(type='radio', name='q3d', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q3d', value='0')
								| woman
						tr
							td
								| 5 Then it's worse.
							td
								input(type='radio', name='q3e', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q3e', value='0')
								| woman
					p
						center
							button.eval(data-target='t3') Check answers
		form#t4
			p
				b
					| 4. Listen again. Which speaker says these phrases?
					a(href='snd/7c-1.mp3', target='_blank')
						img(src='img/listen.jpg', border='0')
				p
					table(cellpadding='2', cellspacing='2', width='380')
						tr
							td 1 Don't you 
							td
							td
								input(type='radio', name='q4a', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q4a', value='0')
								| woman
						tr
							td 2 Not at all 
							td
							td
								input(type='radio', name='q4b', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q4b', vvalue='0')
								| woman
						tr
							td 3 I guess 
							td
							td
								input(type='radio', name='q4c', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q4c', value='0')
								| woman
						tr
							td 4 Exactly 
							td
							td
								input(type='radio', name='q4d', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q4d', value='0')
								| woman
						tr
							td 5 I suppose 
							td
							td
								input(type='radio', name='q4e', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q4e', value='0')
								| woman
					p
						center
							button.eval(data-target='t4') Check answers
		form#t5
			p
				b
					| 5. Listen again. Which speaker says these words?
					a(href='snd/7c-1.mp3', target='_blank')
						img(src='img/listen.jpg', border='0')
				p
					table(cellpadding='2', cellspacing='2', width='380')
						tr
							td 1 rubbish
							td
							td
								input(type='radio', name='q5a', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q5a', value='0')
								| woman
						tr
							td 2 separate 
							td
							td
								input(type='radio', name='q5b', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q5b', value='0')
								| woman
						tr
							td 3 bit  
							td
							td
								input(type='radio', name='q5c', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q5c', value='0')
								| woman
						tr
							td 4 bothers  
							td
							td
								input(type='radio', name='q5d', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q5d', value='0')
								| woman
						tr
							td 5 hate  
							td
							td
								input(type='radio', name='q5e', value='1', checked='checked')
								| man
							td
								input(type='radio', name='q5e', value='0')
								| woman
					p
						center
							button.eval(data-target='t5') Check answers
		#z1
		#z2
		#z3
		#z4
		#z5
