div#U7D
	script.
		unitans.U7D = {
			q1a:'heat',
			q1b:'warm',
			q1c:'hot',
			q1d:'cool',
			q1e:'heatedly',
			q1f:'heated',
			q1g:'warmth',
			q1h:'cool',
			q2a:'d',
			q2b:'g',
			q2c:'e',
			q2d:'f',
			q2e:'h',
			q2f:'a',
			q2g:'c',
			q2h:'b',
			q3a:'spark',
			q3b:'blazing',
			q3c:'burning',
			q3d:'fiery',
			q3e:'smolder',
			q3f:'flare',
			q3g:'flames',
			q3h:'burned-out'
		}
	form#t0
		img.logo4(src='img/u7.jpg')
		p
			b.u4tit Cold and warm 
			br
	form#t1
		b
			| 1. Heat and Cold Metaphors
			p
				| Temperature words are often associated with particular emotions. For example:
		p
			li
				| strong and negative emotions
				span#m1
					b heat, hot, heatedly, heated
				li
					| friendly, caring behavior
					span#m1
						b warm, warmth
					li
						| unfriendly behavior
						span#m1
							b cold, coldly, cool, coolly 
						p
							b Complete these sentences by dragging the appropriate word into the blank.
							p
								ol
									li
										| In the
										input(size='10', name='q1a')
										| of the argument she threw a can of tomatoes at him.
										li
											| He is a very
											input(size='10', name='q1b')
											| and caring individual.
											li
												| Jenny worries that Janet's
												input(size='10', name='q1c')
												| temper will lead to violence.
												li
													| You should go ahead and separate, but once emotions
													input(size='10', name='q1d')
													| down, see if you can remain just friends.
													li
														| The issue of the right to carry guns is being
														input(size='10', name='q1e')
														| debated in several western countries.
														li
															| A very
															input(size='10', name='q1f')
															| argument resulted, and they had to be separated.
															li
																| These children have never had
																input(size='10', name='q1g')
																| and love and someone to hug them.
																li
																	| The audience gave the speech a
																	input(size='10', name='q1h')
																	| reception, and there were even some whistles.
								p
									center
										table(width='500')
											tr
												td cool
												td heated
												td heat
												td warm
											tr
												td heatedly
												td hot
												td cool
												td warmth
										p
											button.eval(data-target='t1') Check answers
	form#t2
		p
			b 2. Fire Metaphors. Match the words to their definitions.
			p
				center
					table(width='650')
						tr
							td a) a small bit of burning material that is thrown out by a fire (also a verb)
							td
								| 1.
								input(size='1', maxlength='1', name='q2a')
								| flames
						tr
							td b) burning brightly and strongly
							td
								| 2.
								input(size='1', maxlength='1', name='q2b')
								| flare
						tr
							td c) to burn slowly, producing smoke but not flames
							td
								| 3.
								input(size='1', maxlength='1', name='q2c')
								| fiery
						tr
							td d) tongues of burning gas produced by a fire
							td
								| 4.
								input(size='1', maxlength='1', name='q2d')
								| burned up
						tr
							td e) very hot, like a fire
							td
								| 5.
								input(size='1', maxlength='1', name='q2e')
								| burning
						tr
							td f) badly damaged by fire
							td
								| 6.
								input(size='1', maxlength='1', name='q2f')
								| spark
						tr
							td g) to burn brightly and briefly (also a noun)
							td
								| 7.
								input(size='1', maxlength='1', name='q2g')
								| smolder
						tr
							td h) producing a sensation of heat
							td
								| 8.
								input(size='1', maxlength='1', name='q2h')
								| blazing
				p
					center
						button.eval(data-target='t2') Check answers
	form#t3
		p
			b
				| 3. Below are the fire words from exercise 2 again.
				p
					| Note that they can all be used metaphorically. Complete the following sentences by writing words in the blanks.
			p
				ol
					li
						| Don't mention the bad working conditions or this might
						input(size='10', name='q3a')
						| an argument with the boss.
						li
							| They had a
							input(size='10', name='q3b')
							| argument, during which she threw ten plates and the tcapot at him.
							li
								| I have a
								input(size='10', name='q3c')
								| desire to visit Venice before I die.
								li
									| Danny has a
									input(size='10', name='q3d')
									| temper so don't say anything to upset him.
									li
										| The argument between the two trade unions continued to
										input(size='10', name='q3e')
										| for several years, without ever being resolved.
										li
											| The police intervention caused tempers to
											input(size='10', name='q3f')
											| up and a fight started.
											li
												| The police were accused of fanning the
												input(size='10', name='q3g')
												| of violence.
												li
													| Life at the top leaves many executives feeling
													input(size='10', name='q3h')
													| and exhausted.
				p
					center
						table(width='500')
							tr
								td fiery
								td blazing
								td spark
								td flare
							tr
								td flames
								td smolder
								td burned-out
								td burning
						p
							center
								button.eval(data-target='t3') Check answers
	p
		#z1
		#z2
		#z3
