div#U8A
	script.
		unitans.U8A = {
			q1a:'3',
			q1b:'4',
			q1c:'2',
			q2a:'1',
			q2b:'3',
			q2c:'1',
			q2d:'2',
			q2e:'3',
			q2f:'1',
			q3a:'4',
			q3b:'2',
			q3c:'8',
			q3d:'3',
			q3e:'7',
			q3f:'1',
			q3g:'5',
			q3h:'6',
			q4a:'You just picked the wrong man',
			q4b:'would forget him',
			q4c:'delete his address from your email address book',
			q4d:'uses e-mail to end a relationship',
			q4e:'but as a new beginning'
		}
	form#t0
		img.logo4(src='img/u8.jpg')
		p
			b.u4tit Problem letters and advice  
			br
	form#t1
		b
			| 1. Read these problems from a problem page.
			p
				| Choose the best summary for each problem.
		p
			table(cellpadding='5', cellspacing='5', width='300', bgcolor='#ffbc90')
				tr
					td
						b  Let Stella help you deal with your problems 
			p
				table(cellpadding='2', cellspacing='2', width='400', bgcolor='#ffbc90')
					tr
						td
							b PROBLEM 1
							p
								| Dear Stella:
								br
								| The people I work with hate me. Ever since I joined the company two years ago, the other people in the office have treated me like poison. At meetings, I'm rarely asked my opinion, and when I say something nobody listens to me. I tell a joke and they roll their eyes. They all go out for lunch together, buy each other birthday presents and cards...and forget about me. When I can, I offer to help them with their work, but they never offer to help me. I get along with my boss, who says the other employees are probably jealous. He advises me to ignore the problem and focus on my work. But how can I do this? Please help me. What can I do?
								p
									| Naomi
									p
				p
					b Choose the best summary. 
					p
						input.space-right(type='radio', name='q1a', value='1', checked='checked')
						| Nobody helps her in her new job.
						p
							input.space-right(type='radio', name='q1a', value='2')
							| She doesn't get along with her new boss.
							p
								input.space-right(type='radio', name='q1a', value='3')
								| She gets along with her boss but not with her colleagues.
								p
									input.space-right(type='radio', name='q1a', value='4')
									| She doesn't like the people she works with.
									p
										table(cellpadding='2', cellspacing='2', width='400', bgcolor='#ffbc90')
											tr
												td
													b PROBLEM 2
													p
														| Dear Stella:
														br
														| My first year of medical school has been stressful, tiring and boring. I've hated every minute of it! I don't want to study medicine! I'm here because my father wants me to be a doctor. He says he knows what is best for me. He never went to college. He says that this is his biggest regret in life, that he has always wanted to be a doctor. I'm depressed and l miss my friends back home. But if I drop out of medical school, Dad will be disappointed in me forever. How can I escape this situation?
														p
															| Archie
										p
											b Choose the best summary. 
											p
												input.space-right(type='radio', name='q1b', value='1', checked='checked')
												| He wants to be a doctor but doesn't like studying.
												p
													input.space-right(type='radio', name='q1b', value='2')
													| He is studying medicine because he wants to be a doctor, but his father is disappointed.
													p
														input.space-right(type='radio', name='q1b', value='3')
														| He doesn't get along with his father, and doesn't like studying.
														p
															input.space-right(type='radio', name='q1b', value='4')
															| He doesn't like studying and is worried about what his father will think if he stops.
															p
																table(cellpadding='2', cellspacing='2', width='400', bgcolor='#ffbc90')
																	tr
																		td
																			b PROBLEM 3
																			p
																				| Dear Stella:
																				br
																				| My boyfriend wants to get married, but not to me. We've been together for five years. Recently he went on vacation to Spain for three weeks. While he was there he met someone, who he says he is going to marry. I can't believe it. I'm devastated! The worst thing is, he didn't even tell me to my facehe broke up with me by e-mail. This is the third relationship that has finished unexpectedly. What am I doing wrong? What should I do?
																				p
																					| Anthea
																					p
																p
																	b Choose the best summary. 
																	p
																		input.space-right(type='radio', name='q1c', value='1', checked='checked')
																		| Anthea thinks she should move to Spain.
																		p
																			input.space-right(type='radio', name='q1c', value='2')
																			| Anthea's relationships end unexpectedly and she thinks she is doing something wrong.
																			p
																				input.space-right(type='radio', name='q1c', value='3')
																				| Anthea's boyfriend met another woman, but he still wants to marry Anthea.
																				p
																					input.space-right(type='radio', name='q1c', value='4')
																					| Anthea's boyfriend met another woman, and now he doesn't want to marry Anthea.
																					p
																						center
																							button.eval(data-target='t1') Check answers
	form#t2
		p
			b
				| 2. What do you think? What is the best advice for each problem?
				p
					center
						| Problem 1: Naomi
						br
						| She gets along with her boss but not with her colleagues.
			p
				input.space-right(type='radio', name='q2a', value='1', checked='checked')
				| She should complain to the boss about the unfriendly people.
				p
					input.space-right(type='radio', name='q2a', value='2')
					| She should ignore the unfriendly people and concentrate on her work.
					p
						input.space-right(type='radio', name='q2a', value='3')
						| She should confront the unfriendly people and ask them why they don't like her.
						p
							center
								b
									| Problem 2: Archie
									br
									| He doesn't like studying and is worried about what his father will think if he stops.
							p
								p
									input.space-right(type='radio', name='q2b', value='1', checked='checked')
									| He should finish the course and then decide if he likes being a doctor, or not.
									p
										input.space-right(type='radio', name='q2b', value='2')
										| He should do what makes his father happy.
										p
											input.space-right(type='radio', name='q2b', value='3')
											| He shouldn't worry what his father thinks. He should consider his own happiness.
											p
												center
													b
														| Problem 3: Anthea
														br
														| The writer's relationships end unexpectedly and she thinks she is doing something wrong.
												p
													input.space-right(type='radio', name='q2c', value='1', checked='checked')
													| She has chosen the wrong man. She should forget him as soon as possible.
													p
														input.space-right(type='radio', name='q2c', value='2')
														| She should ask herself why he doesn't want to marry her, and try to change in some way.
														p
															input.space-right(type='radio', name='q2c', value='3')
															| She should try to see him as often as possible and try to win him back.
															p
																b
																	| 3. Now compare your advice with what STELLA SMITH says.
																	br
																	center
																		| Choose the best summary of her advice.
																p
																	table(cellpadding='2', cellspacing='2', width='500', bgcolor='#ffbc90')
																		tr
																			td
																				b
																					| Problem 1: Naomi
																					p
																						| She gets on with her boss but not with her co-workers.
																						p
																							| Stella says:
																				p
																					| Dear Naomi,
																					br
																					| Although nobody likes to feel excluded, I don't think you want this unfriendly group of people as your friends. You complained to the boss. Now they see you as a threat. What should you do? Confrontation would probably only antagonize them more. A better plan of action is to ignore their rude, childish behavior. Why don't you try to find friends outside this group? Do your work and take a good book to read at lunchtime!
																	p
																		center
																			b Choose the best summary.
																		p
																			input.space-right(type='radio', name='q2d', value='1', checked='checked')
																			| She should complain to the boss about the unfriendly people.
																			p
																				input.space-right(type='radio', name='q2d', value='2')
																				| She should ignore the unfriendly people and concentrate on her work.
																				p
																					input.space-right(type='radio', name='q2d', value='3')
																					| She should confront the unfriendly people and ask them why they don't like her.
																					p
																						table(cellpadding='2', cellspacing='2', width='500', bgcolor='#ffbc90')
																							tr
																								td
																									b
																										| Problem 2: Archie
																										p
																											| He doesn't like studying and is worried about what his father will think if he stops.
																											p
																												| Stella says:
																									p
																										| Dear Archie,
																										br
																										| Your happiness is the most important thing in life. Parents should appreciate their children for who they are! Your father envies your opportunities in life and is thinking more about himself than of you. Taking care of your father's regrets is not your responsibility! Consider taking a year off from medical school. Travel, find a job, think about what you'd like to be and how you'd like to live. If you ultimately decide to drop out of medical school permanently, try not to worry about your father's disappointment. That's his problem.
																						p
																							center
																								b Choose the best summary.
																							p
																								p
																									input.space-right(type='radio', name='q2e', value='1', checked='checked')
																									| He should finish the course and then decide if he likes being a doctor, or not.
																									p
																										input.space-right(type='radio', name='q2e', value='2')
																										| He should do what makes his father happy.
																										p
																											input.space-right(type='radio', name='q2e', value='3')
																											| He shouldn't worry what his father thinks. He should consider his own happiness.
																											p
																												table(cellpadding='2', cellspacing='2', width='500', bgcolor='#ffbc90')
																													tr
																														td
																															b
																																| Problem 3: Anthea
																																p
																																	| The writer's relationships end unexpectedly and she thinks she is doing something wrong.
																																	p
																																		| Stella says:
																															p
																																| Dear Anthea,
																																br
																																| Don't think this is your fault. You just picked the wrong man. There is, of course, no limit to how many times this can happen. If I were you, I would forget him; throw away any pictures of him or letters; give away any tapes or CD's you listened to together; delete his address from your e-mail address book. Don't be tempted to contact him. You should feel sorry for the woman stuck with a coward who uses email to end a relationship. You ought to think of this, not as an end, but as a new beginning.
																												p
																													center
																														b Choose the best summary.
																													p
																														p
																															input.space-right(type='radio', name='q2f', checked='checked')
																															| She has chosen the wrong man. She should forget him as soon as possible.
																															p
																																input.space-right(type='radio', name='q2f')
																																| She should ask herself why he doesn't want to marry her, and try to change in some way.
																																p
																																	input.space-right(type='radio', name='q2f')
																																	| She should try to see him as often as possible and try to win him back.
																																	p
																																		center
																																			button.eval(data-target='t2') Check answers
	form#t3
		b 4. Put the sentences in correct order. (1,2,3,4,5,6,7,8)
		p
			center
				b
					| PROBLEM 3: Anthea
					p
						| Dear Stella:
			p
				ol
					li
						input.space-right(size='1', maxlength='1', name='q3a')
						| While he was there he met someone, who he says he is going to marry.
						li
							input.space-right(size='1', maxlength='1', name='q3b')
							| We've been together for five years.
							li
								input.space-right(size='1', maxlength='1', name='q3c')
								| What am I doing wrong? What should I do?
								li
									input.space-right(size='1', maxlength='1', name='q3d')
									| Recently he went on vacation to Spain for three weeks.
									li
										input.space-right(size='1', maxlength='1', name='q3e')
										| This is the third relationship that has finished unexpectedly.
										li
											input.space-right(size='1', maxlength='1', name='q3f')
											| My boyfriend wants to get married, but not to me.
											li
												input.space-right(size='1', maxlength='1', name='q3g')
												| I can't belive it. I'm devasted!
												li
													input.space-right(size='1', maxlength='1', name='q3h')
													| The worst thing is, he didn't even tell me to my facehe broke up with me by e-mail.
				p
					center
						button.eval(data-target='t3') Check answers
	form#t4
		b
			| 5. Click and drag the phrases to complete Stella's advice for
			br
			center.problem
				| PROBLEM 3.
		p
			| Dear Anthea, Don't think this is your fault.
			sub 1
			input(size='15', name='q4a')
			| . There is, of
			| course, no limit to how
			br
			br
			| many times this can happen. If were you I
			sub 2
			input(size='15', name='q4b')
			| ; throw away any pictures of him or
			br
			br
			| letters; give away any
			| tapes or CD's you listened to together;
			sub 3
			input(size='15', name='q4c')
			| . Don't be
			br
			br
			| tempted
			| to contact him. You should feel sorry for the woman stuck with a coward who
			br
			br
			nobr
				sub 4
				input(size='15', name='q4d')
			| . You ought to think of this, not as an end,
			sub 5
			input(size='15', name='q4e')
			p
				center
					table(width='650')
						tr
							td uses e-mail to end a relationship
							td You just picked the wrong man
						tr
							td but as a new beginning
							td would forget him
						tr
							td delete his address from your email address book
							td
					p
						center
							button.eval(data-target='t4') Check answers
	#z1
	#z2
	#z3
	#z4
	#z5
