div#U8D
	script.
		unitans.U8D = {
			q1a:'e',
			q1b:'f',
			q1c:'d',
			q1d:'b',
			q1e:'a',
			q1f:'c',
			q2a:'don\'t get along with my wife',
			q2b:'have split up',
			q2c:'have fallen out',
			q2d:'not getting along with his wife',
			q2e:'been going out',
			q2f:'break up with Tom',
			q2g:'don\'t get along anymore',
			q2h:'is growing apart from',
			q3a:'1',
			q3b:'2',
			q3c:'2',
			q3d:'2',
			q3e:'2',
			q3f:'1',
			q3g:'2',
			q3h:'2',
			q4a:'2',
			q4b:'1',
			q4c:'2',
			q4d:'1'
		}
	form#t0
		img.logo4(src='img/u8.jpg')
		p
			b.u4tit Phrasal verbs connected to relationships 
			br
	p
		form#t1
			b
				| 1. Phrasal verbs: relationships
				p
					| Match these verbs to their definition:
			p
				center
					table(cellpadding='3', cellspacing='3', width='600')
						tr
							td a) get along
							td
								| 1.
								input(size='1', maxlength='1', name='q1a')
								| to stop being friendly because of an argument
						tr
							td b) break up/ split up
							td
								| 2.
								input(size='1', maxlength='1', name='q1b')
								| to gradually have a less close relationship
						tr
							td c) go out
							td
								| 3.
								input(size='1', maxlength='1', name='q1c')
								| to become friends again after an argument
						tr
							td d) make up
							td
								| 4.
								input(size='1', maxlength='1', name='q1d')
								| to end a relationship
						tr
							td e) fall out
							td
								| 5.
								input(size='1', maxlength='1', name='q1e')
								| to have a good relationship
						tr
							td f) grow apart
							td
								| 6.
								input(size='1', maxlength='1', name='q1f')
								| to spend time regularly with somebody
				p
					center
						button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Verb pattern: get along (with) 
				p
					span#m1
						li
							| Stuart
							b gets along
							| with almost anyone.
							li
								| It's amazing how well we all
								b get along.
					p
						| The phrasal verb
						b get along
						| has two patterns:
						p
							center.caja
								table(cellpadding='2', cellspacing='2', width='500')
									tr
										td singular noun +                  
										td
											span#m1
												b get along
											| +
										td
											span#m1
												b with
											| + noun
									tr
										td
											span#m1 Lucy
										td
											span#m1 gets along
										td
											span#m1 with her mother. 
									tr
										td(colspan='3')
											b or
									tr
										td plural noun +                    
										td
											span#m1
												b get along
										td
									tr
										td
											span#m1 Lucy and her mother
										td
											span#m1 get along.
										td
							p
								| Other verbs that take this pattern (with
								span#m1 with
								| ):
								p
									span#m1
										| break up
										br
										| go out
										br
										| make up
										br
										| split up
										br
										| fall out
										br
									p
										| This verb also takes the pattern, but with from:
										p
											span#m1 grow apart
											p
												b
													| Re-write each sentence to make a new sentence that is similar in meaning. The first one has been done for you as an example.
												p
													table(cellpadding='2', cellspacing='2', width='650', bgcolor='#ffbc90')
														tr
															td
																b Original sentence
															td
																b  Your Answer
														tr
															td
																span#m1 Lucy gets along with her mother.
															td
																span#m1  Lucy and her mother get along. 
														tr
															td 1. Me and my wife don't get along. 
															td
																| I
																input(size='40', name='q2a')
																| .
														tr
															td 2. Jack has split up with Amy. 
															td
																| Jack and Amy
																input(size='40', name='q2b')
																| .
														tr
															td 3. My neighbor has fallen out with me.
															td
																| My neighbor and I
																input(size='40', name='q2c')
																| .
														tr
															td 4. Barry and his wife are not getting along. 
															td
																| Barry is
																input(size='40', name='q2d')
																| .
														tr
															td 5. How long have you been going out with Jack? 
															td
																| How long have you and Jack
																input(size='40', name='q2e')
																| ?
														tr
															td 6. Why did Tom and Viv break up?
															td
																| Why did Viv
																input(size='40', name='q2f')
																| ?
														tr
															td 7. I don't get along with you anymore. 
															td
																| You and I
																input(size='40', name='q2g')
																| .
														tr
															td 8. My roommate and I are growing apart. 
															td
																| My roommate
																input(size='40', name='q2h')
																| .
													p
														center
															button.eval(data-target='t2') Check answers
		#z1
		#z2
		#z3
		#z4
