div#U9C
	script.
		unitans.U9C = {
			q1a:'d',
			q1b:'c',
			q1c:'e',
			q1d:'a',
			q1e:'f',
			q1f:'h',
			q1g:'b',
			q1h:'g',
			q2a:'graduated',
			q2b:'applied',
			q2c:'application',
			q2d:'provide',
			q2e:'present',
			q2f:'interview',
			q2g:'appointed',
			q2h:'resigned'
		}
	form#t0
		img.u4tit(src='img/u9.jpg')
		p
			b.u4tit Job application expressions  
			br
	p
		form#t1
			b 1. Match the two parts of these expressions. 
			p
				center
					table(cellspacing='3', width='600')
						tr
							td a) apply for
							td
								| 1.
								input(size='1', maxlength='1', name='q1a')
								| a new manager
						tr
							td b) attended
							td
								| 2.
								input(size='1', maxlength='1', name='q1b')
								| an examination
						tr
							td c) present
							td
								| 3.
								input(size='1', maxlength='1', name='q1c')
								| an application form
						tr
							td d) appoint
							td
								| 4.
								input(size='1', maxlength='1', name='q1d')
								| a position
						tr
							td e) fill out
							td
								| 5.
								input(size='1', maxlength='1', name='q1e')
								| my present position
						tr
							td f) resign from
							td
								| 6.
								input(size='1', maxlength='1', name='q1f')
								| from college
						tr
							td g) provide
							td
								| 7.
								input(size='1', maxlength='1', name='q1g')
								| an interview
						tr
							td h) graduate
							td
								| 8.
								input(size='1', maxlength='1', name='q1h')
								| references
				p
					center
						button.eval(data-target='t1') Check answers
		form#t2
			p
				b 2. Complete by typing the correct word in the space. 
				p
					table(cellpadding='3', cellspacing='2', bgcolor='#ffbc90', width='600')
						tr
							td
								| Five years ago, after I
								input(size='5', name='q2a')
								| (1) from college, I
								input(size='5', name='q2b')
								| (2) for a
								| position in an advertising agency. I had to fill out an
								input(size='5', name='q2c')
								| (3) form
								| and
								input(size='5', name='q2d')
								| (4) references. Also, because there were so many
								| applicants, I had to
								input(size='5', name='q2e')
								| (5) an examination. Finally I was asked to
								| attend an
								input(size='5', name='q2f')
								| (6). Amazingly, I got the job and after only a year
								| they
								input(size='5', name='q2g')
								| (7) me assistant manager. But I didn't like the work
								| conditions, so I
								input(size='5', name='q2h')
								| (8) from this job and now I'm looking for a new one.
								p
					p
						center
							button.eval(data-target='t2') Check answers
		p
			#z1
			#z2
