  #z1
      b Mostly "a".
      br
      | You really like new technology. You like to know about technological innovations. You often buy new products and you think they make your life better. Perhaps sometimes you should stop and think before you buy?
      p
        b Mostly "b".
        br
        | You've got a good attitude towards new technology. You feel that it can be useful. You sometimes think about buying new equipment but only if you're sure that you really need it.
        p
          b Mostly "c".
          br
          | You're a technophobe. You don't know much about new technology at all. You don't spend much money on new products and inventions. Maybe you should try to find out a bit more about technologythere might be products that could make your life easier?
